{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load url_add_query %}

{% block title %}Éligibilité IAE - {{ job_seeker.get_inverted_full_name }} {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                {% if eligibility_diagnosis %}
                    Mettre à jour
                {% else %}
                    Valider
                {% endif %}
                l'éligibilité de {{ job_seeker.get_inverted_full_name }}
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-xxl-8 col-xxxl-9">
                    <div class="c-form">
                        {% include "eligibility/includes/iae_help_for_prescriber.html" %}

                        <div id="form_errors">{% bootstrap_form_errors form type="all" %}</div>

                        <form method="post">
                            {% csrf_token %}

                            {% include "eligibility/includes/iae_form_content_for_prescriber.html" %}

                            {% itou_buttons_form primary_label="Valider" reset_url=back_url %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
