{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% comment %}
    The end user is never supposed to see this page in practice because edge cases
    are managed properly in theory. However theory is only theory, PEAMU is known
    for its weird quirks and edge cases, thus let's make this error page look
    nice.
{% endcomment %}

{% load i18n %}

{% block title %}{% translate "Erreur inattendue à la connexion" %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% translate "Erreur inattendue à la connexion" %}</h1>

<p>Une erreur inattendue s'est produite. Veuillez retenter votre dernière action.</p>

<p>Code de l'erreur: {{ auth_error.code }}</p>

<p>Nature de l'erreur: {{ auth_error.exception }}</p>

<p>Détails: {{ auth_error }}</p>

{% endblock %}
