{# django-allauth template override. #}

{% extends "layout/content_small.html" %}

{% comment %}
    Hijacking this template is the simplest, most elegant and less intrusive way
    to manage the case when a PEAMU user has not verified their email yet.
    Otherwise we would have to overload the method
    allauth.socialaccount.helpers.complete_social_login
    and this would result in yet more ugly duplicated code from the dependency.

    Unverified PEAMU users are redirected to this template by django-allauth
    most likely because the email data is missing and django-allauth thus
    prompts the user to enter his email manually on this form to complete the signup process.
{% endcomment %}


{% block title %}Votre compte Pôle emploi doit être validé{{ block.super }}{% endblock %}

{% block content %}

<h1>Votre compte Pôle emploi doit être validé</h1>

<p>
    Vous devez valider votre compte Pôle emploi pour pouvoir vous connecter ici.
</p>
<p>
    Veuillez retrouver l'email &laquo; <i>Confirmation de votre adresse électronique</i> &raquo; que Pôle emploi vous a envoyé le jour de la création de votre compte et y cliquer sur le lien &laquo; <i>Je confirme mon adresse électronique</i> &raquo;.
</p>
<p>
    <a href="{% url 'account_login' %}?account_type=job_seeker">
        <button class="btn btn-secondary">
            Retour
        </button>
    </a>
</p>

{% endblock %}
