<p class="small text-nuance-06 mb-0">
    Taille maximale : {{ widget.max_upload_size_mb|floatformat }} Mo
    {% if widget.accepted_formats_label %}
        <br>
        Formats supportés : {{ widget.accepted_formats_label }}
    {% elif widget.content_type == "application/pdf" %}
        <br>
        Type de fichier : PDF
    {% elif widget.content_type == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %}
        <br>
        Type de fichier : Excel / XLSX
    {% endif %}
</p>
