<div class="c-dropzone position-relative file-dropzone">
    {% include "django/forms/widgets/file.html" %}

    <div class="file-dropzone-selector">
        <p class="mb-1 text-nuance-06" aria-hidden="true">
            <i class="ri-upload-cloud-2-line ri-2x"></i>
        </p>
        <p class="mb-2">
            Glissez votre fichier ici ou <strong>rechercher</strong> dans vos fichiers
        </p>
        <label for="{{ widget.attrs.id }}" class="btn btn-link btn-sm btn-ico mb-2 stretched-link">
            <i class="ri-folder-line ri-xl"></i>
            <span>Rechercher dans vos fichiers</span>
        </label>
        <p class="small text-nuance-06 mb-0">
            Taille maximale : {{ widget.max_upload_size_mb|floatformat }} Mo
            {% if widget.content_type == "application/pdf" %}
                <br>
                Type de fichier : PDF
            {% elif widget.content_type == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %}
                <br>
                Type de fichier : Excel / XLSX
            {% endif %}
        </p>
    </div>

    <div class="file-dropzone-preview d-none p-5">
        <p>Fichier sélectionné :</p>
        <div class="fs-sm mb-3">
            <strong class="file-dropzone-filename"></strong>
        </div>
        <button type="button" class="btn btn-sm btn-ico btn-secondary file-dropzone-clear">
            <i class="ri-delete-bin-line ri-xl"></i>
            <span>Supprimer</span>
        </button>
    </div>
</div>
