<div class="c-dropzone position-relative file-dropzone">
    {% include "django/forms/widgets/file.html" %}

    <div class="file-dropzone-selector">
        <p class="mb-1 text-nuance-06" aria-hidden="true">
            <i class="ri-upload-cloud-2-line ri-2x" aria-hidden="true"></i>
        </p>
        <p class="mb-2">
            Glissez votre fichier ici ou <strong>rechercher</strong> dans vos fichiers
        </p>
        <label for="{{ widget.attrs.id }}" class="btn btn-link btn-sm btn-ico mb-2 stretched-link">
            <i class="ri-folder-line ri-xl" aria-hidden="true"></i>
            <span>Rechercher dans vos fichiers</span>
        </label>
        {% include "utils/widgets/file_input_constraints.html" %}
    </div>

    <div class="file-dropzone-preview d-none p-5">
        <p>Fichier sélectionné :</p>
        <div class="fs-sm mb-3">
            <strong class="file-dropzone-filename"></strong>
        </div>
        <button type="button" class="btn btn-sm btn-ico btn-secondary file-dropzone-clear">
            <i class="ri-delete-bin-line ri-xl" aria-hidden="true"></i>
            <span>Supprimer</span>
        </button>
    </div>
</div>
