{% extends "admin/base_site.html" %}

{% block title %}Settings {{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        table {
            width: 100%;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    </div>
{% endblock %}

{% block content %}

    <div id="content-main">

        <div class="module">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting_key, setting_value in setting_items %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <th>{{ setting_key }}</th>
                            <td>{{ setting_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
