{% load i18n %}
{% load bootstrap4 %}
{% load dict_lookup %}


{% for field in form %}

    {% if field.name == "faire_face_a_des_difficultes_administratives_ou_juridiques" %}
        <hr>
        <h2><span class="badge badge-secondary">{% trans "Freins périphériques" %}</span></h2>
        <hr>
    {% endif %}

    {% if field.name == "criteres_administratifs_de_niveau_1" %}
        <hr>
        <h2><span class="badge badge-secondary">{% trans "Critères administratifs" %}</span></h2>
        <hr>
    {% endif %}

    <div class="form-group">
        <h4>{{ field.label }}</h4>
        <ul class="list-unstyled">
            {% for radio in field %}
                <li>
                    {% with form.extra_info|dict_lookup:radio.data.value as info %}
                        <div class="clearfix mb-2">
                            <div class="float-left">
                                {{ radio.tag }}
                            </div>
                            <div class="pl-4">
                                <label for="{{ radio.id_for_label }}" class="mb-0">
                                    {{ radio.choice_label }}
                                    {% if info.help %}
                                        <br>
                                        <small class="text-muted">{{ info.help }}</small>
                                    {% endif %}
                                </label>
                                {% if info.written_proof %}
                                    <br>
                                    <small>
                                        {% trans "Pièce justificative :" %}
                                        <i>{{ info.written_proof }}</i>
                                    </small>
                                {% endif %}
                                {% if info.url %}
                                    <br>
                                    <small>
                                        <a href="{{ info.url }}" rel="noopener" target="_blank">
                                            {{ info.url }}
                                        </a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endfor %}
<hr>

