{% extends "layout/content_small.html" %}

{% block title %}FAQ{{ block.super }}{% endblock %}

{% block content %}

<h1>FAQ pour les SIAE</h1>

<!-- Start Question 1-->

<h2>Je n'arrive pas à créer mon compte SIAE</h2>

<p>Pour créer votre compte SIAE, vous devez renseigner le SIRET de votre structure, tel qu'il est connu de l'ASP. Si vous avez une erreur, c'est peut-être que vous avez déménagé et que l'ASP ne connait pas votre nouveau SIRET. Essayez alors avec un ancien SIRET. Si le problème persiste, contactez-nous par <a href="mailto: contact@inclusion.beta.gouv.fr">email</a>.</p>

<!-- Start Question 2-->

<h2>J'ai perdu mon mot de passe</h2>

<p>Vous pouvez réinitialiser votre mot de passe sur cette <a href="https://inclusion.beta.gouv.fr/accounts/password/reset/">page</a>.</p>

<!-- Start Question 3-->

<h2>Je ne vois pas ma SIAE dans la liste</h2>

<p>La liste des structures référencées sur la plateforme correspond aux structures conventionnées. Peut-être votre conventionnement est-il récent ? Nous mettons régulièrement à jour la liste en fonction des nouveaux conventionnements. En cas de problème, contactez-nous par <a href="mailto: contact@inclusion.beta.gouv.fr">email</a>.</p>

<!-- Start Question 4-->

<h2>Il n'y a pas de métier proposé sous ma SIAE</h2>

<p>Une fois que vous avez créé votre compte SIAE, rendez vous sur votre tableau de bord puis sur "Configurer les fiches de postes". Saisissez un métier dans l'écran de recherche et laissez-vous guider. N'oubliez pas de cliquer sur "Enregistrer les modifications" en bas de page.</p>

<!-- Start Question 5-->

<h2>Il n'y a pas de bouton "Postuler" sous les métiers proposés pour ma SIAE</h2>

<p>Pour que le bouton "Postuler" soit actif (et donc pour recevoir des candidatures), il vous faut créer un compte SIAE et ajouter des métiers.</p>

<!-- Start Question 6-->

<h2>Dans les résultats de recherche, ma SIAE n'est pas géolocalisée au bon endroit</h2>

<p>La localisation dépend de l'adresse de votre SIAE. Si l'adresse n'est pas correcte, contactez-nous par <a href="mailto: contact@inclusion.beta.gouv.fr">email</a>.</p>

<!-- Start Question 7-->

<h2>Le nom ou l'adresse de ma SIAE ne sont pas corrects</h2>

<p>Pour que nous puissions les mettre à jour, contactez-nous par <a href="mailto: contact@inclusion.beta.gouv.fr">email</a>.</p>

<!-- Start Question 8-->

<h2>Je ne souhaite plus recruter sur un métier</h2>

<p>En vous rendant sur la page "Configurer les fiches de postes", vous pouvez désactiver un métier en décochant la case dans la colonne "Recevoir des candidatures". N'oubliez pas de cliquer sur "Enregistrer les modifications" en bas de page.</p>

<p>Vous pourrez facilement réactiver ce métier plus tard si vous le souhaitez.</p>

<p>Vous avez également l'option de supprimer un métier si celui-ci n'est plus valable pour votre SIAE.</p>

<!-- Start Question 9-->

<h2>Que se passe-t-il si je clique sur le bouton "J'étudie la candidature" ?</h2>

<p>En cliquant "J'étudie la candidature", vous signifiez au candidat et au prescripteur que la candidature est en cours de traitement et qu'ils auront bientôt de vos nouvelles. Vous indiquez également aux collègues de votre SIAE que vous gérez cette candidature.</p>

<!-- Start Question 10-->

<h2>Qui vérifie le dossier de la personne lorsque je valide son éligibilité ?</h2>

<p>Il n'y a pas de vérification immédiate et vous pouvez recruter la personne. En revanche, vos interlocuteurs à la Direccte et à Pôle emploi pourront vous demander, par exemple lors du dialogue de gestion, de justifier l'éligibilité de certaines personnes que vous avez recrutées et donc vous avez validé l'éligibilité.</p>

<!-- Start Question 11-->

<h2>Est-ce que je dois prouver l'éligibilité de la personne ?</h2>

<p>Aucun justificatif n'est à charger sur la plateforme, mais étant donné que vos interlocuteurs à la Direccte et à Pôle emploi pourront vous interroger, nous vous conseillons de garder dans vos dossiers les pièces justificatives des critères administratifs indiqués pour cette personne.</p>

<!-- Start Question 12-->

<h2>Est-ce que je dois demander à mon interlocuteur Pôle emploi un numéro d'agrément ?</h2>

<p>Il n'est pas nécessaire de demander de numéro d'agrément à votre interlocuteur Pôle emploi. Le numéro d'agrément sera indiqué sur la plateforme dans la page de candidature. Vous serez prévenu par email dès qu'il sera disponible.</p>

<!-- Start Question 13-->

<h2>Le numéro d'agrément délivré par la Plateforme est-il valide ?</h2>

<p>Oui tout à fait. C'est ce numéro que vous pourrez indiquer sur le site de l'ASP.</p>

<!-- Start Question 14-->

<h2>En combien de temps je reçois le numéro d'agrément ?</h2>

<p>Le numéro d'agrément est disponible sous quelques jours maximum. Ne pas avoir immédiatement ce numéro d'agrément ne vous empêche pas de recruter le candidat.</p>

<!-- Start Question 15-->

<h2>Est-ce que je reçois en plus le numéro d'agrément par courrier postal ?</h2>

<p>Non, le numéro d'agrément délivré par la plateforme ne donne pas lieu à l'envoi d'un courrier postal. Vous pourrez toujours retrouver le numéro d'agrément de votre salarié sur la plateforme.</p>

<h1>FAQ pour les prescripteurs</h1>

<!-- Start Question 16-->

<h2>A la création de mon compte Prescripteur, je ne vois pas mon organisation dans la liste des prescripteurs habilités</h2>

<p>La liste correspond aux prescripteurs habilités. Si vous pensez que votre organisation est habilitée, contactez-nous par <a href="mailto: contact@inclusion.beta.gouv.fr">email</a>.</p>

<p>Si votre organisation n'est pas habilitée, il vous suffit de créer votre compte sans indiquer de organisation. Vous pourrez créer votre organisation ensuite.</p>

<!-- Start Question 17-->

<h2>J'ai perdu mon mot de passe</h2>

<p>Vous pouvez réinitialiser votre mot de passe sur cette <a href="https://inclusion.beta.gouv.fr/accounts/password/reset/">page</a>.</p>

<!-- Start Question 18-->

<h2>Quelle est la différence entre un prescripteur habilité et un prescripteur non habilité</h2>

<p>Un prescripteur habilitée peut valider l'éligibilité à l'IAE du candidat sur la plateforme. Un candidat envoyé par un prescripteur habilité est donc réputé éligible et peut être embauché directement par une SIAE.</p>

<p>Un prescripteur non habilité peut aussi envoyer des candidats vers une SIAE, mais la vérification d'éligibilité sera alors réalisée par la SIAE.</p>

<!-- Start Question 19-->

<h2>En tant que prescripteur, comment créer mon organisation ?</h2>

<p>Après vous être connecté, allez sur votre Tableau de bord puis cliquez sur "Créer une organisation". Saisissez les informations de votre organisation puis enregistrez</p>

<p>Vous disposerez alors d'un code unique pour inviter d'autres utilisateurs à rejoindre votre organisation. Envoyez-le à autant de collègues que vous voulez pour que vous soyez tous reliés à la même organisation.</p>

<!-- Start Question 20-->

<h2>En tant que prescripteur non habilité, est-ce que je dois envoyer le candidat vers un prescripteur habilité ?</h2>

<p>Non ce n'est pas nécessaire, vous pouvez directement postuler pour le compte du candidat en ligne, sans passer par un prescripteur habilité. La vérification de l'éligibilité du candidat sera alors réalisée par la SIAE.</p>

<!-- Start Question 21-->

<h2>Est-ce qu'il faut toujours remplir la fiche de liaison IAE pour le candidat ?</h2>

<p>Non, pour toute embauche réalisée via la plateforme, la fiche de liaison n'est plus nécessaire.</p>

<!-- Start Question 22-->

<h2>La personne que j'accompagne ne remplit aucun des critères administratifs demandés. Est-ce que je peux tout de même valider son éligibilité ?</h2>

<p>En tant que prescripteur habilité, vous avez la possibilité de passer outre les critères administratifs.</p>

<!-- Start Question 23-->

<h2>Est-ce que je suis tenu informé.e de l'avancée de la candidature d'une personne que j'ai accompagnée ?</h2>

<p>Oui, je peux voir dans le tableau des candidatures le statut de chacune des candidatures que j'ai initiée.</p>

<!-- Start Question 24-->

<h2>Est-ce que le candidat que j'ai accompagné est tenu informé de sa candidature ?</h2>

<p>Oui, à chaque étape du traitement de sa candidature, il est tenu informé par mail.</p>

{% endblock %}
