{% extends "layout/content_small.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "L'inclusion, kesako ?" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "L'inclusion, kesako ?" %}</h1>

    <p>{% blocktrans %}Les entreprises sociales inclusives recouvrent l'ensemble des structures qui agissent pour l'insertion sociale et professionnelle des personnes les plus éloignées de l'emploi, autour d'une philosophie simple : partir du potentiel de chaque personne pour construire des parcours d'accès à l'emploi durable. Aujourd'hui, les structures de l'IAE (Insertion par l'Activité Économique), les entreprises adaptées, les ESAT, les GEIQ, les structures d'insertion par la création d'activité peuvent se ranger derrière cette bannière.{% endblocktrans %}</p>

    <p>{% blocktrans %}Les entreprises sociales inclusives proposent aux personnes qu'elles accueillent des parcours d'insertion associant un travail, une formation et un accompagnement adapté. Cette création de valeur par l'inclusion se fait autant au bénéfice des personnes remises à l'emploi que de la société dans son ensemble.{% endblocktrans %}</p>

    <p>{% blocktrans %}Elles offrent ainsi un modèle d'hybridation de l'économique et du social, en s'appuyant tout à la fois sur le marché pour développer de l'activité et sur le financement public pour assurer leur mission sociale, combinant ainsi les forces de ces deux systèmes.{% endblocktrans %}</p>

    <p>
        <img src="{% static 'img/content/parcours.png' %}" class="img-fluid" alt="">
    </p>

{% endblock %}
