{% load static %}

{% comment %} takes argument siae <Siae>{% endcomment %}
<div class="card c-card has-links-inside mb-3 mb-md-4">
    <div class="card-header pb-3 bg-light">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
            <div>
                {% if job_description.is_from_pole_emploi %}
                    <span class="font-weight-bold">{{ job_description.market_context_description | default:"Entreprise anonyme" }}</span>
                    {% if job_description.is_pec_offer %}
                        <span class="badge badge-sm rounded-pill bg-accent-02-lighter text-primary">Réservé au public éligible au contrat PEC</span>
                    {% endif %}
                {% else %}
                    <a class="matomo-event btn btn-sm btn-ico btn-link text-start p-0 mh-auto"
                       href="{{ job_description.company.get_card_url }}?back_url={{ request.get_full_path|urlencode }}"
                       data-matomo-category="candidature"
                       data-matomo-action="clic"
                       data-matomo-option="clic-structure-fichedeposte"
                       target="_blank"
                       aria-label="Ouvrir la page de la structure dans un nouvel onglet">
                        <span>{{ job_description.company.kind }} - {{ job_description.company.display_name }}</span>
                        <i class="ri-external-link-line ri-xl"></i>
                    </a>
                {% endif %}
            </div>
            {% if job_description.company.kind in ea_eatt_kinds %}
                <div>
                    <span class="badge badge-sm rounded-pill bg-accent-01-lightest text-accent-01">Priorité aux bénéficiaires de la RQTH</span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if job_description.is_popular %}
            <div class="mb-2">
                <span class="badge badge-sm rounded-pill bg-accent-03 text-primary"><i class="ri-group-line"></i>{{ job_description.POPULAR_THRESHOLD }}+ candidatures</span>
            </div>
        {% endif %}
        <div class="mb-3">
            {# Do not use is_external as it might evolve, and do not use a specific property. Covered by a test. #}
            {% if job_description.is_from_pole_emploi %}Offre proposée et gérée par pole-emploi.fr{% endif %}
            <a class="matomo-event d-block h3 mb-2"
               href="{{ job_description.get_absolute_url }}?back_url={{ request.get_full_path|urlencode }}"
               data-matomo-category="candidature"
               data-matomo-action="clic"
               {% if job_description.is_external %} rel="noopener" target="_blank" data-matomo-option="clic-card-fichedeposte-externe" aria-label="Visiter l'offre sur le site d'origine" {% else %} data-matomo-option="clic-card-fichedeposte" aria-label="Aller vers la description de ce poste"  {% endif %}>
                {{ job_description.display_name | capfirst }}
                {% if job_description.is_external %}<i class="ri-external-link-line ri-lg ms-1"></i>{% endif %}
            </a>
            {% if job_description.display_contract_type or job_description.hours_per_week %}
                {% if job_description.display_contract_type %}
                    <span class="badge badge-xs rounded-pill bg-emploi-light text-primary">{{ job_description.display_contract_type }}</span>
                {% endif %}
                {% if job_description.hours_per_week %}
                    <span class="badge badge-xs rounded-pill bg-emploi-light text-primary">{{ job_description.hours_per_week }}h/semaine</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="fs-sm d-flex flex-column flex-lg-row align-items-lg-center">
            <span class="me-3">
                <i class="ri-map-pin-2-line me-1"></i>
                {% if job_description.location %}
                    {{ job_description.location }}
                {% else %}
                    {{ job_description.company.city | title }} ({{ job_description.company.department }})
                {% endif %}
            </span>
            <span class="me-3 flex-md-grow-1">
                <i class="ri-navigation-line me-1"></i>à <b>{{ job_description.distance | floatformat:"-1" }}&nbsp;km</b> de votre lieu de recherche
            </span>
            {% if job_description.is_from_pole_emploi %}
                <span class="d-none d-lg-inline-flex">
                    <img height="35" src="{% static 'img/logo-france-travail.svg' %}" alt="Logo France Travail">
                </span>
            {% endif %}
        </div>
    </div>
</div>
