{% load markdownify %}
{% load str_filters %}

<h2 class="h3">Informations générales</h2>
<ul class="list-data mb-3">
    {% if job.display_contract_type %}
        <li>
            <small>Type de contrat</small>
            <strong>{{ job.display_contract_type }}</strong>
        </li>
    {% endif %}
    {% if job.hours_per_week %}
        <li>
            <small>Nombre d'heures par semaine</small>
            <strong>{{ job.hours_per_week }}h / semaine</strong>
        </li>
    {% endif %}
    <li>
        <small>Localisation du poste</small>
        <strong>{{ job.display_location }}</strong>
    </li>
</ul>

{% if siae.is_opcs %}
    <hr class="my-4">
    <h2 class="h3">Contexte du marché</h2>
    <div class="mb-3 mb-md-4">{{ job.market_context_description|linebreaks }}</div>
{% endif %}

{% with no_content_message="La structure n'a pas encore renseigné cette rubrique" %}
    <hr class="my-4">
    <h2 class="h3">Description du poste</h2>
    <div class="mb-3 mb-md-4">
        {% if job.description %}
            {{ job.description|markdownify }}
        {% else %}
            <i class="text-disabled">{{ no_content_message }}</i>
        {% endif %}
    </div>

    <hr class="my-4">
    <h2 class="h3">Profil recherché et prérequis</h2>
    <div>
        {% if job.profile_description %}
            {{ job.profile_description|markdownify }}
        {% else %}
            <i class="text-disabled">{{ no_content_message }}</i>
        {% endif %}
    </div>
{% endwith %}

{% if job.is_resume_mandatory %}
    <div class="c-info my-3">
        <span class="c-info__summary">L'ajout du Curriculum Vitae (CV) est fortement recommandé pour que la candidature soit étudiée par le recruteur.</span>
    </div>
{% endif %}

{% if siae.is_opcs and job.is_qpv_mandatory %}
    <div class="c-info my-3">
        <button class="c-info__summary collapsed" data-bs-toggle="collapse" data-bs-target="#collapseQpvMandatoryInfo" aria-expanded="false" aria-controls="collapseQpvMandatoryInfo">
            <span>Cette offre d'emploi est réservée à des typologies de public particulières</span>
        </button>
        <div class="c-info__detail collapse" id="collapseQpvMandatoryInfo">
            <p>
                Si le profil du candidat correspond au poste, le facilitateur pourra être amené à prendre contact avec vous en amont pour vérifier l'éligibilité du candidat à l’offre.
            </p>
        </div>
    </div>
{% endif %}
