{% load str_filters %}

{% include "companies/includes/_siae_info.html" %}

{% if job.is_active %}
    <p class="badge rounded-pill bg-success mb-4">
        {{ job.open_positions }} poste{{ job.open_positions|pluralizefr }} ouvert{{ job.open_positions|pluralizefr }} au recrutement
    </p>
{% endif %}

<h2 class="mb-4">{{ job.display_name }}</h2>

<div class="mb-4">
    {% if job.display_contract_type %}
        <span class="badge rounded-pill bg-emploi-light text-primary">{{ job.display_contract_type }}</span>
    {% endif %}
    {% if job.hours_per_week %}
        <span class="badge rounded-pill bg-emploi-light text-primary">{{ job.hours_per_week }}h / semaine</span>
    {% endif %}
</div>

<p class="text-secondary font-weight-bold">
    <i class="ri-map-pin-line ri-lg"></i>
    {{ job.display_location }}
</p>

<hr>

{% if siae.is_opcs %}
    <h3>Contexte du marché</h3>
    <div class="mb-4">{{ job.market_context_description|linebreaks }}</div>
{% endif %}

{% with no_content_message="La structure n'a pas encore renseigné cette rubrique" %}
    <h3>Description du poste</h3>
    <div class="mb-4">{{ job.description|default:no_content_message|linebreaks }}</div>

    <h3>Profil recherché et prérequis</h3>
    <div class="mb-4">{{ job.profile_description|default:no_content_message|linebreaks }}</div>
{% endwith %}

{% if job.is_resume_mandatory %}
    <div class="alert alert-warning mb-4">
        <div class="row">
            <div class="col-auto pe-0">
                <i class="ri-file-list-3-line ri-xl text-warning"></i>
            </div>
            <div class="col">
                <p>
                    L'ajout du <strong>Curriculum Vitae (CV)</strong> est fortement recommandé pour que la candidature soit étudiée par le recruteur.
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if siae.is_opcs and job.is_qpv_mandatory %}
    <div class="alert alert-warning mb-4">
        <div class="row">
            <div class="col-auto pe-0">
                <i class="ri-information-line ri-xl text-warning"></i>
            </div>
            <div class="col">
                <p>
                    <strong>Attention</strong>
                </p>
                <p>
                    Cette offre d'emploi est réservée à des typologies de public particulières. Si le profil du candidat correspond au poste, le facilitateur pourra être amené à prendre contact avec vous en amont pour vérifier l'éligibilité du candidat à l’offre.
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if siae.email or siae.phone or siae.website %}
    {% include "companies/includes/_siae_details.html" %}
{% endif %}
