{% load matomo %}

<li class="list-group-item list-group-item-action">

    <div>
        <a href="{% if job.pk %}{{ job.get_absolute_url }}{% else %}#{% endif %}?back_url={{ request.get_full_path|urlencode }}"
           class="font-weight-bold text-decoration-none stretched-link"
           {% matomo_event "candidature" "clic" "clic-metiers" %}>{{ job.display_name }}</a>
        {% if job.is_popular %}
            <span class="badge badge-sm rounded-pill bg-accent-03 text-primary">
                <i class="ri-group-line me-1" aria-hidden="true"></i>
                {{ job.POPULAR_THRESHOLD }}+<span class="ms-1">candidatures</span>
            </span>
        {% endif %}

        <p class="fs-sm mb-0 mt-1">
            <i class="ri-map-pin-2-line ri-sm" aria-hidden="true"></i>
            {% if job.location %}
                {{ job.location }}
            {% else %}
                {{ job.company.city|title }} - {{ job.company.department }}
            {% endif %}

        </p>

    </div>
</li>
