<div class="c-box c-box--structure mb-3 mb-lg-5">
    <div class="c-box--structure__summary" data-bs-toggle="collapse" data-bs-target="#collapseBoxStructure" aria-expanded="false" aria-controls="collapseBoxStructure">
        <i class="ri-community-line"></i>
        <div>
            <span data-bs-toggle="tooltip" data-bs-title="{{ siae.get_kind_display }}">{{ siae.kind }}</span>
            <h3>{{ siae.display_name }}</h3>
        </div>
    </div>
    <div class="c-box--structure__detail collapse" id="collapseBoxStructure">
        <hr class="my-4">
        <ul class="c-box--structure__list-contact">
            <li>
                <i class="ri-map-pin-2-line font-weight-normal me-2"></i>
                <address class="m-0">{{ siae.address_on_one_line }}</address>
                <button class="btn-link font-weight-medium ms-1"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-trigger="manual"
                        data-bs-title="Copié!"
                        data-it-clipboard-button="copy"
                        data-it-copy-to-clipboard="{{ siae.address_on_one_line }}">
                    <i class="ri-file-copy-line"></i>
                </button>
            </li>
            {% if siae.email or siae.phone or siae.website %}
                {% include "companies/includes/_company_details.html" with company=siae only %}
            {% endif %}
        </ul>
        <a href="{% url 'companies_views:card' siae_id=siae.pk %}" class="btn btn-secondary btn-block mt-4">Voir la fiche de l'entreprise</a>
    </div>
</div>
