{% extends "layout/base.html" %}
{% load components %}

{% block title %}Calendrier {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                Calendrier
                <span class="badge badge-base rounded-pill bg-emploi-light text-primary">Contrôle a posteriori</span>
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">{{ campaign_calendar_html|safe }}</div>
            </div>
        </div>
    </section>
{% endblock %}
