{% extends "layout/base.html" %}

{% block title %}Calendrier {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1">Calendrier</h1>
                    <span class="d-block badge badge-base badge-pill badge-emploi-light text-primary">Contrôle a posteriori</span>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        {{ campaign_calendar_html|safe }}
        <p class="my-4">
            <a href="{{ back_url }}">Retour</a>
        </p>
    </section>
{% endblock %}
