<p>
    Retrouvez ci-dessous toutes les dates concernant la campagne de contrôle a posteriori sur les auto-prescriptions du 01/01/2022 au 31/12/2022 (ou du 01/10/2022 au 31/12/2022 pour les DDETS ayant déjà réalisé la campagne optionnelle du 01/01/2022 au 31/09/2022).
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="font-weight-bold">Dates</th>
            <th scope="col" class="font-weight-bold">Acteurs</th>
            <th scope="col" class="font-weight-bold">Actions attendues</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 1</span>
                <span class="font-weight-bold">Échantillonnage</span>
            </th>
            <td>
                Du 15 mai 2023
                <br>
                au 11 juin 2023
            </td>
            <td>DDETS</td>
            <td>
                <ul>
                    <li>Sélection du taux de SIAE à contrôler sur le département.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 2 – phase amiable</span>
                <span class="font-weight-bold">Transmission des pièces justificatives</span>
            </th>
            <td>
                Du 12 juin 2023
                <br>
                au 23 juillet 2023
            </td>
            <td>SIAE</td>
            <td>
                <ul>
                    <li>Sélection des critères servant à justifier chaque auto-prescription sélectionnée</li>
                    <li>Transmission des justificatifs.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 2 – phase amiable</span>
                <span class="font-weight-bold">Contrôle des pièces justificatives</span>
            </th>
            <td>
                Du 12 juin 2023
                <br>
                au 31 août 2023
            </td>
            <td>DDETS</td>
            <td>
                <ul>
                    <li>Contrôle des justificatifs.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="font-italic py-5">
                Les phase 3 et 4 ne concernent que les SIAE ayant reçu un résultat négatif à l’issue de la phase amiable.
            </td>
        </tr>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 3 – phase contradictoire</span>
                <span class="font-weight-bold">Transmission des pièces justificatives</span>
            </th>
            <td>
                Du 1er septembre 2023
                <br>
                au 13 octobre 2023
            </td>
            <td>SIAE</td>
            <td>
                <ul>
                    <li>Transmission des résultats de la phase 2.</li>
                    <li>Transmission des nouveaux justificatifs.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 3 – phase contradictoire</span>
                <span class="font-weight-bold">Contrôle des pièces justificatives</span>
            </th>
            <td>
                Du 1er septembre 2023
                <br>
                au 27 octobre 2023
            </td>
            <td>DDETS</td>
            <td>
                <ul>
                    <li>Contrôle des nouveaux justificatifs.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <span class="d-block">Phase 4</span>
                <span class="font-weight-bold">Déclaration des sanctions</span>
            </th>
            <td>
                Du 28 octobre 2023
                <br>
                au 28 mars 2024
            </td>
            <td>DDETS</td>
            <td>
                <ul>
                    <li>Transmission des résultats définitifs.</li>
                    <li>Notification à chaque SIAE concernée en précisant :</li>
                    <ul>
                        <li>Le motif du résultat négatif.</li>
                        <li>Les sanctions à appliquer.</li>
                    </ul>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
