{% extends "layout/base.html" %}
{% load components %}
{% load format_filters %}
{% load static %}
{% load str_filters %}

{% block title %}Décision de sanction pour {{ evaluated_siae.siae }} {{ block.super }}{% endblock %}

{% block title_navinfo %}
    {% if is_siae %}
        {% url "dashboard:index" as back_url %}
    {% else %}
        {% url 'siae_evaluations_views:institution_evaluated_siae_list' evaluated_siae.evaluation_campaign_id as back_url %}
    {% endif %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                Décision de sanction pour <span class="text-info">{{ evaluated_siae.siae }}</span>
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <h2 class="mt-2">
                        Campagne de contrôle a posteriori du {{ evaluated_siae.evaluation_campaign.evaluated_period_start_at|date:"d/m/Y" }} au {{ evaluated_siae.evaluation_campaign.evaluated_period_end_at|date:"d/m/Y" }}
                    </h2>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-xxl-8 col-xxxl-9">
                    <div class="card c-card mb-3 mb-md-4">
                        <div class="card-body">
                            <h2 class="mt-2">Bilan</h2>
                            <p class="mb-1">
                                <b>Résultat de cette campagne de contrôle :</b> <b class="text-danger">Négatif</b>
                            </p>
                            <p class="mb-1">
                                <b>Raison principale :</b> <b class="text-info">{{ evaluated_siae.get_notification_reason_display }}</b>
                            </p>
                            <div id="decision-summary">
                                <p class="mb-1">
                                    <b>Décision{{ sanctions.count_active|pluralizefr }} :</b>
                                </p>
                                <ul class="inline ps-5 mb-1">
                                    {% if sanctions.training_session %}
                                        <li>Participation à une session de présentation de l’auto-prescription</li>
                                    {% endif %}
                                    {% if sanctions.suspension_dates and sanctions.suspension_dates.upper %}
                                        <li>Retrait temporaire de la capacité d’auto-prescription</li>
                                    {% elif sanctions.suspension_dates %}
                                        <li>Retrait définitif de la capacité d’auto-prescription</li>
                                    {% endif %}
                                    {% if sanctions.evaluated_job_applications_sanctions.count %}
                                        <li>Suppression partielle ou totale de l’aide au poste</li>
                                    {% endif %}
                                    {% if sanctions.no_sanction_reason %}<li>Ne pas sanctionner</li>{% endif %}
                                </ul>
                            </div>
                            <p class="mb-1">
                                <b>Mode de notification :</b>
                                {% if sanctions.has_significant_sanction %}
                                    <b class="text-danger">Lettre recommandée avec accusé de réception envoyée par la DDETS</b>
                                {% else %}
                                    Transmis par e-mail le {{ evaluated_siae.notified_at|date:"d/m/Y" }}
                                {% endif %}
                            </p>
                            <p class="mb-1">
                                <b>Commentaire de {{ is_siae|yesno:"votre,la" }} DDETS</b>
                            </p>
                            <blockquote class="blockquote mb-0">
                                {{ evaluated_siae.notification_text|linebreaks }}
                            </blockquote>
                            {% if not is_siae %}
                                <p class="fs-xs">
                                    Ce commentaire est transmis à la structure par e-mail uniquement lorsque le mode de notification sélectionné ci-dessus est « Transmis par e-mail ».
                                    Lorsque la notification de la sanction requiert l’envoi d’une lettre recommandée, ce commentaire n’est pas adressé par e-mail ; il peut toutefois servir de base à la rédaction du courrier.
                                </p>
                            {% endif %}
                        </div>
                        {% if not is_siae %}
                            <div class="card-body">
                                <h2>Structure concernée</h2>
                                <p class="mb-1">
                                    <b>Nom de la SIAE :</b> {{ evaluated_siae.siae.name|capfirst }}
                                </p>
                                {% if evaluated_siae.siae.brand %}
                                    <p class="mb-1">
                                        <b>Nom personnalisé par la SIAE :</b> {{ evaluated_siae.siae.brand }}
                                    </p>
                                {% endif %}
                                <p class="mb-1">
                                    <b>Type :</b> {{ evaluated_siae.siae.get_kind_display }}
                                </p>
                                <p>
                                    <b>Adresse postale :</b> {{ evaluated_siae.siae.address_on_one_line }}
                                </p>
                            </div>
                            <div class="card-body">
                                <h2>Détail{{ sanctions.count_active|pluralizefr }} de la décision</h2>

                                {% if sanctions.training_session %}
                                    <h3 class="mt-5">Participation à une session de présentation de l’auto-prescription</h3>
                                    <p class="mb-1">
                                        <b>Précision :</b>
                                    </p>
                                    <blockquote class="blockquote mb-0">
                                        {{ sanctions.training_session|linebreaks }}
                                    </blockquote>
                                {% endif %}

                                {% if sanctions.suspension_dates and sanctions.suspension_dates.upper %}
                                    <h3 class="mt-5">Retrait temporaire de la capacité d’auto-prescription</h3>
                                    <p>
                                        Période concernée : Du {{ sanctions.suspension_dates.lower|date:"d/m/Y" }} au {{ sanctions.suspension_dates.upper|date:"d/m/Y" }}
                                    </p>
                                {% elif sanctions.suspension_dates %}
                                    <h3 class="mt-5">Retrait définitif de la capacité d’auto-prescription</h3>
                                    <p>Période concernée : À partir du {{ sanctions.suspension_dates.lower|date:"d/m/Y" }}</p>
                                {% endif %}

                                {% if sanctions.evaluated_job_applications_sanctions.count %}
                                    <h3 class="mt-5">Suppression partielle ou totale de l’aide au poste</h3>
                                    <p>
                                        La suppression de l’aide attribuée aux salariés s’apprécie par l'autorité administrative, par imputation de l’année N+1. Cette notification s’accompagne d’une demande conforme auprès de l’ASP de la part du préfet. Lorsque le département a participé aux aides financières concernées en application de l'article L. 5132-2, le préfet informe le président du conseil départemental de sa décision en vue de la récupération, le cas échéant, des montants correspondants. Le pourcentage de retrait s’applique à l’aide attribuée au titre des heures réalisées durant le parcours de la personne sur l’année de contrôle.
                                    </p>
                                    <p>
                                        Les champs relatifs au motif de l'irrégularité et au pourcentage d'aide au poste retiré ne sont à remplir qu'à des fins statistiques. Seuls feront foi les pourcentages inscrits dans le courrier de décision de sanction.
                                    </p>
                                {% endif %}

                                {% if sanctions.no_sanction_reason %}
                                    <h3 class="mt-5">Ne pas sanctionner</h3>
                                    <p class="mb-1">
                                        <b>Précision :</b>
                                    </p>
                                    <blockquote class="blockquote mb-0">
                                        {{ sanctions.no_sanction_reason|linebreaks }}
                                    </blockquote>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h2>Irrégularités constatées</h2>
                                {% if sanctions.has_significant_sanction %}
                                    <div class="c-info mb-4">
                                        <span class="c-info__summary">Aide à la rédaction de l’Annexe 1 du courrier de sanction</span>
                                        <div class="c-info__detail">
                                            Appuyez-vous sur ces éléments pour compléter l’Annexe 1 du courrier de sanction. Lorsque, lors du contrôle, un justificatif a été jugé irrecevable, le courrier doit préciser de manière détaillée et circonstanciée les motifs de cette irrecevabilité.
                                        </div>
                                    </div>
                                {% endif %}
                                <p class="mb-1">
                                    <b>Nombre de PASS IAE contrôlés :</b> {{ evaluated_job_application_count }}
                                </p>
                                <p class="mb-4">
                                    <b>Nombre de PASS IAE irréguliers :</b> {{ evaluated_job_application_with_sanctions_count }}
                                </p>
                                {% for evaluated_job_application in evaluated_job_applications %}
                                    <p>
                                        <strong>PASS IAE {{ evaluated_job_application.job_application.approval.number|format_approval_number }}, {{ evaluated_job_application.job_application.job_seeker.get_inverted_full_name }}</strong>
                                        <br>
                                        Motif de l'irrégularité : {{ evaluated_job_application.display_defect_reason }}
                                        {% if sanctions.evaluated_job_applications_sanctions.count %}
                                            <br>
                                            Pourcentage d’aide au poste retirée : {{ evaluated_job_application.evaluated_job_application_sanction.subsidy_cut_percent|default:0 }} %
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="s-section__col col-12 col-xxl-4 col-xxxl-3">
                    {% if not is_siae and sanctions.has_significant_sanction %}
                        <div class="c-box mb-3 mb-md-4">
                            <h3>Courrier de sanction</h3>
                            <p>La DGEFP met à votre disposition un modèle de courrier à télécharger.</p>
                            <p class="fs-sm">
                                La décision prise <b>nécessite l’envoi d’une lettre recommandée avec accusé de réception</b>.
                                <br>
                                Vous devez notifier à la SIAE la sanction applicable, au plus tard 5 mois après le début de la phase contradictoire
                                (<a href="{% url 'siae_evaluations_views:campaign_calendar' evaluated_siae.evaluation_campaign.pk %}" target="_blank">Voir calendrier</a>).
                            </p>
                            <p class="fs-sm">
                                Pour rédiger votre notification, appuyez-vous sur les éléments figurant dans le détail de la décision afin de transmettre à la SIAE toutes les informations nécessaires.
                            </p>
                            <a href="{% static 'templates/modele_decision_sanction_controle_a_posteriori.docx' %}" target="_blank" class="btn btn-outline-primary btn-block btn-ico bg-white">Télécharger le modèle de courrier</a>
                        </div>
                    {% endif %}
                    {% include "siae_evaluations/includes/evaluation_data.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
