{% extends "layout/base.html" %}

{% load django_bootstrap5 %}
{% load str_filters %}
{% load static %}

{% block title %}Contrôler les pièces justificatives {{ block.super }}{% endblock %}

{% if back_url %}
    {% block breadcrumbs %}
        <div class="c-prevstep">
            <a href="{{ back_url }}" class="btn btn-ico btn-link ps-0">
                <i class="ri-arrow-drop-left-line ri-xl font-weight-medium" aria-hidden="true"></i>
                <span>Retour</span>
            </a>
        </div>
    {% endblock %}
{% endif %}

{% block content_title_wrapper %}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <div class="c-box c-box--results has-links-inside my-3 my-md-4">
                        <div class="c-box--results__header">
                            {% if request.user.is_employer %}
                                {% include "siae_evaluations/includes/job_seeker_infos_for_siae.html" with evaluated_job_application=evaluated_job_application %}
                            {% else %}
                                {% include "siae_evaluations/includes/job_seeker_infos_for_institution.html" with job_seeker=evaluated_job_application.job_application.job_seeker approval=evaluated_job_application.job_application.approval state=evaluated_job_application.compute_state %}
                            {% endif %}
                        </div>
                        <hr class="m-0">
                        <div class="c-box--results__body">
                            {% if evaluated_job_application.evaluated_siae.reviewed_at %}
                                {% if not evaluated_job_application.hide_state_from_siae %}
                                    {% with jobapp_state=evaluated_job_application.compute_state %}
                                        {% if jobapp_state == 'REFUSED' or jobapp_state == 'REFUSED_2' %}
                                            <p>
                                                <b>Commentaire de la DDETS</b>
                                            </p>
                                            <div class="card">
                                                <div class="card-body">{{ evaluated_job_application.labor_inspector_explanation|linebreaks }}</div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endif %}
                            <div class="c-info c-info--secondary mt-3">
                                <button class="c-info__summary"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseItemsEvaluated{{ evaluated_job_application }}"
                                        aria-expanded="true"
                                        aria-controls="collapseItemsEvaluated{{ evaluated_job_application }}">
                                    <span>{{ evaluated_job_application.evaluated_administrative_criteria.count }} justificatif{{ evaluated_job_application.evaluated_administrative_criteria.count|pluralizefr }}</span>
                                </button>
                                <div class="c-info__detail collapse show" id="collapseItemsEvaluated{{ evaluated_job_application }}">
                                    <ul class="list-unstyled">
                                        {% for evaluated_administrative_criteria in evaluated_job_application.evaluated_administrative_criteria.all %}
                                            <li>
                                                {% include "siae_evaluations/includes/criterion_infos.html" with criteria=evaluated_administrative_criteria.administrative_criteria review_state=evaluated_administrative_criteria.review_state only %}
                                                {% if evaluated_siae.evaluation_is_final %}
                                                    <div class="text-md-end mt-2">
                                                        <a href="{% url "siae_evaluations_views:view_proof" evaluated_administrative_criteria_id=evaluated_administrative_criteria.pk %}"
                                                           rel="noopener"
                                                           target="_blank"
                                                           class="btn btn-sm btn-link"
                                                           aria-label="Revoir ce justificatif (ouverture dans un nouvel onglet)">
                                                            Revoir ce justificatif
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    {% include "siae_evaluations/includes/criterion_validation.html" with evaluated_administrative_criteria=evaluated_administrative_criteria evaluated_siae=evaluated_siae %}
                                                {% endif %}
                                                {% if not forloop.last %}<hr class="my-3">{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not evaluated_siae.evaluation_is_final %}
                    <div class="col-12 col-lg-8">
                        <div class="c-form my-3 my-md-4">
                            <form method="post" class="js-prevent-multiple-submit">
                                {% csrf_token %}

                                {% bootstrap_form form alert_error_type="all" %}
                                {% with evaluated_job_application_state=evaluated_job_application.compute_state %}
                                    <button class="btn btn-block{% if evaluated_job_application_state == 'ACCEPTED' or evaluated_job_application_state == 'REFUSED' or evaluated_job_application_state == 'REFUSED_2' %} btn-primary{% else %} btn-outline-primary{% endif %}">
                                        Enregistrer le commentaire et retourner à la liste des auto-prescriptions
                                    </button>
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
