{% extends "layout/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Contrôler les pièces justificatives {{ block.super }}{% endblock %}

{% block content_title_wrapper %}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    {% include "siae_evaluations/includes/job_seeker_infos_for_institution.html" with job_seeker=evaluated_job_application.job_application.job_seeker approval=evaluated_job_application.job_application.approval state=evaluated_job_application.compute_state %}
                                </div>
                                <div class="card-body">
                                    {% for evaluated_administrative_criteria in evaluated_job_application.evaluated_administrative_criteria.all %}
                                        {% include "siae_evaluations/includes/criterion_infos.html" with criteria=evaluated_administrative_criteria.administrative_criteria review_state=evaluated_administrative_criteria.review_state %}
                                        {% if evaluated_siae.evaluation_is_final %}
                                            <a href="{% url "siae_evaluations_views:view_proof" evaluated_administrative_criteria_id=evaluated_administrative_criteria.pk %}"
                                               rel="noopener"
                                               target="_blank"
                                               aria-label="Revoir ce justificatif (ouverture dans un nouvel onglet)">
                                                Revoir ce justificatif
                                            </a>
                                        {% else %}
                                            {% include "siae_evaluations/includes/criterion_validation.html" with evaluated_administrative_criteria=evaluated_administrative_criteria evaluated_siae=evaluated_siae %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not evaluated_siae.evaluation_is_final %}
                                        <div class="row my-3">
                                            <div class="col-md-12">
                                                <form method="post" class="js-prevent-multiple-submit">
                                                    {% csrf_token %}

                                                    {% bootstrap_form form alert_error_type="all" %}
                                                    {% with evaluated_job_application_state=evaluated_job_application.compute_state %}
                                                        <button class="btn {% if evaluated_job_application_state == 'ACCEPTED' or evaluated_job_application_state == 'REFUSED' or evaluated_job_application_state == 'REFUSED_2' %}btn-primary {% else %}btn-outline-primary {% endif %}float-end">
                                                            Enregistrer le commentaire et retourner à la liste des auto-prescriptions
                                                        </button>
                                                    {% endwith %}
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if back_url %}
                        <p class="mt-4">
                            <a href="{{ back_url }}">Retour</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
