{% extends "layout/content.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="row justify-content-center">

        <div class="col-md-8" >
            <div class="row mt-3">
                <div class="col-12">

                    <h1 class="h1">
                        Contrôler les pièces justificatives
                    </h1>
                    <h3 class="h3">
                        Liste des Siae à contrôler
                    </h3>
                    <p>Contrôle initié le {{evaluated_siaes.0.evaluation_campaign.evaluations_asked_at|date:"d F Y"}}</p>
                </div>
            </div>

            {% for evaluated_siae in evaluated_siaes %}
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card"  >
                            <div class="card-header">
                                {% include "siae_evaluations/includes/siae_infos.html" with evaluated_siae=evaluated_siae%}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if back_url %}
                <p class="mt-4">
                    <a href="{{ back_url }}">Retour</a>
                </p>
            {% endif %}
        </div>
    </div>


{% endblock %}

