{% extends "layout/base.html" %}
{% load format_filters %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Sélectionner l’échantillon pour {{ evaluation_campaign }} {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Campagne en cours</h1>
    <h2>
        Contrôle des auto-prescriptions du {{ evaluation_campaign.evaluated_period_start_at|date:"j F Y" }}
        au {{ evaluation_campaign.evaluated_period_end_at|date:"j F Y" }}
    </h2>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="card c-card mt-4 p-3">
                        <div class="card-body">
                            <h2>Sélectionner l'échantillon</h2>
                            <h3>Contrôle a posteriori des auto-prescriptions faites par les SIAE</h3>
                            <h4>Sélection des structures à contrôler</h4>
                            <p>
                                Par défaut, un contrôle de 30% des SIAE ayant auto-prescrit a été défini au niveau national.
                                Ce ratio est adaptable au niveau local entre {{ min }}% et {{ max }}%.
                            </p>
                            <p>
                                Au niveau régional, la DREETS peut adapter la consigne de contrôle pour prendre en compte
                                les moyens de chaque DDETS. La DDETS gère directement les paramètres de contrôle qu'elle souhaite
                                obtenir dans le cadre des consignes nationales et régionales.
                            </p>


                            <p>
                                Pour faciliter cette prise de décision, nous vous donnons un accès à l'ensemble des auto-prescriptions
                                faites par les SIAE de votre territoire:
                            </p>
                            <p class="font-weight-bold">Données du contrôle a posteriori cette campagne</p>
                            <p>
                                <a class="btn btn-outline-primary" href="{% url 'stats:stats_ddets_iae_siae_evaluation' %}{% if back_url %}?back_url={{ back_url }}{% endif %}" aria-label="Voir les données">
                                    Voir les données
                                </a>
                            </p>

                            <h4>Sélection des salariés à contrôler</h4>
                            <p>
                                Pour chacune des SIAE à contrôler, nous effectuerons une sélection aléatoire de 20% des recrutements en auto-prescription
                                (entre 2 et 20 dossiers maximum).
                            </p>
                            <div class="alert alert-info" role="status">
                                <p class="font-weight-bold">Exemple</p>
                                <p>
                                    Si une ETTI de votre territoire a fait 270 auto-prescriptions, vous devrez en contrôler seulement 20 au lieu de 54 (20% de 270)
                                </p>
                            </div>
                            {% if evaluation_campaign.percent_set_at %}
                                <div class="alert alert-success" role="status">
                                    <p>
                                        Votre contrôle a posteriori sur la période du {{ evaluation_campaign.evaluated_period_start_at|date:"d F Y" }}
                                        au {{ evaluation_campaign.evaluated_period_end_at|date:"d F Y" }} concerne {{ evaluation_campaign.chosen_percent }}%
                                        des SIAE.
                                        Vous serez notifié lorsque l'étape de transmission des pièces justificatives commencera.
                                    </p>
                                </div>
                            {% else %}
                                <form id="ratio-form" method="post">
                                    {% csrf_token %}

                                    {% bootstrap_form_errors form alert_error_type="all" %}

                                    <div id="ratio-select" class="collapse show">
                                        <h3>Validation de l'échantillon des SIAE</h3>
                                        <p>
                                            Pour initier le contrôle a posteriori des auto-prescriptions, nous avons besoin de connaître le pourcentage
                                            de SIAE que vous souhaitez contrôler. Vous ne pourrez choisir qu'une fois, ensuite, nous effectuerons une sélection
                                            aléatoire de SIAE. Veuillez choisir le pourcentage de SIAE à contrôler puis valider ci-dessous :
                                        </p>

                                        <p class="font-weight-bold">
                                            Ratio sélectionné : <span id="showChosenPercentValue"></span> %
                                        </p>
                                        <p>{{ min }}% {{ form.chosen_percent }} {{ max }}%</p>
                                    </div>

                                    <div class="form-group text-end">
                                        {% bootstrap_button "Valider" button_type="submit" button_class="btn btn-primary" %}
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>

                    {% if back_url %}
                        <p class="mt-4">
                            <a href="{{ back_url }}">Retour</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    {% if not evaluation_campaign.percent_set_at %}
        <script src="{% static 'js/siae_evaluations_sample_selection.js' %}"></script>
    {% endif %}
{% endblock %}
