{% extends "layout/base.html" %}
{% load format_filters %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    Auto-prescriptions à justifier pour
    {{ full_name|title }}
{% endblock %}

{% block content_title_wrapper %}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row justify-content-center">
                <div class="col-8">

                    <div class="card">

                        <div class="card-header">
                            {% include "siae_evaluations/includes/job_seeker_infos_for_siae.html" with job_seeker=job_seeker approval=approval state=state %}
                        </div>

                        <div class="card-body">

                            <div class="row mt-3">
                                <div class="col-md-12">{% include "siae_evaluations/includes/criteria_form.html" %}</div>

                            </div>


                        </div>

                    </div>
                    {% if back_url %}
                        <p class="mt-4">
                            <a href="{{ back_url }}">Retour</a>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
