{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block title %}Auto-prescriptions à justifier pour {{ job_seeker.get_full_name }}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-header">
                            {% include "siae_evaluations/includes/job_seeker_infos_for_siae.html" with evaluated_job_application=evaluated_administrative_criteria.evaluated_job_application %}
                        </div>
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {% include "siae_evaluations/includes/criterion_infos.html" with criteria=evaluated_administrative_criteria.administrative_criteria review_state=None only %}
                                </div>
                            </div>
                            {% if evaluated_administrative_criteria.proof_id %}
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <a href="{% url "siae_evaluations_views:view_proof" evaluated_administrative_criteria_id=evaluated_administrative_criteria.pk %}" target="_blank">Visualiser le justificatif précédemment téléversé</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <form method="post" class="js-prevent-multiple-submit"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                                        {% csrf_token %}
                                        {% bootstrap_form form alert_error_type="all" %}
                                        <div class="mt-3 alert alert-info small" role="status">
                                            <div class="row">
                                                <div class="col-auto pe-0">
                                                    <i class="ri-information-line ri-xl text-info"></i>
                                                </div>
                                                <div class="col">
                                                    <p class="mb-0">
                                                        Si vous êtes dans l'incapacité à fournir le bon justificatif, vous pouvez créer et fournir en lieu et place de celui-ci, une attestation au nom de votre structure pour en expliquer les raisons à votre DDETS.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary float-end">
                                            {% if evaluated_administrative_criteria.proof_id %}
                                                Enregistrer le nouveau justificatif
                                            {% else %}
                                                Enregistrer le justificatif
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
