{% extends "layout/base.html" %}
{% load components %}
{% block title %}Liste de mes auto-prescriptions à justifier {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Justifier mes auto-prescriptions</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block title_messages %}
    {{ block.super }}
    {% component_alert title=title content=content variant="info" icon=False %}
        {% fragment as title %}
            Précision
        {% endfragment %}
        {% fragment as content %}
            <p class="mb-0">
                On entend par auto-prescription toutes les embauches pour lesquelles vous avez validé vous-mêmes
                les critères administratifs d'éligibilité IAE.
            </p>
        {% endfragment %}
    {% endcomponent_alert %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <p class="h2 mb-0">Liste de mes auto-prescriptions à justifier</p>
                    <p>Contrôle initié le {{ evaluated_siae.evaluation_campaign.evaluations_asked_at|date:"d F Y" }}</p>

                    {% include "siae_evaluations/includes/submit_proofs_box.html" with csrf_token=csrf_token evaluated_siae=evaluated_siae is_submittable=is_submittable proofs_submitted=proofs_submitted only %}

                    {% for evaluated_job_application in evaluated_job_applications %}
                        {% with should_select_criteria=evaluated_job_application.should_select_criteria %}
                            {% include "siae_evaluations/includes/list_item.html" with item=evaluated_job_application evaluated_job_application_state=evaluated_job_application.compute_state should_select_criteria=should_select_criteria %}
                        {% endwith %}
                    {% endfor %}

                    {% if is_submittable %}
                        {% include "siae_evaluations/includes/submit_proofs_box.html" with csrf_token=csrf_token evaluated_siae=evaluated_siae is_submittable=is_submittable proofs_submitted=proofs_submitted only %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
