{% extends "layout/base.html" %}
{% load format_filters %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    Auto-prescriptions à justifier pour {{ evaluated_job_application.job_application.job_seeker.get_full_name }}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-header">
                            {% include "siae_evaluations/includes/job_seeker_infos_for_siae.html" with evaluated_job_application=evaluated_job_application %}
                        </div>
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-12">{% include "siae_evaluations/includes/criteria_form.html" %}</div>
                            </div>
                        </div>
                    </div>
                    {% if back_url %}
                        <p class="mt-4">
                            <a href="{{ back_url }}">Retour</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
