{% load static %}
{% load bootstrap4 %}
<div id="upload_panel">
    {% if unfold_details %}
        {% if can_upload_prolongation_report %}
            <hr />
            <span class="badge badge-base badge-pill badge-important my-3">Nouveau</span>

            <div id="file_upload_part">
                <h4>Bilan à renseigner : le motif selectionné nécessite l'accord d'un prescripteur habilité</h4>
                <p>
                    Vous devez présenter un bilan de la situation du salarié au regard de l'emploi, des actions d'accompagnement et de formation conduites pendant la durée initiale du parcours et des actions envisagées pour la poursuite de ce parcours.
                </p>
                <p>
                    Un modèle au format excel (modele_bilan_prolongation_PASS_IAE.xlsx) pour réaliser ce bilan permettra au prescripteur habilité d’avoir une meilleure connaissance du contexte de la prolongation.
                    Vous devez désormais télécharger, compléter et téléverser ce modèle pour enregistrer une demande de prolongation.
                </p>
                <a href="{% static 'templates/modele_bilan_prolongation_PASS_IAE.xlsx' %}" class="btn btn-ico btn-primary my-4" download="modele_bilan_prolongation_PASS_IAE.xlsx">
                    <i class="ri-download-2-line" aria-hidden="true"></i>
                    <span>Télécharger le modèle</span>
                </a>

                <h4>Téléverser le modèle complété</h4>
                {% bootstrap_field form.report_file %}
            </div>
            <hr />
        {% endif %}

        <div>
            {# HTMX: confirm prescriber organization if many #}
            {% include "approvals/includes/declaration_prescriber_email.html" %}
            <p>
                <a href="{% url 'search:prescribers_home' %}" rel="noopener" target="_blank" aria-label="Rechercher des prescripteurs (ouverture dans une nouvelle fenêtre)">Rechercher des prescripteurs</a> <i class="ri-external-link-line ml-1"></i>
            </p>
        </div>

        {# HTMX: toggle contact details #}
        {% include "approvals/includes/declaration_contact_details.html" %}

    {% endif %}
</div>
