{% load format_filters %}

<div class="card my-5">

    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <h3 class="h2 mb-1">{{ approval.user.get_full_name|title }}</h3>
                <p class="small">Pass N° {{ approval|format_approval_number }}</p>
            </div>

            {# Statuses #}
            <div class="col-md-5 text-right">
                <p class="small">
                    <span class="badge badge-pill{% if approval.state == 'EXPIRED' %} badge-dark{% else %} badge-success{% endif %}">
                        <i class="{% if approval.state == 'EXPIRED' %}ri-forbid-2-line{% elif approval.state == 'SUSPENDED' %}ri-error-warning-line{% else %}ri-checkbox-circle-line{% endif %}"></i>
                        <span class="font-weight-normal">&nbsp;PASS IAE {{ approval.get_state_display }}</span>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="card-footer bg-light">
        <div class="text-right">
            <a class="btn btn-outline-primary bg-white" href="{% url 'approvals:detail' pk=approval.id %}">Voir son profil</a>
        </div>
    </div>
</div>
