{% load str_filters %}

<div class="ms-md-auto" id="approvals-list-filter-counter"{% if request.htmx %} hx-swap-oob="true"{% endif %}>
    {% if filters_counter > 0 %}
        <a href="{% url 'approvals:list' %}"
           class="btn btn-ico btn-dropdown-filter"
           aria-label="Réinitialiser le{{ filters_counter|pluralizefr }} filtre{{ filters_counter|pluralizefr }} actif{{ filters_counter|pluralizefr }}">
            <i class="ri-eraser-line font-weight-bold" aria-hidden="true"></i>
            <span>Effacer tout</span>
        </a>
    {% endif %}
</div>
