{% load bootstrap4 %}
<form id="mainForm" method="post" class="js-prevent-multiple-submit"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% bootstrap_form_errors form type="non_fields" %}

    {% bootstrap_field form.reason %}
    {% bootstrap_field form.end_at %}

    {% include "approvals/includes/declaration_upload_panel.html" %}

    <hr />

    {% buttons %}
        <div class="text-end">
            <a class="btn btn-outline-primary" href="{{ back_url }}">Retour</a>
            {# Enable preview mode: preview=1. #}
            <button name="preview" value="1" class="btn btn-primary">Valider la déclaration</button>
        </div>
    {% endbuttons %}
</form>
