{% load django_bootstrap5 %}
<form id="mainForm" method="post" class="js-prevent-multiple-submit"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% bootstrap_form_errors form type="non_fields" %}

    {% bootstrap_field form.reason %}
    {% bootstrap_field form.end_at %}

    {% include "approvals/includes/declaration_upload_panel.html" %}

    <hr />

    <div class="text-end">
        <a class="btn btn-outline-primary" href="{{ back_url }}">Retour</a>
        {# Enable preview mode: preview=1. #}
        {% bootstrap_button "Valider la déclaration" button_type="submit" button_class="btn btn-primary" name="preview" value="1" %}
    </div>
</form>
