{% load i18n %}
{% comment %}

    Usage:
        {% include "approvals/includes/status.html" with approval=approval %}

{% endcomment %}

{% if approval.is_valid %}

    <span class="text-success">

        {% blocktranslate with start=approval.start_at|date:"d/m/Y" end=approval.end_at|date:"d/m/Y" %}
            <b>Valide</b> du {{ start }} au {{ end }}
        {% endblocktranslate %}

        {% with approval.time_until_waiting_period as still %}
            {% if still == "0" %}
                {% translate "(expire aujourd'hui)" %}
            {% elif still == "in_future" %}
                {% translate "(dans le futur)" %}
            {% else %}
                {% blocktranslate %}(encore {{ still }}){% endblocktranslate %}
            {% endif %}
        {% endwith %}

    </span>

{% elif approval.is_in_waiting_period %}

    <span class="text-danger">

        {% blocktranslate with end=approval.end_at|date:"d/m/Y" since=approval.end_at|timesince %}
            <b>Expiré</b> le {{ end }} (depuis {{ since }})
        {% endblocktranslate %}

    </span>

{% endif %}
