{% load static %}
{% load call_method %}
{% load format_filters %}
{% load str_filters %}
{% comment %}

Arguments:

    user
    common_approval  (which may be an Approval or PE Approval)
    hiring_pending
    job_application

{% endcomment %}

{% if common_approval.is_pass_iae %}
    <p class="text-center">
        {% if common_approval.is_suspended %}
            <img src="{% static 'img/pass_iae/logo_pass_iae_suspended.svg' %}" alt="Logo du PASS IAE">
            <br>
            <span class="badge badge-base rounded-pill bg-success-lighter text-success">
                <i class="ri-pass-pending-line" aria-hidden="true"></i>
                Valide (suspendu)
            </span>
        {% else %}
            <img src="{% static 'img/pass_iae/logo_pass_iae.svg' %}" alt="Logo du PASS IAE">
        {% endif %}
    </p>
{% endif %}

<div class="ps-3 border-start approval-left-border">
    <p class="mb-1">
        {% if common_approval.is_pass_iae %}
            Numéro de PASS IAE :
        {% else %}
            Numéro d'agrément :
        {% endif %}
        {% if user.is_employer and hiring_pending %}
            {% comment %}
            If the PASS IAE number is displayed at this time, some employers think that there is
            no need to validate the application because a number is already assigned.
            {% endcomment %}
            <b>pour obtenir son numéro, vous devez valider l'embauche et demander l'obtention d'un PASS IAE.</b>
        {% else %}
            <b>{{ common_approval.number|format_approval_number }}</b>
        {% endif %}
    </p>

    {% if job_application.origin == JobApplicationOrigin.PE_APPROVAL %}
        <p class="mb-1">Ce PASS IAE a été importé depuis un agrément Pôle emploi.</p>
    {% endif %}

    {% if common_approval.is_valid %}
        <p class="mb-1">Date de début : {{ common_approval.start_at|date:"d/m/Y" }}</p>
        <ul class="list-unstyled">
            <li class="h4 mt-4 mb-2">
                Nombre de jours restants sur le PASS IAE : {{ common_approval.remainder.days }} jour{{ common_approval.remainder.days|pluralizefr }}
                <i class="ri-information-line ri-xl text-info"
                   data-bs-toggle="tooltip"
                   title="Le reliquat est calculé sur la base d'un nombre de jours calendaires. Si le PASS IAE n'est pas suspendu, il décroît donc tous les jours (samedi, dimanche et jours fériés compris)."></i>
            </li>

            {% if hiring_pending and user.is_employer %}
                <li>
                    PASS IAE valide jusqu’au {{ common_approval.remainder_as_date|date:"d/m/Y" }}, si le contrat démarre aujourd’hui.
                </li>
            {% endif %}

            {% if not hiring_pending %}
                <li class="pb-2">
                    Date de fin prévisionnelle : {{ common_approval.end_at|date:"d/m/Y" }}
                    <i class="ri-information-line ri-xl text-info" data-bs-toggle="tooltip" title="Cette date de fin est susceptible d'évoluer avec les éventuelles suspensions et prolongations du PASS IAE."></i>
                </li>
            {% endif %}
        </ul>
    {% elif common_approval.is_in_waiting_period %}
        <p class="text-danger">
            <b>Expiré</b> le {{ common_approval.end_at|date:"d/m/Y" }} (depuis {{ common_approval.end_at|timesince }})
        </p>

        {% if user.is_employer %}
            {% if hiring_pending and job_application.get_eligibility_diagnosis.is_valid %}
                {% comment %}
            When an authorized prescriber bypasses the waiting period and sends a candidate
            with an "expired" approval, the employer receives the application with the mention
            "expired". He thinks that the hiring is impossible when he just has to validate
            the job application to get a new PASS IAE.

            Show a message explaining that.
                {% endcomment %}

                <p>
                    <b>Un diagnostic d'éligibilité valide existe pour ce candidat. Vous pouvez obtenir un PASS IAE.</b>
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% if common_approval.is_valid and common_approval.is_pass_iae %}
    {# Suspensions history. #}
    {% with common_approval.suspensions_for_status_card as suspensions %}
        {% if suspensions.last_in_progress or suspensions.older %}
            <div id="suspensions-list" class="ps-3 border-start approval-left-border">
                {% if suspensions.last_in_progress %}
                    <p class="mb-1">Suspension en cours :</p>
                    <ul class="list-unstyled">
                        <li>
                            <b>du {{ suspensions.last_in_progress.start_at|date:"d/m/Y" }} au {{ suspensions.last_in_progress.end_at|date:"d/m/Y" }}</b>
                            {% if request.user.is_employer and request.current_organization %}
                                <!-- djlint:off -->{% call_method suspensions.last_in_progress "can_be_handled_by_siae" request.current_organization as can_be_handled %}<!-- djlint:on -->
                                {% if can_be_handled %}
                                    <br>
                                    <small>
                                        <a href="{% url 'approvals:suspension_update' suspension_id=suspensions.last_in_progress.pk %}?back_url={{ request.get_full_path|urlencode }}">Modifier la suspension</a>
                                        <a class="ms-1" href="{% url 'approvals:suspension_action_choice' suspension_id=suspensions.last_in_progress.pk %}?back_url={{ request.get_full_path|urlencode }}">Supprimer la suspension</a>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                {% if suspensions.older %}
                    <p class="mb-1">Suspension{{ suspensions.older|pluralizefr }} passée{{ suspensions.older|pluralizefr }} :</p>
                    <ul class="list-unstyled">
                        {% for s in suspensions.older %}
                            <li>
                                <span>du {{ s.start_at|date:"d/m/Y" }} au {{ s.end_at|date:"d/m/Y" }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}

    {# Prolongations history. #}
    {% with prolongations=common_approval.prolongations_for_status_card prolongation_requests=common_approval.prolongation_requests_for_status_card %}
        {% if prolongations or prolongation_requests %}
            <div id="prolongations-list" class="ps-3 border-start approval-left-border">
                {% if prolongations.in_progress %}
                    <p class="mb-1">Prolongation en cours :</p>
                    {% include "approvals/includes/prolongations_list.html" with prolongations=prolongations.in_progress %}
                {% endif %}
                {% if prolongations.not_in_progress %}
                    <p class="mb-1">
                        Prolongation{{ prolongations.not_in_progress|pluralizefr }} passée{{ prolongations.not_in_progress|pluralizefr }} ou à venir :
                    </p>
                    {% include "approvals/includes/prolongations_list.html" with prolongations=prolongations.not_in_progress %}
                {% endif %}
                {% if prolongation_requests %}
                    <p class="mb-1">Demande{{ prolongation_requests|pluralizefr }} de prolongation en cours :</p>
                    <ul class="list-unstyled">
                        {% for prolongation_request in prolongation_requests %}
                            <li>
                                du {{ prolongation_request.start_at|date:"d/m/Y" }} au {{ prolongation_request.end_at|date:"d/m/Y" }}
                                <small class="ms-3">{{ prolongation_request.get_reason_display }}</small>
                                <small class="d-block mb-2">
                                    {% if prolongation_request.status == ProlongationRequestStatus.PENDING %}
                                        Demandée le {{ prolongation_request.created_at|date:"d/m/Y" }} par <i>{{ prolongation_request.declared_by.get_full_name }}</i> à <i>{{ prolongation_request.validated_by.get_full_name }}</i> ({{ prolongation_request.prescriber_organization.display_name }} - {{ prolongation_request.prescriber_organization.department }})
                                    {% elif prolongation_request.status == ProlongationRequestStatus.DENIED %}
                                        Refusée par <i>{{ prolongation_request.processed_by.get_full_name }}</i> ({{ prolongation_request.prescriber_organization.display_name }})
                                    {% endif %}
                                </small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
