{% load i18n %}

<div class="alert alert-warning pb-0" role="alert">
    <p>
        Un abandon de poste, une fin de contrat de travail, ou tout autre motif ne figurant pas dans la liste officielle des motifs de suspension, ne peuvent donner lieu à une suspension.
    </p>
    <p>
        Pour plus d'informations, consultez
        <a href="{{ ITOU_DOC_URL }}/pourquoi-une-plateforme-de-linclusion/pass-iae-agrement-plus-simple-cest-a-dire#suspension" rel="noopener" target="_blank">
            la note dédiée aux suspensions
            {% include "includes/icon.html" with icon="external-link" %}
        </a>
        avant de faire votre demande.
    </p>
</div>
