{% load i18n %}
{% with job_seeker.approvals_wrapper as approvals_wrapper %}
    {% if approvals_wrapper.has_valid %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans with number=approvals_wrapper.latest_approval.number_with_spaces start=approvals_wrapper.latest_approval.start_at|date:"d/m/Y" end=approvals_wrapper.latest_approval.end_at|date:"d/m/Y" %}
                Parcours d'insertion en cours : <b>{{ number }}</b> du <b>{{ start }}</b> au <b>{{ end }}</b>.
            {% endblocktrans %}
        </div>
    {% endif %}
{% endwith %}
