/* Custom Django admin parts
---------------------------------------------------------------------------*/

.submit-row input.danger {
    background: #ba2121;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}