# Allow GitHub branch protection to enforce review by at least one member of @gip-inclusion/admins-les-emplois.
* @gip-inclusion/admins-les-emplois

# Dependabot PRs (requirements/) don't need CODEOWNERS review.
# Only the current supportix is required to review these PRs.
requirements/
