{% extends "layout/base.html" %}
{% load format_filters %}
{% load str_filters %}

{% block title %}
    Demande de prolongation - {{ prolongation_request.approval.user.get_full_name }} {{ block.super }}
{% endblock %}

{% block content_title %}
    <h1>Demande de prolongation pour {{ prolongation_request.approval.user.get_full_name }}</h1>
    {% include "approvals/prolongation_requests/_status_badge.html" %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-box mb-3 mb-lg-5">
                        {# Approval status. #}
                        <div>{% include "approvals/includes/status.html" with common_approval=prolongation_request.approval %}</div>
                    </div>

                    <div class="c-box mb-3 mb-lg-5">
                        <h2>Détail de la demande</h2>
                        <hr>
                        <h3>
                            Adressé à
                            <i class="ri-information-line ri-xl" data-toggle="tooltip" title="En cas d’absence du prescripteur sollicité, vous pouvez traiter cette demande."></i>
                        </h3>
                        <p>{{ prolongation_request.validated_by.get_full_name }} a été sollicité pour cette demande.</p>
                        <h3>Date de fin de PASS IAE demandée : {{ prolongation_request.end_at|date:"d/m/Y" }}</h3>
                        <p>
                            La prolongation est demandée pour une durée de {{ prolongation_request.duration.days }} jour{{ prolongation_request.duration.days|pluralizefr }}.
                        </p>
                        <h3>Motif sélectionné par l’employeur</h3>
                        <p>{{ prolongation_request.get_reason_display }}</p>
                        {% if prolongation_request.report_file %}
                            <h3>Bilan des actions réalisées</h3>
                            <p>
                                Le bilan des actions réalisées et actions prévues avec le salarié, rempli par l’employeur est présent sur le document excel téléchargeable ci-dessous.
                            </p>
                            <p>
                                <a class="btn btn-secondary btn-ico"
                                   href="{% url "approvals:prolongation_request_report_file" prolongation_request_id=prolongation_request.pk %}"
                                   download="Bilan prolongation PASS IAE {{ prolongation_request.approval.number }} {{ prolongation_request.approval.user.get_full_name }}.xlsx">
                                    <i class="ri-download-line ri-lg font-weight-normal"></i>
                                    <span>Télécharger le bilan</span>
                                </a>
                            </p>
                        {% endif %}
                        {% if prolongation_request.require_phone_interview %}
                            <h3>Explications supplémentaires</h3>
                            <p>
                                L’employeur a fait une demande d'entretien téléphonique pour vous apporter des explications supplémentaires pour cette prolongation. Voici ses coordonnées :
                            </p>
                            <p>
                                <i class="ri-mail-line"></i>
                                <a class="btn-link me-3" href="mailto:{{ prolongation_request.contact_email }}">{{ prolongation_request.contact_email }}</a>
                                {% include 'includes/copy_to_clipboard.html' with content=prolongation_request.contact_email css_classes="btn-secondary" %}
                            </p>
                            <p>
                                <i class="ri-phone-line"></i>
                                <a class="btn-link" href="tel:{{ prolongation_request.contact_phone|cut:" " }}">{{ prolongation_request.contact_phone }}</a>
                            </p>
                        {% endif %}
                    </div>
                    {% include "approvals/prolongation_requests/_deny_information_card.html" %}
                </div>
                <div class="col-12 col-lg-4">
                    {# Status card #}
                    {% include "approvals/prolongation_requests/_status_card.html" %}
                    {# SIAE card #}
                    {% with siae=prolongation_request.declared_by_siae %}
                        <div class="c-card card rounded-lg mb-3 mb-lg-5">
                            <div class="card-body">
                                <p class="fs-sm">{{ siae.kind }} - {{ siae.get_kind_display }}</p>
                                <p class="h2">{{ siae.display_name }}</p>
                                <address class="card-subtitle fs-sm font-weight-bold text-secondary">{{ siae.address_on_one_line }}</address>
                                {% include "siaes/includes/_siae_details.html" with siae=siae %}
                                <a class="btn btn-secondary btn-block justify-content-center mt-5" href="{% url 'companies_views:card' siae_id=siae.pk %}">
                                    Voir la fiche de l'entreprise
                                </a>
                            </div>
                        </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
