
{% extends "layout/base.html" %}
{% load components %}

{% block title %}Conditions d’utilisation des emplois de l’inclusion {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1 id="conditions-générales-dutilisation">Conditions Générales d&#39;Utilisation</h1>
            <p>En vigueur à partir du 15/10/2025</p>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <h2>Article 1 - Champ d'application</h2>
                    <p>
                        Les présentes conditions générales d'utilisation (ci-après dites
                        « CGU ») précisent le cadre juridique des "Emplois de l'inclusion"
                        (ci-après la « Plateforme ») et définissent les conditions d'accès
                        et d'utilisation des Services par l'Utilisateur.
                    </p>

                    <h2 class="mt-5">Article 2 - Objet</h2>
                    <p>
                        La Plateforme a pour objectif de proposer une solution numérique intégrée permettant de
                        faciliter l'entrée dans l'emploi en centralisant un registre de l'offre, de
                        proposer aux recruteurs la réception de candidatures en provenance de prescripteurs ou de
                        candidats eux-mêmes, et de réduire la charge administrative, notamment celle induite par
                        l'entrée en parcours d'insertion. Le service est destiné au public relatif
                        à l'insertion.
                    </p>

                    <h2 class="mt-5">Article 3 - Définitions</h2>
                    <p>
                        « L’Utilisateur » est toute personne physique qui s'inscrit sur la
                        Plateforme, quel que soit son rôle : Candidat, Prescripteur habilité, Employeur inclusif
                        ou Orienteur. Il peut également s'agir des Institutions partenaires.
                    </p>
                    <p>
                        Le « Profil » ou « Espace personnel » est le compte créé
                        directement ou indirectement par un Utilisateur dans le but de bénéficier des Services
                        offerts par la Plateforme .
                    </p>
                    <p>
                        Les « Services » sont les moyens offerts par la Plateforme pour que chaque acteur de
                        l'insertion professionnelle, (Candidat, Bénéficiaire du parcours, Prescripteur
                        Habilité, Orienteur, Employeur inclusif et Institution partenaire) puisse jouer le rôle qui
                        est le sien dans le parcours d'insertion.
                    </p>
                    <p>
                        « Le Candidat » est la personne physique candidate, chercheur d'emploi
                        inclusif.
                    </p>
                    <p>
                        « Le bénéficiaire du parcours » est la personne physique au sein d'un
                        parcours d'insertion professionnelle au sens de l'article R.5132-1-20 du code du travail, ou
                        le cas échéant au sein d'un autre parcours insertion au sens du code du
                        travail.
                    </p>
                    <p>
                        « Le Prescripteur habilité » est tout organisme ou personne habilité à évaluer, à l'issue d'un
                        diagnostic socioprofessionnel, l'éligibilité d'un candidat au dispositif IAE
                        conformément aux dispositions législatives et réglementaires en vigueur.
                    </p>
                    <p>
                        « L'Orienteur » est un organisme ou une personne pouvant orienter et accompagner dans ses démarches un
                        candidat. Il n'est pas chargé d'évaluer et valider à l'issue
                        d'un diagnostic socioprofessionnel, l'éligibilité à l'IAE. Il est un prescripteur qui ne fait pas partie d'une organisation habilitée à
                        évaluer, à l'issue d'un diagnostic socioprofessionnel,
                        l'éligibilité d'un candidat au dispositif IAE.
                    </p>
                    <p>
                        « L'Employeur » est la personne travaillant pour le compte de la structure
                        professionnelle proposant des offres d'emploi pour des candidats éligibles par le biais des
                        Services offerts par les Emplois de l'inclusion visant à faciliter l'insertion
                        professionnelle au travers de structures de l'inclusion. Il s'agit des Structures
                        d'insertion par l'activité économique, des Entreprises adaptées, des
                        Entreprises adaptées de travail temporaire, des Groupements d'employeurs pour
                        l'insertion et la qualification, ainsi que des Organismes porteurs de la clause sociale.
                    </p>
                    <p>
                        « Les Institutions partenaires » sont les organismes publics ou chargés par ces
                        derniers, habilités à piloter et contrôler les éléments
                        d'éligibilité aux dispositifs d'insertion conformément aux textes
                        législatifs et réglementaires en vigueur.
                    </p>
                    <p>
                        « Le PASS IAE » valide l'entrée à un parcours d'insertion pour
                        l'activité économique pour une durée de 2 ans. Il permet au candidat d'être recruté par toutes les <a class="has-external-link" rel="noreferrer" target="_blank" href="https://aide.emplois.inclusion.beta.gouv.fr/hc/fr/articles/14734161506961">Structures d'insertion par l'activité économique</a> (SIAE) et aux structures d'insertion de bénéficier d'une aide au poste
                        pour l'embauche d'un candidat.
                    </p>
                    <p>
                        « L'administrateur » sont des utilisateurs ayant des profils disposant de certaines fonctionnalités
                        spécifiques et de la faculté d'agir sur les comptes rattachés à
                        l'organisation dont ils sont administrateurs et conformément aux présentes conditions générales d'utilisation.
                    </p>
                    <p>
                        « La suspension » du PASS IAE est déclarée par un prescripteur habilité ou une SIAE. Elle permet de conserver la durée restante du PASS IAE suite à une interruption
                        temporaire de son parcours pour un motif valable et conforme au droit du travail.
                    </p>
                    <p>
                        « La clôture » du PASS IAE correspond à une interruption définitive du parcours IAE suite
                        à une suspension de 12 mois consécutifs au moins, et après examen de la situation
                        de la personne concernée au regard de l'emploi et des actions d'accompagnement et de
                        formation conduites dans le cadre du parcours.
                    </p>

                    <h2 class="mt-5">Article 4 - Fonctionnalités</h2>
                    <h3 class="mt-3">4.1 Création des comptes</h3>
                    <h4 class="mb-2">4.1.1 Création autonome</h4>
                    <p>
                        Les Utilisateurs peuvent s'inscrire de manière autonome. Le Candidat a trois choix de
                        modalités de création de compte. Dans la première, Il remplit ses informations
                        personnelles et choisit un identifiant et mot de passe (Le mot de passe doit contenir au moins 14
                        caractères et 3 des 4 types suivants : majuscules, minuscules, chiffres, caractères
                        spéciaux). Il reçoit un mail qui lui permet de valider la création de son
                        compte. S'il ne le fait pas de la manière énoncée plus haut, pour
                        accéder aux Services, le candidat peut également s'inscrire ou se connecter
                        via "FranceConnect" ou via "France Travail" .
                    </p>
                    <p>Les employeurs et les prescripteurs doivent se connecter via le service ProConnect.</p>

                    <h4 class="mb-2">4.1.2 Création par un tiers</h4>
                    <p>
                        Seuls les candidats peuvent voir leur compte ou espace créé par un tiers (Prescripteur
                        habilité, Orienteur et Employeur).
                    </p>

                    <h4 class="mb-2">4.1.3 Création par invitation du GIP Plateforme de l'inclusion</h4>
                    <p>
                        Les comptes Institutions partenaires sont créés sur invitation de la plateforme. Elles
                        peuvent personnaliser leur mot de passe lors de la première connexion (Le mot de passe doit
                        contenir au moins 14 caractères et 3 des 4 types suivants : majuscules, minuscules, chiffres,
                        caractères spéciaux).
                    </p>

                    <h3 class="mt-3">4.2 Règles de rattachement aux espaces des organismes</h3>
                    <p>Création des espaces "organisme" et premier rattachement</p>

                    <h4 class="mb-2">Espace des Employeurs</h4>
                    <p>
                        Lors de l'inscription du premier utilisateur d'un organisme Employeurs de type SIAE, EA ou
                        GEIQ, une notification par mail est adressée au courriel d'authentification fourni par les
                        partenaires du GIP Plateforme de l'inclusion. Ces partenaires sont l'ASP (Agence de services
                        et de paiement) et la FFGEIQ (Fédération française des groupements
                        d'employeurs pour l'insertion et la qualification).
                    </p>
                    <p>
                        Lors du rattachement à un organisme, le premier utilisateur est de renseigner le numéro
                        de SIRET ou le numéro de SIREN de sa structure.
                    </p>

                    <h4 class="mb-2">Espace Prescripteurs habilités</h4>
                    <p>
                        Lors de l'inscription du premier utilisateur d'un prescripteur habilité, le GIP
                        Plateforme de l'inclusion vérifie, en fonction des données fournies, si le
                        professionnel travaille dans la structure en question et le statut de prescripteur habilité de la
                        structure. Avant cette vérification, la structure aura un statut "orienteur".
                    </p>
                    <p>
                        Lors du rattachement à un organisme, le premier utilisateur est de renseigner le numéro
                        de SIRET ou le numéro de SIREN de sa structure.
                    </p>
                    <p>
                        Par dérogation, lorsque celui-ci est un agent France Travail, seule une adresse conforme et
                        fournie par France Travail permet le rattachement à l'agence dans laquelle il
                        travaille.
                    </p>

                    <h4 class="mb-2">Espace Orienteur</h4>
                    <p>
                        Lors de l'inscription du premier utilisateur d'un organisme Orienteur, sa connexion via
                        ProConnect suffit au rattachement. Tout utilisateur s'engage à faire partie de
                        l'organisme qu'il crée. Toute violation ou création sans autorisation ou sans
                        lien avec l'organisme peut entraîner la suspension ou le cas échéant, la
                        suppression du compte.
                    </p>

                    <h4 class="mb-2">Espace des Institutions partenaires</h4>
                    <p>
                        Lors de l'inscription du premier utilisateur d'une institution partenaire, le GIP
                        Plateforme de l'inclusion vérifie l'appartenance de cet utilisateur à
                        l'organisme.
                    </p>

                    <h3 class="mt-3">4.3 Fonctionnalités spécifiques aux Comptes administrateurs</h3>
                    <p>
                        Lorsqu'un compte est administrateur, il respecte les règles prévues aux articles
                        4.1 et 4.2. Il peut, par ailleurs :
                    </p>
                    <ul>
                        <li>Nommer d'autres administrateurs ;</li>
                        <li>Retirer les droits administrateurs ;</li>
                        <li>Supprimer des membres.</li>
                    </ul>
                    <p>
                        Le premier inscrit sur une organisation est administrateur d'office. Après la
                        création d'autres comptes, il peut être révoqué par un administrateur
                        légitime ou choisi par l'organisation. Chaque organisation demeure entièrement
                        responsable des administrateurs qu'elle choisit.
                    </p>

                    <p>Selon la catégorie d'utilisateur, l'administrateur pourra également :</p>
                    <ul>
                        <li>
                            modifier les informations de son établissement (Nom, coordonnées,
                            description...) ;
                        </li>
                        <li>Gérer les annexes financières (pour les administrateurs en SIAE) ;</li>
                        <li>
                            Créer une nouvelle antenne rattachée à son établissement (pour les SIAE
                            et les GEIQ).
                        </li>
                    </ul>

                    <h3 class="mt-3">4.4 Description des fonctionnalités pour le Candidat ou le bénéficiaire du parcours</h3>
                    <p>
                        L'Espace personnel permet d'accéder aux Services offerts par la Plateforme dont les
                        fonctionnalités sont notamment les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe et de son identifiant ;</li>
                        <li>
                            Bénéficier d'un diagnostic d'éligibilité aux dispositifs
                            d'insertion et d'accompagnement (IAE et GEIQ) ;
                        </li>
                        <li>Bénéficier d'un PASS IAE ;</li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>
                            Réalisation de démarche en ligne visant à postuler à des offres
                            d'emploi ;
                        </li>
                        <li>Rechercher des prescripteurs habilités ;</li>
                        <li>Amélioration continue du service ;</li>
                        <li>Contestation de la clôture du PASS IAE.</li>
                    </ul>

                    <h4 class="mb-2">Modification de son mot de passe et de son identifiant</h4>
                    <p>
                        Le mot de passe peut être modifié en toutes circonstances par ce dernier et doit
                        être choisi de façon à ce qu'il ne puisse pas permettre un accès non
                        autorisé d'un tiers. Lorsque le mot de passe a été choisi via FranceConnect
                        ou France Travail, il est modifié directement via l'un de ces services. Lorsque le Profil a
                        été créé indirectement, le tiers ayant créé le Profil est tenu
                        de permettre au Candidat ou au bénéficiaire du parcours d'accéder à
                        son compte. Il s'engage à en préserver la confidentialité et à avertir
                        immédiatement l'opérateur du service de toute utilisation non autorisée de
                        ses informations.

                    </p>

                    <h4 class="mb-2">Modification des informations relatives à son Profil</h4>
                    <p>
                        Les informations relatives au profil peuvent être modifiées à tout moment. La
                        confirmation des modifications engage le titulaire du profil sur l'exactitude des informations
                        transmises.
                    </p>

                    <h4 class="mb-2">
                        Réalisation de démarche en ligne visant à postuler à des offres
                        d'emploi
                    </h4>
                    <p>
                        Le Candidat pourra réaliser toute démarche visant à postuler à des offres
                        d'emploi, seul ou accompagné d'un tiers. Il s'engage, lorsqu'il postule
                        à des offres d'emploi seul, à l'exactitude des informations transmises.
                    </p>
                    <p>
                        Le Candidat peut remplir toute information relative à son parcours professionnel ou à sa
                        situation. Il peut s'agir de renseignements sur son parcours professionnel préalable
                        à toute candidature d'emploi, ou de renseignements relatifs à l'emploi obtenu
                        par le biais de la Plateforme.
                    </p>

                    <h4 class="mb-2">Bénéficier d'un diagnostic d'éligibilité aux dispositifs d'insertion et d'accompagnement</h4>
                    <p>
                        Les candidats peuvent postuler à des offres d'emploi. Les diagnostics sont
                        systématiquement rattachés au candidat. Les informations concernant le candidat sont
                        remplies par le Prescripteur habilité ou l'Employeur.
                    </p>
                    <p>Ils peuvent être validés par:</p>
                    <ul>
                        <li>l'employeur au moment de l'embauche ;</li>
                        <li>le prescripteur habilité.</li>
                    </ul>

                    <h4 class="mb-2">Bénéficier d'un PASS IAE</h4>
                    <p>
                        L'éligibilité validée par le prescripteur habilité ou
                        l'employeur peut donner droit à un PASS IAE. Ce PASS IAE est généré
                        par le service à la première embauche du candidat par une SIAE. Il a une durée de
                        validité de deux ans et permet aux Employeurs de bénéficier d'une aide au
                        poste pendant la durée du contrat du salarié.
                    </p>

                    <h4 class="mb-2">Amélioration continue du service</h4>
                    <p>
                        Le candidat ou le bénéficiaire de parcours pourra se voir proposer des solutions
                        d'accompagnement via les partenaires locaux engagés dans l'accompagnement des personnes
                        en recherche d'emploi.
                    </p>
                    <p>
                        Des questionnaires peuvent être adressés aux utilisateurs pour recueillir leurs besoins et
                        suggestions d'amélioration du service. Les réponses aux questionnaires seront
                        utilisées par la Plateforme de l'inclusion pour proposer des solutions adaptées aux
                        besoins des utilisateurs.
                    </p>

                    <h4 class="mb-2">Contestation de la clôture du PASS IAE</h4>
                    <p>
                        Toute contestation de la clôture du PASS IAE se fait auprès du prescripteur
                        habilité ou de la structure d'insertion l'ayant prononcé.
                    </p>

                    <h3 class="mt-3">4.5 Description des fonctionnalités pour le Prescripteur habilité</h3>
                    <p>
                        L'Espace personnel du Prescripteur habilité permet à celui-ci
                        d'accéder aux Services offerts pour lui par la Plateforme dont les fonctionnalités
                        sont les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe via le service ProConnect ;</li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>
                            Remplir les critères relatifs à l'éligibilité des Profils
                            Candidats ;
                        </li>
                        <li>
                            Aide à la réalisation de démarche en ligne par les Candidats visant à
                            postuler à des offres d'emploi ;
                        </li>
                        <li>Autoriser une prolongation du PASS IAE ;</li>
                        <li>Faire une demande de suspension de PASS IAE ;</li>
                        <li>Création de Profil Candidat ou bénéficiaire de parcours.</li>
                    </ul>
                    <p>
                        Lors de la première inscription ou création de compte, la personne choisit son profil sur
                        le site des Emplois de l'inclusion et son organisation (organisation habilitée ou
                        orienteur). La personne renseigne le numéro de SIRET et son département. Dans ce cas, le
                        GIP Plateforme de l'inclusion vérifie les informations contenues dans l'API SIREN et
                        les préremplies. La personne est dès lors invitée à créer un compte ou
                        à se connecter via "ProConnect". Le GIP "Plateforme de l'inclusion"
                        vérifie que la personne est une organisation habilitée. Il vérifie également
                        que la personne appartient à l'organisme pour lequel elle crée un compte, par un
                        contrôle de cohérence entre les informations fournies et l'organisme choisi.
                    </p>
                    <p>
                        Dans le cas d'un compte appartenant à une organisation existant déjà au sein
                        des Emplois de l'inclusion, le futur utilisateur peut demander à être invité
                        par un administrateur de son organisation. Il est informé par voie électronique, à
                        l'adresse utilisée pour créer le compte de ladite création. Dans le cas
                        d'un organisme existant, la personne envoie une demande comprenant, son nom, son prénom et
                        son adresse e-mail professionnelle.
                    </p>
                    <p>
                        Par dérogation, les prescripteurs habilités rattachés à l'organisme
                        "France Travail" s'inscrivent en fournissant le code SAFIR de leur agence de
                        rattachement et leur adresse email professionnelle.
                    </p>

                    <h4 class="mb-2">Modification de son mot de passe et de son identifiant</h4>
                    <p>
                        Le mot de passe du Prescripteur habilité peut être modifié en toutes circonstances
                        par ce dernier et doit être choisi de façon qu'il ne puisse pas permettre un
                        accès non autorisé d'un tiers. Le mot de passe est modifié directement sur
                        ProConnect, l'outil proposé par la DINUM. Le Prescripteur habilité s'engage
                        à en préserver la confidentialité et à avertir immédiatement
                        l'opérateur du service de toute utilisation non autorisée de ces informations.
                    </p>

                    <h4 class="mb-2">Modification des informations relatives à son Profil</h4>
                    <p>
                        Le Prescripteur habilité peut modifier les informations relatives à son Profil. La
                        confirmation des modifications engage le Prescripteur habilité sur l'exactitude des
                        informations transmises. Elles se font directement via ProConnect, ou depuis leur logiciel
                        métier.
                    </p>

                    <h4 class="mb-2">
                        Remplir les critères relatifs à l'éligibilité des Profils
                        Candidats
                    </h4>
                    <p>
                        Le Prescripteur habilité pourra remplir les critères relatifs à
                        l'éligibilité des Profils Candidats dont il a la charge. Le Prescripteur
                        habilité s'engage à l'exactitude des informations transmises au regard de
                        l'éligibilité des Profils Candidats.
                    </p>

                    <h4 class="mb-2">
                        Aide à la réalisation de démarche en ligne par les Candidats visant à
                        postuler à des offres d'emploi
                    </h4>
                    <p>
                        Le Prescripteur pourra contribuer à toute démarche en ligne par les Candidats visant
                        à postuler à des offres d'emploi, après autorisation de
                        l'Utilisateur. Le candidat est notifié pour chaque candidature réalisée en son nom.
                    </p>
                    <p>Création de Profil Candidat ou bénéficiaire de parcours</p>
                    <p>
                        Le Prescripteur habilité peut créer un Profil Candidat ou bénéficiaire de
                        parcours. Il s'engage à ce que les informations relatives au Candidat (ou
                        bénéficiaire de parcours) dont le Profil est créé soient exactes. Chaque
                        création de Profil Candidat ou bénéficiaire de parcours sera notifiée
                        à la personne correspondante sur l'adresse email renseignée. Le Prescripteur habilité ne peut plus modifier les informations personnelles du candidat ou bénéficiaire de parcours, si ce dernier s'est connecté à son compte, sauf en ce qui concerne les critères d'éligibilité et la situation
                        administrative du candidat ou bénéficiaire de parcours.
                    </p>

                    <h4 class="mb-2">Traiter une demande de prolongation de Pass IAE</h4>
                    <p>
                        Le prescripteur habilité peut être sollicité par un employeur dans le cadre
                        d'une demande de prolongation du PASS IAE. S'il accepte la demande, le PASS IAE est
                        automatiquement prolongé, en revanche s'il refuse la durée du PASS IAE reste
                        inchangée. Les motifs et les durées de prolongations sont prévus par les
                        dispositions du code du travail prévus par l'IAE.
                    </p>

                    <p>Faire une demande de suspension ou clôture de Pass IAE</p>
                    <p>
                        Le prescripteur habilité peut faire la demande de suspension du PASS IAE par voie
                        électronique selon les motifs suivants :
                    </p>
                    <ul>
                        <li>Contrat de travail rompu ;</li>
                        <li>Contrat de travail terminé ;</li>
                        <li>Contrat de travail suspendu depuis plus de 15 jours ;</li>
                        <li>
                            Bascule dans l'expérimentation contrat passerelle (pour les EI et les ACI uniquement)
                            ;
                        </li>
                        <li>
                            Situation faisant l'objet d'un accord entre les acteurs membres du Comité Technique
                            d'Animation.
                        </li>
                    </ul>
                    <p>
                        En tout état de cause, la demande de suspension se fait conformément aux dispositions
                        réglementaires et législatives en vigueur prévues par le code du travail.
                    </p>
                    <p>
                        S'il est rattaché à France Travail, le prescripteur habilité pourra le faire
                        directement via le téléservice. Dans le cas contraire, il devra faire la demande par voie
                        électronique auprès du GIP Plateforme de l'inclusion.
                    </p>
                    <p>
                        La demande de clôture se fait par voie électronique via le téléservice dans
                        la rubrique du PASS IAE. Le prescripteur habilité doit examiner la situation de la personne
                        concernée au regard de l'emploi et des actions d'accompagnement ou de formation.
                    </p>

                    <h3 class="mt-3">4.6 Description des fonctionnalités pour l'Employeur</h3>
                    <p>
                        L'Espace personnel de l'Employeur inclusif permet à celui-ci d'accéder
                        aux Services offerts pour lui par les emplois de l'inclusion dont les fonctionnalités sont
                        les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe via le service ProConnect ;</li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>Proposer des offres d'emploi et répondre aux candidatures ;</li>
                        <li>
                            Renseigner les informations relatives aux contrats des candidats devenus salariés en leur
                            sein ;
                        </li>
                        <li>
                            Création de Profil et compte Candidat ;
                            <br>
                            Lorsque son Profil a été créé de manière indirecte, l'Employeur inclusif est
                            informé par voie électronique, à l'adresse utilisée pour créer le compte de ladite
                            création ;
                        </li>
                        <li>
                            Proposition de rendez-vous ou prise de contact relatifs à l'accompagnement par mail ou
                            sms
                        </li>
                        <li>Orienter des Candidats vers d'autres Employeurs inclusifs</li>
                        <li>Transférer des candidatures vers d'autres Employeurs inclusifs</li>
                    </ul>

                    <h4 class="mb-2">Fonctionnalités spécifiques aux SIAE :</h4>
                    <ul>
                        <li>
                            Remplir les critères relatifs à l'éligibilité des Profils
                            Candidats qu'il recrute ;
                        </li>
                        <li>
                            Faire une demande de prolongation de PASS IAE d'un salarié à un prescripteur
                            habilité

                        </li>
                        <li>Suspendre un PASS IAE d'un salarié</li>
                        <li>
                            Transmettre à l'ASP les données administratives liées aux
                            embauches
                        </li>
                        <li>
                            Transmettre les justificatifs administratifs des bénéficiaires de parcours
                            demandés dans le cadre du contrôle à posteriori
                        </li>
                    </ul>

                    <h4 class="mb-2">Fonctionnalités spécifiques aux GEIQ :</h4>
                    <ul>
                        <li>
                            Enregistrer une action préalable à l'embauche d'un
                            bénéficiaire de parcours
                        </li>
                        <li>Valider l'éligibilité public prioritaire GEIQ</li>
                        <li>(bientôt) Déposer son bilan d'exécution annuel</li>
                        <li>
                            (bientôt) Consulter le résultat du bilan d'exécution annuel validé
                            par sa DDETS et DREETS.
                        </li>
                    </ul>

                    <h4 class="mb-2">Modification de son mot de passe et de son identifiant</h4>
                    <p>
                        Le mot de passe de l'Employeur inclusif peut être modifié en toutes circonstances par
                        ce dernier et doit être choisi de façon à ce qu'il ne puisse pas permettre un
                        accès non autorisé d'un tiers. Le mot de passe est modifié directement sur ProConnect. L'Employeur inclusif s'engage à en préserver la confidentialité et
                        à avertir immédiatement l'opérateur du service de toute utilisation non
                        autorisée de ces informations.
                    </p>

                    <h4 class="mb-2">Modification des informations relatives à son Profil</h4>
                    <p>
                        L'Employeur inclusif peut modifier les informations relatives à son Profil. La confirmation
                        des modifications engage l'Employeur inclusif sur l'exactitude des informations
                        transmises.
                    </p>

                    <h4 class="mb-2">Proposer des offres d'emploi et répondre aux candidatures</h4>
                    <p>
                        L'Employeur inclusif peut proposer aux Candidats des offres d'emplois répondant aux
                        critères du dispositif d'inclusion dans lequel il s'inscrit. L'Employeur inclusif
                        peut également répondre et gérer les candidatures des Candidats répondant
                        à ses offres. Chaque réponse de l'Employeur inclusif à une candidature ou
                        modification du statut de la candidature sera notifiée au Candidat.
                    </p>

                    <h4 class="mb-2">
                        Remplir les critères relatifs à l'éligibilité des Profils
                        Candidats
                    </h4>
                    <p>
                        L'Employeur inclusif SIAE ou GEIQ pourra remplir les critères relatifs à
                        l'éligibilité des Profils Candidats dont il a la charge. L'Employeur inclusif
                        s'engage à l'exactitude des informations transmises au regard de
                        l'éligibilité des Profils Candidats.
                    </p>

                    <h4 class="mb-2">
                        Renseigner les informations relatives aux contrats des bénéficiaire de parcours devenus
                        salariés en leur sein
                    </h4>
                    <p>
                        L'Employeur inclusif peut renseigner les informations relatives aux contrats des
                        bénéficiaires de parcours devenus salariés.
                    </p>

                    <h4 class="mb-2">Création de Profil Bénéficiaire de parcours</h4>
                    <p>
                        L'Employeur inclusif peut créer un Profil bénéficiaire de parcours. Il
                        s'engage à ce que les informations relatives au bénéficiaire de parcours dont
                        le Profil est créé soient exactes. Chaque création de Profil sera notifiée
                        au bénéficiaire de parcours correspondant sur l'adresse email renseignée.
                        L'Employeur inclusif ne peut plus modifier le Profil une fois la notification envoyée, sauf
                        en ce qui concerne les critères d'éligibilité.
                    </p>

                    <h3 class="mt-3">4.7 Description des fonctionnalités pour les Orienteurs</h3>
                    <p>
                        L'Espace personnel de l'Orienteur permet à celui-ci d'accéder aux
                        Services offerts pour lui par les emplois de l'inclusion dont les fonctionnalités sont les suivantes :
                    </p>
                    <ul>
                        <li>
                            Modification de son mot de passe via le Service ProConnect, ou le cas échéant son mot
                            de passe ou identifiant directement via la Plateforme pour les Orienteurs "personnes
                            physiques" ;
                        </li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>
                            Aide à la réalisation de démarche en ligne par les candidats visant à
                            postuler à des offres d'emploi ;
                        </li>
                        <li>Création de profil candidat.</li>
                    </ul>

                    <h4 class="mb-2">Création de Profil Candidat</h4>
                    <p>
                        L'Orienteur peut créer un Profil Candidat. Il s'engage à ce que les
                        informations relatives au Candidat dont le Profil est créé soient exactes. Chaque
                        création de Profil Candidat sera notifiée au Candidat correspondant sur l'adresse
                        e-mail renseignée.
                    </p>


                    <h3 class="mt-3">4.8 Modalités des contrôles administratifs</h3>
                    <h4 class="mb-2">Création de Profil DDETS, DREETS</h4>
                    <p>
                        Sur invitation envoyée par le GIP Plateforme de l'inclusion, le premier profil
                        reçoit un mail contenant un lien d'invitation. Les adresses e-mails sont
                        communiquées par la DGEFP. Ce premier membre sera désigné
                        "administrateur" peut inviter d'autres membres. Chaque organisation décide par
                        la suite de la qualité d'administrateur des membres invités.
                    </p>

                    <h4 class="mb-2">
                        Soumission des bilans d'exécution de la convention pour la promotion de l'emploi
                        GEIQ
                    </h4>
                    <p>
                        Dans le cas des contrôles liés aux bilans d'exécution, les profils DDETS et
                        DREETS récupèrent les données saisies sur la plateforme de labellisation des GEIQ.
                        Ces données sont accessibles à la DDETS ou la DREETS compétente et relatives
                        à la période d'exercice du bilan d'exécution. Ils sélectionnent
                        les contrats qui leur permettraient de justifier de leur droit à l'aide à
                        l'accompagnement prévue dans la convention pour la promotion de l'emploi. La DDETS
                        étudie les données et informations transmises et détermine le montant
                        accordé.
                    </p>
                    <p>
                        En cas de désaccord, une notification préalable est transmise au GEIQ et il revient aux DDETS et DREETS de justifier leurs décisions administratives
                        conformément aux règles en vigueur.
                    </p>

                    <h4 class="mb-2">Contrôle a posteriori des auto-prescriptions réalisées par les SIAE</h4>
                    <p>
                        Conformément au code du travail, les DDETS peuvent effectuer un contrôle des
                        auto-prescriptions réalisées par les SIAE et des pièces justificatives
                        associées aux critères d'éligibilité IAE que l'employeur a
                        renseignés.
                    </p>
                    <p>
                        Les DDETS fournissent le taux de SIAE à contrôler dans un délai de 4 semaines au
                        GIP Plateforme de l'inclusion. Par la suite, une liste de SIAE leur est fournie, de manière
                        aléatoire. Les SIAE sélectionnées reçoivent une notification et doivent
                        répondre dans un délai de 6 semaines.
                    </p>
                    <p>
                        Pour chaque SIAE soumise au contrôle, la Plateforme sélectionne aléatoirement une liste des personnes recrutées en auto-prescription.
                        La structure dispose d'un délai de six semaines pour fournir les justificatifs associés aux critères administratifs
                        déclarés au moment de l'embauche. Cette liste devra respecter les paramètres
                        de contrôle nationaux (contrôle de 20% des recrutements en auto-prescription et entre 2 et
                        20 dossiers maximum). Certaines auto-prescriptions seront automatiquement justifiées grâce
                        à la certification automatique de certains critères administratifs, mise en place par le
                        GIP Plateforme de l'inclusion conformément au principe du "dites-le-nous une
                        fois" posé par <a class="has-external-link" rel="noreferrer" target="_blank" href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000045213315/2025-07-15/">l'article L.114-8 du code des relations entre le public et l'administration</a>.
                    </p>
                    <p>
                        Lorsque les éléments demandés ne sont pas fournis dans le délai
                        mentionné à l'alinéa précédent ou que les justificatifs transmis
                        ne sont pas de nature à établir le respect des exigences rappelées aux 1° et
                        2° de l'article <a class="has-external-link" rel="noreferrer" target="_blank" href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000043995999">R. 5132-1-12</a>, l'autorité administrative notifie à la structure les manquements constatés
                        et les mesures envisagées par tout moyen conférant date certaine à la
                        réception de ces éléments.
                    </p>
                    <p>
                        A réception de cette notification, la structure dispose d'un délai de six semaines
                        pour transmettre les justificatifs demandés et pour présenter ses observations sur les
                        Emplois.
                    </p>

                    <h3 class="mt-3">4.9 Utilisation des données et information des bénéficiaires</h3>
                    <p>
                        Chaque utilisateur est tenu d'intégrer des données exactes et à jour.
                        Lorsqu'une création de compte est réalisée par un tiers, le
                        bénéficiaire est informé et peut à tout moment, demander la clôture de
                        son compte s'il ne l'a pas demandé, s'il ne souhaite pas sa prise en charge et
                        qu'il n'a pas de PASS IAE ou d'accompagnement GEIQ en cours, ou le cas
                        échéant si l'ouverture de compte résulte d'une erreur.
                    </p>

                    <h2 class="mt-5">Article 5 - Responsabilités</h2>
                    <h3 class="mt-3">5.1 L'éditeur de la Plateforme</h3>
                    <p>
                        Les sources des informations diffusées sur la Plateforme sont réputées fiables
                        mais elles ne garantissent pas être exemptes de défauts, d'erreurs ou
                        d'omissions.
                    </p>
                    <p>
                        L'éditeur s'engage à la sécurisation de la Plateforme notamment en
                        prenant toutes les mesures nécessaires permettant de garantir la sécurité et la
                        confidentialité des informations fournies.
                    </p>
                    <p>
                        L'éditeur fournit les moyens nécessaires et raisonnables pour assurer un
                        accès continu à la Plateforme, sans contrepartie financière. Il se réserve
                        la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la
                        Plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.
                    </p>
                    <p>
                        La Plateforme peut mettre à disposition des liens pouvant orienter l'Utilisateur vers des
                        services numériques tiers.
                        <br>
                        Ces tiers sont les seuls responsables des contenus
                        publiés sur leurs services numériques. L'éditeur n'a aucun
                        contrôle sur le contenu de ces services numériques tiers, leurs contenus ne sauraient
                        engager la responsabilité de l'éditeur.
                    </p>
                    <p>
                        En cas de manquement à une ou plusieurs des stipulations des présentes CGU,
                        l'éditeur se réserve le droit de suspendre ou de supprimer les contenus et le compte
                        de l'Utilisateur responsable.
                    </p>

                    <h3 class="mt-3">
                        5.2 L'Utilisateur (Candidat, Prescripteur, Employeur inclusif, Institution partenaire, Orienteurs)
                    </h3>
                    <p>
                        L'Utilisateur, quel que soit son rôle sur la Plateforme, s'assure de garder son mot de passe secret. Celui-ci doit se conformer aux exigences de la CNIL. Toute divulgation du mot de passe, quelle
                        que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son
                        identifiant et mot de passe. Tout propos déplacé, injurieux, insultant ou discriminatoire
                        peut faire l'objet d'une suspension de compte ou de toute autre sanction
                        décidée par l'éditeur. Dans ce cas, le compte est notifié de la
                        sanction et des voies de recours dont il dispose pour la contester.
                    </p>
                    <p>
                        Toute information transmise par l'Utilisateur est de sa seule responsabilité. Il est
                        rappelé que toute personne procédant à une fausse déclaration pour
                        elle-même ou pour autrui s'expose, notamment, aux sanctions prévues à
                        l'article 441-1 du code pénal, prévoyant des peines pouvant aller
                        jusqu'à trois ans d'emprisonnement et 45 000 euros d'amende.
                    </p>
                    <p>
                        L'Utilisateur s'engage à ne pas mettre en ligne de contenus ou informations contraires
                        aux dispositions légales et réglementaires en vigueur.
                    </p>
                    <p>
                        Le Prescripteur, l'Employeur inclusif et l'Institution partenaire sont tenus
                        d'utiliser une adresse mail professionnelle lorsqu'ils utilisent les Services de la
                        Plateforme.
                    </p>


                    <h2 class="mt-5">Article 6 - Mise à jour des conditions générales d'utilisation</h2>
                    <p>
                        Les termes des présentes CGU peuvent être amendés à tout moment, en fonction
                        des modifications apportées à la Plateforme, de l'évolution de la
                        législation ou pour tout autre motif jugé nécessaire. Chaque modification donne
                        lieu à une nouvelle version qui est acceptée par les parties.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
