
{% extends "layout/base.html" %}

{% block title %}Conditions d’utilisation des emplois de l’inclusion {{ block.super }}{% endblock %}

{% block content_title %}
    <h1 id="conditions-générales-dutilisation">Conditions Générales d&#39;Utilisation</h1>
    <h2 class="mt-3 mt-lg-5 h3">
        Les présentes conditions générales d’utilisation (dites « CGU ») définissent les conditions d’accès et d’utilisation des Services par l’Utilisateur.
    </h2>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <h2 id="article-1---champ-dapplication">Article 1 - Champ d’application</h2>
                    <p>
                        Le site des emplois de l&#39;inclusion est d’accès libre et gratuit à tout Utilisateur. La simple visite des emplois de l&#39;inclusion suppose l’acceptation par tout Utilisateur des présentes conditions générales d’utilisation.
                    </p>

                    <h2 class="mt-3 mt-lg-5" id="article-2---objet">Article 2 - Objet</h2>
                    <p>
                        Le site les emplois de l&#39;inclusion a pour objectif de proposer une solution numérique intégrée permettant de faciliter l’entrée dans l’emploi en centralisant un registre de l’offre, de proposer aux recruteurs la réception de candidatures en provenance de prescripteurs ou de candidat eux-mêmes, et de réduire la charge administrative, notamment celle induite par l&#39;entrée en parcours d&#39;insertion.
                    </p>

                    <h2 class="mt-3 mt-lg-5" id="article-3--définitions">Article 3 – Définitions</h2>
                    <p>
                        « L’Utilisateur » est la personne physique utilisatrice des emplois de l&#39;inclusion, quel que soit son rôle : Candidat, Prescripteur, Employeur solidaire ou Institution partenaire.
                    </p>
                    <p>
                        Le « Profil » ou « Espace personnel » est le compte créé directement ou indirectement par un Utilisateur dans le but de bénéficier des Services offerts par le site des emplois de l&#39;inclusion.
                    </p>
                    <p>
                        Les « Services » sont les moyens offerts par les emplois de l&#39;inclusion pour que chaque acteur de l’insertion professionnelle, (Candidat, Prescripteur, Employeur solidaire et Institution partenaire) puisse jouer le rôle qui est le sien dans le parcours d’insertion.
                    </p>
                    <p>
                        « Le Candidat » est la personne physique candidate, chercheur d’emploi solidaire, bénéficiant d’un accompagnement renforcé, facilitant l’insertion professionnelle au travers de structures de l’inclusion.
                    </p>
                    <p>
                        « Le Prescripteur » est la personne qui, à la suite d’un diagnostic sur l’éligibilité de l’Utilisateur, établit qu’elle puisse bénéficier des Services offerts par les emplois de l&#39;inclusion visant à faciliter l’insertion professionnelle au travers de structures de l’inclusion. Il s’agit d’un participant au service public pour l’emploi au sens des articles L.5311-1 à L.5311-6 du Code du travail.
                    </p>
                    <p>
                        « L’Employeur solidaire » est la personne travaillant pour le compte de la structure professionnelle proposant des offres d’emploi pour des candidats éligibles par le biais des Services offerts par les emplois de l&#39;inclusion visant à faciliter l’insertion professionnelle au travers de structures de l’inclusion.
                    </p>

                    <h2 class="mt-3 mt-lg-5" id="article-4--fonctionnalités">Article 4- Fonctionnalités</h2>
                    <h3 id="41-création-de-lespace-personnel">4.1 Création de l’Espace personnel</h3>
                    <p>
                        En s’inscrivant aux Services réservés, l’Utilisateur s’engage à fournir des informations sincères et exactes permettant de créer son compte ou son Profil.
                    </p>
                    <p>
                        L’Utilisateur qui s’est inscrit directement sur le site « Les emplois de l’inclusion » devra ensuite s’identifier à l’aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription. Le mot de passe doit être choisi par l’utilisateur de façon à ce qu’il ne puisse être deviné par un tiers. Cette information doit être sécurisée, conservée et non-cédée.
                    </p>
                    <p>
                        L’Utilisateur qui s’inscrit directement sur le site « Les emplois de l’inclusion » doit renseigner sa situation et indiquer son NIR ou son numéro de SIRET ou le numéro SIREN de sa structure.
                    </p>
                    <p>
                        Pour accéder aux Services, l’Utilisateur peut s’inscrire ou se connecter via d’autres plateformes numériques que l’on retrouve sur le site « Les emplois de l’inclusion ». L’Utilisateur peut s’inscrire ou se connecter via « France Connect », via « France Travail » en renseignant son nom d’utilisateur ou son code SAFIR ou via « Inclusion Connect » en renseignant son nom, prénom, adresse e-mail.
                    </p>
                    <h3 id="42-description-des-fonctionnalités-pour-le-candidat">4.2 Description des fonctionnalités pour le Candidat</h3>
                    <p>
                        L’Espace personnel du Candidat permet à celui-ci d’accéder aux Services offerts par les emplois de l&#39;inclusion dont les fonctionnalités sont les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe et de son identifiant;</li>
                        <li>Modification des informations relatives à son Profil;</li>
                        <li>Réalisation de démarche en ligne visant à postuler à des offres d’emploi;</li>
                        <li>Proposition	de solutions d’accompagnement par sms ou mail.</li>
                    </ul>
                    <p>
                        Lorsque son Profil a été créé de manière indirecte, c’est-à-dire par un Prescripteur, le Candidat est informé par voie électronique, selon les informations fournies par le Prescripteur.
                    </p>
                    <h4 id="modification-de-son-mot-de-passe-et-de-son-identifiant">
                        Modification de son mot de passe et de son identifiant
                    </h4>
                    <p>
                        Le mot de passe du Candidat peut être modifié en toutes circonstances par ce dernier et doit être choisi de façon à ce qu’il ne puisse pas permettre un accès non autorisé d’un tiers.
                    </p>
                    <p>
                        Lorsque le Profil du Candidat a été créé indirectement, le Prescripteur ayant créé le Profil est tenu de permettre au Candidat d’accéder à son compte. Le Candidat s’engage à en préserver la confidentialité et à avertir immédiatement l’opérateur du service de toute utilisation non autorisée de ces informations. Le service des emplois de l&#39;inclusion ne pourra être tenu pour responsable des dommages causés par l’utilisation du mot de passe par une personne non autorisée.
                    </p>
                    <h4 id="modification-des-informations-relatives-à-son-profil">Modification des informations relatives à son Profil</h4>
                    <p>
                        Le Candidat peut modifier les informations relatives à son Profil. La confirmation des modifications engage le Candidat sur l’exactitude des informations transmises.
                    </p>
                    <h4 id="réalisation-de-démarche-en-ligne-visant-à-postuler-à-des-offres-demploi">
                        Réalisation de démarche en ligne visant à postuler à des offres d’emploi
                    </h4>
                    <p>
                        Le Candidat pourra réaliser toute démarche visant à postuler à des offres d’emploi, seul ou accompagné d’un Prescripteur. Il s’engage, lorsqu’il postule à des offres d’emploi seul, à l’exactitude des informations transmises.
                    </p>
                    <p>
                        Il peut autoriser un Prescripteur à intervenir, lorsqu’il postule à une offre d’emploi. Cette autorisation est sa responsabilité. Le Candidat peut remplir toute information relative à son parcours professionnel ou à sa situation. Il peut s’agir de renseignements sur son parcours professionnel préalable à toute candidature d’emploi, ou de renseignements relatifs à l’emploi obtenu au travers des emplois de l&#39;inclusion.
                    </p>
                    <h4 id="proposition-de-solutions-daccompagnement-par-sms-ou-e-mail">
                        Proposition de solutions d’accompagnement par sms ou e-mail
                    </h4>
                    <p>
                        Le Candidat pourra se voir proposer des solutions d&#39;accompagnement via les partenaires locaux engagés dans l&#39;accompagnement des personnes en recherche d&#39;emploi.
                        <br>
                        Ces propositions seront transmises par SMS ou Mail.
                    </p>
                    <p>
                        Des questionnaires peuvent être adressés aux candidats. Les réponses aux questionnaires seront utilisées par les emplois de l&#39;inclusion et ses partenaires locaux pour proposer des solutions d&#39;accompagnement adaptées aux besoins des candidats.
                    </p>
                    <h3 id="43-description-des-fonctionnalités-pour-le-prescripteur">
                        4.3 Description des fonctionnalités pour le Prescripteur
                    </h3>
                    <p>
                        L’Espace personnel du Prescripteur permet à celui-ci d’accéder aux Services offerts pour lui par les emplois de l&#39;inclusion dont les fonctionnalités sont les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe et de son identifiant ;</li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>Remplir les critères relatifs à l’éligibilité des Profils Candidats ;</li>
                        <li>Aide à la réalisation de démarche en ligne par les Candidats visant à postuler à des offres d’emploi ;</li>
                        <li>
                            Création de Profil Candidat.
                            <br>
                            Lorsque son Profil a été créé de manière indirecte, le Prescripteur est informé par voie électronique, à l’adresse utilisée pour créer le compte de ladite création.
                        </li>
                    </ul>
                    <h4 id="modification-de-son-mot-de-passe-et-de-son-identifiant-1">
                        Modification de son mot de passe et de son identifiant
                    </h4>
                    <p>
                        Le mot de passe du Prescripteur peut être modifié en toutes circonstances par ce dernier et doit être choisi de façon à ce qu’il ne puisse pas permettre un accès non autorisé d’un tiers. Le Prescripteur s’engage à en préserver la confidentialité et à avertir immédiatement l’opérateur du service de toute utilisation non autorisée de ces informations. Le service des emplois de l&#39;inclusion ne pourra être tenue pour responsable des dommages causés par l’utilisation du mot de passe par une personne non autorisée.
                    </p>
                    <h4 id="modification-des-informations-relatives-à-son-profil-1">
                        Modification des informations relatives à son Profil
                    </h4>
                    <p>
                        Le Prescripteur peut modifier les informations relatives à son Profil. La confirmation des modifications engage le Prescripteur sur l’exactitude des informations transmises.
                    </p>
                    <h4 id="remplir-les-critères-relatifs-à-léligibilité-des-profils-candidats">
                        Remplir les critères relatifs à l’éligibilité des Profils Candidats
                    </h4>
                    <p>
                        Le Prescripteur pourra remplir les critères relatifs à l’éligibilité des Profils Candidats dont il a la charge. Le Prescripteur s’engage à l’exactitude des informations transmises au regard de l’éligibilité des Profils Candidats. Sur signalement, l’opérateur peut révoquer une autorisation et supprimer tout Profil contrevenant aux présentes conditions générales d’utilisation.
                    </p>
                    <h4 id="aide-à-la-réalisation-de-démarche-en-ligne-par-les-candidats-visant-à-postuler-à-des-offres-demploi">
                        Aide à la réalisation de démarche en ligne par les Candidats visant à postuler à des offres d’emploi
                    </h4>
                    <p>
                        Le Prescripteur pourra contribuer à toute démarche en ligne par les Candidats visant à postuler à des offres d’emploi, après autorisation de l’Utilisateur. Chaque modification effectuée par le Prescripteur sur le Profil Candidat sera notifiée au Candidat.
                    </p>
                    <h4 id="création-de-profil-candidat">Création de Profil Candidat</h4>
                    <p>
                        Le Prescripteur peut créer un Profil Candidat. Il s’engage à ce que les informations relatives au Candidat dont le Profil est créé soient exactes. Chaque création de Profil Candidat sera notifiée au Candidat correspondant sur l’adresse e-mail renseignée. Le Prescripteur ne peut plus modifier le Profil une fois la notification envoyée, sauf en ce qui concerne le critère d’éligibilité.
                    </p>
                    <h3 id="44-description-des-fonctionnalités-pour-lemployeur-solidaire">
                        4.4 Description des fonctionnalités pour l&#39;Employeur solidaire
                    </h3>
                    <p>
                        L’Espace personnel de l&#39;Employeur solidaire permet à celui-ci d’accéder aux Services offerts pour lui par les emplois de l&#39;inclusion dont les fonctionnalités sont les suivantes :
                    </p>
                    <ul>
                        <li>Modification de son mot de passe et de son identifiant ;</li>
                        <li>Modification des informations relatives à son Profil ;</li>
                        <li>Proposer des offres d’emploi et répondre aux candidatures ;</li>
                        <li>Remplir les critères relatifs à l’éligibilité des Profils Candidats ;</li>
                        <li>Renseigner les informations relatives aux contrats des Candidats devenus salariés en leur sein ;</li>
                        <li>
                            Création de Profil Candidat.
                            <br>
                            Lorsque son Profil a été créé de manière indirecte, l&#39;Employeur solidaire est informé par voie électronique, à l’adresse utilisée pour créer le compte de ladite création.
                        </li>
                    </ul>
                    <h4 id="modification-de-son-mot-de-passe-et-de-son-identifiant-2">
                        Modification de son mot de passe et de son identifiant
                    </h4>
                    <p>
                        Le mot de passe de l&#39;Employeur solidaire peut être modifié en toutes circonstances par ce dernier et doit être choisi de façon à ce qu’il ne puisse pas permettre un accès non autorisé d’un tiers. L&#39;Employeur solidaire s’engage à en préserver la confidentialité et à avertir immédiatement l’opérateur du service de toute utilisation non autorisée de ces informations. Le site des emplois de l&#39;inclusion ne pourra être tenue pour responsable des dommages causés par l’utilisation du mot de passe par une personne non autorisée.
                    </p>
                    <h4 id="modification-des-informations-relatives-à-son-profil-2">
                        Modification des informations relatives à son Profil
                    </h4>
                    <p>
                        L&#39;Employeur solidaire peut modifier les informations relatives à son Profil. La confirmation des modifications engage l&#39;Employeur solidaire sur l’exactitude des informations transmises.
                    </p>
                    <h4 id="proposer-des-offres-demploi-et-répondre-aux-candidatures">
                        Proposer des offres d’emploi et répondre aux candidatures
                    </h4>
                    <p>
                        L’Employeur solidaire peut proposer aux Candidats des offres d’emplois répondant aux critères du dispositif d&#39;inclusion dans lequel il s&#39;inscrit. L’Employeur solidaire peut également répondre et gérer les candidatures des Candidats répondant à ses offres. Chaque réponse de l’Employeur solidaire à une candidature ou modification du statut de la candidature sera notifiée au Candidat.
                    </p>
                    <h4 id="remplir-les-critères-relatifs-à-léligibilité-des-profils-candidats-1">
                        Remplir les critères relatifs à l’éligibilité des Profils Candidats
                    </h4>
                    <p>
                        L&#39;Employeur solidaire pourra remplir les critères relatifs à l’éligibilité des Profils Candidats dont il a la charge. L&#39;Employeur solidaire s’engage à l’exactitude des informations transmises au regard de l’éligibilité des Profils Candidats. Sur signalement, l’opérateur peut révoquer une autorisation et supprimer tout Profil contrevenant aux présentes conditions générales d’utilisation.
                    </p>
                    <h4 id="renseigner-les-informations-relatives-aux-contrats-des-candidats-devenus-salariés-en-leur-sein">
                        Renseigner les informations relatives aux contrats des Candidats devenus salariés en leur sein
                    </h4>
                    <p>L’Employeur solidaire peut renseigner les informations relatives aux contrats des Candidats devenus salariés.</p>
                    <h4 id="création-de-profil-candidat-1">Création de Profil Candidat</h4>
                    <p>
                        L&#39;Employeur solidaire peut créer un Profil Candidat. Il s’engage à ce que les informations relatives au Candidat dont le Profil est créé soient exactes. Chaque création de Profil Candidat sera notifiée au Candidat correspondant sur l’adresse e-mail renseignée. L&#39;Employeur solidaire ne peut plus modifier le Profil une fois la notification envoyée, sauf en ce qui concerne le critère d’éligibilité.
                    </p>
                    <h3 id="45-suspension-ou-suppression-de-lespace-personnel">4.5 Suspension ou Suppression de l’Espace personnel</h3>
                    <p>
                        Tout Utilisateur membre régulièrement inscrit pourra solliciter sa désinscription en se rendant à la page dédiée sur son Espace personnel ou en <a href="mailto:assistance@inclusion.beta.gouv.fr">nous contactant</a>. Celle-ci sera effective dans un délai raisonnable.
                    </p>
                    <p>
                        L’éditeur se réserve la possibilité de supprimer ou suspendre pour une période donnée l’accès au service des emplois de l&#39;inclusion pour un utilisateur, en cas de violation des présentes règles d’utilisation ou s’il estime que l’usage du site porte préjudice à son image ou ne correspond pas aux exigences de sécurité.
                    </p>
                    <h2 class="mt-3 mt-lg-5" id="article-5---responsabilités">Article 5 - Responsabilités</h2>
                    <h3 id="51-léditeur-des-emplois-de-linclusion">5.1 L’éditeur des &quot;emplois de l&#39;inclusion »</h3>
                    <p>
                        Les sources des informations diffusées sur les emplois de l&#39;inclusion sont réputées fiables mais le site ne garantit pas d’être exempt de défauts, d’erreurs ou d’omissions.
                    </p>
                    <p>
                        Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement des emplois de l&#39;inclusion et sous réserve de toute interruption ou modification en cas de maintenance, n&#39;engage pas la responsabilité des &quot;emplois de l&#39;inclusion ».
                    </p>
                    <p>L’éditeur s’engage à mettre en œuvre toutes mesures appropriées, afin de protéger les données traitées.</p>
                    <p>
                        L’éditeur s’engage à la sécurisation des emplois de l&#39;inclusion, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.
                    </p>
                    <p>
                        L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu aux emplois de l&#39;inclusion, sans contrepartie financière. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, les emplois de l&#39;inclusion pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.
                    </p>
                    <p>
                        Ce site peut mettre à disposition des liens pouvant orienter l’utilisateur vers des sites réalisés par des tiers extérieurs.
                        <br>
                        Ces tiers sont les seuls responsables du contenu publié par leur soin. L’équipe n’a aucun contrôle sur le contenu de ces sites, ces contenus ne sauraient engager la responsabilité de l’administration.
                    </p>
                    <h3 id="52-le-candidat">5.2 Le Candidat</h3>
                    <p>
                        Le Candidat s&#39;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l&#39;utilisation de son identifiant et mot de passe.
                    </p>
                    <p>
                        Toute information transmise par le Candidat est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
                    </p>
                    <p>
                        Le Candidat s&#39;engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.
                        <br>
                        Le contenu du Candidat peut être, à tout moment et pour n&#39;importe quelle raison, supprimé ou modifié par le site, sans préavis.
                    </p>
                    <h3 id="53-le-prescripteur">5.3 Le Prescripteur</h3>
                    <p>
                        Le Prescripteur s&#39;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il s’engage à ce que seuls les salariés autorisés aient accès au compte et aux informations contenues dans celui-ci. Il assume les risques liés à l&#39;utilisation de son identifiant et mot de passe.
                    </p>
                    <p>Le Prescripteur est tenu d’utiliser son mail professionnel lorsqu’il est sur les emplois de l&#39;inclusion.</p>
                    <p>
                        Toute information transmise par le Prescripteur est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
                    </p>
                    <p>
                        Le Prescripteur s&#39;engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. Le contenu du Prescripteur peut être à tout moment et pour n&#39;importe quelle raison supprimé ou modifié par le site, sans préavis.
                    </p>
                    <h3 id="54-lemployeur-solidaire">5.4 L’Employeur solidaire</h3>
                    <p>
                        L’Employeur solidaire s&#39;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il s’engage à ce que seuls les salariés autorisés aient accès au compte et aux informations contenues dans celui-ci. Il assume les risques liés à l&#39;utilisation de son identifiant et mot de passe.
                    </p>
                    <p>
                        L’Employeur solidaire est tenu d’utiliser son mail professionnel lorsqu’il est sur les emplois de l&#39;inclusion.
                    </p>
                    <p>
                        Toute information transmise par l’Employeur solidaire est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
                    </p>
                    <p>
                        L’Employeur solidaire s&#39;engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. Le contenu de l’Employeur solidaire peut être à tout moment et pour n&#39;importe quelle raison supprimé ou modifié par le site, sans préavis.
                    </p>
                    <h3 id="55-linstitution-partenaire">5.5. L’Institution partenaire</h3>
                    <p>
                        L’Institution partenaire s&#39;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Elle s’engage à ce que seuls les salariés autorisés aient accès au compte et aux informations contenues dans celui-ci. Elle assume les risques liés à l&#39;utilisation de son identifiant et mot de passe.
                    </p>
                    <p>
                        L’Institution partenaire est tenue d’utiliser son mail professionnel lorsqu’elle est sur les emplois de l&#39;inclusion.
                    </p>
                    <p>
                        Toute information transmise par l’Institution partenaire est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
                    </p>
                    <p>
                        L’Institution partenaire s&#39;engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. Le contenu de l’Institution partenaire peut être à tout moment et pour n&#39;importe quelle raison supprimé ou modifié par le site, sans préavis.
                    </p>

                    <h2 class="mt-3 mt-lg-5" id="article-6---mise-à-jour-des-conditions-dutilisation">
                        Article 6 - Mise à jour des conditions d’utilisation
                    </h2>
                    <p>
                        Les termes des CGU doivent être acceptés au moment de la connexion. Toute modification des CGU réalisée en fonction des modifications apportées au site, de l’évolution de la législation ou pour tout autre motif jugé nécessaire, nécessite votre consentement.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
