{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block submit_buttons_bottom %}

    {% if authorization_validation_required %}
    <div class="submit-row">
        <input class="danger" type="submit" value="{% trans "Refuser l'habilitation" %}"
               name="_authorization_action_refuse">
        <input class="default" type="submit" value="{% trans "Valider l'habilitation" %}" name="_authorization_action_validate">
    </div>
    {% endif %}

    {{ block.super }}
{% endblock %}