# For Docker Compose
#DJANGO_PORT_ON_DOCKER_HOST=8000
#POSTGRES_PORT_ON_DOCKER_HOST=5432
#MINIO_PORT_ON_DOCKER_HOST=9000
#MINIO_ADMIN_PORT_ON_DOCKER_HOST=9001

PGHOST=localhost
PGUSER=postgres
PGPASSWORD=password

API_BAN_BASE_URL="https://api-adresse.data.gouv.fr"
REDIS_URL=redis://127.0.0.1:6379

# Needed for the ./scripts/restore_latest_backup.sh script.
# Path to your local itou-backups repository.
PATH_TO_ITOU_BACKUPS=set_me
