[MASTER]
load-plugins = pylint_django
django-settings-module = config.settings.dev

[MESSAGES CONTROL]
disable =
	arguments-differ,
	duplicate-code,
	invalid-name,
	missing-docstring,
	no-member,
	too-few-public-methods,
	too-many-lines

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=119
