version: "3.7"

services:

  # https://github.com/appropriate/docker-postgis
  # https://hub.docker.com/r/mdillon/postgis/tags
  postgres:
    container_name: itou_postgres
    env_file:
      - ./envs/dev.env
    build:
      context: .
      dockerfile: ./docker/dev/postgres/Dockerfile
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - postgres_data_backups:/backups
      - ./docker/dev/postgres/psql_init.sh:/docker-entrypoint-initdb.d/postgres-init.sh
    restart: always
    ports:
      - "${POSTGRES_PORT_ON_DOCKER_HOST:-5432}:5432"

  django:
    container_name: itou_django
    env_file:
      - ./envs/dev.env
      - ./envs/secrets.env
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: ./docker/dev/django/Dockerfile
    volumes:
      # Mount the current directory into `/app` inside the running container.
      - .:/app
    restart: always
    ports:
      - "${DJANGO_PORT_ON_DOCKER_HOST:-8080}:8080"

volumes:
  postgres_data:
  postgres_data_backups:
