version: "3.7"

services:

  # https://github.com/appropriate/docker-postgis
  # https://hub.docker.com/r/mdillon/postgis/tags
  postgres:
    container_name: itou_postgres
    environment:
      # Required by the "_/postgres" image used by "postgis/postgis"
      # https://registry.hub.docker.com/_/postgres/
      - POSTGRES_PASSWORD=password
      # Avoid a log error when starting the itou_postgres container:
      # > Role "root" does not exist.
      # Without this variable, the default Unix account ('root')
      # is used automatically when starting postgres.
      # https://www.postgresql.org/docs/current/libpq-envars.html
      - PGUSER=postgres
      - PGPASSWORD=password
      # Set the name of the database, this used by the scripts we add to the image (ie. psql_init.sh, backup, ...)
      - ITOU_POSTGRES_DATABASE_NAME=itou
    # The default memory setting (64M) is not enough anymore due to the size of the database we import
    # https://stackoverflow.com/questions/56839975/docker-shm-size-dev-shm-resizing-shared-memory
    shm_size: 1g
    build:
      context: .
      dockerfile: ./docker/dev/postgres/Dockerfile
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - postgres_data_backups:/backups
      - ./docker/dev/postgres/psql_init.sh:/docker-entrypoint-initdb.d/postgres-init.sh
    restart: always
    ports:
      - "${POSTGRES_PORT_ON_DOCKER_HOST:-5432}:5432"

  django:
    container_name: itou_django
    environment:
      - PGHOST=postgres
      - PGUSER=postgres
      - PGPASSWORD=password
      - PYTHONPATH=.
      - DJANGO_SETTINGS_MODULE=config.settings.dev
      - ITOU_LOG_LEVEL=DEBUG
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: ./docker/dev/django/Dockerfile
    volumes:
      # Mount the current directory into `/app` inside the running container.
      - .:/app
    restart: always
    ports:
      - "${DJANGO_PORT_ON_DOCKER_HOST:-8000}:8000"

volumes:
  postgres_data:
  postgres_data_backups:
