{% load str_filters %}

{% if request.user.is_employer %}
    {% if hire_process %}
        {% if job_seeker %}
            Déclarer l’embauche de {{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}
        {% else %}
            Déclarer une embauche
        {% endif %}
    {% else %}
        Enregistrer une candidature
        {% if job_seeker %}pour {{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}{% endif %}
    {% endif %}
{% elif request.user.is_prescriber %}
    Postuler
    {% if job_seeker %}pour {{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}{% endif %}
{% elif request.user.is_job_seeker %}
    Postuler
{% endif %}
