{% load matomo %}
{% include "apply/includes/job_application_accept_form.html" %}

<div class="modal" id="js-confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="confirmation-modal-label">Confirmation de l’embauche</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p>
                    Êtes-vous sûr(e) de vouloir confirmer l’embauche de <strong>{{ job_seeker.get_full_name }}</strong> dans la structure suivante ?
                </p>
                {% include "companies/includes/_company_info.html" with company=siae extra_box_class="mb-3 mb-lg-5" open_in_tab=True only %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal">Retour</button>
                <button class="btn btn-sm btn-primary" hx-post={{ request.path }} hx-vals='{"confirmed": "True"}' hx-include="#acceptForm" {% matomo_event "candidature" "submit" "accept_application_confirmation" %}>Confirmer
                </button>
            </div>
        </div>
    </div>
</div>
