{% if siae.is_subject_to_eligibility_rules or request.user.is_prescriber %}
    {% if eligibility_diagnosis and eligibility_diagnosis.is_considered_valid %}
        <hr class="my-4">
        <h3>{{ is_sent_by_authorized_prescriber|yesno:"Éligibilité à l'IAE,Critères d'éligibilité" }}</h3>
        <p class="text-success">
            {{ is_sent_by_authorized_prescriber|yesno:"Confirmée,Validés" }}
            le <span class="fw-bold">{{ eligibility_diagnosis.created_at|date:"d/m/Y" }}</span> par
            <strong>{{ eligibility_diagnosis.author.get_full_name }}</strong>
            {% if eligibility_diagnosis.author_siae %}({{ eligibility_diagnosis.author_siae.display_name }}){% endif %}
            {% if eligibility_diagnosis.author_prescriber_organization %}
                ({{ eligibility_diagnosis.author_prescriber_organization.display_name }})
            {% endif %}
            .
        </p>
        <p class="fs-sm">
            <i>Ces critères reflètent la situation du candidat lors de l’établissement du diagnostic ayant permis la délivrance d’un PASS IAE, elle a peut-être changé depuis cette date.</i>
        </p>

        {% if eligibility_diagnosis.criteria_display %}
            {% with eligibility_diagnosis.criteria_display as selected_administrative_criteria %}
                <p>
                    <span class="badge badge-sm rounded-pill bg-secondary">
                        {% if is_sent_by_authorized_prescriber %}
                            Situation administrative du candidat
                        {% else %}
                            Critères administratifs
                        {% endif %}
                    </span>
                </p>
                {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/#regroup #}
                {% regroup selected_administrative_criteria|dictsort:"administrative_criteria.level" by administrative_criteria.get_level_display as levels_list %}
                <ul>
                    {% for level, criteria in levels_list %}
                        {% comment %}
                        Les candidatures envoyées par des prescripteurs habilités ne sont pas affichées de manière
                        hiérarchisée afin de ne pas induire les employeurs en erreur.
                        Avec des critères hiérarchisés, ils ont tendance à penser que le candidat n'est pas éligible car pas suffisamment de critères de niveau 2 par exemple.
                        {% endcomment %}
                        {% if not is_sent_by_authorized_prescriber %}
                            <li>
                                <span class="fw-bold">{{ level }}</span>
                                <ul>
                                {% endif %}
                                {% for criterion in criteria %}
                                    {% include "apply/includes/selected_administrative_criteria_display.html" with diagnosis=eligibility_diagnosis criterion=criterion %}
                                {% endfor %}
                                {% if not is_sent_by_authorized_prescriber %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endwith %}
        {% endif %}

        {% include "apply/includes/certification_info_box.html" with diagnosis=eligibility_diagnosis %}

        <p>
            <i>
                {% if is_sent_by_authorized_prescriber %}
                    Ce diagnostic est valide du {{ eligibility_diagnosis.created_at|date:"d/m/Y" }} au
                    {{ eligibility_diagnosis.considered_to_expire_at|date:"d/m/Y" }}.
                {% else %}
                    Ce diagnostic expire le
                    {{ eligibility_diagnosis.considered_to_expire_at|date:"d/m/Y" }}.
                {% endif %}
            </i>
        </p>

    {% elif job_seeker.latest_pe_approval and job_seeker.latest_pe_approval.is_valid %}
        <hr class="my-4">
        <h3>Critères d'éligibilité</h3>
        <p>
            Validés par <span class="fw-bold">France Travail</span>.
        </p>

    {% elif expired_eligibility_diagnosis %}
        <hr class="my-4">
        <h3>Éligibilité à l'IAE</h3>
        <p class="mb-0">
            Le diagnostic d'éligibilité IAE de ce candidat a expiré le {{ expired_eligibility_diagnosis.considered_to_expire_at|date:"d/m/Y" }}, vous devez valider les critères d'éligibilité pour accepter sa candidature.
        </p>
    {% endif %}

{% endif %}
