{% load i18n %}
{% load bootstrap4 %}

<ul class="list-group list-group-horizontal mt-sm-5 mb-sm-0">
    <li class="list-group-item border-0 pl-0">
        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#filtersModal">
          {% trans "Filtres" %}
        </button>
    </li>
    {% for filter in filters %}
        <li class="list-group-item border-0 pl-0 pt-3">
            <span class="badge badge-light align-middle">{{ filter.label }} : {{ filter.value }}</span>
        </li>
    {% endfor %}
</ul>

<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="get" action="">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Filtres" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Fermer' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="mt-4">{% trans "Date de candidature" %}</h5>
                    {% bootstrap_field filters_form.start_date form_group_class="form_group m-3" %}
                    {% bootstrap_field filters_form.end_date form_group_class="form_group m-3" %}

                    <h5 class="mt-4">{% trans "Statut" %}</h5>
                      {% for choice in filters_form.states %}
                      <div class="form-check form-check-inline dropdown-item">
                          <input id="{{ choice.id_for_label }}" class="form-check-input" name="{{ choice.data.name }}" type="checkbox" value="{{ choice.data.value }}" {% if choice.data.selected %}checked=""{% endif %}>
                          <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label>
                      </div>
                      {% endfor %}

                    {% if filters_form.sender %}
                        <h5 class="mt-4">{% trans "Emetteur" %}</h5>
                          {% bootstrap_field filters_form.sender form_group_class="form_group m-3" %}
                    {% endif %}

                    {% if filters_form.sender_organization %}
                          {% bootstrap_field filters_form.sender_organization form_group_class="form_group m-3" %}
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Fermer" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Appliquer" %}</button>
                </div>
            </form>
        </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
</div> <!-- .modal -->
