{% load str_filters %}

<ul class="list-data list-data__two-column-md mb-3">
    {% if request.user.is_prescriber or request.user.is_job_seeker %}
        <li>
            <small>Employeur</small>
            <strong>{{ job_application.to_company.display_name }}</strong>
        </li>
    {% endif %}
</ul>

{% if job_application.message %}
    <ul class="list-data mb-3">
        <li>
            <small>Message de candidature</small>
            <blockquote class="blockquote mt-2 mb-0">
                {{ job_application.message|linebreaks }}
            </blockquote>
        </li>
    </ul>
{% endif %}

{% with jobs=job_application.selected_jobs.all %}
    <span class="d-block fs-sm">
        {% if jobs %}{{ jobs|length }}{% endif %}
    Poste{{ jobs|pluralizefr }} recherché{{ jobs|pluralizefr }}</span>
    <ul class="list-group list-group-flush">
        {% for job in jobs %}
            <li class="list-group-item list-group-item-action py-2">
                <a class="d-flex flex-wrap align-items-center text-decoration-none" href="{{ job.get_absolute_url }}?back_url={{ request.get_full_path|urlencode }}">
                    <div class="d-inline">
                        <span class="font-weight-bold me-1 me-md-2">{{ job.display_name }} ({{ job.appellation.rome_id }})</span>
                    </div>
                    <div class="d-inline ms-lg-auto">
                        <span class="fs-sm text-nowrap">
                            <i class="ri-map-pin-2-line ri-sm"></i>
                            {% if job.location %}
                                {{ job.location }}
                            {% else %}
                                {{ job.company.city|title }} ({{ job.company.department }})
                            {% endif %}
                        </span>
                    </div>
                </a>
            </li>
        {% empty %}
            <li class="list-group-item list-group-item-action">
                <b>Candidature spontanée</b>
            </li>
        {% endfor %}
    </ul>
{% endwith %}
