{% load format_filters %}
<ul>
    <li>
        Prénom : <b>{{ job_application.sender.first_name|title }}</b>
    </li>

    <li>
        Nom : <b>{{ job_application.sender.last_name|upper }}</b>
    </li>

    <li>
        Type : <b>{{ job_application.get_sender_kind_display }}</b>
    </li>

    <li>
        Adresse e-mail : <a href="mailto:{{ job_application.sender.email }}">{{ job_application.sender.email }}</a>
    </li>

    {% if job_application.sender_prescriber_organization %}
        <li>
            Structure :
            <b>{{ job_application.sender_prescriber_organization.display_name }}</b>
            {% if job_application.is_sent_by_authorized_prescriber %}
                <span class="badge rounded-pill bg-warning">Prescripteur habilité</span>
            {% endif %}
        </li>
    {% endif %}

    {% if job_application.sender_company %}
        <li>
            Employeur solidaire :
            <b>{{ job_application.sender_company.display_name }}</b>
        </li>
    {% endif %}

    {% if job_application.sender.phone and not request.user.is_job_seeker %}
        <li>
            Téléphone :
            <a href="tel:{{ job_application.sender.phone|cut:" " }}">{{ job_application.sender.phone|format_phone }}</a>
        </li>
    {% endif %}
</ul>
