{% load format_filters %}
{% load str_filters %}
<ul>
    <li>
        Prénom : <b>{{ job_application.job_seeker.first_name|mask_unless:can_view_personal_information }}</b>
    </li>
    <li>
        Nom : <b>{{ job_application.job_seeker.last_name|mask_unless:can_view_personal_information }}</b>
    </li>
    <li>
        Numéro de sécurité sociale : 
        {% if job_application.job_seeker.nir %}
            <b>{{ job_application.job_seeker.nir|format_nir }}</b>
        {% else %}
            <span>Non renseigné</span>
        {% endif %}
    </li>
    {% if can_view_personal_information %}
        <li>
            Date de naissance : <b>{{ job_application.job_seeker.birthdate|date:"d/m/Y" }}</b>
        </li>
        <li>
            E-mail : <a href="mailto:{{ job_application.job_seeker.email }}">{{ job_application.job_seeker.email }}</a>
        </li>

        <li>
            Téléphone : 
            {% if job_application.job_seeker.phone %}
                <a href="tel:{{ job_application.job_seeker.phone }}">{{ job_application.job_seeker.phone|format_phone }}</a>
            {% else %}
                <span>Non renseigné</span>
            {% endif %}
        </li>

        <li>
            Adresse : 
            {% if job_application.job_seeker.address_on_one_line %}
                <b>{{ job_application.job_seeker.address_on_one_line }}</b>
            {% else %}
                <span>Non renseignée</span>
            {% endif %}
        </li>

        <li>
            Identifiant Pôle emploi : 
            {% if job_application.job_seeker.pole_emploi_id %}
                <b>{{ job_application.job_seeker.pole_emploi_id }}</b>
            {% else %}
                <span>Non renseigné</span>
            {% endif %}
        </li>

        <li>
            CV : 
            {% if job_application.get_resume_link %}
                <a href="{{ job_application.get_resume_link }}">Télécharger le CV</a>
            {% else %}
                <span>Non renseigné</span>
            {% endif %}
        </li>
    {% endif %}
</ul>
{% if job_application.has_editable_job_seeker %}
    <p>
        {% if with_matomo_event %}
            <a href="{% url 'dashboard:edit_job_seeker_info' job_application_id=job_application.pk %}?back_url={{ request.get_full_path|urlencode }}"
               class="btn btn-outline-primary matomo-event"
               data-matomo-category="salaries"
               data-matomo-action="clic"
               data-matomo-option="modfifier-les-informations-personnelles">
                Modifier les informations personnelles
            </a>
        {% else %}
            <a href="{% url 'dashboard:edit_job_seeker_info' job_application_id=job_application.pk %}?back_url={{ request.get_full_path|urlencode }}" class="btn btn-outline-primary">
                Modifier les informations personnelles
            </a>
        {% endif %}
    </p>
{% else %}
    <p>Ce candidat a pris le contrôle de son compte utilisateur. Vous ne pouvez pas modifier ses informations.</p>
{% endif %}
