{% load format_filters %}
{% load matomo %}

<ul class="list-data list-data__two-column-md mb-3">
    <li>
        <small>Émetteur</small>
        <strong>{{ job_application.sender.first_name|title }} {{ job_application.sender.last_name|upper }}</strong>
    </li>
    <li>
        <small>Type</small>
        <strong>{{ job_application.get_sender_kind_display }}</strong>
    </li>
    <li>
        <small>Adresse e-mail</small>
        {% if request.user.is_job_seeker and job_application.sender_kind != SenderKind.JOB_SEEKER %}
            <strong>Non communiquée</strong>
        {% else %}
            <strong>{{ job_application.sender.email }}</strong>
            {% matomo_event "candidature" "clic" "copied_sender_email" as matomo_event_attrs %}
            {% include 'includes/copy_to_clipboard.html' with content=job_application.sender.email css_classes="btn-link" matomo_event_attrs=matomo_event_attrs only_icon=True %}
        {% endif %}
    </li>

    {% if job_application.sender_prescriber_organization %}
        <li>
            <small>Organisation</small>
            <strong>{{ job_application.sender_prescriber_organization.display_name }}</strong>
            {% if job_application.is_sent_by_authorized_prescriber %}
                <span class="badge badge-xs rounded-pill bg-warning">Prescripteur habilité</span>
            {% endif %}
        </li>
    {% endif %}

    {% if job_application.sender_company %}
        <li>
            <small>Organisation</small>
            <strong>{{ job_application.sender_company.display_name }}</strong>
        </li>
    {% endif %}

    {% if job_application.sender.phone and not request.user.is_job_seeker %}
        <li>
            <small>Téléphone</small>
            <strong>{{ job_application.sender.phone|format_phone }}</strong>
            {% matomo_event "candidature" "clic" "copied_sender_phone" as matomo_event_attrs %}
            {% include 'includes/copy_to_clipboard.html' with content=job_application.sender.phone|cut:" " css_classes="btn-link" matomo_event_attrs=matomo_event_attrs only_icon=True %}
        </li>
    {% endif %}
</ul>
