{% load django_bootstrap5 %}
{% load str_filters %}

<div class="c-form" id="formTarget">
    <form method="post" hx-post="{{ request.path }}" hx-swap="outerHTML show:#acceptForm:top" hx-target="#formTarget" class="js-format-nir" id="acceptForm">
        {% if has_form_error %}
            <div class="alert alert-danger">
                <p class="mb-0">Merci de corriger les erreurs ci-dessous</p>
            </div>
        {% endif %}

        {% csrf_token %}

        {% if form_address or form_personal_data %}<h2>Candidat</h2>{% endif %}

        {% if form_personal_data %}
            {% if form_personal_data.nir_error %}{{ form_personal_data.nir_error|safe }}{% endif %}

            {% bootstrap_form_errors form_personal_data type='non_fields' %}
            {% bootstrap_field form_personal_data.nir %}
            {% bootstrap_field form_personal_data.lack_of_nir %}
            {% bootstrap_field form_personal_data.lack_of_nir_reason form_group_class=form_personal_data.lack_of_nir_reason.field.form_group_class %}
            {% bootstrap_field form_personal_data.birthdate %}
            {% bootstrap_field form_personal_data.pole_emploi_id %}
            {% bootstrap_field form_personal_data.lack_of_pole_emploi_id_reason %}
        {% endif %}


        {% if form_user_address %}
            {% bootstrap_form form_user_address alert_error_type="all" %}
        {% endif %}

        <hr>
        <h2>Embauche</h2>
        {% bootstrap_form_errors form_accept type="non_fields" %}

        {# reloadable contract type and options for GEIQ #}
        {% if siae.kind == SiaeKind.GEIQ %}
            {% include "apply/includes/geiq/geiq_contract_type_and_options.html" %}
        {% endif %}

        {% bootstrap_field form_accept.hiring_start_at %}

        {# reloadable training and qualification for GEIQ #}
        {% if siae.kind == SiaeKind.GEIQ %}
            {% include "apply/includes/geiq/geiq_qualification_fields.html" %}
        {% endif %}

        {% bootstrap_field form_accept.hiring_end_at %}
        {% bootstrap_field form_accept.answer %}

        <div class="form-group">
            <hr>
            <div class="form-row align-items-center justify-content-end">
                <div class="form-group mb-0 col-6 col-lg-auto">
                    <a class="btn btn-block btn-outline-primary" href="{{ back_url }}">Retour</a>
                </div>
                <div class="form-group mb-0 col-6 col-lg-auto">
                    <button class="btn btn-ico btn-block btn-primary" aria-label="Valider l’embauche de {{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}">
                        <i class="ri-check-line ri-xl"></i>
                        <span>Valider l’embauche</span>
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
