<div id="prior-action-{{ prior_action.pk }}">
    <div>
        Type : <b>{{ prior_action.action_kind }}</b>
    </div>
    <div>
        Nom : <b>{{ prior_action.get_action_display }}</b>
    </div>
    <div>
        Date de début : <b>{{ prior_action.dates.lower }}</b>
    </div>
    <div>
        Date de fin : <b>{{ prior_action.dates.upper }}</b>
    </div>
    {% if job_application.can_change_prior_actions %}
        <div class="my-3">
            {# Delete button with its confirmation modal #}
            <button class="btn btn-link" data-toggle="modal" data-target="#delete_prior_action_{{ prior_action.pk }}_modal">
                Supprimer
            </button>

            <div id="delete_prior_action_{{ prior_action.pk }}_modal" class="modal fade" tabindex="-1" aria-labelledby="delete_prior_action_{{ prior_action.pk }}_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 id="delete_prior_action_{{ prior_action.pk }}_title">Suppression de l'action préalable à l'embauche</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <p>Voulez-vous supprimer cette action préalable ?</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {# Job description deletion form #}
                            <form hx-post="{% url 'apply:delete_prior_action' job_application_id=job_application.id prior_action_id=prior_action.pk %}"
                                  hx-target="#prior-action-{{ prior_action.pk }}"
                                  hx-swap="outerHTML"
                                  class="d-block js-prevent-multiple-submit">
                                {% csrf_token %}
                                <div class="text-right">
                                    <button class="btn btn-outline-primary btn-sm" data-dismiss="modal" aria-label="Annuler">Annuler</button>
                                    <button class="btn btn-danger btn-sm" aria-label="Supprimer">Supprimer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary"
                    id="prior-action-{{ prior_action.pk }}-modify-btn"
                    hx-get="{% url 'apply:modify_prior_action' job_application_id=job_application.id prior_action_id=prior_action.id %}?modify="
                    hx-target="#prior-action-{{ prior_action.pk }}"
                    hx-swap="outerHTML">Modifier les informations</button>
        </div>
    {% endif %}
    {% if job_application.can_change_prior_actions or not hide_final_hr %}<hr>{% endif %}
</div>
{% if add_prior_action_form %}
    {# A new prior action has been added and is being swapped to replace the add form: we now need a new one #}
    {% url 'apply:add_prior_action' job_application_id=job_application.id as add_prior_action_url %}
    {% include "apply/includes/job_application_prior_action_form.html" with job_application=job_application form=add_prior_action_form main_div_id="add_prior_action" form_url=add_prior_action_url %}
{% endif %}
{% if with_oob_state_update %}
    {# If state has changed, we need to update a bunch of places #}
    {% include "apply/includes/out_of_band_changes_on_job_application_state_update_siae.html" with job_application=job_application transition_logs=transition_logs %}
{% elif add_prior_action_form %}
    {# If state has not changed, but a prior action has been added, we must bring the transition buttons back #}
    {% include "apply/includes/siae_hiring_actions.html" with job_application=job_application out_of_band_swap=True %}
{% endif %}
