{% load buttons_form %}
{% load django_bootstrap5 %}
{% load enums %}
{% load matomo %}
{% load str_filters %}

{% enums "companies" "CompanyKind" as CompanyKind %}

<div class="c-form" id="acceptFormDiv">
    <form id="acceptForm" method="post" hx-post="{{ request.get_full_path }}" hx-swap="outerHTML show:#acceptForm:top" hx-select="#acceptForm" class="js-format-nir">
        {% if has_form_error %}
            <div class="alert alert-danger" role="alert" tabindex="0" data-emplois-give-focus-if-exist>
                <p class="mb-0">Merci de corriger les erreurs ci-dessous</p>
            </div>
        {% endif %}

        {% csrf_token %}

        <h2>Contrat</h2>
        {% bootstrap_form_errors form_accept type="non_fields" %}

        {# reloadable contract type and options for GEIQ #}
        {% if company.kind == CompanyKind.GEIQ %}
            {% include "apply/includes/geiq/geiq_contract_type_and_options.html" %}
        {% endif %}

        {# job description: mandatory for GEIQ, optional for other types #}
        {% include "apply/includes/job_description_fields.html" %}

        {% bootstrap_field form_accept.hiring_start_at wrapper_class="form-group form-group-input-w-lg-33" %}
        {% bootstrap_field form_accept.hiring_end_at wrapper_class="form-group form-group-input-w-lg-33" %}

        {# reloadable training and qualification for GEIQ #}
        {% if company.kind == CompanyKind.GEIQ %}
            {% include "apply/includes/geiq/geiq_qualification_fields.html" %}
        {% endif %}

        {% bootstrap_field form_accept.answer %}

        {% itou_buttons_form secondary_url=back_url reset_url=reset_url %}
    </form>
</div>
