{% load str_filters %}

{% if job_applications_list_kind is JobApplicationsListKind.SENT %}
    {% url 'apply:list_prescriptions' as reset_url %}
{% elif job_applications_list_kind is JobApplicationsListKind.RECEIVED %}
    {% url 'apply:list_for_siae' as reset_url %}
{% elif job_applications_list_kind is JobApplicationsListKind.SENT_FOR_ME %}
    {% url 'apply:list_for_job_seeker' as reset_url %}
{% endif %}
{% if btn_dropdown_filter|default:False %}
    <div class="ms-md-auto" id="apply-list-filter-counter"{% if request.htmx %} hx-swap-oob="true"{% endif %}>
        {% if filters_counter > 0 %}
            <a href="{{ reset_url }}"
               class="btn btn-ico btn-dropdown-filter"
               aria-label="Réinitialiser le{{ filters_counter|pluralizefr }} filtre{{ filters_counter|pluralizefr }} actif{{ filters_counter|pluralizefr }}">
                <i class="ri-eraser-line font-weight-bold" aria-hidden="true"></i>
                <span>Effacer tout</span>
            </a>
        {% endif %}
    </div>
{% else %}
    {% if filters_counter > 0 %}
        <a href="{{ reset_url }}"
           class="btn btn-ico btn-block btn-outline-primary"
           aria-label="Réinitialiser le{{ filters_counter|pluralizefr }} filtre{{ filters_counter|pluralizefr }} actif{{ filters_counter|pluralizefr }}">
            <i class="ri-eraser-line font-weight-medium" aria-hidden="true"></i>
            <span>Effacer tout</span>
        </a>
    {% endif %}
{% endif %}
