{% load str_filters %}

<div class="card-body">

    {% include "approvals/includes/job_description_list.html" with job_application=job_application %}

    <hr />
    <div class="row">
        <div class="col-12 col-lg-5 mb-3 mb-lg-0">
            <h3 class="h3 mb-1">
                {{ job_application.job_seeker.get_full_name|mask_unless:job_application.user_can_view_personal_information }}
            </h3>
            {% if job_application.job_seeker.city %}
                <span class="d-block mb-2 text-nowrap">
                    {% if job_application.job_seeker.department %}{{ job_application.job_seeker.department }} -{% endif %}
                    {{ job_application.job_seeker.city }}
                </span>
            {% endif %}

        </div>
    </div>

</div>
