{% load i18n %}
<div class="card-header">

    <b>{{ job_application.job_seeker.get_full_name }}</b>

    <small>chez</small>

    <b>{{ job_application.to_siae.display_name }}</b>

    {% if not job_application.to_siae.is_active_or_in_grace_period %}
        <span class="badge badge-danger">
            Structure déconventionnée depuis le
            {{ job_application.to_siae.grace_period_end_date|date:"d F Y" }}
        </span>
    {% endif %}

    <br>

    <small class="text-muted">{{ job_application.created_at|date:"d F Y à H:i" }}</small>

</div>
