{% load matomo %}
{% load static %}
{% load str_filters %}

<section aria-labelledby="apply-list-count" id="job-applications-section">
    {% if not job_applications_page %}
        <div class="text-center my-3 my-md-4">
            <img class="img-fluid" src="{% static 'img/illustration-siae-card-no-result.svg' %}" alt="" loading="lazy">
            <p class="mb-1 mt-3">
                <strong>
                    {% if job_applications_list_kind is JobApplicationsListKind.RECEIVED %}
                        {% if pending_states_job_applications_count == 0 %}
                            Aucune candidature pour le moment
                        {% else %}
                            Aucune candidature ne correspond aux filtres sélectionnés
                        {% endif %}
                    {% else %}
                        Aucune candidature pour le moment
                    {% endif %}
                </strong>
            </p>
            <p>
                <i>
                    {% if job_applications_list_kind is JobApplicationsListKind.SENT %}
                        Vous trouverez ici les candidatures émises par votre organisation
                        <br class="d-none d-lg-inline">
                        pour les candidats.
                    {% elif job_applications_list_kind is JobApplicationsListKind.RECEIVED %}
                        Pour recevoir des candidatures, vérifiez que les postes ouverts
                        <br class="d-none d-lg-inline">
                        dans votre structure sont bien à jour.
                    {% elif job_applications_list_kind is JobApplicationsListKind.SENT_FOR_ME %}
                        Vous trouverez ici vos candidatures, émises par un prescripteur
                        <br class="d-none d-lg-inline">
                        ou par vous même.
                    {% endif %}
                </i>
            </p>
            {% if job_applications_list_kind is JobApplicationsListKind.SENT %}
                <a href="{% url 'search:employers_home' %}" class="btn btn-outline-primary btn-ico w-100 w-md-auto justify-content-center">
                    <i class="ri-user-follow-line ri-lg font-weight-normal"></i>
                    <span>Postuler pour un candidat</span>
                </a>
            {% elif job_applications_list_kind is JobApplicationsListKind.RECEIVED %}
                <a href="{% url 'companies_views:job_description_list' %}" class="btn btn-outline-primary btn-ico w-100 w-md-auto justify-content-center">
                    <i class="ri-briefcase-line ri-lg font-weight-normal"></i>
                    <span>Gérer les métiers et recrutements</span>
                </a>
            {% elif job_applications_list_kind is JobApplicationsListKind.SENT_FOR_ME %}
                <a href="{% url 'search:employers_home' %}" class="btn btn-outline-primary btn-ico w-100 w-md-auto justify-content-center">
                    <i class="ri-briefcase-line ri-lg font-weight-normal"></i>
                    <span>Rechercher un emploi inclusif</span>
                </a>
            {% endif %}
        </div>
    {% else %}
        {% for job_application in job_applications_page %}
            <div class="c-box c-box--results has-links-inside my-3 my-md-4">
                {% if request.user.is_job_seeker %}
                    {% include "apply/includes/list_card_body_jobseeker.html" %}
                {% else %}
                    {% include "apply/includes/list_card_body_company.html" %}
                {% endif %}
                <div class="c-box--results__footer">
                    <div class="d-flex{% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %} flex-column flex-md-row justify-content-md-between align-items-md-center{% else %} justify-content-end{% endif %}">
                        {% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %}
                            <p class="text-warning fs-sm mb-3 mb-md-0">
                                <i class="ri-time-line ri-lg me-1" aria-hidden="true"></i>
                                En attente de réponse depuis {{ job_application.pending_for_weeks }} semaines.
                            </p>
                        {% endif %}
                        {% if job_applications_list_kind is JobApplicationsListKind.SENT %}
                            <a class="btn btn-outline-primary{% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %} btn-block w-100 w-md-auto{% endif %}"
                               href="{% url 'apply:details_for_prescriber' job_application_id=job_application.id %}?back_url={{ request.get_full_path|urlencode }}"
                               aria-label="Gérer la candidature de {{ job_application.job_seeker.get_full_name|mask_unless:job_application.user_can_view_personal_information }}"
                               {% matomo_event "candidature" "clic" "voir_candidature_prescripteur" %}>
                                Voir sa candidature
                            </a>
                        {% elif job_applications_list_kind is JobApplicationsListKind.RECEIVED %}
                            <a class="btn btn-outline-primary{% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %} btn-block w-100 w-md-auto{% endif %}"
                               href="{% url 'apply:details_for_company' job_application_id=job_application.id %}?back_url={{ request.get_full_path|urlencode }}"
                               aria-label="Gérer la candidature de {{ job_application.job_seeker.get_full_name|mask_unless:job_application.user_can_view_personal_information }}"
                               {% matomo_event "candidature" "clic" "voir-candidature-employeur" %}>Voir sa candidature</a>
                        {% elif job_applications_list_kind is JobApplicationsListKind.SENT_FOR_ME %}
                            <a class="btn btn-outline-primary{% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %} btn-block w-100 w-md-auto{% endif %}"
                               href="{% url 'apply:details_for_jobseeker' job_application_id=job_application.id %}?back_url={{ request.get_full_path|urlencode }}">
                                Voir ma candidature
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include "includes/pagination.html" with page=job_applications_page boost=True boost_target="#job-applications-section" boost_indicator="#job-applications-section" %}
    {% endif %}
</section>

{% if request.htmx %}
    {% include "apply/includes/list_reset_filters.html" with btn_dropdown_filter=True %}
    {% include "apply/includes/list_counter.html" %}
    {% include "apply/includes/job_applications_export_button.html" %}
    {% include "apply/includes/job_applications_filters/offcanvas_footer.html" %}
{% endif %}
