{% load job_applications %}
{% load str_filters %}
<div class="card-body">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
            {% with jobs=job_application.selected_jobs.all %}
                <p class="font-weight-bold mb-1">Métier{{ jobs|pluralizefr }} recherché{{ jobs|pluralizefr }} :</p>
                {% if not jobs %}
                    <p class="fs-sm card-text">Candidature spontanée</p>
                {% else %}
                    <ul class="fs-sm card-text">
                        {% for job in jobs %}<li>{{ job.display_name }}</li>{% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
            <p class="font-weight-bold mb-1">Envoyée par :</p>
            <p class="fs-sm card-text">
                {% if request.user == job_application.sender %}
                    Vous
                {% elif job_application.sender_kind == SenderKind.JOB_SEEKER %}
                    Le candidat lui-même
                {% else %}
                    {{ job_application.sender.get_full_name }}
                {% endif %}

                {% if job_application.sender_kind == SenderKind.PRESCRIBER %}
                    {% if job_application.sender_prescriber_organization %}
                        <br>
                        <b>{{ job_application.sender_prescriber_organization.display_name }}</b>
                        {% if job_application.is_sent_by_authorized_prescriber %}
                            <br>
                            <span class="badge rounded-pill badge-sm bg-warning">Prescripteur habilité</span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if job_application.sender_kind == SenderKind.EMPLOYER %}
                    <br>
                    <b>{{ job_application.sender_siae.display_name }}</b>
                    {% if request.user.is_employer %}
                        <br>
                        <span class="badge rounded-pill badge-sm bg-info">
                            {% if job_application.origin == JobApplicationOrigin.PE_APPROVAL %}
                                Import agrément Pôle emploi
                            {% else %}
                                Auto-prescription
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-4 ps-lg-0">
            <p class="font-weight-bold mb-1">Statut :</p>
            <p class="fs-sm card-text">
                {% state_badge job_application %}
                {% if job_application.has_suspended_approval %}
                    <br>
                    <span class="badge badge-sm rounded-pill bg-success-lighter text-success">
                        <i class="ri-pass-pending-line" aria-hidden="true"></i>
                        PASS IAE valide (suspendu)
                    </span>
                {% endif %}
            </p>
        </div>
    </div>
</div>
