{% load str_filters %}
{% load i18n %}

<div class="c-box--results__header">
    {% include "approvals/includes/job_description_creation.html" with job_application=job_application %}
    <div class="c-box--results__summary">
        <i class="ri-user-line" aria-hidden="true"></i>
        <div>
            <span>{{ job_application.to_company.get_kind_display }}</span>
            <h3>{{ job_application.to_company.display_name }}</h3>
            {% if job_application.next_appointment_start_at %}
                <span {% if job_application.other_appointments_count %} data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% blocktrans count other_appointments_count=job_application.other_appointments_count %}{{ other_appointments_count }} autre rendez-vous prévu, consultez-le dans le détail de candidature"{% plural %}{{ other_appointments_count }} autres rendez-vous prévus, consultez-les dans le détail de candidature{% endblocktrans%}"{% endif %}>
                    <i class="ri-calendar-line font-weight-normal me-1" aria-hidden="true"></i>
                    Prochain rdv le {{ job_application.next_appointment_start_at|date:"d/m/Y" }}
                </span>
            {% endif %}
        </div>
    </div>
</div>
<hr class="m-0">
<div class="c-box--results__body">
    <div class="c-box--results__list-data">
        {% include "approvals/includes/job_description_list.html" with job_application=job_application %}
    </div>
</div>
