{% load static %}

<div id="rdvi-promo" class="card my-3 my-md-4 px-4 alert-dismissible-once d-none container rounded border-important bg-important-lightest">
    <div class="row">
        <div class="d-none d-md-block col-md-auto align-self-center">
            <img src="{% static 'img/logo_rdv_insertion.svg' %}" height="90" alt="" loading="lazy" class="m-auto">
        </div>
        <div class="col-12 col-md p-0">
            <div class="card-header pt-4">
                <span class="badge rounded-pill bg-important badge-xs">Nouveau service</span>
                <button data-bs-dismiss="alert" data-bs-target="#rdvi-promo" type="button" class="btn-close" aria-label="Fermer">
                </button>
            </div>
            <div class="card-body pb-4">
                <h4>RDV-Insertion simplifie les rendez-vous avec vos candidats</h4>
                <p>
                    Besoin d'un outil de prise de RDV par mail et/ou SMS avec gestion des rappels pour
                    augmenter le taux de présence de vos candidats aux entretiens individuels et
                    aux informations collectives ?
                </p>
                <a class="btn btn-ico btn-link p-0" href="https://tally.so/r/nro2X2" rel="noopener" target="_blank" aria-label="Découvrir le service RDV-Insertion dans un nouvel onglet">
                    <span>Je découvre</span>
                    <i class="ri-external-link-line ri-lg"></i>
                </a>
            </div>
        </div>
    </div>
</div>
