{% load components %}
{% load str_filters %}

{% with all_jobs=job_application.selected_jobs.all %}
    {% if all_jobs|length == 0 %}
        {% component_info borderless=True c_info__summary=c_info__summary %}
            {% fragment as c_info__summary %}
                Candidature spontanée
            {% endfragment %}
        {% endcomponent_info %}
    {% else %}
        {% with collapse_suffix=job_application.id|stringformat:"s" %}
            {% with collapse_id="collapse-job-application-"|add:collapse_suffix %}
                {% component_info borderless=True c_info__summary=c_info__summary c_info__detail=c_info__detail collapse_id=collapse_id %}
                    {% fragment as c_info__summary %}
                        {{ all_jobs|length }} {{ all_jobs|pluralizefr:"poste recherché,postes recherchés" }}
                    {% endfragment %}
                    {% fragment as c_info__detail %}
                        <ul class="list-unstyled">
                            {% for job in all_jobs %}
                                <li class="d-flex gap-2">
                                    <span class="flex-grow-1 has-ellipsis">{{ job.display_name }}</span>
                                    <span class="text-nowrap">
                                        <i class="ri-map-pin-2-line ri-sm me-1" aria-hidden="true"></i>
                                        {% if job.location %}
                                            {{ job.location }}
                                        {% else %}
                                            {{ job.display_location }}
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfragment %}
                {% endcomponent_info %}
            {% endwith %}
        {% endwith %}
    {% endif %}
{% endwith %}
