{% load django_bootstrap5 %}
{% load format_filters %}

{# Job application accepted: details -------------------------------------------------------------------- #}
{% if job_application.state.is_accepted %}
    <div class="c-box mb-4">
        <h3>Détails du contrat de travail</h3>

        {# GEIQ only #}
        {% if job_application.contract_type %}
            <p class="font-italic">
                {{ job_application.get_contract_type_display }}
                {% if job_application.inverted_vae_contract %}associé à une VAE inversée{% endif %}
            </p>
        {% endif %}

        <ul class="list-data mb-3">
            <li>
                <small>Poste retenu</small>
                {% if job_application.hired_job %}
                    <strong>{{ job_application.hired_job }} à {{ job_application.hired_job.display_location }}</strong>
                {% else %}
                    <i class="text-disabled">Non renseigné</i>
                {% endif %}
            </li>
        </ul>

        <ul class="list-data list-data__two-column-md mb-3">
            <li>
                <small>Début</small>
                {% if job_application.hiring_start_at %}
                    <strong>{{ job_application.hiring_start_at|date:"d F Y" }}</strong>
                {% else %}
                    <i class="text-disabled">Non renseigné</i>
                {% endif %}
            </li>
            <li>
                <small>Fin</small>
                {% if job_application.hiring_end_at %}
                    <strong>{{ job_application.hiring_end_at|date:"d F Y" }}</strong>
                {% else %}
                    <i class="text-disabled">Non renseigné</i>
                {% endif %}
            </li>
        </ul>

        {% if job_application.can_update_hiring_start %}
            <a href="{% url 'apply:edit_contract_start_date' job_application_id=job_application.pk %}" class="btn btn-ico btn-secondary">
                <i class="ri-pencil-line font-weight-medium" aria-hidden="true"></i>
                <span>Modifier la période du contrat de travail</span>
            </a>
        {% endif %}
    </div>
{% endif %}
