{% load enums %}
{% load job_application_actions %}
{% load matomo %}

{% enums "companies" "CompanyKind" as CompanyKind %}

{% if display_batch_actions %}
    <div id="batch-action-box" class="c-box c-box--action selection-indicator" data-emplois-elements-visibility-on-selection="shown" {% if request.htmx %}hx-swap-oob="true"{% endif %}>
        <h2 class="visually-hidden">Actions rapides</h2>
        <div class="form-row align-items-center gx-3">
            <div class="form-group col-12 col-lg-auto">
                {% if can_accept %}
                    {% accept_button acceptable_job_application acceptable_job_application.geiq_eligibility_diagnosis next_url=list_url %}
                {% else %}
                    <button type="button"
                            class="btn btn-lg btn-link-white btn-block btn-ico justify-content-center"
                            disabled
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="c-box--action-tooltip"
                            data-bs-title="Une seule candidature doit être séléctionnée pour être acceptée.">
                        <i class="ri-close-line" aria-hidden="true"></i>
                        <span>Accepter</span>
                    </button>
                {% endif %}
            </div>
            <div class="form-group col-12 col-lg-auto">
                {% if can_refuse %}
                    <form method="post" action="{% url 'apply:batch_refuse' %}?next_url={{ list_url|urlencode }}">
                        {% csrf_token %}
                        {% for application_id in selected_application_ids %}
                            <input type="hidden" name="application_ids" value="{{ application_id }}" />
                        {% endfor %}
                        <button type="submit" class="btn btn-lg btn-link-white btn-block btn-ico justify-content-center" {% matomo_event "candidature" "submit" "batch-refuse-applications-start-wizard" %}>
                            <i class="ri-close-line" aria-hidden="true"></i>
                            <span>Décliner</span>
                        </button>
                    </form>
                {% else %}
                    <button type="button"
                            class="btn btn-lg btn-link-white btn-block btn-ico justify-content-center"
                            disabled
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="c-box--action-tooltip"
                            data-bs-title="Seules les candidatures au statut « Nouvelle », « À l’étude »{% if request.current_organization.kind == CompanyKind.GEIQ %}, « Action préalable à l’embauche »{% endif %} et « En attente » peuvent être déclinées.">
                        <i class="ri-close-line" aria-hidden="true"></i>
                        <span>Décliner</span>
                    </button>
                {% endif %}
            </div>
            <div class="form-group col-12 col-lg d-lg-flex justify-content-lg-end">
                <div class="dropdown">
                    <button id="other_actions" class="btn btn-lg btn-link-white btn-block w-lg-auto dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                        Autres actions
                        <span class="badge badge-base rounded-pill bg-info text-white ms-2">{{ other_actions_count }}</span>
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="other_actions">
                        {% if can_process %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    {% matomo_event "candidature" "clic" "batch-process-applications-open-modal" %}
                                    data-bs-toggle="modal"
                                    data-bs-target="#process_confirmation_modal">
                                <i class="ri-history-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Étudier</span>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    disabled
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-custom-class="c-box--action-tooltip"
                                    data-bs-title="Seules les candidatures au statut « Nouvelle candidature » peuvent être mises à l’étude.">
                                <i class="ri-history-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Étudier</span>
                            </button>
                        {% endif %}
                        {% if can_postpone %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    {% matomo_event "candidature" "clic" "batch-postpone-applications-open-modal" %}
                                    data-bs-toggle="modal"
                                    data-bs-target="#postpone_confirmation_modal">
                                <i class="ri-history-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Mettre en attente</span>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    disabled
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-custom-class="c-box--action-tooltip"
                                    data-bs-title="Seules les candidatures au statut « Nouvelle candidature » ou « À l’étude »{% if request.current_organization.kind == CompanyKind.GEIQ %} ou « Action préalable à l’embauche »{% endif %} peuvent être mises en liste d’attente.">
                                <i class="ri-history-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Mettre en attente</span>
                            </button>
                        {% endif %}
                        <hr class="dropdown-divider m-0">
                        {% if can_transfer %}
                            <button type="button" class="btn justify-content-start dropdown-item" id="transfer_to_button" aria-haspopup="true" data-bs-toggle="modal" data-bs-target="#transfer_confirmation_modal">
                                <i class="ri-arrow-left-right-line me-2"></i>
                                <span>Transférer vers</span>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    disabled
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-custom-class="c-box--action-tooltip"
                                    data-bs-title="Les candidatures au statut « Acceptée » ne peuvent pas être transférées.">
                                <i class="ri-arrow-left-right-line me-2"></i>
                                <span>Transférer vers</span>
                            </button>
                        {% endif %}
                        {% if can_archive %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    {% matomo_event "candidature" "clic" "batch-archive-applications-open-modal" %}
                                    data-bs-toggle="modal"
                                    data-bs-target="#archive_confirmation_modal">
                                <i class="ri-archive-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Archiver</span>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn justify-content-start dropdown-item"
                                    disabled
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-custom-class="c-box--action-tooltip"
                                    data-bs-title="Seules les candidatures au statut « Déclinée », « Embauché ailleurs » et « Embauche annulée » peuvent être archivées.">
                                <i class="ri-archive-line fw-medium me-2" aria-hidden="true"></i>
                                <span>Archiver</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="batch-action-box" class="selection-indicator" {% if request.htmx %}hx-swap-oob="true"{% endif %}></div>
{% endif %}
{% if request.htmx %}
    {% include "apply/includes/selected_job_applications.html" with selected_nb=selected_nb request=request only %}
    {% include "apply/includes/siae_batch_actions_modals.html" %}
{% endif %}
