{% load bootstrap4 %}
{% load format_filters %}

<div>
    {# Job application accepted: details -------------------------------------------------------------------- #}
    {% if job_application.state.is_accepted %}
        <hr>
        <h3>Détails du contrat de travail</h3>

        {# GEIQ only #}
        {% if job_application.contract_type %}
            <p class="font-italic">
                {{ job_application.get_contract_type_display }}
                {% if job_application.inverted_vae_contract %}associé à une VAE inversée{% endif %}
            </p>
        {% endif %}

        <ul>
            <li>Début : {{ job_application.hiring_start_at|date:"d F Y" }}</li>
            <li>Fin : {{ job_application.hiring_end_at|date:"d F Y"|default:"Non renseigné" }}</li>
        </ul>

        {% if job_application.can_update_hiring_start %}
            <p>
                <a href="{% url 'apply:edit_contract_start_date' job_application_id=job_application.pk %}" class="btn btn-outline-primary btn-block">
                    Modifier la période du contrat de travail
                </a>
            </p>
        {% endif %}
    {% endif %}
</div>
