
<div class="col-12 p-0 {% if full_content_width %}col-lg-8 pe-lg-4{% endif %}">
    <div class="card c-card c-card--emploi c-card--noshadow mb-3 mb-lg-5">
        <div class="card-body">
            <p>
                <i class="ri-home-7-line ri-xl me-2"></i>{{ siae.kind }} - {{ siae.get_kind_display }}
            </p>
            <hr>
            <p class="h2">{{ siae.display_name }}</p>
            <address class="card-subtitle fs-lg font-weight-bold text-secondary">{{ siae.address_on_one_line }}</address>
        </div>
    </div>
</div>
