{% load bootstrap4 %}
{% load format_filters %}

<div id="transition_buttons_{{ job_application.pk }}"{% if out_of_band_swap %} hx-swap-oob="true"{% endif %} data-disable-btn-if=".editing-prior-action">
    <hr class="mb-3">
    {% if job_application.state.is_new %}
        <form method="post" action="{% url 'apply:process' job_application_id=job_application.id %}" class="js-prevent-multiple-submit">
            {% csrf_token %}
            {% buttons %}
                <p class="text-right">
                    <button type="submit" class="btn btn-primary">J'étudie cette candidature</button>
                </p>
            {% endbuttons %}
        </form>
    {% endif %}

    {# Possible next steps when the state is processing / prior_to_hire ------------------------------------- #}

    {% if job_application.state.is_processing or job_application.state.is_prior_to_hire %}
        {% if job_application.eligibility_diagnosis_by_siae_required %}
            {% include "apply/includes/buttons/new_diagnosis.html" %}
        {% else %}
            {% include "apply/includes/buttons/accept.html" %}
            {% include "apply/includes/buttons/postpone.html" %}
        {% endif %}
        {% include "apply/includes/buttons/refuse.html" %}
    {% endif %}

    {# Possible next steps when the state is postponed ------------------------------------------------------ #}

    {% if job_application.state.is_postponed %}
        {% if job_application.eligibility_diagnosis_by_siae_required %}
            {% include "apply/includes/buttons/new_diagnosis.html" %}
        {% else %}
            {% include "apply/includes/buttons/accept.html" %}
        {% endif %}
        {% include "apply/includes/buttons/refuse.html" %}
    {% endif %}


    {# Possible next steps when the state is obsolete, refused or cancelled --------------------------------- #}

    {% if job_application.state.is_obsolete or job_application.state.is_refused or job_application.state.is_cancelled %}
        {% if job_application.eligibility_diagnosis_by_siae_required %}
            {% include "apply/includes/buttons/new_diagnosis.html" %}
        {% else %}
            {% include "apply/includes/buttons/accept.html" %}
        {% endif %}
    {% endif %}

    {# Job application accepted: details -------------------------------------------------------------------- #}

    {% if job_application.state.is_accepted %}
        <h3>Détails du contrat de travail</h3>

        {# GEIQ only #}
        {% if job_application.contract_type %}
            <p class="font-italic">
                {{ job_application.get_contract_type_display }}
                {% if job_application.inverted_vae_contract %}associé à une VAE inversée{% endif %}
            </p>
        {% endif %}
 
        <ul>
            <li>Début : {{ job_application.hiring_start_at|date:"d F Y" }}</li>
            <li>Fin : {{ job_application.hiring_end_at|date:"d F Y"|default:"Non renseigné" }}</li>
        </ul>

        {% if job_application.can_update_hiring_start %}
            <p>
                <a href="{% url 'apply:edit_contract_start_date' job_application_id=job_application.pk %}" class="btn btn-outline-primary btn-block">
                    Modifier la période du contrat de travail
                </a>
            </p>
        {% endif %}

        {# Job application cancellation -------------------------------------------------------------------------- #}
        {% if job_application.can_be_cancelled %}
            <h3>Rétractation</h3>
            {% if job_application.to_siae.is_subject_to_eligibility_rules %}
                <p>
                    Si vous annulez cette embauche, vous ne pourrez pas prétendre à l'aide au poste pour les jours éventuellement travaillés.
                </p>
                <p>
                    {{ job_application.job_seeker.get_full_name|title }} restera éligible à l'IAE et pourra de nouveau vous envoyer une candidature dans le futur.
                </p>
            {% endif %}
            <p>
                <a href="{% url 'apply:cancel' job_application_id=job_application.id %}" class="btn btn-danger btn-block text-decoration-none">Annuler l'embauche</a>
            </p>
        {% endif %}


    {% endif %}

    {# Job application archival -------------------------------------------------------------------- #}

    {% if job_application.can_be_archived %}
        {% include "apply/includes/buttons/archive.html" with job_application=job_application %}
    {% endif %}
</div>
