<ul class="list-step" id="transition_logs_{{ job_application.pk }}"{% if out_of_band_swap|default:False %} hx-swap-oob="true"{% endif %}>
    {% with dt_format="d F Y à H:i" %}
        {% for log in transition_logs %}
            <li>
                <time datetime="{{ log.timestamp.isoformat }}">Le {{ log.timestamp|date:dt_format }}</time>
                <span>
                    Passé en "{{ log.pretty_to_state }}"
                    {% if log.user and log.to_state != JobApplicationState.OBSOLETE %}par {{ log.user.get_full_name }}{% endif %}
                </span>
            </li>
        {% endfor %}
        <li>
            <time datetime="{{ job_application.created_at.isoformat }}">Le {{ job_application.created_at|date:dt_format }}</time>
            <span>Nouvelle candidature</span>
        </li>
    {% endwith %}
</ul>
