{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load matomo %}

{% block title %}Orienter vers un service d'insertion{{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Orienter vers un service d'insertion</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-xxl-8 col-xxxl-9 order-2 order-xxl-1">
                    <div class="c-form mb-5">
                        <h2 class="h3">Rechercher un usager</h2>
                        <p>Dans le menu déroulant ci-dessous, vous trouverez la liste de vos usagers.</p>
                        <form method="post" class="c-form js-prevent-multiple-submit">
                            {% csrf_token %}
                            {% bootstrap_form_errors form type="all" %}
                            {% bootstrap_field form.job_seeker wrapper_class="form-group form-group-input-w-lg-66" %}
                            {% itou_buttons_form reset_url=reset_url primary_label="Suivant" %}
                        </form>
                    </div>
                    <hr data-it-text="ou" class="my-5">
                    <div class="text-center mb-3">
                        Votre usager n'a pas encore de compte ? <a href="{{ create_job_seeker_url }}" class="btn-link" {% matomo_event "compte-candidat" "clic" "creer-un-compte-candidat-orientation" %}>Créer un compte usager</a>
                    </div>
                </div>
                <div class="s-section__col col-12 col-xxl-4 col-xxxl-3 order-1 order-xxl-2 d-flex flex-column">
                    {% include "insertion/includes/orientation_service_info.html" with service=service request=request only %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
