{% extends "layout/base.html" %}
{% load static %}

{% block title_content %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <h1>Vous souhaitez inviter votre candidat à un entretien de recrutement ?</h1>
        </div>
        <div class="col-12 col-lg-4">
            <iframe data-tally-src="https://tally.so/embed/mRVYed?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1&company_id={{ request.current_organization.pk }}&user_id={{ request.user.pk }}"
                    loading="lazy"
                    width="100%"
                    height="300"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"></iframe>
        </div>
    </div>
{% endblock %}

{% block title_prevstep %}
    {# Avoid using the prevstep include to match the design there #}
    <div class="c-prevstep">
        <a href="{{ back_url }}" class="btn btn-ico btn-link ps-0" aria-label="Retour vers la liste des candidatures">
            <i class="ri-arrow-drop-left-line ri-xl font-weight-medium" aria-hidden="true"></i>
            <span>Retour</span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="col-12 col-lg-7">
                    <h2>Optimisez votre processus de recrutement avec l’envoi d’invitations par email et SMS</h2>
                    <p>
                        Nous sommes ravis de vous annoncer le lancement prochain d’une nouvelle fonctionnalité qui vous fera gagner du temps
                        dans votre processus de recrutement : <strong>l’envoi simplifié d’invitations par email et SMS</strong> directement
                        depuis les Emplois de l’inclusion pour vos rendez-vous de recrutement.
                    </p>
                    <img class="img-fluid c-box shadow mb-4" loading="lazy" src="{% static 'img/rdvi-integration.png' %}" alt="Illustration de la prise de rendez-vous">
                    <h4>Les avantages de cette fonctionnalité :</h4>
                    <ul class="mb-4">
                        <li>
                            <strong>Gagner du temps :</strong> Une fois votre compte configuré sur
                            <a href="https://www.rdv-insertion.fr/" class="has-external-link" target="_blank">RDV-insertion</a> et
                            <a href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion-and-faq/configuration/configurer-loutil/configuration-rdv-solidarites/creer-des-plages-douverture"
                               class="has-external-link"
                               target="_blank">RDV-Solidarités</a>,
                            envoyez vos invitations à des rendez-vous individuels ou collectifs directement depuis les Emplois de l’inclusion.
                        </li>
                        <li>
                            <strong>Réduire l'absentéisme :</strong> Grâce à l’automatisation des rappels pour vous assurer que les candidats ne manquent pas leurs entretiens.
                        </li>
                        <li>
                            <strong>Suivre les invitations :</strong> Consultez l'état des invitations (envoyées, acceptées, refusées) en temps réel depuis les Emplois de l’inclusion.
                        </li>
                    </ul>
                    <h4>Cette fonctionnalité devrait être payante, pourquoi ?</h4>
                    <p>
                        Le développement et la maintenance de cette fonctionnalité nécessitent des ressources importantes.
                        En la rendant payante, nous pouvons garantir un service de haute qualité et continuer à l'améliorer en fonction de vos besoins.
                    </p>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="c-box bg-light px-2 py-1">
                        <iframe data-tally-src="https://tally.so/embed/wokoWN?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1&company_id={{ request.current_organization.pk }}&user_id={{ request.user.pk }}"
                                loading="lazy"
                                width="100%"
                                height="606"
                                frameborder="0"
                                marginheight="0"
                                marginwidth="0"
                                title="Nous avons besoin de votre avis !"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script nonce="{{ CSP_NONCE }}">
        var doc = document,
            w = "https://tally.so/widgets/embed.js",
            v = function() {
                "undefined" != typeof Tally ? Tally.loadEmbeds() : doc.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e) {
                    e.src = e.dataset.tallySrc
                }))
            };
        if ("undefined" != typeof Tally) v();
        else if (doc.querySelector('script[src="' + w + '"]') == null) {
            var s = doc.createElement("script");
            s.src = w, s.onload = v, s.onerror = v, doc.body.appendChild(s);
        }
    </script>
{% endblock script %}
