{% extends "layout/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}BB Bienvenue sur les emplois de l'inclusion ! {{ block.super }}{% endblock %}

{% block content_title_wrapper %}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <div id="welcoming_tour" class="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#welcoming_tour" data-bs-slide-to="0" class="active" aria-current="true">
                            </button>
                            <button type="button" data-bs-target="#welcoming_tour" data-bs-slide-to="1"></button>
                        </div>
                        <div class="carousel-inner pb-5">
                            <div class="carousel-item active">
                                <div class="d-block w-100 text-center">
                                    <h1 class="h1-hero-c1">Bienvenue sur les emplois de l'inclusion !</h1>
                                    <figure class="mx-auto mb-3 w-sm-33">
                                        <img src="{% static 'img/welcoming_tour/candidat_1.svg' %}" class="img-fitcover img-fluid" alt="">
                                    </figure>
                                    <p class="lead pb-5">
                                        Les emplois de l'inclusion m’aident dans ma recherche d’emploi en insertion.
                                        <br>
                                        Je trouve les offres proches de chez moi, et je contacte directement les employeurs.
                                        <br>
                                        C’est plus facile et rapide !
                                    </p>
                                    <p class="my-3">
                                        <a class="btn btn-sm btn-primary" href="#welcoming_tour" role="button" data-bs-slide="next">Suivant</a>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-block w-100 text-center">
                                    <h1 class="h1-hero-c1">Je suis informé de l’avancement de mes candidatures !</h1>
                                    <figure class="mx-auto mb-3 w-sm-33">
                                        <img src="{% static 'img/welcoming_tour/candidat_2.svg' %}" class="img-fitcover img-fluid" alt="">
                                    </figure>
                                    <p class="lead">
                                        Une fois inscrit, je trouve les offres d’insertion proches de moi, et j’envoie mes candidatures aux employeurs.
                                        <br>
                                        Les emplois de l'inclusion m’informent par mail quand ma candidature est acceptée.
                                    </p>
                                    <p class="lead mb-5">
                                        Maintenant, à moi de jouer !
                                        <br>
                                        J’ai toutes les chances dans mes recherches.
                                    </p>
                                    <p class="my-3">
                                        <a class="btn btn-sm btn-secondary" href="#welcoming_tour" role="button" data-bs-slide="prev">Précédent</a>
                                        <a class="btn btn-sm btn-primary" href="{% url 'dashboard:index' %}" role="button" data-bs-slide="next">Terminer</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center my-3">
                        <a href="{% url 'dashboard:index' %}" class="btn btn-sm btn-link">Ignorer la présentation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
