{% extends "layout/content.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}Bienvenue sur les emplois de l'inclusion !{{ block.super }}{% endblock %}

{% block content %}

<div id="welcoming_tour" class="carousel">
    <ol class="carousel-indicators">
        <li data-target="#welcoming_tour" data-slide-to="0" class="active"></li>
        <li data-target="#welcoming_tour" data-slide-to="1"></li>
        <li data-target="#welcoming_tour" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100">
                <h1 class="text-center">Bienvenue sur les emplois de l'inclusion !</h1>

                <img src="{% static 'img/welcoming_tour/prescripteur_1.svg' %}" class="d-block mx-auto my-4 w-sm-25">

                <p class="w-sm-50 m-auto lead text-center pb-5">
                    {% blocktranslate %}
                        Découvrez un outil qui accélère la mise en relation des candidats à l’insertion auprès des employeurs solidaires et simplifie la mission des acteurs de l’IAE.
                    {% endblocktranslate %}
                </p>
                <p class="pt-3 text-center">
                    <a class="text-decoration-none" href="#welcoming_tour" role="button" data-slide="next" >
                      <button type="button" class="btn btn-primary">Suivant</button>
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100">
                <h1 class="text-center">Identifiez toutes les offres d’emploi de l’inclusion localement !</h1>

                <img src="{% static 'img/welcoming_tour/prescripteur_2.svg' %}" class="d-block mx-auto my-4 w-sm-25">

                <p class="w-sm-50 m-auto lead text-center pb-5">
                    {% blocktranslate %}
                        Optimisez les chances de vos candidats et renforcez le pilotage de leur parcours en insertion.<br>
                        Profitez d’un outil mutualisé d’accompagnement de l’IAE : mise en relation simplifiée, partage entre acteurs, simplification des procédures d’agrément, réduction des délais de recrutement.
                    {% endblocktranslate %}
                </p>
                <p class="pt-3 text-center">
                    <a class="text-decoration-none" href="#welcoming_tour" role="button" data-slide="prev" >
                      <button type="button" class="btn btn-secondary">Précédent</button>
                    </a>
                    <a class="text-decoration-none" href="#welcoming_tour" role="button" data-slide="next" >
                      <button type="button" class="btn btn-primary">Suivant</button>
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100">
                <h1 class="text-center">Suivez toutes vos candidatures en ligne</h1>

                <img src="{% static 'img/welcoming_tour/prescripteur_3.svg' %}" class="d-block mx-auto my-4 w-sm-25">

                <p class="w-sm-50 m-auto lead text-center">
                    {% blocktranslate %}
                       Prescripteur ou orienteur... affilié ou pas à une organisation... habilitée ou non, vous pouvez tous vous inscrire !<br>
                       Postulez pour un candidat à l’insertion en quelques clics, suivez l’avancement de ses candidatures en temps réel, échangez avec les collaborateurs de votre organisation ou rejoignez la communauté active.
                    {% endblocktranslate %}
                </p>
                <p class="w-sm-50 m-auto lead text-center pt-2 pb-5">
                    {% blocktranslate %}
                        À vous de jouer maintenant !<br>
                        Bonne découverte et bon accompagnement.
                    {% endblocktranslate %}
                </p>
                <p class="pt-3 text-center">
                    <a class="text-decoration-none" href="#welcoming_tour" role="button" data-slide="prev" >
                      <button type="button" class="btn btn-secondary">Précédent</button>
                    </a>
                    <a class="text-decoration-none" href="{% url 'dashboard:index' %}" role="button" data-slide="next" >
                      <button type="button" class="btn btn-primary">Terminer</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<p class="text-center pt-5 mb-0">
    <a href="{% url 'dashboard:index' %}">
        <button type="button" class="btn btn-link">Ignorer la présentation</button>
    </a>
</p>

{% endblock content %}
