{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load format_filters %}

{% block title %}
    {% trans "Candidature" %}
    -
    {{ job_application.job_seeker.get_full_name }}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h1>
        {% trans "Candidature de" %}
        <span class="text-muted">{{ job_application.job_seeker.get_full_name }}</span>
    </h1>

    <h2>
        {% include "apply/includes/state_badge.html" with job_application=job_application %}
    </h2>

    {# Job seeker info ------------------------------------------------------------------------- #}

    <hr>

    <h3 class="font-weight-normal text-muted">{% trans "Candidat" %}</h3>

    <ul>

        <li>{% trans "Date de la candidature :" %} <b>{{ job_application.created_at|date:"d F Y à H:i" }}</b></li>

        <li>{% trans "Prénom :" %} <b>{{ job_application.job_seeker.first_name }}</b></li>

        <li>{% trans "Nom :" %} <b>{{ job_application.job_seeker.last_name }}</b></li>

        <li>{% trans "Date de naissance :" %} <b>{{ job_application.job_seeker.birthdate|date:"d/m/Y" }}</b></li>

        <li>{% trans "E-mail :" %} <a href="mailto:{{ job_application.job_seeker.email }}">{{ job_application.job_seeker.email }}</a></li>

        {% if job_application.job_seeker.phone %}
            <li>{% trans "Téléphone :" %} <a href="tel:{{ job_application.job_seeker.phone }}">{{ job_application.job_seeker.phone|format_phone }}</a></li>
        {% endif %}

        {% if job_application.jobs.exists %}
            <li>
                {% trans "Métier(s) recherché(s) :" %}
                <ul>
                    {% for job in job_application.jobs.all %}
                        <li><b>{{ job.name }}</b> ({{ job.rome_id }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

    </ul>

    <div class="alert alert-secondary">
        <p><b>{% trans "Message :" %}</b></p>
        {{ job_application.message|linebreaks }}
    </div>

    {# Prescriber info ------------------------------------------------------------------------- #}

    {% if job_application.prescriber %}

        <hr>

        <h3 class="font-weight-normal text-muted">{% trans "Prescripteur" %}</h3>

        <ul>

            <li>{% trans "Contact :" %} <b>{{ job_application.prescriber.get_full_name }}</b> {% if job_application.prescriber_organization %}({{ job_application.prescriber_organization.display_name }}){% endif %}</li>

            <li>{% trans "E-mail :" %} <a href="mailto:{{ job_application.prescriber.email }}">{{ job_application.prescriber.email }}</a></li>

            {% if job_application.prescriber.phone %}
            <li>{% trans "Téléphone :" %} <a href="tel:{{ job_application.prescriber.phone }}">{{ job_application.prescriber.phone|format_phone }}</a></li>
            {% endif %}

        </ul>

    {% endif %}

    {# Choose between rejecting or processing -------------------------------------------------- #}

    {% if job_application.state.is_pending_processing %}

        {% with process_form as form %}

            <hr>

            <form method="post" action="">

                {% csrf_token %}

                {% bootstrap_form_errors form %}

                {% bootstrap_field form.answer %}

                {% buttons %}
                    <div class="row">
                        {% for choice in form.action.field.choices %}
                            <div class="col-md-6 mb-2">
                                <button
                                    type="submit"
                                    class="btn btn-{% if choice.0 == answer_form.ACTION_REJECT %}danger{% else %}warning{% endif %} btn-block"
                                    name="{{ form.action.name }}"
                                    value="{{ choice.0 }}"
                                >{{ choice.1 }}</button>
                            </div>
                        {% endfor %}
                    </div>
                {% endbuttons %}

            </form>

        {% endwith %}

    {% endif %}

    {# Give a definitive answer ---------------------------------------------------------------- #}

    {% if job_application.state.is_processing %}

        {% with answer_form as form %}

            <hr>

            <form method="post" action="">

                {% csrf_token %}

                {% bootstrap_form_errors form %}

                {% bootstrap_field form.answer %}

                {% buttons %}
                    <div class="row">
                        {% for choice in form.action.field.choices %}
                            <div class="col-md-6 mb-2">
                                <button
                                    type="submit"
                                    class="btn btn-{% if choice.0 == form.ACTION_REJECT %}danger{% else %}success{% endif %} btn-block"
                                    name="{{ form.action.name }}"
                                    value="{{ choice.0 }}"
                                >{{ choice.1 }}</button>
                            </div>
                        {% endfor %}
                    </div>
                {% endbuttons %}

            </form>

        {% endwith %}

    {% endif %}

    {# Processed -------------------------------------------------------------------------------- #}

    {% if job_application.has_been_processed %}

        <hr>

        <h3 class="font-weight-normal text-muted">{{ job_application.get_state_display }}</h3>

        <ul>
            <li>{% trans "Le :" %} <b>{{ last_log.timestamp|date:"d F Y à H:i" }}</b></li>
            <li>{% trans "Par :" %} <b>{{ last_log.user.get_full_name }}</b></li>
            <li>{% trans "E-mail :" %} <a href="mailto:{{ last_log.user.email }}">{{ last_log.user.email }}</a></li>
        </ul>

        <div class="alert alert-secondary">
            <p><b>{% trans "Réponse :" %}</b></p>
            {{ job_application.answer|linebreaks }}
        </div>

    {% endif %}

{% endblock %}
