{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block title %}Modification de la date de contrat {{ block.super }}{% endblock %}

{% block title_content %}
    <h1>
        Candidature de <span class="text-muted">{{ job_application.job_seeker.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <h2>Modification de la date de contrat</h2>
                        <form method="post" class="js-prevent-multiple-submit">

                            {% csrf_token %}

                            {% bootstrap_form form alert_error_type="all" %}

                            {% itou_buttons_form primary_label="Enregistrer" reset_url=prev_url matomo_category="salarie" matomo_action="submit" matomo_name="modifier-la-date-de-contrat" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
