{% extends "layout/base.html" %}
{% load i18n %}
{% load matomo %}

{% block title %}Export des candidatures {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block messages %}
    {{ block.super }}
    {% if export_for == "siae" or can_view_stats_pe %}
        <div class="alert alert-info mt-3" id="besoin-dun-chiffre">
            <p>
                <i class="ri-information-line me-1" aria-hidden="true"></i>
                <b>Besoin d'un chiffre ?</b>
            </p>
            {% if export_for == "siae" %}
                <p class="mb-0">
                    Accédez aux <a href="{% url 'stats:stats_siae_hiring' %}"  target="_blank" rel="noopener">données de recrutement de votre structure</a> (non nominatives) compilées, calculées et mises à jour quotidiennement.
                </p>
            {% elif export_for == "prescriptions" and can_view_stats_pe %}
                <p class="mb-0">
                    Accédez aux données de votre agence (non nominatives) compilées, calculées et mises à jour quotidiennement :
                </p>
                <ul class="mb-0">
                    <li>
                        <a href="{% url 'stats:stats_pe_state_main' %}"  target="_blank" rel="noopener">Voir les données de l'ensemble de l'état des candidatures orientées</a>
                    </li>
                    <li>
                        <a href="{% url 'stats:stats_pe_conversion_main' %}"  target="_blank" rel="noopener">Voir les données du taux de transformation des candidatures</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if export_for == "siae" %}
        <h1>Exporter toutes les candidatures reçues</h1>
        <h2>{{ siae.display_name }}</h2>
    {% else %}
        <h1>Exporter toutes les candidatures</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    {% if not job_applications_by_month %}
                        <h2 class="h4">Aucune candidature pour le moment.</h2>
                    {% else %}
                        <h2 class="h4">Candidatures reçues</h2>
                        <div class="table-responsive-lg mt-3">
                            <table class="table">
                                <caption class="visually-hidden">Liste des candidatures reçues</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Contenu du fichier</th>
                                        <th scope="col">Nombre de candidatures</th>
                                        <th scope="col">Télécharger (.xlsx)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Toutes les candidatures</td>
                                        <td>{{ total_job_applications }}</td>
                                        <td>
                                            {% if export_for == "siae" %}
                                                <a class="btn-link" {% matomo_event "candidature" "exports" "export-siae" %} aria-label="Télécharger cet export SIAE" href="{% url 'apply:list_for_siae_exports_download' %}">
                                                    <i class="ri-download-line me-1" aria-hidden="true"></i>
                                                    Télécharger
                                                </a>
                                            {% else %}
                                                <a class="btn-link" {% matomo_event "candidature" "exports" "export-prescripteur" %} aria-label="Télécharger cet export prescripteur" href="{% url 'apply:list_prescriptions_exports_download' %}">
                                                    <i class="ri-download-line me-1" aria-hidden="true"></i>
                                                    Télécharger
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% for month in job_applications_by_month %}
                                        <tr>
                                            <td>{{ month.month|date:"F Y"|capfirst }}</td>
                                            <td>{{ month.c }}</td>
                                            <td>
                                                {% if export_for == "siae" %}
                                                    <a class="btn-link"
                                                       {% matomo_event "candidature" "exports" "export-siae" %}
                                                       aria-label="Télécharger cet export SIAE"
                                                       href="{% url 'apply:list_for_siae_exports_download' month_identifier=month.month|date:"Y-m" %}">
                                                        <i class="ri-download-line me-1" aria-hidden="true"></i>
                                                        Télécharger
                                                    </a>
                                                {% else %}
                                                    <a class="btn-link"
                                                       {% matomo_event "candidature" "exports" "export-prescripteur" %}
                                                       aria-label="Télécharger cet export prescripteur"
                                                       href="{% url 'apply:list_prescriptions_exports_download' month_identifier=month.month|date:"Y-m" %}">
                                                        <i class="ri-download-line me-1" aria-hidden="true"></i>
                                                        Télécharger
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
