{% extends "layout/content.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Candidatures reçues" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Candidatures reçues" %}</h1>

    <h2 class="text-muted">{{ siae.display_name }}</h2>

    <form method="get" action="">
        <ul class="list-group list-group-horizontal mt-sm-5 mb-sm-0">
            <li class="list-group-item border-0 pl-0">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="datesFilterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans "Date de candidature" %}
                </button>
                <div class="dropdown-menu" aria-labelledby="datesFilterDropdown">
                          {% bootstrap_field filters_form.start_date form_group_class="form_group m-3" %}
                          {% bootstrap_field filters_form.end_date form_group_class="form_group m-3" %}
                      <div class="dropdown-divider"></div>
                      <div class="text-center">
                            <button type="submit" class="btn btn-light">
                              {% trans "Appliquer" %}
                            </button>
                      </div>
                </div> <!-- .dropdon-menu -->
            </li>
            <li class="list-group-item border-0">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="statusFilterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans "Statut" %}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="statusFilterDropdown">
                      {% for choice in filters_form.states %}
                      <div class="form-check form-check-inline dropdown-item">
                          <input id="{{ choice.id_for_label }}" class="form-check-input" name="{{ choice.data.name }}" type="checkbox" value="{{ choice.data.value }}" {% if choice.data.selected %}checked=""{% endif %}>
                          <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label>
                      </div>
                      {% endfor %}
                      <div class="dropdown-divider"></div>
                      <div class="text-center">
                            <button type="submit" class="btn btn-light">
                              {% trans "Appliquer" %}
                            </button>
                      </div>
                </div> <!-- .dropdon-menu -->
            </li>
        </ul>
    </form>

    {% if not job_applications_page %}
        <h2 class="font-weight-normal text-muted mt-4">
            {% trans "Aucune candidature pour le moment." %}
        </h2>
    {% endif %}

    {% for job_application in job_applications_page %}

        <div class="card mb-3 mt-4">

            {% include "apply/includes/list_card_header.html" with job_application=job_application %}

            {% include "apply/includes/list_card_body.html" with job_application=job_application %}

            <div class="card-footer">
                <a href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">
                    {% trans "Gérer la candidature" %}
                </a>
            </div>

        </div>

    {% endfor %}

    {% include "includes/pagination.html" with page=job_applications_page %}

{% endblock %}

{% block script %}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ filters_form.media }}
{% endblock %}
