{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% translate "Suivi des candidatures" %}{{ block.super }}{% endblock %}

{% block extra_head %}{{ filters_form.media.css }}{% endblock %}

{% block content %}

    <h1>{% translate "Suivi des candidatures" %}</h1>

    {% include "apply/includes/job_applications_filters.html" with filters=filters filters_form=filters_form %}

    {% if not job_applications_page %}
        <h2 class="font-weight-normal text-muted">
            {% translate "Aucune candidature pour le moment." %}
        </h2>
    {% endif %}

    {% for job_application in job_applications_page %}

        <div class="card mb-3 mt-4">

            {% include "apply/includes/list_card_header.html" with job_application=job_application %}

            {% include "apply/includes/list_card_body.html" with job_application=job_application %}

            {% include "apply/includes/list_card_footer.html" with job_application=job_application %}

        </div>

    {% endfor %}

    {% include "includes/pagination.html" with page=job_applications_page %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ filters_form.media.js }}
{% endblock %}
