{% extends "layout/base.html" %}
{% load static %}
{% load str_filters %}

{% block title %}Candidatures envoyées {{ block.super }}{% endblock %}

{% block content_title %}<h1>Candidatures envoyées</h1>{% endblock %}

{% block content %}
    <section class="s-box">
        <div class="s-box__container container">
            <div class="s-box__row row">
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <aside class="c-aside-filters">
                        <button class="c-aside-filters__btn__collapse" data-bs-toggle="collapse" data-bs-target="#asideFiltersCollapse" aria-expanded="true" aria-controls="asideFiltersCollapse">
                            <i class="ri-filter-line" aria-hidden="true"></i>
                            <span>Filtrer les candidatures</span>
                        </button>
                        <div class="c-aside-filters__card collapse show" id="asideFiltersCollapse">
                            <form method="get" id="js-job-applications-filters-form">
                                <div class="c-aside-filters__card__body">
                                    {% include "apply/includes/job_applications_filters/statut.html" %}
                                    <hr>
                                    {% include "apply/includes/job_applications_filters/dates.html" %}
                                    <button id="js-job-applications-filters-apply-button" class="btn btn-block btn-primary mt-3" aria-label="Appliquer les filtres">
                                        Appliquer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>

                <div class="col-12 col-md-8">
                    <section aria-labelledby="results">
                        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-3 mb-md-4">
                            <h3 class="h4 mb-0" id="results">
                                {% with job_applications_page.paginator.count as counter %}
                                    {{ counter }} <strong>résultat{{ counter|pluralizefr }}</strong>
                                {% endwith %}
                            </h3>
                            <div class="flex-column flex-md-row btn-group btn-group-sm btn-group-action" role="group" aria-label="Actions sur les candidatures">
                                {% include "apply/includes/job_applications_export_button.html" %}
                                {% if filters_counter > 0 %}
                                    <a href="{% url 'apply:list_for_job_seeker' %}" class="btn btn-secondary btn-ico mt-3 mt-md-0">
                                        <i class="ri-arrow-go-back-line" aria-hidden="true"></i>
                                        <span>Réinitialiser les filtres ({{ filters_counter }})</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        {% if not job_applications_page %}
                            <div class="text-center my-3 my-md-4">
                                <img class="img-fluid" src="{% static 'img/illustration-siae-card-no-result.svg' %}" alt="" loading="lazy">
                                <p class="mb-1 mt-3">
                                    <strong>Aucune candidature pour le moment</strong>
                                </p>
                                <p>
                                    <i>
                                        Vous trouverez ici vos candidatures, émises par un prescripteur
                                        <br class="d-none d-lg-inline">
                                        ou par vous même.
                                    </i>
                                </p>
                                <a href="{% url 'search:siaes_home' %}" class="btn btn-outline-primary btn-ico w-100 w-md-auto justify-content-center">
                                    <i class="ri-briefcase-line ri-lg font-weight-normal"></i>
                                    <span>Rechercher un emploi inclusif</span>
                                </a>
                            </div>
                        {% else %}
                            {% for job_application in job_applications_page %}
                                <div class="c-card card my-3 my-md-4 has-links-inside">
                                    {% include "apply/includes/list_card_body_jobseeker.html" %}
                                    <div class="card-footer text-end bg-light">
                                        {% if job_application.pending_for_weeks >= job_application.WEEKS_BEFORE_CONSIDERED_OLD %}
                                            <span class="d-inline-flex align-items-center text-warning fs-sm">
                                                <i class="ri-time-line ri-lg me-1"></i>
                                                En attente de réponse depuis {{ job_application.pending_for_weeks }} semaines.
                                            </span>
                                        {% endif %}
                                        <a class="btn btn-sm btn-outline-primary bg-white"
                                           href="{% url 'apply:details_for_jobseeker' job_application_id=job_application.id %}?back_url={{ request.get_full_path|urlencode }}"
                                           aria-label="Voir ma candidature">Voir ma candidature</a>
                                    </div>
                                </div>
                            {% endfor %}

                            {% include "includes/pagination.html" with page=job_applications_page %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src='{% static "js/job_applications_filters.js" %}'></script>
{% endblock %}
