{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load static %}
{% load str_filters %}

{% block title %}Candidatures reçues {{ block.super }}{% endblock %}

{% block extra_head %}{{ filters_form.media.css }}{% endblock %}

{% block content_container_css_classes %}s-section pt-0{% endblock %}

{% block pre_content %}
    <section class="s-title-01 p-0">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1-hero-c1">
                        <strong>Candidatures reçues</strong>
                    </h1>
                    <h2 class="h2">{{ siae.display_name }}</h2>
                    {% if siae.is_subject_to_eligibility_rules %}
                        <p class="mb-0">
                            Toute demande de PASS IAE doit être effectuée <b>au plus tard le jour de l'embauche</b>.
                        </p>
                        <p>Les demandes rétroactives ne sont pas autorisées.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 mb-3 mb-md-5">
            <aside class="c-aside-filters">
                <button class="c-aside-filters__btn__collapse" data-toggle="collapse" data-target="#candidatures-filter-form" aria-expanded="false" aria-controls="candidatures-filter-form">
                    <i class="ri-filter-line"></i>
                    <span>Filtrer les candidatures</span>
                </button>
                <div class="c-aside-filters__card collapse" id="candidatures-filter-form">
                    <form method="get" id="js-job-applications-filters-form">
                        <div class="c-aside-filters__card__body">
                            {% include "apply/includes/job_applications_filters/statut.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/job_seekers.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/eligibility_validated.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/pass.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/criteria.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/departments.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/dates.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/selected_jobs.html" %}
                            <hr>
                            {% include "apply/includes/job_applications_filters/sender.html" %}
                            <button id="js-job-applications-filters-apply-button" type="submit" class="btn btn-block btn-primary mt-3" aria-label="Appliquer les filtres">
                                Appliquer
                            </button>
                        </div>
                    </form>
                </div>
            </aside>
        </div>

        <div class="col-12 col-md-8">
            <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                <p class="h2 mb-0 flex-grow-1">
                    {% with job_applications_page.paginator.count as counter %}
                        {{ counter }} <strong>résultat{{ counter|pluralizefr }}</strong>
                    {% endwith %}
                </p>
                <div>
                    {% include "apply/includes/job_applications_export_button.html" %}
                    {% if filters_counter > 0 %}
                        <a href="{% url 'apply:list_for_siae' %}" class="btn btn-link btn-ico pl-0">
                            <i class="ri-close-fill"></i>
                            <span>Réinitialiser les filtres ({{ filters_counter }})</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if not job_applications_page %}
                <h2 class="font-weight-normal text-muted my-4">Aucune candidature pour le moment.</h2>
                {% include "apply/includes/rdv_insertion_promo_card.html" %}
            {% else %}
                {% for job_application in job_applications_page %}
                    <div class="c-card card my-4 has-links-inside">
                        {% include "apply/includes/list_card_body_siae.html" %}
                        <div class="card-footer text-right bg-light">
                            <a class="btn btn-sm btn-outline-primary bg-white"
                               href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}?back_url={{ request.get_full_path|urlencode }}"
                               aria-label="Gérer la candidature de {{ job_application.job_seeker.get_full_name|mask_unless:job_application.user_can_view_personal_information }}">
                                Voir sa candidature
                            </a>
                        </div>
                    </div>

                    {% if forloop.counter == 1 %}
                        {% include "apply/includes/rdv_insertion_promo_card.html" %}
                    {% endif %}

                {% endfor %}

                {% include "includes/pagination.html" with page=job_applications_page %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script nonce="{{ CSP_NONCE }}">
        // Show or Hide the search-filter-form sidebar based on responsive breakpoint
        var breakpointMD = getComputedStyle(document.documentElement).getPropertyValue("--breakpoint-md");
        $(window).on("load resize", function() {
            if (window.matchMedia("(min-width: "+breakpointMD+")").matches) {
                $("candidatures-filter-form").collapse("show");
            } else {
                $("candidatures-filter-form").collapse("hide");
            }
        });
    </script>
    <!-- Needed to use Select2MultipleWidget. -->
    {{ filters_form.media.js }}
    <script src='{% static "js/job_applications_filters.js" %}'></script>
{% endblock %}
