{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load str_filters %}

{% block title %}Candidatures envoyées {{ block.super }}{% endblock %}

{% block title_content %}<h1>Candidatures envoyées</h1>{% endblock %}

{% block content %}
    {% include "apply/includes/job_applications_filters/offcanvas.html" %}
    <section class="s-section">
        <div class="s-section__container container">
            {% include "apply/includes/job_applications_filters/top_filters.html" %}
            <div class="s-section__row row">
                <div class="col-12">
                    {% include "apply/includes/list_counter.html" %}
                    {% include "apply/includes/list_job_applications.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src='{% static "js/htmx_compat.js" %}'></script>
    <script src='{% static "js/htmx_dropdown_filter.js" %}'></script>
{% endblock %}
