{% extends "apply/process_base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block content_extend %}
    <div class="alert alert-warning alert-dismissible fade show" role="status">
        <div class="row">
            <div class="col-auto pe-0">
                <i class="ri-information-line ri-xl text-warning"></i>
            </div>
            <div class="col">
                <p class="mb-0">
                    {% if job_application.to_company.is_subject_to_eligibility_rules %}
                        En validant, <b>vous renoncez aux aides au poste</b> liées à cette candidature pour tous les jours travaillés de ce salarié. Si ce salarié a travaillé dans votre structure, il est préférable de suspendre son PASS IAE ci-dessus.
                    {% else %}
                        En annulant cette embauche, vous confirmez que le salarié n’avait pas encore commencé à travailler dans votre structure.
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <form method="post" class="js-prevent-multiple-submit">

        {% csrf_token %}

        <input type="hidden" name="confirm" value="true">

        {% url 'apply:details_for_company' job_application_id=job_application.id as reset_url %}
        {% itou_buttons_form primary_label="Confirmer l'annulation de l'embauche" reset_url=reset_url show_mandatory_fields_mention=False %}

    </form>
{% endblock %}
