{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load format_filters %}

{% block content %}

    {{ block.super }}

    {# Job seeker info ------------------------------------------------------------------------- #}

    <h3 class="h2 font-weight-normal text-muted">Candidat</h3>
    {% include "apply/includes/job_seeker_info.html" with job_application=job_application %}

    {# Job application info ------------------------------------------------------------------------- #}

    <hr>
    <h3 class="h2 font-weight-normal text-muted">Candidature</h3>

    {% include "apply/includes/job_application_info.html" with job_application=job_application %}

    {# Eligibility ------------------------------------------------------------------------- #}

    {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_application=job_application %}

    {# Sender info ------------------------------------------------------------------------- #}

    <hr>

    <h3 class="h2 font-weight-normal text-muted">Candidature envoyée par</h3>

    {% include "apply/includes/job_application_sender_info.html" with job_application=job_application %}

    {# Answer ------------------------------------------------------------------------- #}

    {% if job_application.answer or job_application.state.is_refused %}

        <hr>

        <h3 class="h2 font-weight-normal text-muted">Réponse</h3>

        {% if job_application.refusal_reason %}
            <p>
                <b>Motif du refus :</b><br>
                {{ job_application.get_refusal_reason_display }}
            </p>
        {% endif %}

        {% if job_application.answer %}
            <div class="alert alert-emploi">
                <p><b>Réponse :</b></p>
                {{ job_application.answer|linebreaks }}
            </div>
        {% endif %}

        {% if job_application.answer_to_prescriber %}
            <div class="alert alert-emploi">
                <p><b>Message pour le prescripteur :</b></p>
                {{ job_application.answer_to_prescriber|linebreaks }}
            </div>
        {% endif %}

    {% endif %}

    {# History ------------------------------------------------------ #}

    {% if transition_logs %}

        <hr>

        <h3 class="h2 font-weight-normal text-muted">Historique des modifications</h3>
        {% include "apply/includes/transition_logs.html" with job_application=job_application transition_logs=transition_logs %}

    {% endif %}

    <hr>
    <p>
        <a href="{{ back_url }}">Retour</a>
    </p>

{% endblock %}
