{% extends "apply/process_base.html" %}
{% load bootstrap4 %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-warning" role="alert">
        Confirmez votre choix.
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form_errors form type="all" %}

        {# TODO: Fix incorrect rendering of form with radio buttons #}
        {# https://github.com/zostera/django-bootstrap4/issues/126 #}
        <div class="accordion" id="refusal-reasons">
            <div class="form-group{% if form.refusal_reason.field.required %} form-group-required{% endif %}">
                {{ form.refusal_reason.label_tag }}
                <ul class="list-unstyled">
                    {% for radio in form.refusal_reason %}
                        {% if radio.choice_label == "Autre" %}
                            <li>
                                <!-- Toggle a "know more" field. -->
                                <label for="{{ radio.id_for_label }}" data-toggle="collapse" data-target="#other-answer-to-prescriber" aria-expanded="false" aria-controls="other-answer-to-prescriber">{{ radio.tag }} {{ radio.choice_label }}</label>
                            </li>
                        {% else %}
                            <li>
                                <label for="{{ radio.id_for_label }}" data-toggle="collapse" data-target="#empty" aria-expanded="false" aria-controls="empty">{{ radio.tag }} {{ radio.choice_label }}</label>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <div class="collapse" id="other-answer-to-prescriber" data-parent="#refusal-reasons">
                {% bootstrap_field form.answer_to_prescriber %}
            </div>
            <!-- Small hack to hide "answer_to_prescriber" when clicking on other reasons. -->
            <div class="collapse" id="empty" data-parent="#refusal-reasons"></div>
        </div>

        {% bootstrap_field form.answer %}

        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">Annuler</a>
            <button type="submit" class="btn btn-danger">Décliner la candidature</button>
        {% endbuttons %}

    </form>

{% endblock %}
