{% extends "layout/content_small.html" %}
{% load i18n %}

{% block title %}
    {% trans "Candidature" %}
    -
    {{ job_application.job_seeker.get_full_name }}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h1>
        {% trans "Candidature de" %}
        <span class="text-muted">{{ job_application.job_seeker.get_full_name }}</span>
        <br>
        <small>{% include "apply/includes/state_badge.html" with job_application=job_application %}</small>
    </h1>

    {% if job_application.to_siae.is_subject_to_eligibility_rules %}

        {% if job_application.state.is_accepted %}
            <div class="alert border">
                {% if job_application.approval %}
                    {% include "approvals/includes/status.html" with approval=job_application.approval job_application=job_application %}
                {% else %}
                    {% trans "Numéro d'agrément en cours de délivrance." %}
                {% endif %}
            </div>
        {% else %}
            {% if approvals_wrapper.latest_approval %}
                <div class="alert border">
                    {% include "approvals/includes/status.html" with approval=approvals_wrapper.latest_approval %}
                </div>
            {% endif %}
        {% endif %}

    {% endif %}

    <hr>

{% endblock %}
