{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <form method="post" action="">

        {% csrf_token %}

        {% if form_pe_status %}

            <div class="alert alert-warning" role="alert">
                {% trans "Vérifiez le statut Pôle emploi du candidat." %}
            </div>

            {% bootstrap_form form_pe_status %}

        {% endif %}

        <div class="alert alert-warning" role="alert">
            {% trans "Confirmez votre choix." %}
        </div>

        {% bootstrap_form form_accept %}

        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">{% trans "Annuler" %}</a>
            <button type="submit" class="btn btn-success">{% trans "Je l'embauche" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
