{% extends "apply/process_accept_base.html" %}
{% load buttons_form %}

{% block content_extend %}
    {% include "apply/includes/job_application_accept_form.html" %}
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% include "apply/includes/hiring_start_at_issue/modal.html" with hiring_start_at_issue_code=form_accept.hiring_start_at_issue_code job_application=job_application only %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <!-- Needed to use the Datepicker JS widget. -->
    {{ form_accept.media.js }}

    {# HTMX: dynamic contract type details field, must be reloaded at each DOM swap (otherwise invalidated) #}
    <script nonce="{{ csp_nonce }}">
        htmx.onLoad(function() {
            var contractType = $("#id_contract_type");
            var contractTypeDetails = $("#contractTypeDetails");
            contractType.change(function() {
                if (contractType.val() == '{{ hide_value }}') {
                    contractTypeDetails.removeClass("d-none");
                } else {
                    $("#id_contract_type_details").val('');
                    contractTypeDetails.addClass("d-none");
                }
            });
        });
    </script>

    {% include "apply/includes/hiring_start_at_issue/script.html" with csp_nonce=csp_nonce hiring_start_at_issue_code=form_accept.hiring_start_at_issue_code only %}
{% endblock %}
