{% extends "apply/process_base.html" %}
{% load badges %}
{% load components %}
{% load str_filters %}

{% block title %}
    Accepter la candidature de {{ job_application.job_seeker.get_full_name }}
    {{ block.super }}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                Accepter la candidature de {{ job_application.job_seeker.get_full_name|mask_unless:can_view_personal_information }}
                {% job_application_state_badge job_application extra_class="badge-base" %}
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content_extend %}
    {% include "apply/includes/eligibility_section.html" %}
{% endblock %}
