{% extends "apply/process_base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load matomo %}
{% load static %}
{% load str_filters %}

{% block title %}
    Candidature
    -
    {{ job_application.job_seeker.get_full_name|mask_unless:can_view_personal_information }}
    {{ block.super }}
{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_extra %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist" data-it-sliding-tabs="true">
        <li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="informations-tab"
               data-bs-toggle="tab"
               href="#informations"
               role="tab"
               aria-controls="informations"
               aria-selected="true"
               {% matomo_event "candidature" "clic-onglet" "informations-generales" %}>Informations générales</a>
        </li>
        {% if job_application.upcoming_participations_count or request.current_organization.rdv_solidarites_id %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   id="appointments-tab"
                   data-bs-toggle="tab"
                   href="#appointments"
                   role="tab"
                   aria-controls="appointments"
                   aria-selected="false"
                   {% matomo_event "candidature" "clic-onglet" "appointments" %}>
                    <span>Rendez-vous</span>
                    {% if job_application.upcoming_participations_count %}
                        <span id="upcoming-appointments-count" class="badge badge-sm rounded-pill ms-2">{{ job_application.upcoming_participations_count }}</span>
                    {% endif %}
                </a>
            </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="historique-tab" data-bs-toggle="tab" href="#historique" role="tab" aria-controls="historique" aria-selected="false" {% matomo_event "candidature" "clic-onglet" "historique" %}>Historique</a>
        </li>
    </ul>
{% endblock %}

{% block title_inline_actions %}
    {% if can_be_cancelled %}
        <button class="btn btn-danger btn-lg btn-ico" data-bs-toggle="modal" data-bs-target="#cancel_hire_modal">
            <i class="ri-arrow-go-back-line fw-medium" aria-hidden="true"></i>
            <span>Annuler l’embauche</span>
        </button>
    {% endif %}
{% endblock %}

{% block actions %}
    {% include "apply/includes/siae_hiring_actions.html" with job_application=job_application %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="informations" role="tabpanel" aria-labelledby="informations-tab">
                    <div class="s-section__row row">
                        <div class="col-12 col-lg-8 order-2 order-lg-1">
                            <h2>Informations générales</h2>
                            {# Job seeker info ------------------------------------------------------------------------- #}
                            <div class="c-box mb-3 mb-md-4">
                                {% include "apply/includes/job_seeker_info.html" with job_seeker=job_application.job_seeker job_application=job_application can_view_personal_information=can_view_personal_information can_edit_personal_information=can_edit_personal_information request=request with_matomo_event=True csrf_token=csrf_token SenderKind=SenderKind only %}
                                {% if job_application.to_company.kind == CompanyKind.GEIQ %}
                                    {# GEIQ eligibility details #}
                                    {% include "apply/includes/geiq/geiq_diagnosis_details.html" with diagnosis=geiq_eligibility_diagnosis request=request itou_help_center_url=ITOU_HELP_CENTER_URL %}
                                {% else %}
                                    {# Eligibility ------------------------------------------------------------------------- #}
                                    {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_seeker=job_application.job_seeker is_sent_by_authorized_prescriber=job_application.is_sent_by_authorized_prescriber siae=job_application.to_company itou_help_center_url=ITOU_HELP_CENTER_URL %}
                                {% endif %}
                            </div>

                            {# hiring details ------------------------------------------------------------------------ #}
                            {% include "apply/includes/siae_hiring_details.html" %}

                            {# Job application info ------------------------------------------------------------------------- #}
                            <div class="c-box mb-3 mb-md-4">
                                <h3>Candidature</h3>
                                {# Sender info ------------------------------------------------------------------------- #}
                                {% include "apply/includes/job_application_sender_info.html" with job_application=job_application %}

                                {% include "apply/includes/job_application_info.html" with job_application=job_application %}

                                {# Prior actions info #}
                                {% if job_application.can_have_prior_action %}
                                    {% if job_application.prior_actions.all or job_application.can_change_prior_actions %}
                                        <hr>
                                        <h3>Action préalable à l'embauche</h3>
                                        {% for prior_action in job_application.prior_actions.all %}
                                            {% include "apply/includes/job_application_prior_action.html" with job_application=job_application prior_action=prior_action add_prior_action_form=None hide_final_hr=forloop.last with_oob_state_update=False %}
                                        {% endfor %}
                                        {% if job_application.can_change_prior_actions %}
                                            {% url 'apply:add_prior_action' job_application_id=job_application.id as add_prior_action_url %}
                                            {% include "apply/includes/job_application_prior_action_form.html" with job_application=job_application form=add_prior_action_form main_div_id="add_prior_action" form_url=add_prior_action_url final_hr=False %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>

                            {# Negative answers ------------------------------------------------------------------------- #}
                            {% include "apply/includes/job_application_answers.html" with job_application=job_application %}
                        </div>
                        <div class="col-12 col-lg-4 order-1 order-lg-2 mt-lg-6">
                            {% block sidebar %}{{ block.super }}{% endblock %}
                        </div>
                    </div>
                </div>

                {% if job_application.upcoming_participations_count or request.current_organization.rdv_solidarites_id %}
                    <div class="tab-pane fade" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
                        <div class="s-section__row  row">
                            <div class="col-12 col-lg-8 order-2 order-lg-1">
                                {# Appointments ------------------------------------------------- #}
                                {% include "apply/includes/appointments.html" with job_application=job_application %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
                    <div class="s-section__row  row">
                        <div class="col-12 col-lg-8 order-2 order-lg-1">
                            <h2>Historique des modifications</h2>
                            {# History ------------------------------------------------------ #}
                            {% include "apply/includes/transition_logs.html" with job_application=job_application transition_logs=transition_logs %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js'%}"></script>
    <script src='{% static "js/htmx_compat.js" %}'></script>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {# Job application transfer modals triggered by apply/includes/transfer_job_application.html #}
    {% if job_application.transfer.is_available %}
        {% for siae in request.organizations %}
            {% if siae != request.current_organization %}
                <div id="transfer_confirmation_modal_{{ siae.pk }}" class="modal" tabindex="-1" aria-labelledby="modal_title_{{ siae.pk }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal_title_{{ siae.pk }}">Confirmation du transfert</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Êtes-vous sûr de vouloir transférer la candidature de <b>{{ job_application.job_seeker.get_full_name }}</b> dans la structure suivante ?
                                </p>
                                {% include "includes/structures/_structure_info.html" with structure=siae company_show_cta=True extra_box_class="mb-3 mb-lg-5" open_in_tab=True only %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Retour</button>
                                <form method="post" action="{% url 'apply:transfer' job_application_id=job_application.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="target_company_id" value="{{ siae.pk }}" />
                                    <input type="hidden" name="back_url" value="{{ back_url }}" />
                                    <button class="btn btn-sm btn-primary">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if can_be_cancelled %}
        <div id="cancel_hire_modal" class="modal" tabindex="-1" aria-labelledby="cancel_hire_modal_title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancel_hire_modal_title">
                            Annuler l’embauche de {{ job_application.job_seeker.get_full_name }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        {% if job_application.to_company.is_subject_to_eligibility_rules %}
                            <p>
                                En validant, <strong>vous renoncez aux aides au poste</strong> liées à cette candidature pour tous les jours travaillés de ce salarié.
                                Si ce salarié a travaillé dans votre structure, il est préférable de suspendre son PASS IAE.
                            </p>
                            <p>
                                {{ job_application.job_seeker.get_full_name }} restera éligible à l'IAE et pourra de nouveau vous envoyer une candidature dans le futur.
                            </p>
                        {% else %}
                            <p>En validant, vous confirmez que le salarié n’avait pas encore commencé à travailler dans votre structure.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                        <form method="post" action="{% url 'apply:cancel' job_application_id=job_application.id %}" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger">Confirmer l’annulation de l’embauche</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {# GEIQ SIAE without valid geiq_eligibility_diagnosis. Modal triggered by apply/includes/buttons/accept.html #}
    {% if job_application.to_company.kind == CompanyKind.GEIQ and not geiq_eligibility_diagnosis.is_valid %}
        {% url 'apply:accept' job_application_id=job_application.pk as accept_url %}
        {% include "apply/includes/geiq/no_allowance_modal.html" with next_url=accept_url %}
    {% endif %}
{% endblock %}
