{% extends "apply/process_base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}

{% block content_extend %}
    {# Job seeker info ------------------------------------------------------------------------- #}
    <div class="c-box mb-4">
        <h2>Candidat</h2>
        <hr>
        <h3>Informations personnelles</h3>
        {% include "apply/includes/job_seeker_info.html" with job_seeker=job_application.job_seeker job_application=job_application can_view_personal_information=can_view_personal_information can_edit_personal_information=can_edit_personal_information request=request with_matomo_event=True only %}
        {% if job_application.to_company.kind == CompanyKind.GEIQ %}
            {# GEIQ eligibility details #}
            {% include "apply/includes/geiq/geiq_diagnosis_details.html" with diagnosis=geiq_eligibility_diagnosis %}
        {% else %}
            {# Eligibility ------------------------------------------------------------------------- #}
            {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_seeker=job_application.job_seeker is_sent_by_authorized_prescriber=job_application.is_sent_by_authorized_prescriber siae=job_application.to_company %}
        {% endif %}
    </div>

    {# Job application info ------------------------------------------------------------------------- #}
    <div class="c-box mb-4">
        <h2>Candidature</h2>
        <hr>
        <h3>Détails de la candidature</h3>
        {% include "apply/includes/job_application_info.html" with job_application=job_application %}

        <hr>
        {# Sender info ------------------------------------------------------------------------- #}
        <h3>Candidature envoyée par</h3>
        {% include "apply/includes/job_application_sender_info.html" with job_application=job_application %}

        {# Diagoriente invite #}
        {% if not job_application.get_resume_link %}
            {% include "apply/includes/job_application_diagoriente_invite.html" with job_application=job_application %}
        {% endif %}

        {# Prior actions info #}
        {% if job_application.can_have_prior_action %}
            <hr>
            <h3>Action préalable à l'embauche</h3>
            {% for prior_action in job_application.prior_actions.all %}
                {% include "apply/includes/job_application_prior_action.html" with job_application=job_application prior_action=prior_action add_prior_action_form=None hide_final_hr=forloop.last %}
            {% endfor %}
            {% if job_application.can_change_prior_actions %}
                {% url 'apply:add_prior_action' job_application_id=job_application.id as add_prior_action_url %}
                {% include "apply/includes/job_application_prior_action_form.html" with job_application=job_application form=add_prior_action_form main_div_id="add_prior_action" form_url=add_prior_action_url %}
            {% endif %}
        {% endif %}

        {# Negative answers ------------------------------------------------------------------------- #}
        {% include "apply/includes/job_application_answers.html" with job_application=job_application %}

        {# hiring details ------------------------------------------------------------------------ #}
        {% include "apply/includes/siae_hiring_details.html" %}

        {# History ------------------------------------------------------ #}
        {% if transition_logs %}
            <hr>
            <h3>Historique des modifications</h3>
            {% include "apply/includes/transition_logs.html" with job_application=job_application transition_logs=transition_logs %}
        {% endif %}
    </div>
{% endblock %}

{% block actions %}
    {% include "apply/includes/siae_hiring_actions.html" with job_application=job_application %}

    {% if job_application.to_company.is_subject_to_eligibility_rules and request.user.is_employer and job_application.state.is_accepted and job_application.approval %}
        <div class="c-box mb-4">
            <p>
                <b>PASS IAE</b>
            </p>
            <p>
                La consultation et la gestion du PASS IAE (exemple : « suspendre » ou « prolonger » un PASS IAE) se fait depuis le profil salarié.
            </p>
            <a class="btn btn-block btn-primary matomo-event"
               href="{% url 'approvals:detail' pk=job_application.approval.id %}"
               data-matomo-category="salaries"
               data-matomo-action="clic"
               data-matomo-option="detail-salarie-depuis-candidature">Accéder au profil salarié</a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <script nonce="{{ CSP_NONCE }}">
        htmx.onLoad((target) => {
            $(".hide-if-empty", target).each(function() {
                if ($(this).children().length == 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })
    </script>
{% endblock %}
