{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">{% translate "Annuler" %}</a>
            <button type="submit" class="btn btn-success">{% translate "Mettre en liste d'attente" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
