{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}


    <div class="alert alert-info" role="alert">
        {% trans "Confirmez votre choix en renseignant quelques informations supplémentaires." %}
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit mt-5">

        {% csrf_token %}

        {% if form_address or form_pe_status %}
            <h3>{% trans "Candidat" %}</h3>
        {% endif %}

        {% if form_pe_status %}
            {% if not job_application.approval_not_needed %}
                <div class="alert alert-warning" role="alert">
                    {% trans "Pour obtenir un PASS IAE dans les meilleurs délais, assurez-vous de l'exactitude de la date de naissance et du statut Pôle emploi du candidat." %}
                </div>
            {% endif %}

            {% bootstrap_form form_pe_status %}
        {% endif %}

        {% if form_user_address %}
            <div class="mt-5">
                {% bootstrap_form form_user_address %}
            </div>
        {% endif %}

        <div class="mt-5">
            <h3>{% trans "Embauche" %}</h3>

            {% bootstrap_form form_accept %}
        </div>

        {% buttons %}
            <a class="btn btn-secondary"
               href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">{% trans "Annuler" %}</a>
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">{% trans "Je l'embauche" %}</a>

        {% endbuttons %}
            
        <!-- Do we really need an approval ? -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body p-4">
                        <h4 class="modal-title text-center" id="mapModalLabel">Obtention d'un PASS IAE</h4>
                        <p class="pt-2 text-center">Dans le cadre de cette embauche, souhaitez-vous obtenir un PASS IAE ?</p>
                        <div id="mapPoll">
                            <div class="row buttonsContainer">
                                <div class="col pr-2">
                                    <button type="submit" class="btn btn-success w-100">
                                        Je l'embauche et j'obtiens un PASS IAE
                                    </button>
                                </div>
                                <div class="col pl-2">
                                    <button type="submit" class="btn btn-success w-100" onClick="$(&quot;input[name='hiring_without_approval']&quot;).val('True')">
                                        Je n'ai pas besoin d'un PASS IAE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form_accept.media }}
    {% if form_pe_status %}
        {{ form_pe_status.media }}
    {% endif %}
{% endblock %}
