{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load format_filters %}

{% block content %}

    {{ block.super }}

    {# Job seeker info ------------------------------------------------------------------------- #}
    <div class="c-box my-4">
        <h2>Candidat</h2>
        <hr>
        <h3 >Informations personnelles</h3>
        {% include "apply/includes/job_seeker_info.html" with job_application=job_application %}
        {# Eligibility ------------------------------------------------------------------------- #}
        {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_application=job_application %}
    </div>

    {# Job application info ------------------------------------------------------------------------- #}
    <div class="c-box my-4">
        <h2>Candidature</h2>
        <hr>
        <h3>Détails de la candidature</h3>
        {% include "apply/includes/job_application_info.html" with job_application=job_application %}

        <hr>
        {# Sender info ------------------------------------------------------------------------- #}
        <h3>Candidature envoyée par</h3>
        {% include "apply/includes/job_application_sender_info.html" with job_application=job_application %}

        {# Negative answers ------------------------------------------------------------------------- #}
        {% include "apply/includes/job_application_answers.html" with job_application=job_application %}

        {# History ------------------------------------------------------ #}

        {% if transition_logs %}
            <hr>
            <h3>Historique des modifications</h3>
            {% include "apply/includes/transition_logs.html" with job_application=job_application transition_logs=transition_logs %}
        {% endif %}
    </div>

{% endblock %}
