{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load format_filters %}

{% block content %}

    {{ block.super }}

    {# Job seeker info ------------------------------------------------------------------------- #}

    <h3 class="font-weight-normal text-muted">{% translate "Candidat" %}</h3>

    <ul>

        <li>{% translate "Prénom :" %} <b>{{ job_application.job_seeker.first_name }}</b></li>

        <li>{% translate "Nom :" %} <b>{{ job_application.job_seeker.last_name }}</b></li>

        <li>{% translate "Date de naissance :" %} <b>{{ job_application.job_seeker.birthdate|date:"d/m/Y" }}</b></li>

        <li>{% translate "E-mail :" %} <a
                href="mailto:{{ job_application.job_seeker.email }}">{{ job_application.job_seeker.email }}</a></li>

        {% if job_application.job_seeker.phone %}
            <li>{% translate "Téléphone :" %} <a
                    href="tel:{{ job_application.job_seeker.phone }}">{{ job_application.job_seeker.phone|format_phone }}</a>
            </li>
        {% endif %}

        {% if job_application.job_seeker.address_on_one_line %}
            <li>{% translate "Adresse" %} : <b>{{ job_application.job_seeker.address_on_one_line }}</b></li>
        {% endif %}

        {% if job_application.job_seeker.pole_emploi_id %}
            <li>{% translate "Identifiant Pôle emploi :" %} <b>{{ job_application.job_seeker.pole_emploi_id }}</b></li>
        {% endif %}

        {% if job_application.job_seeker.resume_link %}
            <li>{% translate "Lien vers CV :" %} <a
                    href="{{ job_application.job_seeker.resume_link }}">{{ job_application.job_seeker.resume_link }}</a>
            </li>
        {% endif %}
    </ul>

    {% if job_application.has_editable_job_seeker %}
        <p>
            <a href="{% url 'dashboard:edit_job_seeker_info' job_application_id=job_application.pk %}?back_url={{ request.get_full_path|urlencode }}"
               class="btn btn-outline-primary btn-block">
                {% translate "Modifier les informations" %}
            </a>
        </p>
    {% endif %}

    {# Job application info ------------------------------------------------------------------------- #}

    <hr>
    <h3 class="font-weight-normal text-muted">{% translate "Candidature" %}</h3>

    <ul>
        <li>{% translate "Date de la candidature :" %} <b>{{ job_application.created_at|date:"d F Y à H:i" }}</b></li>

        {% if job_application.selected_jobs.exists %}
            <li>
                {% translate "Métier(s) recherché(s) :" %}
                <ul>
                    {% for job in job_application.selected_jobs.all %}
                        <li><b>{{ job.display_name }}</b> ({{ job.appellation.rome_id }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>{% translate "Candidature spontanée" %}</li>
        {% endif %}
    </ul>

    <div class="alert alert-secondary">
        <p><b>{% translate "Message :" %}</b></p>
        {{ job_application.message|linebreaks }}
    </div>

    {# Eligibility ------------------------------------------------------------------------- #}

    {% if job_application.to_siae.is_subject_to_eligibility_rules %}

            {% if eligibility_diagnosis and eligibility_diagnosis.is_considered_valid %}

                <hr>
                <h3 class="font-weight-normal text-muted">
                    {% translate "Critères d'éligibilité" %}
                </h3>
                <p>
                    {% translate "Validés par" %}
                    <b>{{ eligibility_diagnosis.author.get_full_name }}</b>
                    {% if eligibility_diagnosis.author_siae %}
                        ({{ eligibility_diagnosis.author_siae.display_name }})
                    {% endif %}
                    {% if eligibility_diagnosis.author_prescriber_organization %}
                        ({{ eligibility_diagnosis.author_prescriber_organization.display_name }})
                    {% endif %}
                    {% translate "le" %}
                    <b>{{ eligibility_diagnosis.created_at|date:"d/m/Y" }}</b>.
                </p>

                {% with eligibility_diagnosis.administrative_criteria.all as administrative_criteria %}
                    {% if administrative_criteria %}
                        <p>
                            <span class="badge badge-secondary">
                                {% translate "Critères administratifs" %}
                            </span>
                        </p>
                        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/#regroup #}
                        {% regroup administrative_criteria|dictsort:"level" by get_level_display as levels %}
                        <ul>
                            {% for level in levels %}
                                <li>
                                    <span class="badge badge-secondary">{{ level.grouper }}</span>
                                    <ul>
                                        {% for criteria in level.list %}
                                            <li>{{ criteria.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <p>
                    <i>
                        {% translate "Ce diagnostic expire le " %}
                        {{ eligibility_diagnosis.considered_to_expire_at|date:"d/m/Y" }}.
                    </i>
                </p>

            {% elif approvals_wrapper.has_valid_pole_emploi_eligibility_diagnosis %}

                <hr>
                <h3 class="font-weight-normal text-muted">{% translate "Critères d'éligibilité" %}</h3>
                <p>
                    {% translate "Validés par" %} <b>{% translate "Pôle emploi" %}</b>.
                </p>

            {% endif %}

    {% endif %}

    {# Sender info ------------------------------------------------------------------------- #}

    <hr>

    <h3 class="font-weight-normal text-muted">{% translate "Candidature envoyée par" %}</h3>

    <ul>

        <li>{% translate "Prénom :" %} <b>{{ job_application.sender.first_name }}</b></li>

        <li>{% translate "Nom :" %} <b>{{ job_application.sender.last_name }}</b></li>

        <li>{% translate "Type :" %} <b>{{ job_application.get_sender_kind_display }}</b></li>

        <li>{% translate "E-mail :" %} <a
                href="mailto:{{ job_application.sender.email }}">{{ job_application.sender.email }}</a></li>

        {% if job_application.sender_prescriber_organization %}
            <li>
                {% translate "Structure :" %}
                <b>{{ job_application.sender_prescriber_organization.display_name }}</b>
                {% if job_application.is_sent_by_authorized_prescriber %}
                    <span class="badge badge-warning">{% translate "Prescripteur habilité" %}</span>
                {% endif %}
            </li>
        {% endif %}

        {% if job_application.sender_siae %}
            <li>
                {% translate "Employeur solidaire :" %}
                <b>{{ job_application.sender_siae.display_name }}</b>
            </li>
        {% endif %}

        {% if job_application.sender.phone %}
            <li>
                {% translate "Téléphone :" %}
                <a href="tel:{{ job_application.sender.phone }}">{{ job_application.sender.phone|format_phone }}</a>
            </li>
        {% endif %}

    </ul>

    {# Process ------------------------------------------------------------------------- #}

    {% if job_application.state.is_new %}

        <hr>

        <form method="post" action="{% url 'apply:process' job_application_id=job_application.id %}"
              class="js-prevent-multiple-submit">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-warning">{% translate "J'étudie cette candidature" %}</button>
            {% endbuttons %}
        </form>

    {% endif %}

    {# Answer ------------------------------------------------------------------------- #}

    {% if job_application.refusal_reason or job_application.answer %}

        <hr>

        <h3 class="font-weight-normal text-muted">{% translate "Réponse" %}</h3>

        {% if job_application.refusal_reason %}
            <p>
                <b>{% translate "Motif du refus :" %}</b><br>
                {{ job_application.get_refusal_reason_display }}
            </p>
        {% endif %}

        {% if job_application.answer %}
            <div class="alert alert-secondary">
                <p><b>{% translate "Message :" %}</b></p>
                {{ job_application.answer|linebreaks }}
            </div>
        {% endif %}

    {% endif %}

    {# Possible next steps when the state is processing ------------------------------------------------------ #}

    {% if job_application.state.is_processing %}

        <hr>

        {% if job_application.eligibility_diagnosis_by_siae_required %}
            <p>
                {% include "eligibility/includes/new_diagnosis_button.html" %}
            </p>
        {% else %}
            <p>
                <a href="{% url 'apply:accept' job_application_id=job_application.id %}"
                   class="btn btn-outline-success btn-block">
                    {% translate "Je l'embauche" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

            <p>
                <a href="{% url 'apply:postpone' job_application_id=job_application.id %}"
                   class="btn btn-outline-success btn-block">
                    {% translate "Mettre en liste d'attente" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

        {% endif %}

        <p>
            <a href="{% url 'apply:refuse' job_application_id=job_application.id %}"
               class="btn btn-outline-danger btn-block">
                {% translate "Décliner la candidature" %}
                {% include "includes/icon.html" with icon="arrow-right" %}
            </a>
        </p>

    {% endif %}

    {# Possible next steps when the state is postponed ------------------------------------------------------ #}

    {% if job_application.state.is_postponed %}

        <hr>

        {% if job_application.eligibility_diagnosis_by_siae_required %}
            <p>
                {% include "eligibility/includes/new_diagnosis_button.html" %}
            </p>
        {% else %}
            <p>
                <a href="{% url 'apply:accept' job_application_id=job_application.id %}"
                   class="btn btn-outline-success btn-block">
                    {% translate "Je l'embauche" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>
        {% endif %}

        <p>
            <a href="{% url 'apply:refuse' job_application_id=job_application.id %}"
               class="btn btn-outline-danger btn-block">
                {% translate "Décliner la candidature" %}
                {% include "includes/icon.html" with icon="arrow-right" %}
            </a>
        </p>

    {% endif %}

    {# Job application accepted: details -------------------------------------------------------------------- #}

    {% if job_application.state.is_accepted %}
        <hr>

        <h3 class="font-weight-normal text-muted">{% translate "Détails du contrat de travail" %}</h3>
        <p>
        <ul>
            <li>{% translate "Début" %} : {{ job_application.hiring_start_at|date:"d F Y" }}</li>
            <li>{% translate "Fin" %} : {{ job_application.hiring_end_at|date:"d F Y" }}</li>
        </ul>
        </p>

        {% if job_application.can_update_hiring_start %}
            <p>
                <a href="{% url 'apply:edit_contract_start_date' job_application_id=job_application.pk %}" 
                   class="btn btn-outline-primary btn-block">
                    {% translate "Modifier la période du contrat de travail" %}
                </a>
            </p>
        {% endif %}

        {# Job application cancellation -------------------------------------------------------------------------- #}
        {% if job_application.can_be_cancelled %}
            <hr>

            <h3 class="font-weight-normal text-muted">{% translate "Rétractation" %}</h3>
            <p>
                {% blocktranslate with cancellation_date=job_application.cancellation_delay_end|date:"d/m/Y" cancellation_days=cancellation_days %}
                    Vous pouvez vous rétracter jusqu'à {{ cancellation_days }} jours après le début du contrat, soit jusqu'au {{ cancellation_date }} inclus.
                {% endblocktranslate %}
            </p>
            {% if job_application.to_siae.is_subject_to_eligibility_rules %}
                <p>
                    {% blocktranslate %}
                        Si vous annulez cette embauche, vous ne pourrez pas prétendre à l'aide au poste pour les jours éventuellement travaillés.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate with user_name=job_application.job_seeker.get_full_name|title %}
                        {{ user_name }} restera éligible à l'IAE et pourra de nouveau vous envoyer une candidature dans le futur.
                    {% endblocktranslate %}
                </p>
            {% endif %}
            <p>
                <a href="{% url 'apply:cancel' job_application_id=job_application.id %}" class="text-decoration-none">
                    <button class="btn btn-danger btn-block">{% translate "Annuler l'embauche" %}</button>
                </a>
            </p>
        {% endif %}

    {% endif %}


    {# History ------------------------------------------------------ #}

    {% if transition_logs %}

        <hr>

        <h3 class="font-weight-normal text-muted">{% translate "Historique des modifications" %}</h3>

        <ul>
            {% for log in transition_logs %}
                <li>
                    {% blocktranslate with pretty_to_state=log.pretty_to_state %}
                        Passé en "<b>{{ pretty_to_state }}</b>"
                    {% endblocktranslate %}
                    <ul>
                        {% if log.to_state != job_application.state.workflow.STATE_OBSOLETE %}
                            <li>{% translate "Par" %} {{ log.user.get_full_name }}</li>
                        {% endif %}
                        <li>{% translate "Le" %} {{ log.timestamp|date:"d F Y à H:i" }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr>
    <p>
        <a href="{% url 'apply:list_for_siae' %}">{% translate "Retour" %}</a>
    </p>

{% endblock %}
