{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load format_filters %}

{% block content %}

    {{ block.super }}

    {# Job seeker info ------------------------------------------------------------------------- #}
    <div class="card my-4">
        <div class="card-body">
            <div class="card-text">
                <h2>Candidat</h2>
                <hr class="my-4">
                <h3 >Informations personnelles</h3>
                {% include "apply/includes/job_seeker_info.html" with job_application=job_application %}
                {# Eligibility ------------------------------------------------------------------------- #}
                {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_application=job_application %}
            </div>
        </div>
    </div>

    {# Job application info ------------------------------------------------------------------------- #}
    <div class="card my-4">
        <div class="card-body">
            <div class="card-text">
                <h2>Candidature</h2>

                <hr class="my-4">
                <h3>Détails de la candidature</h3>
                {% include "apply/includes/job_application_info.html" with job_application=job_application %}

                <hr class="my-4">
                {# Sender info ------------------------------------------------------------------------- #}
                <h3>Candidature envoyée par</h3>
                {% include "apply/includes/job_application_sender_info.html" with job_application=job_application %}

                {# Negative answers ------------------------------------------------------------------------- #}
                {% include "apply/includes/job_application_answers.html" with job_application=job_application %}

                {# History ------------------------------------------------------ #}

                {% if transition_logs %}

                    <hr class="my-4">
                    <h3>Historique des modifications</h3>
                    {% include "apply/includes/transition_logs.html" with job_application=job_application transition_logs=transition_logs %}

                {% endif %}
            </div>
        </div>
    </div>

    <p class="text-right">
        <a class="btn btn-primary" href="{{ back_url }}">Fermer</a>
    </p>

{% endblock %}
