{% extends "apply/process_base.html" %}

{% block content %}

    {{ block.super }}

    {# This template is shown only to SIAEs (*auto-prescription*). #}

    <hr>

    <h2>Valider l'éligibilité IAE</h2>

    <p>Pour valider l'éligibilité IAE du candidat il faut :</p>

    <ol>
        <li>
            Avoir réalisé un diagnostic socio-professionnel (dans le cadre d'un entretien, vous pouvez vous appuyer sur le <a href="{{ ITOU_DOC_URL }}/qui-est-eligible-iae-criteres-eligibilite#diagnostic_de_reference" target="_blank" rel="noreferrer noopener">document diagnostic socio-professionnel de référence</a>)
        </li>
        <li>
            Sélectionner le ou les critères administratifs
            <ul>
                <li>
                    un critère administratif de niveau 1
                </li>
                <li>
                    trois critères de niveau 2 (seulement deux critères de niveau 2 pour les ETTI)
                </li>
        </li>
    </ol>

    <p>
        Si le candidat ne remplit pas les conditions administratives, <a href="{{ ITOU_DOC_URL }}/qui-est-eligible-iae-criteres-eligibilite/derogation-criteres" target="_blank" rel="noreferrer noopener">orientez-le vers un prescripteur habilité</a>.
    </p>

    <div class="alert alert-warning" role="alert">
        <i>Dans le cadre de l'expérimentation actuelle, nous vous informons que la liste des critères d'éligibilité à l'IAE est susceptible d'évoluer à la marge.</i>
    </div>

    <hr>

    <h2>Critères d'éligibilité</h2>

    {% url 'apply:details_for_siae' job_application_id=job_application.id as cancel_url %}
    {% include "eligibility/includes/form.html" with cancel_url=cancel_url %}

    <div class="alert alert-secondary" role="alert">
        <p>
            Si le candidat n'est pas éligible à l'insertion par l'activité économique, vous pouvez décliner sa candidature :
        </p>
        <a href="{% url 'apply:refuse' job_application_id=job_application.id %}" class="btn btn-outline-danger btn-block">
            Décliner la candidature
            {% include "includes/icon.html" with icon="arrow-right" %}
        </a>
    </div>

{% endblock %}
