{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-warning" role="alert">
        {% trans "Confirmez votre choix." %}
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {# TODO: Fix incorrect rendering of form with radio buttons #}
        {# https://github.com/zostera/django-bootstrap4/issues/126 #}
        <div class="form-group{% if form.refusal_reason.field.required %} form-group-required{% endif %}">
            {{ form.refusal_reason.label_tag }}
            <ul class="list-unstyled">
                {% for radio in form.refusal_reason %}
                    <li>
                        <label for="{{ radio.id_for_label }}">{{ radio.tag }} {{ radio.choice_label }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% bootstrap_field form.answer %}

        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">{% trans "Annuler" %}</a>
            <button type="submit" class="btn btn-danger">{% trans "Je ne veux pas l'embaucher" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
