{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load str_filters %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-info">
        <p class="mb-0">Confirmez votre choix en renseignant quelques informations supplémentaires.</p>
    </div>

    {% block htmx %}
        <div class="c-form" id="formTarget">
            <form method="post" hx-post="{{ request.path }}" hx-swap="outerHTML show:#acceptForm:top" hx-target="#formTarget" class="js-format-nir" id="acceptForm">
                {% if has_form_error %}
                    <div class="alert alert-danger">
                        <p class="mb-0">Merci de corriger les erreurs ci-dessous</p>
                    </div>
                {% endif %}

                {% csrf_token %}

                {% if form_address or form_personal_data %}<h2>Candidat</h2>{% endif %}

                {% if form_personal_data %}
                    {% if form_personal_data.nir_error %}{{ form_personal_data.nir_error|safe }}{% endif %}

                    {% bootstrap_form_errors form_personal_data type='non_fields' %}
                    {% bootstrap_field form_personal_data.nir %}
                    {% bootstrap_field form_personal_data.lack_of_nir %}
                    {% bootstrap_field form_personal_data.lack_of_nir_reason form_group_class=form_personal_data.lack_of_nir_reason.field.form_group_class %}
                    {% bootstrap_field form_personal_data.birthdate %}
                    {% bootstrap_field form_personal_data.pole_emploi_id %}
                    {% bootstrap_field form_personal_data.lack_of_pole_emploi_id_reason %}
                {% endif %}


                {% if form_user_address %}
                    {% bootstrap_form form_user_address alert_error_type="all" %}
                {% endif %}

                <hr>
                <h2>Embauche</h2>
                {% bootstrap_form_errors form_accept type="non_fields" %}
                {% if job_application.to_siae.kind == SiaeKind.GEIQ %}
                    {% bootstrap_field form_accept.contract_type %}
                    <div id="contractTypeDetails" {% if not form_accept.is_bound or form_accept.contract_type.value != hide_value %}class="d-none"{% endif %}>
                        {% bootstrap_field form_accept.contract_type_details %}
                    </div>
                    {% bootstrap_field form_accept.nb_hours_per_week %}
                {% endif %}
                {% bootstrap_field form_accept.hiring_start_at %}
                {% bootstrap_field form_accept.hiring_end_at %}
                {% bootstrap_field form_accept.answer %}


                {% buttons %}
                    <hr>
                    <div class="form-row align-items-center justify-content-end">
                        <div class="form-group mb-0 col-6 col-lg-auto">
                            <a class="btn btn-block btn-outline-primary" href="{% url 'apply:details_for_siae' job_application_id=job_application.id %}">Retour</a>
                        </div>
                        <div class="form-group mb-0 col-6 col-lg-auto">
                            <button type="submit" class="btn btn-ico btn-block btn-primary" aria-label="Valider l’embauche de {{ job_application.job_seeker.get_full_name|title|mask_unless:can_view_personal_information }}">
                                <i class="ri-check-line ri-xl"></i>
                                <span>Valider l’embauche</span>
                            </button>
                        </div>
                    </div>
                {% endbuttons %}

            </form>
        </div>
    {% endblock %}

    <div class="modal" id="js-confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-centered">
                <div class="modal-header">
                    <h3 class="modal-title" id="confirmation-modal-label">Confirmation de l’embauche</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Êtes-vous sûr(e) de vouloir confirmer l’embauche de <strong>{{ job_application.job_seeker.first_name }} {{ job_application.job_seeker.last_name }}</strong> dans la structure suivante ?
                    </p>
                    <p>{% include "siaes/includes/_siae_info.html" with siae=job_application.to_siae %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Retour</button>
                    <button type="submit" class="btn btn-primary" hx-post={{ request.path }} hx-vals='{"confirmed": "True"}' hx-include="#acceptForm">Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'js/split_nir.js' %}"></script>

    <!-- Needed to use the Datepicker JS widget. -->
    {{ form_accept.media }}
    {% if form_personal_data %}{{ form_personal_data.media }}{% endif %}

    {# HTMX: dynamic contract type details field, must be reloaded at each DOM swap (otherwise invalidated) #}
    <script nonce="{{ CSP_NONCE }}">
        htmx.onLoad(function() {
            var contractType = $("#id_contract_type");
            var contractTypeDetails = $("#contractTypeDetails");
            contractType.change(function() {
                if (contractType.val() == '{{ hide_value }}') {
                   contractTypeDetails.removeClass("d-none"); 
                } else {
                    $("#id_contract_type_details").val('');
                    contractTypeDetails.addClass("d-none"); 
                } 
            });
        });
    </script>
{% endblock %}
