{% extends "apply/process_accept_base.html" %}
{% load buttons_form %}
{% load str_filters %}

{% block content_extend %}
    <div class="c-form">
        <form method="post" class="js-format-nir">
            {% if has_form_error %}
                <div class="alert alert-danger" role="alert" tabindex="0" data-emplois-give-focus-if-exist>
                    <p class="mb-0">Merci de corriger les erreurs ci-dessous.</p>
                </div>
            {% endif %}

            {% csrf_token %}

            {% include "apply/includes/job_application_fill_user_infos_form.html" with form_personal_data=form_personal_data form_user_address=form_user_address form_birth_place=form_birth_place request=request only %}

            {% itou_buttons_form primary_label="Valider les informations" primary_aria_label="Valider les informations de "|add:job_seeker.get_full_name|mask_unless:can_view_personal_information reset_url=back_url %}
        </form>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    {# Needed to use the Datepicker JS widget #}
    {% if form_personal_data %}{{ form_personal_data.media.js }}{% endif %}

    {% if form_user_address %}
        {# Needed for the AddressAutocompleteWidget #}
        {{ form_user_address.media.js }}
    {% endif %}
{% endblock %}
