{% extends "layout/content_small.html" %}
{% load i18n %}

{% block title %}
    {% translate "Candidature" %}
    -
    {{ job_application.job_seeker.get_full_name }}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h1>
        {% translate "Candidature de" %}
        <span class="text-muted">{{ job_application.job_seeker.get_full_name|title }}</span>
        <div class="row">
            <div class="col-sm">
                <small>{% include "apply/includes/state_badge.html" with job_application=job_application %}</small>
            </div>
        </div>
    </h1>

    {% if job_application.to_siae.is_subject_to_eligibility_rules %}

        {% if job_application.state.is_accepted %}

            <div class="card my-3">
                <div class="card-body">

                    {# Approval status. #}
                    <div class="card-text">
                        {% if job_application.approval %}
                            {% include "approvals/includes/status.html" with approval=job_application.approval %}
                        {% elif job_application.hiring_without_approval %}
                            {% translate "Vous n'avez pas demandé de PASS IAE (agrément)." %}
                        {% elif job_application.approval_manually_refused_at %}
                            {% translate "PASS IAE (agrément) refusé." %}
                        {% else %}
                            {% translate "PASS IAE (agrément) en cours de délivrance." %}
                        {% endif %}
                    </div>

                    {# Approval actions. #}
                    {% if job_application.approval %}
                        {% if approval_can_be_suspended_by_siae %}
                            <a
                                href="{% url 'approvals:suspend' approval_id=job_application.approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                                class="btn btn btn-link">
                                    {% translate "Suspendre" %}
                            </a>
                        {% endif %}
                        {% if job_application.can_download_approval_as_pdf %}
                            <a
                                href="{% url 'approvals:approval_as_pdf' job_application_id=job_application.id %}"
                                class="btn btn-outline-primary float-right disable-on-click matomo-event"
                                data-matomo-category="agrement"
                                data-matomo-action="telechargement-pdf"
                                data-matomo-option="details-candidature">
                                    {% translate "Télécharger le PASS IAE" %}
                            </a>
                        {% endif %}
                        {% if job_application.can_be_cancelled %}
                            <a class="btn btn-outline-secondary disabled w-100">
                                    {% blocktranslate with cancellation_date=job_application.cancellation_delay_end|date:"d/m/Y" %}
                                        Disponible au téléchargement après le {{ cancellation_date }}
                                    {% endblocktranslate %}
                            </a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>

        {% elif not job_application.state.is_cancelled and approvals_wrapper.latest_approval %}

            <div class="card my-3">
                <div class="card-body">
                    {# Approval status. #}
                    <div class="card-text">
                        {# Employers need to know the expiration date of an approval #}
                        {# to decide whether they may accept a job application or not. #}
                        {% include "approvals/includes/status.html" with approval=approvals_wrapper.latest_approval %}
                    </div>
                </div>
            </div>

        {% endif %}

    {% endif %}

{% endblock %}
