{% extends "apply/process_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load format_filters %}

{% block content %}

    {{ block.super }}

    {# Job seeker info ------------------------------------------------------------------------- #}

    <h3 class="font-weight-normal text-muted">{% trans "Candidat" %}</h3>

    <ul>

        <li>{% trans "Date de la candidature :" %} <b>{{ job_application.created_at|date:"d F Y à H:i" }}</b></li>

        <li>{% trans "Prénom :" %} <b>{{ job_application.job_seeker.first_name }}</b></li>

        <li>{% trans "Nom :" %} <b>{{ job_application.job_seeker.last_name }}</b></li>

        <li>{% trans "Date de naissance :" %} <b>{{ job_application.job_seeker.birthdate|date:"d/m/Y" }}</b></li>

        <li>{% trans "E-mail :" %} <a href="mailto:{{ job_application.job_seeker.email }}">{{ job_application.job_seeker.email }}</a></li>

        {% if job_application.job_seeker.phone %}
            <li>{% trans "Téléphone :" %} <a href="tel:{{ job_application.job_seeker.phone }}">{{ job_application.job_seeker.phone|format_phone }}</a></li>
        {% endif %}

        {% if job_application.selected_jobs.exists %}
            <li>
                {% trans "Métier(s) recherché(s) :" %}
                <ul>
                    {% for job in job_application.selected_jobs.all %}
                        <li><b>{{ job.display_name }}</b> ({{ job.appellation.rome_id }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>{% trans "Candidature spontanée" %}</li>
        {% endif %}

    </ul>

    <div class="alert alert-secondary">
        <p><b>{% trans "Message :" %}</b></p>
        {{ job_application.message|linebreaks }}
    </div>

    {# Eligibility ------------------------------------------------------------------------- #}

    {% if job_application.to_siae.is_subject_to_eligibility_rules %}

        {% with job_application.job_seeker.get_eligibility_diagnosis as eligibility_diagnosis %}

            {% if eligibility_diagnosis %}

                <hr>
                <h3 class="font-weight-normal text-muted">{% trans "Critères d'éligibilité" %}</h3>
                <p>
                    {% trans "Validés par :" %}
                    <b>{{ eligibility_diagnosis.author.get_full_name }}</b>
                    {% if eligibility_diagnosis.author_siae %}
                        ({{ eligibility_diagnosis.author_siae.display_name }})
                    {% endif %}
                    {% if eligibility_diagnosis.author_prescriber_organization %}
                        ({{ eligibility_diagnosis.author_prescriber_organization.display_name }})
                    {% endif %}
                    {% trans "le" %}
                    <b>{{ eligibility_diagnosis.created_at|date:"d/m/Y" }}</b>
                </p>

            {% elif approvals_wrapper.latest_approval and approvals_wrapper.latest_approval.is_valid and not approvals_wrapper.latest_approval.originates_from_itou %}

                {# The existence of a valid `PoleEmploiApproval` implies that #}
                {# a diagnosis has been made outside of Itou. #}
                <hr>
                <h3 class="font-weight-normal text-muted">{% trans "Critères d'éligibilité" %}</h3>
                <p>
                    {% trans "Validés par :" %} <b>{% trans "Pôle emploi" %}</b>
                </p>

            {% endif %}

        {% endwith %}

    {% endif %}

    {# Sender info ------------------------------------------------------------------------- #}

    <hr>

    <h3 class="font-weight-normal text-muted">{% trans "Candidature envoyée par" %}</h3>

    <ul>

        <li>{% trans "Prénom :" %} <b>{{ job_application.sender.first_name }}</b></li>

        <li>{% trans "Nom :" %} <b>{{ job_application.sender.last_name }}</b></li>

        <li>{% trans "Type :" %} <b>{{ job_application.get_sender_kind_display }}</b></li>

        <li>{% trans "E-mail :" %} <a href="mailto:{{ job_application.sender.email }}">{{ job_application.sender.email }}</a></li>

        {% if job_application.sender_prescriber_organization %}
            <li>
                {% trans "Structure :" %}
                <b>{{ job_application.sender_prescriber_organization.display_name }}</b>
                {% if job_application.sender_prescriber_organization.is_authorized %}
                    <span class="badge badge-warning">{% trans "Prescripteur habilité par le Préfet" %}</span>
                {% endif %}
            </li>
        {% endif %}

        {% if job_application.sender_siae %}
            <li>
                {% trans "Employeur solidaire :" %}
                <b>{{ job_application.sender_siae.display_name }}</b>
            </li>
        {% endif %}

        {% if job_application.sender.phone %}
            <li>
                {% trans "Téléphone :" %}
                <a href="tel:{{ job_application.sender.phone }}">{{ job_application.sender.phone|format_phone }}</a>
            </li>
        {% endif %}

    </ul>

    {# Process ------------------------------------------------------------------------- #}

    {% if job_application.state.is_new %}

        <hr>

        <form method="post" action="{% url 'apply:process' job_application_id=job_application.id %}" class="js-prevent-multiple-submit">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-warning">{% trans "J'étudie cette candidature" %}</button>
            {% endbuttons %}
        </form>

    {% endif %}

    {# Answer ------------------------------------------------------------------------- #}

    {% if job_application.refusal_reason or job_application.answer %}

        <hr>

        <h3 class="font-weight-normal text-muted">{% trans "Réponse" %}</h3>

        {% if job_application.refusal_reason %}
        <p>
            <b>{% trans "Motif du refus :" %}</b><br>
            {{ job_application.get_refusal_reason_display }}
        </p>
        {% endif %}

        {% if job_application.answer %}
        <div class="alert alert-secondary">
            <p><b>{% trans "Message :" %}</b></p>
            {{ job_application.answer|linebreaks }}
        </div>
        {% endif %}

    {% endif %}

    {# Possible next steps when the state is processing ------------------------------------------------------ #}

    {% if job_application.state.is_processing %}

        <hr>

        {% if job_application.eligibility_diagnosis_by_siae_required %}

            <p>
                <a href="{% url 'apply:eligibility' job_application_id=job_application %}" class="btn btn-secondary btn-block">
                    {% trans "Valider les critères d'éligibilité" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

        {% else %}

            <p>
                <a href="{% url 'apply:refuse' job_application_id=job_application.id %}" class="btn btn-outline-danger btn-block">
                    {% trans "Je ne veux pas l'embaucher" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

            <p>
                <a href="{% url 'apply:postpone' job_application_id=job_application.id %}" class="btn btn-outline-success btn-block">
                    {% trans "Je veux l'embaucher plus tard" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

            <p>
                <a href="{% url 'apply:accept' job_application_id=job_application.id %}" class="btn btn-outline-success btn-block">
                    {% trans "Je l'embauche" %}
                    {% include "includes/icon.html" with icon="arrow-right" %}
                </a>
            </p>

        {% endif %}

    {% endif %}

    {# Possible next steps when the state is postponed ------------------------------------------------------ #}

    {% if job_application.state.is_postponed %}

        <hr>

        <p>
            <a href="{% url 'apply:refuse' job_application_id=job_application.id %}" class="btn btn-outline-danger btn-block">
                {% trans "Je ne veux pas l'embaucher" %}
                {% include "includes/icon.html" with icon="arrow-right" %}
            </a>
        </p>

        <p>
            <a href="{% url 'apply:accept' job_application_id=job_application.id %}" class="btn btn-outline-success btn-block">
                {% trans "Je l'embauche" %}
                {% include "includes/icon.html" with icon="arrow-right" %}
            </a>
        </p>

    {% endif %}

    {# History ------------------------------------------------------ #}

    {% if transition_logs %}

        <hr>

        <h3 class="font-weight-normal text-muted">{% trans "Historique des modifications" %}</h3>

        <ul>
            {% for log in transition_logs %}
                <li>
                    {% blocktrans with pretty_to_state=log.pretty_to_state %}Passé en "<b>{{ pretty_to_state }}</b>"{% endblocktrans %}
                    <ul>
                        {% if log.to_state != job_application.state.workflow.STATE_OBSOLETE %}
                            <li>{% trans "Par" %} {{ log.user.get_full_name }}</li>
                        {% endif %}
                        <li>{% trans "Le" %} {{ log.timestamp|date:"d F Y à H:i" }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr>
    <p>
        <a href="{% url 'apply:list_for_siae' %}">{% trans "Retour" %}</a>
    </p>

{% endblock %}
