{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        <p>{% include "signup/includes/no_email_link.html" with link_text="Le candidat n'a pas d'email ?" %}</p>

        {% buttons %}
            <button type="submit" class="btn btn-primary">Continuer</button>
        {% endbuttons %}

    </form>

{% endblock %}
