{% extends "apply/submit_base.html" %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    {# This template is shown only to prescribers. #}

    <hr>

    <h2>
        {% blocktranslate with full_name=job_seeker.get_full_name|title %}
            Valider l'éligibilité IAE de <b>{{ full_name }}</b>
        {% endblocktranslate %}
    </h2>

    <p>{% translate "Pour valider l'éligibilité IAE du candidat il faut :" %}</p>

    <ol>
        <li>
            {% blocktranslate %}
                Avoir réalisé un diagnostic socio-professionnel (dans le cadre d'un entretien, vous pouvez vous appuyer sur le <a href="{{ ITOU_DOC_URL }}/qui-est-eligible-iae-criteres-eligibilite#diagnostic_de_reference" target="_blank" rel="noreferrer noopener">document diagnostic socio-professionnel de référence</a>)
            {% endblocktranslate %}
        </li>
        <li>
            {% translate "Préciser la situation administrative du candidat (facultatif)" %}
        </li>
    </ol>

    <hr>

    <h2>{% translate "Situation administrative du candidat" %}</h2>

    {% include "eligibility/includes/form.html" %}

{% endblock %}
