{% extends "apply/submit_base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block content_extend %}
    <div class="alert alert-warning">
        <p class="mb-0">La date de naissance et les informations France Travail sont obligatoires pour continuer.</p>
    </div>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% itou_buttons_form primary_label="Continuer" %}
    </form>

{% endblock %}
