{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% trans "Le candidat n'a pas d'email ?" as link_text %}
        <p>{% include "signup/includes/no_email_link.html" with link_text=link_text %}</p>

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
