{% extends "layout/content_small.html" %}
{% load i18n %}

{% block title %}{% translate "Postuler" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        {% if request.user.is_siae_staff %}
            {% blocktranslate with siae_name=siae.display_name %}
                <span class="text-muted">{{ siae_name }}</span>
            {% endblocktranslate %}
        {% else %}
            {% blocktranslate with full_name=job_seeker.get_full_name|title siae_name=siae.display_name %}
                Postuler pour <span class="text-muted">{{ full_name }}</span> chez <span class="text-muted">{{ siae_name }}</span>
            {% endblocktranslate %}
        {% endif %}
    </h1>

    {% if approvals_wrapper.latest_approval %}
        {# Approval status. #}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">
                    {% include "approvals/includes/status.html" with approval=approvals_wrapper.latest_approval %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
