{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href='{% static "vendor/dropzone/dropzone.min.css" %}'>
{% endblock extra_head %}

{% block content %}

    {{ block.super }}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% if siae.jobs.exists %}
            {% bootstrap_field form.selected_jobs %}
        {% endif %}

        {% bootstrap_field form.message %}
        {% bootstrap_field form.resume_link %}

        {{ form.resume_link.as_hidden }}
        <div id="resume_form" class="dropzone"></div>

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% if request.user.is_siae_staff %}
                    Enregistrer la candidature
                {% else %}
                    Envoyer la candidature
                {% endif %}
            </button>
        {% endbuttons %}

    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}

    <script src='{% static "vendor/dropzone/dropzone.min.js" %}'></script>

    <script type="text/javascript">
        // Input field where the location URL will be provided after success.
        const callback_location_selector = "input#id_resume_link";

        // Transform this element into a drag and drop zone.
        const dropzone_selector = "#resume_form";

        // When a file is added to the drop zone, send a POST request to this URL.
        const form_url = "{{ s3_form_endpoint }}";

        // S3 form params sent when a new file is added to the drop zone.
        const form_params = {
            "policy": "{{ s3_form_policy }}",
            "x-amz-algorithm": "AWS4-HMAC-SHA256",
            "x-amz-credential": "{{ s3_form_credential }}",
            "x-amz-date": "{{ s3_form_date }}",
            "x-amz-signature": "{{ s3_form_signature }}"
        };

        // Appended before the file name. The final slash is added later.
        const key_path = "{{ s3_key_path }}";

        // Dropzone configuration
        const dropzone_config = {
            url: form_url,
            params: form_params,
            maxFilesize: "{{ s3_max_file_size }}", // in MB
            timeout: "{{ s3_upload_timeout }}", // default 3000, in ms
            maxFiles: "{{ s3_max_files }}",
            acceptedFiles: "{{ s3_allowed_mime_types }}",
            addRemoveLinks: true,
            // translations
            dictDefaultMessage: "Glissez-déposez un fichier ou cliquez ici",
            dictFallbackMessage: "Ce navigateur n'est pas compatible",
            dictFileTooBig: "Fichier trop volumineux",
            dictInvalidFileType: "Type de fichier non pris en charge",
            dictResponseError: "Erreur \{\{ statusCode \}\}",
            dictCancelUpload: "Annuler",
            dictUploadCanceled: "Annulé",
            dictCancelUploadConfirmation: "Voulez-vous vraiment annuler le transfert ?",
            dictRemoveFile: "Supprimer",
            dictRemoveFileConfirmation: "Voulez-vous vraiment supprimer le fichier ?",
            dictMaxFilesExceeded: "Un seul fichier autorisé à la fois",
            // functions
            renameFile: function (file) {
                const extension = file.name.split('.').pop();
                const filename = Dropzone.uuidv4();
                const file_key = `${key_path}/${filename}.${extension}`;
                // Add file key to options params so that it's send
                // as an input field on POST.
                this.params["key"] = file_key;
                return file_key;
            },
            success: function(file) {
                // Sadly, our S3 provider does not return the "Location" header for the moment.
                // When it does, don't forget to add "Location" to CORS' exposed headers!
                // const location = file.xhr.getResponseHeader("Location");
                const location = `${form_url}/${file.upload.filename}`;
                {% if ITOU_ENVIRONMENT == "DEV" %}
                    console.log(location);
                {% endif %}
                $(callback_location_selector).val(location);
            },
        };

        // By default, Dropzone attaches to any component having the "dropzone" class.
        // Turn off this behavior to control all the aspects "manually".
        Dropzone.autoDiscover = false;
        $(dropzone_selector).dropzone(dropzone_config);
    </script>
{% endblock %}
