{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-warning" role="alert">
        {% trans "Cet email n'existe pas dans notre base de données. Vous devez créer un compte pour votre candidat en utilisant le formulaire ci-dessous afin de pouvoir continuer." %}
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_field form.email %}
        {% bootstrap_field form.first_name %}
        {% bootstrap_field form.last_name %}
        {% bootstrap_field form.birthdate %}
        {% bootstrap_field form.phone %}
        {% bootstrap_field form.address_line_1 %}
        {% bootstrap_field form.address_line_2 %}

        <div class="form-group row">
            {% bootstrap_field form.post_code form_group_class="col-md-3 col-sm-12 form-group"%}
            {% bootstrap_field form.city_name form_group_class="col form-group"%}
            {% bootstrap_field form.city %}
        </div>

        {% bootstrap_field form.pole_emploi_id %}
        {% bootstrap_field form.lack_of_pole_emploi_id_reason %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}
{% endblock %}
