{% extends "apply/submit_base.html" %}
{% load django_bootstrap5 %}

{% block content_extend %}
    <div class="alert alert-warning">
        <p class="mb-0">La date de naissance et les informations Pôle emploi sont obligatoires pour continuer.</p>
    </div>

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        <hr>
        <div class="form-row align-items-center justify-content-end">
            <div class="form-group mb-0 col-12 col-lg-auto">
                {% bootstrap_button "Continuer" button_type="submit" button_class="btn btn-primary btn-block" %}
            </div>
        </div>
    </form>

{% endblock %}
