{% extends "apply/submit_base_two_columns.html" %}
{% load bootstrap4 %}
{% load format_filters %}
{% load static %}

{% block left_column %}
    <form method="post" action="" class="js-prevent-multiple-submit js-format-nir">
        <div class="card c-card p-3">
            <div class="card-body">
                {% if nir %}
                    <div class="form-group form-group-required">
                        <label for="id_nir">Numéro de sécurité sociale du candidat</label>
                        <input id="id_nir" name="nir" class="form-control" disabled value="{{ nir }}">
                    </div>
                {% endif %}

                <div class="alert alert-info mt-4 mb-4">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="ri-information-line ri-xl"></i>
                        </div>
                        <div class="col">
                            <p class="mb-2">
                                <strong>Créer un compte pour votre candidat</strong>
                            </p>
                            <p class="mb-0">
                                Aucun utilisateur n'est inscrit avec ce numéro de sécurité sociale. Merci de renseigner l'adresse e-mail de votre candidat pour l'inscrire.
                            </p>
                        </div>
                    </div>
                </div>

                {% csrf_token %}

                {% bootstrap_form form alert_error_type="all" %}

                <p>{% include "signup/includes/no_email_link.html" with link_text="Le candidat n'a pas d'e-mail ?" %}</p>

                {% buttons %}
                    <hr class="my-3 my-lg-5">

                    <div class="row mt-3 mt-lg-5 justify-content-end">
                        <div class="col-6 col-lg-auto">
                            <a href="{% url 'apply:check_nir_for_sender' siae_pk=siae.pk %}" class="btn btn-link">Retour</a>
                        </div>
                        <div class="col-6 col-lg-auto">
                            {# Reload this page and show a modal containing more information about the job seeker. #}
                            <button type="submit" name="preview" value="1" class="btn btn-primary">Suivant</button>
                        </div>
                    </div>
                {% endbuttons %}
            </div>
        </div>
        {% if preview_mode %}
            <!-- Modal -->
            <div class="modal" id="email-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="email-confirmation-label" aria-modal="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="email-confirmation-label">Email existant</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                L'adresse {{ form.email.value }} est associée au compte de <b>{{ job_seeker_name }}</b>.
                            </p>
                            <p>
                                L'identité du candidat est une information clé pour la structure.
                                Si cette candidature n'est pas pour <b>{{ job_seeker_name }}</b>, cliquez sur
                                « Ce n'est pas mon candidat » afin d'enregistrer ses informations
                                personnelles.
                            </p>
                            {% if can_add_nir %}
                                <p>
                                    En cliquant sur « Continuer », <b>vous acceptez que le numéro de sécurité sociale {{ nir|format_nir }} soit associé à ce candidat.</b>
                                </p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            {% buttons %}
                                {# Reload this page with a new form. #}
                                <button type="submit" name="cancel" value="1" class="btn btn-sm btn-secondary">Ce n'est pas mon candidat</button>
                                {# Go to the next step. #}
                                <button type="submit" name="confirm" value="1" class="btn btn-sm btn-primary">Continuer</button>
                            {% endbuttons %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'js/split_nir.js' %}"></script>
    {% if preview_mode %}
        {# Show the confirmation modal after submitting the form. #}
        <script type="text/javascript">
            // Adding the "show" CSS class is not enough and not documented.
            // A JS initialization is recommended.
            $("#email-confirmation-modal").modal("show");
        </script>
    {% endif %}
{% endblock %}
