{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Postuler" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Postuler" %}</h1>

    <div class="alert alert-secondary" role="alert">
        {% trans "Votre demande sera envoyée à :" %}
        <br>
        <b>{{ siae.display_name }}</b>
    </div>

    <form method="post" action="{% url 'apply:submit_for_job_seeker' siret=siae.siret %}">

        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next_url }}">

        <i>{% bootstrap_label "Vous êtes accompagné ?" label_for=form.prescriber_user_email.auto_id %}</i>
        {% bootstrap_field form.prescriber_user_email show_label=False %}

        {% bootstrap_field form.jobs %}

        {% bootstrap_field form.motivation_message %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Postuler" %}</button>
        {% endbuttons %}

    </form>

    {% if next_url %}
        <hr>
        <p>
            <a href="{{ next_url }}">{% trans "Retour" %}</a>
        </p>
    {% endif %}

{% endblock %}
