{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <form method="post" action="">

        {% csrf_token %}

        {% if siae.jobs.exists %}
            {% bootstrap_field form.jobs %}
        {% endif %}

        {% bootstrap_field form.message %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Envoyer votre candidature" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
