{% extends "apply/submit_base_two_columns.html" %}
{% load bootstrap4 %}
{% load format_filters %}
{% load str_filters %}
{% load static %}

{% block title_messages %}

    {% if request.user.is_employer %}
        {% if siae.is_subject_to_eligibility_rules or siae.kind == SiaeKind.GEIQ %}
            <div class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
                <p class="mb-2">
                    <strong>Nouveauté</strong>
                </p>
                <p class="mb-0">
                    {% if hire_process %}
                        Cet espace vous permet maintenant de déclarer directement une embauche sans avoir à créer une candidature au préalable.
                        {% if siae.kind == SiaeKind.GEIQ %}
                            Si vous souhaitez créer une candidature à traiter plus tard (avec la possibilité d’enregistrer une action préalable au recrutement), veuillez vous rendre
                            sur <a href="{% url 'apply:start' siae_pk=siae.pk %}">Enregistrer une candidature</a> depuis le tableau de bord.
                        {% else %}
                            Pour la création d’une candidature, veuillez vous rendre sur <a href="{% url 'apply:start' siae_pk=siae.pk %}">Enregistrer une candidature</a> depuis le tableau de bord.
                        {% endif %}
                    {% else %}
                        {% if siae.kind == SiaeKind.GEIQ %}
                            Cet espace vous permet d’enregistrer une candidature à traiter plus tard (avec la possibilité d’enregistrer une action préalable au recrutement).
                        {% else %}
                            Cet espace vous permet d’enregistrer une nouvelle candidature.
                        {% endif %}
                        Si vous souhaitez déclarer directement une embauche, veuillez vous rendre sur <a href="{% url 'apply:check_nir_for_hire' siae_pk=siae.pk %}">Déclarer une embauche</a> depuis le tableau de bord.
                    {% endif %}
                </p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block left_column %}
    <form method="post" class="js-prevent-multiple-submit js-format-nir">
        <div class="c-form">
            {% csrf_token %}

            {% bootstrap_form_errors form type="all" %}

            {% bootstrap_form form %}

            {% if form.errors %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="ri-information-line ri-xl text-info"></i>
                        </div>
                        <div class="col">
                            <p class="mb-0">
                                Vous possédez un numéro de sécurité sociale temporaire ?
                                <button name="skip" value="1" class="btn btn-link p-0 matomo-event" data-matomo-category="nir-temporaire" data-matomo-action="etape-suivante" data-matomo-option="candidature">
                                    Cliquez ici pour accéder à l'étape suivante.
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="ri-information-line ri-xl text-info"></i>
                        </div>
                        <div class="col">
                            <p class="mb-0">
                                {% if request.user.is_job_seeker %}
                                    Vous n'avez pas de numéro de sécurité sociale ?
                                    <br>
                                {% else %}
                                    Le candidat n'a pas de numéro de sécurité sociale ?
                                    <br>
                                {% endif %}
                                <a href="https://www.ameli.fr/assure/droits-demarches/principes/numero-securite-sociale"
                                   aria-label="ameli.fr, article concernant le numéro de sécurité sociale (ouverture dans un nouvel onglet)"
                                   rel="noopener"
                                   target="_blank">ameli.fr</a><i class="ri-external-link-line ml-1"></i>, le site de l'assurance maladie, vous explique comment l'obtenir.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% buttons %}
                {# Reload this page and show a modal containing more information about the job seeker. #}
                <hr>
                <div class="form-row align-items-center justify-content-end">
                    <div class="form-group mb-0 col-6 col-lg-auto">
                        <a class="btn btn-link btn-block" aria-label="Retourner au tableau de bord" href="{% url 'dashboard:index' %}">Retour</a>
                    </div>
                    <div class="form-group mb-0 col-6 col-lg-auto">
                        <button name="preview" value="1" class="btn btn-primary btn-block">Suivant</button>
                    </div>
                </div>
            {% endbuttons %}
        </div>
        {% if preview_mode %}
            <!-- Modal -->
            <div class="modal" id="nir-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="nir-confirmation-label" aria-modal="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="nir-confirmation-label">Utilisateur trouvé</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Le numéro {{ form.nir.value|format_nir }} est associé au compte de <b>{{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}</b>.
                            </p>
                            <p>
                                Si cette candidature n'est pas pour <b>{{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}</b>, cliquez sur « Ce n'est pas mon candidat » afin de modifier le numéro de sécurité sociale.
                            </p>
                        </div>
                        <div class="modal-footer">
                            {% buttons %}
                                {# Reload this page with a new form. #}
                                <button name="cancel" value="1" class="btn btn-sm btn-secondary">Ce n'est pas mon candidat</button>
                                {# Go to the next step. #}
                                <button name="confirm" value="1" class="btn btn-sm btn-primary">Continuer</button>
                            {% endbuttons %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'js/split_nir.js' %}"></script>
    {% if preview_mode %}
        {# Show the confirmation modal after submitting the form. #}
        <script nonce="{{ CSP_NONCE }}">
            // Adding the "show" CSS class is not enough and not documented.
            // A JS initialization is recommended.
            $("#nir-confirmation-modal").modal("show");
        </script>
    {% endif %}
{% endblock script %}
