{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Postuler" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        {% blocktrans with siae_name=siae.display_name %}
            Postuler chez <span class="text-muted">{{ siae_name }}</span>
        {% endblocktrans %}
    </h1>

    <form method="post" action="">

        {% csrf_token %}

        {% if siae.jobs.exists %}
            {% bootstrap_field form.jobs %}
        {% endif %}

        {% bootstrap_field form.message %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Envoyer votre candidature" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
