{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-warning" role="alert">

        {% with prev_application.created_at|date:"d F Y à H:i" as prev_created_at %}
            {% if request.user == job_seeker %}
                <p>
                    {% blocktranslate %}
                        Vous avez déjà postulé chez cet employeur le <b>{{ prev_created_at }}</b>
                    {% endblocktranslate %}
                </p>
            {% else %}
                <p>
                    {% blocktranslate %}
                        Le candidat a déjà postulé chez cet employeur le <b>{{ prev_created_at }}</b>
                    {% endblocktranslate %}
                </p>
            {% endif %}
        {% endwith %}

        <form method="post" action="" class="js-prevent-multiple-submit">
            {% csrf_token %}
            <input type="hidden" name="force_new_application" value="force">
            {% buttons %}
                <a class="btn btn-secondary" href="/">Annuler</a>
                <button type="submit" class="btn btn-primary">Postuler à nouveau</button>
            {% endbuttons %}
        </form>

    </div>

{% endblock %}
