{% extends "apply/submit_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-warning" role="alert">
        {% trans "La date de naissance et les informations Pôle emploi sont obligatoires pour continuer." %}
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}
{% endblock %}