{% extends "layout/base.html" %}
{% load static %}

{% block title %}Postuler {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>{% include 'apply/includes/_submit_title.html' %}</h1>
{% endblock %}

{% block content %}
    <section class="s-section-twocolumns s-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-md-1 pe-lg-5">
                    <div class="c-box c-box--structure mb-3 mb-lg-5">
                        <div class="c-box--structure__summary" data-bs-toggle="collapse" data-bs-target="#collapseBoxStructure" aria-expanded="false" aria-controls="collapseBoxStructure">
                            <i class="ri-community-line"></i>
                            <div>
                                <span data-bs-toggle="tooltip" data-bs-title="{{ siae.get_kind_display }}">{{ siae.kind }}</span>
                                <h3>{{ siae.display_name }}</h3>
                            </div>
                        </div>
                        <div class="c-box--structure__detail collapse" id="collapseBoxStructure">
                            <hr class="my-4">
                            <ul class="c-box--structure__list-contact">
                                <li>
                                    <i class="ri-map-pin-2-line font-weight-normal me-2"></i>
                                    <address class="m-0">{{ siae.address_on_one_line }}</address>
                                    <button class="btn-link font-weight-medium ms-1"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-trigger="manual"
                                            data-bs-title="Copié!"
                                            data-it-clipboard-button="copy"
                                            data-it-copy-to-clipboard="{{ siae.address_on_one_line }}">
                                        <i class="ri-file-copy-line"></i>
                                    </button>
                                </li>
                                {% if siae.email or siae.phone or siae.website %}
                                    {% include "companies/includes/_siae_details.html" %}
                                {% endif %}
                            </ul>
                            <a href="{% url 'companies_views:card' siae_id=siae.pk %}" class="btn btn-secondary btn-block mt-4">Voir la fiche de l'entreprise</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 order-md-2 ps-lg-5 d-none d-lg-block">
                    <h2 class="h1 ff-extra-01">
                        Où trouver
                        {% if request.user.is_job_seeker %}
                            mon
                        {% else %}
                            le
                        {% endif %}
                        numéro de sécurité sociale ?
                    </h2>
                    <img class="mt-3 img-fluid" src="{% static 'img/carte_vitale.png' %}" alt="Spécimen de carte vitale">
                    <p class="ff-extra-01 mt-0">
                        Il est présent à cet endroit sur
                        {% if request.user.is_job_seeker %}
                            votre
                        {% else %}
                            la
                        {% endif %}
                        carte Vitale.
                    </p>
                </div>
                <div class="col-12 col-lg-6 order-md-1 pe-lg-5">
                    {% block left_column %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
