{% extends "layout/base.html" %}
{% load static %}

{% block title %}Postuler {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>{% include 'apply/includes/_submit_title.html' %}</h1>
    {% block title_messages %}{% endblock %}
{% endblock %}

{% block content %}
    <section class="s-section-twocolumns s-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-md-1 pe-lg-5">
                    <div class="card c-card c-card--emploi mb-3 mb-lg-4">
                        <div class="card-body">
                            <p>
                                <i class="ri-home-7-line ri-xl me-2"></i>{{ siae.kind }} - {{ siae.get_kind_display }}
                            </p>
                            <hr>
                            <p class="h2">
                                <a href="{% url 'siaes_views:card' siae_id=siae.pk %}{% if back_url %}?back_url={{ back_url }}{% endif %}">
                                    {{ siae.display_name }}
                                </a>
                            </p>
                            {# Display non-user-edited name too. #}
                            <address class="card-subtitle fs-lg font-weight-bold text-secondary">{{ siae.address_on_one_line }}</address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 order-md-2 ps-lg-5 d-none d-lg-block">
                    <h2 class="h1 ff-extra-01">
                        Où trouver
                        {% if request.user.is_job_seeker %}
                            mon
                        {% else %}
                            le
                        {% endif %}
                        numéro de sécurité sociale ?
                    </h2>
                    <img class="mt-3 img-fluid" src="{% static 'img/carte_vitale.png' %}" alt="Spécimen de carte vitale">
                    <p class="ff-extra-01 mt-0">
                        Il est présent à cet endroit sur
                        {% if request.user.is_job_seeker %}
                            votre
                        {% else %}
                            la
                        {% endif %}
                        carte Vitale.
                    </p>
                </div>
                <div class="col-12 col-lg-6 order-md-1 pe-lg-5">
                    {% block left_column %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
