{% extends "apply/submit_base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block content_extend %}
    <div class="alert alert-warning">
        {% with prev_application.created_at|date:"d F Y à H:i" as prev_created_at %}
            {% if request.user == job_seeker %}
                <p class="mb-0">
                    Vous avez déjà postulé chez cet employeur le <b>{{ prev_created_at }}</b>
                </p>
            {% else %}
                <p class="mb-0">
                    Le candidat a déjà postulé chez cet employeur le <b>{{ prev_created_at }}</b>
                </p>
            {% endif %}
        {% endwith %}
    </div>
    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}
        <input type="hidden" name="force_new_application" value="force">

        {% itou_buttons_form primary_label="Postuler à nouveau" %}
    </form>
{% endblock %}
