{% extends "apply/submit_base_two_columns.html" %}
{% load bootstrap4 %}
{% load format_filters %}
{% load redirection_fields %}
{% load static %}

{% block left_column %}
    <form method="post" action="{{ form_action }}" class="js-prevent-multiple-submit js-format-nir">
        <div class="card c-card p-3">
            <div class="card-body">

                {% csrf_token %}

                {% bootstrap_form_errors form type="all" %}

                {% bootstrap_form form %}

                {% redirection_input_field name=redirect_field_name value=redirect_field_value %}

                {% if form.errors %}
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-auto pr-0">
                                <i class="ri-information-line ri-xl text-info"></i>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    Vous possédez un numéro de sécurité sociale temporaire ?
                                    <button
                                        type="submit" name="skip" value="1"
                                        class="btn btn-link p-0 matomo-event"
                                        data-matomo-category="nir-temporaire"
                                        data-matomo-action="etape-suivante"
                                        data-matomo-option="candidature">
                                        Cliquez ici pour accéder à l'étape suivante.
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-auto pr-0">
                                <i class="ri-information-line ri-xl text-info"></i>
                            </div>
                            <div class="col">
                                <p class="mb-0">{% if request.user.is_job_seeker %}
                                    Vous n'avez pas de numéro de sécurité sociale ?<br>
                                {% else %}
                                    Le candidat n'a pas de numéro de sécurité sociale ?<br>
                                {% endif %}
                                    <a href="https://www.ameli.fr/assure/droits-demarches/principes/numero-securite-sociale" title="ameli.fr, article concernant le numéro de sécurité sociale (ouverture dans un nouvel onglet)" rel="noopener" target="_blank">ameli.fr</a><i class="ri-external-link-line ml-1"></i>, le site de l'assurance maladie, vous explique comment l'obtenir.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% buttons %}
                    {# Reload this page and show a modal containing more information about the job seeker. #}
                    <hr class="my-3 my-lg-5">

                    <div class="row mt-3 mt-lg-5 justify-content-end">
                        <div class="col-6 col-lg-auto">
                            <a class="btn btn-link" title="Retourner au tableau de bord" href="{% url 'dashboard:index' %}">Retour</a>
                        </div>
                        <div class="col-6 col-lg-auto">
                            <button type="submit" name="preview" value="1" class="btn btn-primary">Suivant</button>
                        </div>
                    </div>
                {% endbuttons %}
            </div>
        </div>
        {% if preview_mode %}
            <!-- Modal -->
            <div class="modal" id="nir-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="nir-confirmation-label" aria-modal="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="nir-confirmation-label">Utilisateur trouvé</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Le numéro {{ form.nir.value|format_nir }} est associé au compte de <b>{{ job_seeker_name }}</b>.</p>
                            <p>
                                Si cette candidature n'est pas pour <b>{{ job_seeker_name }}</b>, cliquez sur « Ce n'est pas mon candidat » afin de modifier le numéro de sécurité sociale.
                            </p>
                        </div>
                        <div class="modal-footer">
                            {% buttons %}
                                {# Reload this page with a new form. #}
                                <button type="submit" name="cancel" value="1" class="btn btn-sm btn-secondary">
                                    Ce n'est pas mon candidat
                                </button>
                                {# Go to the next step. #}
                                <button type="submit" name="confirm" value="1" class="btn btn-sm btn-primary">
                                    Continuer
                                </button>
                            {% endbuttons %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/split_nir.js' %}"></script>
    {% if preview_mode %}
        {# Show the confirmation modal after submitting the form. #}
        <script type="text/javascript">
            // Adding the "show" CSS class is not enough and not documented.
            // A JS initialization is recommended.
            $("#nir-confirmation-modal").modal("show");
        </script>
    {% endif %}
{% endblock script %}
