{% extends 'admin/change_form.html' %}

{% block submit_buttons_top %}

    {{ block.super }}

    {% if perms.job_applications.change_jobapplication %}
        <div class="submit-row" id="job-app-transitions">
            <p>Changer l'état de la candidature :</p>
            {% if original.state.is_new %}
                <input type='submit' class="danger js-with-confirm" name="transition_process" value="Passer à l'étude">
            {% endif %}
            {% if original.is_in_acceptable_state %}
                <input type='submit' class="danger js-with-confirm" name="transition_accept" value="Accepter">
                <p>
                    <strong>Vous pouvez choisir un diagnostic d'eligibilité IAE, mais sa date d'expiration ne sera pas vérifiée. Si vous souhaitez que le système choisisse le dernier diagnostic valide, laissez le champ vide.</strong>
                </p>
            {% endif %}
            {% if original.state.is_accepted %}
                <input type='submit'
                       class="danger js-with-confirm"
                       name="transition_cancel"
                       value="Annuler"
                       {% if not original.can_be_cancelled %} disabled data-bs-toggle="tooltip" data-bs-placement="top" title=" Une fichie salarié doit probablement être supprimée avant de pouvoir annuler cette candidature " {% endif %}>
            {% endif %}
            {% if original.state.is_obsolete %}
                <input type='submit' class="danger js-with-confirm" name="transition_reset" value="Remettre au statut nouveau">
            {% endif %}
        </div>

        <script nonce="{{ CSP_NONCE }}">
            var buttons = document.getElementsByClassName("js-with-confirm");
            Array.prototype.forEach.call(buttons, function(button) {
                button.addEventListener("click", function(event) {
                    if (!confirm('Êtes vous certain de vouloir **' + event.target.value.toUpperCase() + '** la candidature ?')) {
                        event.preventDefault();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
