{% extends "job_seekers_views/create_or_update_job_seeker/step_base.html" %}
{% load django_bootstrap5 %}
{% load support %}
{% load theme_inclusion %}

{% block progress_title %}
    État civil de l’usager
{% endblock %}
{% block step_title %}
    Quel est l’état civil de l’usager ?
{% endblock %}

{% block form_content %}
    <fieldset>
        <legend class="visually-hidden">État civil de l’usager</legend>
        {% include "includes/job_seekers/readonly_form.html" with form=form request=request only %}
        {% bootstrap_field form.title wrapper_class="form-group form-group-input-w-lg-33" %}
        {% bootstrap_field form.first_name %}
        {% bootstrap_field form.last_name %}
        {% bootstrap_field form.nir wrapper_class="form-group form-group-input-w-lg-66" %}
        {% collapse_field form.lack_of_nir target_id="collapse_lack_of_nir_reason" %}
        <div id="collapse_lack_of_nir_reason"
             class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.lack_of_nir.value %} show{% endif %}">{% bootstrap_field form.lack_of_nir_reason %}</div>
        {% bootstrap_field form.birthdate wrapper_class="form-group form-group-input-w-lg-33" %}
        {% if form.birth_place %}
            {% bootstrap_field form.birth_place %}
            {% bootstrap_field form.birth_country %}
        {% endif %}
    </fieldset>

    {% if job_seeker_already_exists %}
        <!-- Modal -->
        <div class="modal"
             id="job-seeker-already-exists-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="job-seeker-already-exists-label"
             aria-modal="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="job-seeker-already-exists-label">Compte usager déjà existant</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>
                                Les informations saisies correspondent à un compte existant,
                                associé à l’adresse {{ redacted_existing_email }}.
                            </strong>
                        </p>
                        <p>
                            La création d’un second compte pour cet usager n’est pas autorisée.
                            Pour poursuivre, veuillez renseigner l’adresse email associée à ce compte.
                        </p>
                    </div>
                    <div class="modal-footer">
                        {# Go tell the support. #}
                        <a href="{% zendesk_form_url request=request subject=support_subject description=support_description %}"
                           class="btn btn-link btn-ico ps-lg-0 w-100 w-lg-auto">Je ne connais pas cette adresse</a>
                        {# Reload this page with a new form. #}
                        <a href="{{ back_url }}" class="btn btn-sm btn-primary">Renseigner l’adresse email</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {% if job_seeker_already_exists %}
        {# Show the modal after submitting the form. #}
        <script nonce="{{ csp_nonce }}">
            // Adding the "show" CSS class is not enough and not documented.
            // A JS initialization is recommended.
            const jobSeekerAlreadyExistsModal = new bootstrap.Modal("#job-seeker-already-exists-modal");
            jobSeekerAlreadyExistsModal.show();
        </script>
    {% endif %}
{% endblock %}
