{% extends BASE_TEMPLATE %}

{% block title %}Erreur 403 {{ block.super }}{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1">Vous ne pouvez pas continuer</h1>
                    {% if exception %}
                        <div class="alert alert-warning">
                            <p class="mb-0">{{ exception }}</p>
                        </div>
                    {% else %}
                        <h2 class="h1">Accès refusé</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
