{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Accès aux APIs {{ block.super }}{% endblock %}

{% block content_title %}<h1>Accès aux APIs</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="mt-3">
                        <div class="card c-card">
                            <div class="card-body">
                                <div class="col-12">
                                    <p>
                                        Une API (application programming interface ou « interface de programmation d'application ») est une interface logicielle qui permet de « connecter » le site des emplois de l'inclusion à un autre logiciel ou service afin d'échanger des données et des fonctionnalités.
                                    </p>
                                    <p>
                                        En tant qu’administrateur des structures suivantes, vous avez accès à l’API Fiches salarié (<a href="https://emplois.inclusion.beta.gouv.fr/api/v1/redoc/#tag/employee-records" target="_blank">voir la documentation ici</a>):
                                    </p>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nom</th>
                                                <th scope="col">identifiant unique</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for company in companies %}
                                                <tr>
                                                    <th scope="row">{{ company.name }}</th>
                                                    <td>{{ company.uid }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <p>
                                        Pour vous connecter à l'API vous devez utiliser l'identifiant "{{ login_string }}" et comme mot de passe le token suivant.
                                    </p>
                                </div>
                                {% if not token %}
                                    <form method="post" action="{% url 'dashboard:api_token' %}">
                                        {% csrf_token %}

                                        <div class="col-12">
                                            <div class="form-row align-items-center">
                                                <div class="form-group mb-0 col-12 col-lg order-2">
                                                    <span class="align-middle">Vous n'avez pas encore de token d'API</span>
                                                </div>
                                                <div class="form-group mb-0 col-6 col-lg-auto order-1 order-lg-2">
                                                    <button class="btn btn-primary">Créer un token d'API</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <div class="col-12">
                                        <div class="form-row align-items-center">
                                            <div class="form-group mb-0 col-8">
                                                Votre token d'API est :
                                                <span>{{ token.key }}</span>
                                            </div>
                                            <div class="form-group mb-0 col-4 text-end">
                                                {% include 'includes/copy_to_clipboard.html' with content=token.key text="Copier le token" css_classes="btn btn-ico btn-primary" %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
