{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Configurez vos métiers" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Configurez vos métiers" %}</h1>

    <h2 class="text-muted">{{ siae.display_name }}</h2>

    <form method="post" action="" class="d-block mt-3">

        {% csrf_token %}

        <table class="js-jobs-table table table-bordered table-striped table-responsive-sm text-center{% if not siae.jobs_through.exists %} d-none{% endif %}">
            <thead>
                <tr>
                    <th scope="col">{% trans "Recevoir<br>des<br>candidatures" %}</th>
                    <th scope="col" class="text-left">{% trans "Métier" %}</th>
                    <th scope="col">{% trans "ROME" %}</th>
                    <th scope="col">{% include "includes/icon.html" with icon="trash-2" %}</th>
                </tr>
            </thead>
            <tbody class="js-jobs-tbody">
                {% for job in siae.jobs_through.all %}
                {# Note: don't forget to keep the JavaScript template in sync if you edit the row markup. #}
                <tr>
                    <td scope="row">
                        <input type="hidden" name="code" value="{{ job.appellation.code }}">
                        <input
                            type="checkbox"
                            name="is_active-{{ job.appellation.code }}"
                            {% if job.is_active %}checked{% endif %}>
                    </td>
                    <td class="text-left">{{ job.appellation.name }}</td>
                    <td>{{ job.appellation.rome.code }}</td>
                    <td><a href="#" role="button" class="js-job-delete">{% trans "Supprimer" %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <label for="job-autocomplete-input">{% trans "Ajouter un métier :" %}</label>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                {# Loading #}
                <span class="input-group-text js-job-autocomplete-loading d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Chargement..." %}</span>
                </span>
                {# No loading #}
                <span class="input-group-text js-job-autocomplete-no-loading">
                    {% include "includes/icon.html" with icon="plus" %}
                </span>
            </div>
            <input
                type="text"
                id="job-autocomplete-input"
                class="form-control js-job-autocomplete-input"
                aria-label="{% trans "Ajouter un métier" %}"
                data-autocomplete-source-url="{% url 'autocomplete:jobs' %}">
        </div>

        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'dashboard:index' %}">{% trans "Annuler" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Enregistrer les modifications" %}</button>
        {% endbuttons %}

    </form>

{% endblock %}
