{% extends "layout/base.html" %}
{% load static tally %}
{% load matomo %}
{% load theme_inclusion %}

{% block title %}Tableau de bord {{ block.super }}{% endblock %}

{% block title_content %}
    {% include 'dashboard/includes/dashboard_title_content.html' %}
{% endblock %}

{% block title_extra %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link" href="{% url "dashboard:index" %}" {% matomo_event "dashboard" "clic-onglet" "vue-d-ensemble" %}>Vue d’ensemble</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="statistiques-tab"
               data-bs-toggle="tab"
               href="#statistiques"
               role="tab"
               aria-controls="statistiques"
               aria-selected="true"
               {% matomo_event "dashboard" "clic-onglet" "statistiques" %}>Statistiques</a>
        </li>
        {% if user.is_employer or user.is_prescriber %}
            <li class="nav-item">
                <a class="nav-link" id="evenements-tab" data-bs-toggle="tab" href="#evenements" role="tab" aria-controls="evenements" aria-selected="false" {% matomo_event "dashboard" "clic-onglet" "evenements" %}>Événements à venir</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="col-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="statistiques" role="tabpanel" aria-labelledby="statistiques-tab">
                            <h2>Statistiques</h2>
                            <div class="c-banner c-banner--pilotage rounded-3 p-3 py-md-5 mt-3 mt-md-4 mb-3 mb-md-5">
                                <img src="{% static_theme_images 'logo-pilotage-inclusion.svg' %}" height="80" alt="Le pilotage de l'inclusion">
                            </div>
                            {% if stats_kpi %}
                                {% include "dashboard/includes/stats_kpi_labor_inspector_iae.html" %}
                            {% endif %}
                            <div class="row row-cols-1 row-cols-md-2 mt-3 mt-md-4">{% include "dashboard/includes/stats.html" %}</div>
                        </div>
                        {% if user.is_employer or user.is_prescriber %}
                            <div class="tab-pane fade" id="evenements" role="tabpanel" aria-labelledby="evenements-tab">
                                <h2>Événements à venir</h2>
                                <div class="mt-3 mt-md-4">
                                    <div class="js-tac-livestorm" data-url="https://app.livestorm.co/itou/upcoming?limit=10" title="Événements des emplois de l'inclusion | Livestorm">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js'%}"></script>
{% endblock %}
