{% extends "layout/base.html" %}
{% load format_filters %}
{% load static tally %}
{% load matomo %}
{% block title %}Tableau de bord {{ block.super }}{% endblock %}

{% block messages %}
    {{ block.super }}

    {% if show_eiti_webinar_banner %}
        <div class="alert alert-important alert-dismissible-once d-none" role="status" id="alertDismissibleOnceEITIWebinar">
            <p class="mb-0">
                Sur décision de la DGEFP et en accord avec l’ASP, <a href="https://aide.emplois.inclusion.beta.gouv.fr/hc/fr/articles/23342362389265--14-03-24-Webinaire-d%C3%A9di%C3%A9-aux-EITI"
    target="_blank"
    rel="noopener"
    aria-label="Revoir le webinaire (ouverture dans un nouvel onglet)">vous devez déclarer vos fiches salarié à partir du 26/03/2024</a> dans votre tableau de bord des emplois de l’inclusion via l’onglet « gérer les fiches salarié (ASP) ».
            </p>
            <div class="row g-0">
                <p class="my-2">
                    Consultez le <a href="https://aide.emplois.inclusion.beta.gouv.fr/hc/fr/articles/23342362389265--14-03-24-Webinaire-d%C3%A9di%C3%A9-aux-EITI"
    target="_blank"
    rel="noopener"
    aria-label="Revoir le webinaire (ouverture dans un nouvel onglet)">
                    replay, les supports de présentation ASP/EMPLOI ainsi que les modes d'emploi</a>.
                </p>
                <div class="col-12 col-md-auto mt-2">
                    <a class="btn btn-primary btn-block btn-ico"
                       href="{{ ITOU_HELP_CENTER_URL }}/sections/15257055244817-Fiches-salari%C3%A9-pour-les-SIAE"
                       target="_blank"
                       rel="noopener"
                       aria-label="Mode d'emploi pour déclarer les fiches salariés">
                        <span>Découvrir le mode d'emploi</span>
                        <i class="ri-external-link-line ri-lg"></i>
                    </a>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}

    <div class="alert alert-info alert-dismissible-once d-none" role="status" id="alertDismissiblOnceUiImprovements">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        <div class="row">
            <div class="col-auto pe-0">
                <i class="ri-star-s-line ri-xl text-info"></i>
            </div>
            <div class="col pl-0">
                <p class="fw-bold mb-0">Améliorations en cours sur votre espace</p>
                <p class="mb-0">Un nouveau design va arriver de façon progressive lors des prochains mois.</p>
            </div>
        </div>
    </div>

    {% if user.is_employer and request.current_organization and not request.current_organization.jobs.exists %}
        <div class="alert alert-warning alert-dismissible show" role="status">
            <p class="mb-0">
                Pour optimiser la réception de vos candidatures, pensez à renseigner le descriptif de vos postes et leurs prérequis.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}

    {# Alerte pour les employeurs en cas d'absence ou de mauvais score de geocoding. #}
    {% if user.is_employer and request.current_organization and not request.current_organization.has_reliable_coords_legacy %}
        <div class="alert alert-warning alert-dismissible show" role="status">
            <p class="mb-0">
                Nous n'avons pas pu géolocaliser votre établissement.
                <br>
                Cela peut affecter sa position dans les résultats de recherche.
                <br>
                {% if request.is_current_organization_admin %}
                    <a href="{% url 'companies_views:edit_company_step_contact_infos' %}">Indiquez une autre adresse</a>
                {% else %}
                    {% with request.current_organization.active_admin_members.first as admin %}
                        Veuillez contacter un de vos administrateurs (par exemple {{ admin.get_full_name }}) pour qu'il ou elle indique une autre adresse
                    {% endwith %}
                {% endif %}
                ou <a href="{{ ITOU_HELP_CENTER_URL }}" target="_blank" rel="noopener" aria-label="Contactez-nous en cas de problème (ouverture dans un nouvel onglet)">contactez-nous</a> en cas de problème.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}

    {# Alerte pour les prescripteurs en cas d'absence ou de mauvais score de geocoding. #}
    {# Seuls les prescripteurs habilités apparaissent dans le moteur de recherche. #}
    {% if user.is_prescriber and request.current_organization and request.current_organization.is_authorized and not request.current_organization.has_reliable_coords_legacy %}
        <div class="alert alert-warning alert-dismissible show" role="status">
            <p class="mb-0">
                Nous n'avons pas pu géolocaliser votre établissement.
                <br>
                Cela peut affecter sa position dans les résultats de recherche.
                <br>
                {% if request.is_current_organization_admin %}
                    <a href="{% url 'prescribers_views:edit_organization' %}">Indiquez une autre adresse</a>
                {% else %}
                    {% with request.current_organization.active_admin_members.first as admin %}
                        Veuillez contacter un de vos administrateurs (par exemple {{ admin.get_full_name }}) pour qu'il ou elle indique une autre adresse
                    {% endwith %}
                {% endif %}
                ou <a href="{{ ITOU_HELP_CENTER_URL }}" target="_blank" rel="noopener" aria-label="Contactez-nous en cas de problème (ouverture dans un nouvel onglet)">contactez-nous</a> en cas de problème.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}

    {% if user.is_employer and request.current_organization and not request.current_organization.is_active %}
        <div class="alert alert-warning alert-dismissible show" role="status">
            <p class="mb-0">
                Votre structure
                {% if request.current_organization.siret %}
                    (inscrite avec le numéro SIRET : {{ request.current_organization.siret }})
                {% endif %}
                n'est plus conventionnée.
                <br>
                Par conséquent, elle n'apparaît plus dans les résultats de recherche et plus aucun collaborateur ne peut la rejoindre.
                <br>
                À compter du {{ request.current_organization.grace_period_end_date|date:"d F Y" }}, l'accès à ce tableau de bord ne sera plus possible.
                <br>

                {% if request.is_current_organization_admin %}
                    Veuillez dès que possible régulariser votre situation
                    <a href="{% url 'companies_views:show_financial_annexes' %}">en sélectionnant une annexe financière valide</a>.
                    <br>
                {% else %}
                    {% with request.current_organization.active_admin_members.first as admin %}
                        Veuillez contacter un de vos administrateurs (par exemple {{ admin.get_full_name }}) pour qu'il ou elle régularise la situation de votre structure.
                    {% endwith %}
                {% endif %}
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}

    {% if user.is_prescriber and request.current_organization and request.current_organization.has_pending_authorization %}
        <div class="alert alert-warning alert-dismissible show" role="status">
            <p class="mb-0">
                Votre habilitation à valider l'éligibilité d'une personne candidate au dispositif d'Insertion par l'Activité Économique est en cours de vérification par nos équipes. Vous ne pouvez pas encore réaliser le diagnostic d'éligibilité des candidats.
            </p>
            {% if request.current_organization.has_pending_authorization_proof %}
                <p class="mb-0">
                    Merci de nous transmettre l'arrêté préfectoral portant mention de cette habilitation :
                    <a href="{% tally_form_url "wgDzz1" idprescriber=request.current_organization.pk iduser=user.pk source=ITOU_ENVIRONMENT %}"
                       rel="noopener"
                       target="_blank"
                       aria-label="Cliquez ici pour l'envoyer (ouverture dans un nouvel onglet)">
                        cliquez ici pour l'envoyer
                        <i class="ri-external-link-line ri-lg"></i>
                    </a>
                </p>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    <h1 class="h1 mb-0">
        {% if user.is_job_seeker and user.get_full_name %}Tableau de bord - {{ user.get_full_name }}{% endif %}
        {% if request.current_organization %}{{ request.current_organization.display_name }}{% endif %}
    </h1>
    {% if request.current_organization %}
        <p>
            {% if user.is_prescriber %}
                {% if request.current_organization.code_safir_pole_emploi %}
                    {% if request.current_organization.is_authorized %}Prescripteur habilité -{% endif %}
                    Code SAFIR {{ request.current_organization.code_safir_pole_emploi }}
                {% elif request.current_organization.siret %}
                    {% if request.current_organization.is_authorized %}Prescripteur habilité -{% endif %}
                    SIRET {{ request.current_organization.siret|format_siret }}
                {% endif %}
            {% elif user.is_employer %}
                SIRET {{ request.current_organization.siret|format_siret }}
            {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block content %}
    {% if ic_activate_url %}
        <section class="s-banner-01 s-banner-01--ic m-0 p-0 alert">
            <div class="s-banner-01__container container">
                <div class="s-banner-01__row row">
                    <div class="s-banner-01__col col-12">
                        <div class="bg-white">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                            <div class="row align-items-center">
                                <div class="d-none d-lg-block col-lg-2">
                                    <img src="{% static "img/illustration-bg-mini-ic.svg" %}" class="img-fluid img-fitcover" alt="">
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p class="h2">Inclusion Connect : un accès unique à tous vos services !</p>
                                    <p>
                                        Simplifiez la connexion : accédez aux différents services partenaires avec <b>le même identifiant et le même mot de passe.</b>
                                    </p>
                                    <p class="text-danger">
                                        <i class="ri-information-line ri-xxl"></i> <strong>A partir du 2 Mai 2023</strong>, la connexion au site des emplois de l’inclusion se fera exclusivement via Inclusion Connect.
                                    </p>
                                    <div class="row g-0">
                                        <div class="col-12 col-md-auto mt-2">
                                            <a href="{{ ic_activate_url }}" class="btn btn-primary btn-block" {% matomo_event "activation "|add:request.user.kind "clic" "activer-son-compte-inclusion-connect-bandeau" %}>Activer Inclusion Connect</a>
                                        </div>
                                        <div class="col-12 col-md-auto mt-2">
                                            <a class="btn btn-link btn-block"
                                               href="https://plateforme-inclusion.notion.site/Un-compte-unique-pour-mes-services-num-riques-ded9135197654da590f5dde41d8bb68b"
                                               aria-label="Plus d'infos concernant Inclusion Connect"
                                               rel="noopener"
                                               target="_blank">
                                                <span>Plus d'infos</span>
                                                <i class="ri-external-link-line ri-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="s-section">
        <div class="s-section__container container">
            <div class="row my-3 my-md-4">
                <div class="col-12">
                    <form method="get" action="{% url "search:employers_results" %}" role="search">
                        {% include "search/includes/siaes_search_form.html" with form=siae_search_form only %}
                    </form>
                </div>
            </div>

            <div class="row {% if not user.is_job_seeker %}row-cols-1 row-cols-md-2 row-cols-lg-3{% endif %} mt-3">
                {% if user.is_staff %}
                    {% include "dashboard/includes/admin_card.html" %}
                {% endif %}

                {% if user.is_job_seeker %}
                    {% include "dashboard/includes/job_seeker_job_applications_card.html" %}
                    {% if user.latest_common_approval %}
                        {% include "dashboard/includes/job_seeker_approval_card.html" %}
                    {% endif %}
                {% endif %}
                {# end of if user.is_job_seeker #}

                {% if user.is_prescriber %}
                    {% include "dashboard/includes/prescriber_job_applications_card.html" %}
                    {% if request.current_organization.is_authorized %}
                        {% include "dashboard/includes/prescriber_job_seekers_card.html" %}
                    {% endif %}
                    {% if request.current_organization %}
                        {% include "dashboard/includes/prescriber_organisation_card.html" %}
                    {% endif %}
                {% endif %}
                {# end of if user.is_prescriber #}

                {% if user.is_employer %}
                    {% include "dashboard/includes/siae_job_applications_card.html" %}
                    {% if request.current_organization.is_subject_to_eligibility_rules %}
                        {% include "dashboard/includes/siae_employees_card.html" %}
                    {% endif %}
                    {% include "dashboard/includes/siae_card.html" %}
                    {% if active_campaigns or evaluated_siae_notifications %}
                        {% include "dashboard/includes/siae_evaluation_campains_card.html" %}
                    {% endif %}
                {% endif %}
                {# end of if user.is_employer #}

                {% if user.is_labor_inspector %}
                    {% include "dashboard/includes/labor_inspector_organization_card.html" %}
                {% endif %}
                {# end of if user.is_labor_inspector #}

                {% if can_view_stats_ddets_iae and active_campaigns or can_view_stats_ddets_iae and closed_campaigns %}
                    {% include "dashboard/includes/labor_inspector_evaluation_campains_card.html" %}
                {% endif %}
            </div>

            {% if can_view_stats_dashboard_widget or user.is_employer or user.is_prescriber %}
                <h2>Services partenaires</h2>
                <div class="row row-cols-1 row-cols-md-2 mt-3">
                    {% if can_view_stats_dashboard_widget %}
                        {% include "dashboard/includes/stats.html" %}
                    {% endif %}

                    {% if user.is_employer or user.is_prescriber %}
                        {% include "dashboard/includes/dora_card.html" with siret=request.current_organization.siret|default:"" tracker="mtm_campaign=LesEmplois&mtm_kwd=Dashboard" %}
                        {% include "dashboard/includes/diagoriente_card.html" with user=user only %}
                    {% endif %}
                </div>
            {% endif %}

            {% if user.is_employer or user.is_prescriber %}
                <h2>Actualités</h2>
                <div class="row row-cols-1">
                    <div class="container">
                        <div class="js-tac-livestorm" data-url="https://app.livestorm.co/itou/upcoming?limit=3" title="Événements des emplois de l'inclusion | Livestorm">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}


{% block script %}
    {{ block.super }}
    {% if request.user.is_prescriber %}
        <script async src="https://tally.so/widgets/embed.js"></script>
        <script nonce="{{ CSP_NONCE }}">
            window.TallyConfig = {
                "formId": "mBXyVY",
                "popup": {
                    "emoji": {
                        "text": "👋",
                        "animation": "wave"
                    },
                    "hideTitle": true,
                    "autoClose": 0
                }
            };
        </script>
    {% endif %}
{% endblock script %}
