{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% translate "Tableau de bord" %}{{ block.super }}{% endblock %}

{% block messages %}
    {{ block.super }}

    {% if current_siae and not current_siae.jobs.exists %}
        <div class="alert alert-warning" role="alert">
            {% translate "Pour optimiser la réception de vos candidatures, pensez à renseigner le descriptif de vos postes et leurs prérequis." %}
        </div>
    {% endif %}

    {% if current_siae and not current_siae.has_reliable_coords %}
        <div class="alert alert-warning" role="alert">
            {% url 'siaes_views:edit_siae' as edit_siae_url %}
            {% blocktranslate with address=current_siae.address_on_one_line %}
                Nous n'avons pu géolocaliser votre établissement avec l'adresse <b>{{ address }}</b> :
                cela pourrait affecter votre position dans les résultats de recherche.
                Vous pouvez nous <a href="{{ edit_siae_url }}">indiquer une autre adresse</a> ou
                <a href="mailto:{{ ITOU_EMAIL_CONTACT }}">nous contacter</a> en cas de problème.
            {% endblocktranslate %}
        </div>
    {% endif %}

    {% if current_siae and must_update_financial_annex %}
        <div class="alert alert-warning" role="alert">
            {% trans "La DGEFP nous indique que votre structure n'est plus conventionnée." %}
            {% if not current_siae.is_active %}
                {# Not shown for user created siaes. #}
                {% trans "Par conséquent, elle n'apparaît plus dans les résultats de recherche et plus aucun collaborateur ne peut la rejoindre." %}
            {% endif %}
            {% if user_is_siae_admin %}
                {% trans "Veuillez dès que possible régulariser votre situation en sélectionnant une annexe financière valide" %}
                <a href="{% url 'siaes_views:show_financial_annexes' %}">{% translate "ici" %}</a>.
            {% else %}
                {% with current_siae.active_admin_members.first as admin %}
                    {# For security, display only the first char of the last name. #}
                    {% blocktranslate with first_name=admin.first_name|title last_name_first_char=admin.last_name|slice:1 %}
                        Veuillez contacter votre administrateur ({{ first_name }} {{ last_name_first_char }}) pour qu'il ou elle régularise la situation de votre structure.
                    {% endblocktranslate %}
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}

    {% if current_prescriber_organization and current_prescriber_organization.has_pending_authorization %}
        <div class="alert alert-warning pb-0" role="alert">
            <p>
                {% trans "Votre habilitation à valider l'éligibilité d'une personne candidate au dispositif d'Insertion par l'Activité Économique est en cours de vérification par nos équipes. Vous ne pouvez pas encore réaliser le diagnostic d'éligibilité des candidats." %}
            </p>
            {% if current_prescriber_organization.has_pending_authorization_proof %}
                <p>
                    {% trans "Merci de nous transmettre l'arrêté préfectoral portant mention de cette habilitation :" %}
                    <a href="https://itou.typeform.com/to/mk0GyI67#idprescriber={{ current_prescriber_organization.pk }}&iduser={{ user.pk }}&source={{ ITOU_ENVIRONMENT }}" rel="noopener" target="_blank">
                        {% trans "cliquez ici pour l'envoyer" %}
                        {% include "includes/icon.html" with icon="external-link" %}
                    </a>
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if user.joined_recently %}
        {% include "welcoming_tour/includes/message.html" %}
    {% endif %}
{% endblock %}

{% block content %}

    <h1>
        {% translate "Tableau de bord" %}
        {% if current_siae %} - <span class="text-muted">{{ current_siae.display_name }}</span>{% endif %}
        {% if current_prescriber_organization %} -
            <span class="text-muted">{{ current_prescriber_organization.display_name }}</span>
            {% if current_prescriber_organization.is_authorized %}
                {% include "includes/icon.html" with icon="award" class="h1 align-middle" size=30 %}
            {% endif %}
        {% endif %}
    </h1>

    {% if current_prescriber_organization and current_prescriber_organization.is_authorized %}
        <p class="text-muted">
            <span class="badge badge-warning">{% translate "Prescripteur habilité" %}</span>
            {% if current_prescriber_organization.code_safir_pole_emploi %}
                <span class="badge badge-light">
                    {% blocktranslate with code_safir=current_prescriber_organization.code_safir_pole_emploi %}
                        Code SAFIR {{ code_safir }}
                    {% endblocktranslate %}
                </span>
            {% endif %}
        </p>
    {% endif %}

    <div class="card-deck mt-3">

        {% if user.is_staff %}
            <div class="card">
                <h5 class="card-header">{% translate "Admin" %}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="key" %}
                        <a href="{% url 'admin:index' %}">
                            {% translate "Admin" %}
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if user.is_job_seeker %}

            <div class="card">
                <h5 class="card-header">{% translate "Candidatures" %}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="message-square" %}
                        <a href="{% url 'apply:list_for_job_seeker' %}">{% translate "Vos candidatures" %}</a>
                    </p>
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="briefcase" %}
                        <a href="/">{% translate "Rechercher une entreprise" %}</a>
                    </p>
                </div>
            </div>

            {% with user.approvals_wrapper as approvals_wrapper %}
                {% if approvals_wrapper.has_valid or approvals_wrapper.has_in_waiting_period %}
                    <div class="card">
                        <h5 class="card-header">{% translate "Numéro d'agrément" %}</h5>
                        <div class="card-body">
                            <p class="card-text">
                                {% include "includes/icon.html" with icon="award" %}
                                <b>{{ approvals_wrapper.latest_approval.number_with_spaces }}</b>
                                {% include "approvals/includes/status.html" with approval=approvals_wrapper.latest_approval %}
                            </p>
                            {% if approvals_wrapper.has_in_waiting_period %}
                                <p class="card-text">
                                    <small>
                                        {{ user.approvals_wrapper.ERROR_CANNOT_OBTAIN_NEW_FOR_USER }}
                                    </small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

        {% endif %}{# end of if user.is_job_seeker #}

        {% if user.is_prescriber %}

            {% if current_prescriber_organization %}
                <div class="card">
                    <h5 class="card-header">{% translate "Organisation" %}</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="bookmark" %}
                            <a href="{% url 'prescribers_views:edit_organization' %}">
                                {% translate "Modifier les informations" %}
                            </a>
                            {% if current_prescriber_organization.get_card_url %}
                                /
                                <a href="{{ current_prescriber_organization.get_card_url }}?back_url={{ request.get_full_path|urlencode }}">
                                    {% translate "Voir la fiche" %}
                                </a>
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="users" %}
                            <a href="{% url 'prescribers_views:members' %}">
                                {% translate "Voir et inviter vos collaborateurs" %}
                            </a>
                            <span class="badge badge-info">{% translate "Nouveau" %}</span>
                        </p>
                        {% if current_prescriber_organization.is_authorized %}
                            <hr>
                            <p class="card-text">
                                {% include "includes/icon.html" with icon="award" %}
                                <span>
                                    {% blocktranslate with name=current_prescriber_organization.display_name %}
                                        {{ name }} est une organisation habilitée. Vous pouvez réaliser le <a href="https://doc.inclusion.beta.gouv.fr/qui-peut-beneficier-des-contrats-dinsertion-par-lactivite-economique#diagnostic_de_reference" target="_blank">diagnostic socio-professionnel</a> des candidats que vous accompagnez.
                                    {% endblocktranslate %}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <h5 class="card-header">{% translate "Candidatures" %}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="message-square" %}
                        <a href="{% url 'apply:list_for_prescriber' %}">{% translate "Suivi des candidatures" %}</a>
                    </p>
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="user-check" %}
                        <a href="/">{% translate "Postuler pour un candidat" %}</a>
                    </p>
                </div>
            </div>

        {% endif %}{# end of if user.is_prescriber #}

        {% if user.is_siae_staff %}

            <div class="card">
                <h5 class="card-header">
                    {% translate "Ma structure" %}
                    (ID {{ current_siae.id }})
                </h5>
                <div class="card-body">
                    {% if current_siae.is_active_or_in_grace_period %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="box" %}
                            <a href="{% url 'siaes_views:edit_siae' %}">
                                {% translate "Modifier les informations de l'établissement" %}
                            </a>
                            /
                            <a href="{{ current_siae.get_card_url }}?back_url={{ request.get_full_path|urlencode }}">
                                {% translate "Voir la fiche publique" %}
                            </a>
                        </p>
                    {% endif %}
                    {% if current_siae.is_active %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="users" %}
                            <a href="{% url 'siaes_views:members' %}">
                                {% translate "Voir et inviter vos collaborateurs" %}
                            </a>
                        </p>
                    {% endif %}
                    {% if current_siae.is_active_or_in_grace_period %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="briefcase" %}
                            <a href="{% url 'siaes_views:configure_jobs' %}">
                                {% translate "Configurer les descriptions de postes" %}
                            </a>
                        </p>
                    {% endif %}
                    {% if can_show_financial_annexes %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="check-circle" %}
                            <a href="{% url 'siaes_views:show_financial_annexes' %}">{% translate "Gérer mes annexes financières" %}</a>
                            {% if must_update_financial_annex %}
                                <span class="badge badge-danger">{% translate "Action requise" %}</span>
                            {% endif %}
                        </p>
                    {% endif %}
                    {% if not user_is_siae_admin and not current_siae.is_active_or_in_grace_period %}
                        <p class="card-text">
                            {# Empty dashboard. #}
                            Aucune action possible.
                        </p>
                    {% endif %}
                    {% if user_is_siae_admin and current_siae.is_active %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="plus-square" %}
                            <a href="{% url 'siaes_views:create_siae' %}">{% translate "Créer/rejoindre une autre structure" %}</a>
                        </p>
                    {% endif %}
                </div>
            </div>

            {% if current_siae.is_active_or_in_grace_period %}
                <div class="card">
                    <h5 class="card-header">{% translate "Mes candidatures" %}</h5>
                    <div class="card-body">
                        {% for category in job_applications_categories %}
                            {% if category.counter %}
                                <p class="card-text">
                                    {% include "includes/icon.html" with icon=category.icon %}
                                    <a href="{{ category.url }}">{{ category.name }}</a>
                                    <span class="badge {{ category.badge }}">{{ category.counter }}</span>
                                </p>
                            {% endif %}
                        {% endfor %}
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="log-in" %}
                            <a href="{% url 'apply:start' siae_pk=current_siae.pk %}">
                                {% if current_siae.is_subject_to_eligibility_rules %}
                                    {% translate "Obtenir un PASS IAE (candidature spontanée)" %}
                                {% else %}
                                    {% translate "Candidature spontanée" %}
                                {% endif %}
                            </a>
                        </p>
                        <p class="card-text">
                            {% include "includes/icon.html" with icon="settings" %}
                            <a href="{% url 'siaes_views:block_job_applications' %}">
                                {% if current_siae.block_job_applications %}
                                    {% translate "Recevoir de nouvelles candidatures "%}
                                {% else %}
                                    {% translate "Bloquer les nouvelles candidatures "%}
                                {% endif%}
                            </a>
                        </p>
                        {% if current_siae.is_subject_to_eligibility_rules %}
                            <p class="card-text">
                                {% include "includes/icon.html" with icon="book-open" %}
                                <a
                                    href="https://doc.inclusion.beta.gouv.fr/qui-est-eligible-iae-criteres-eligibilite#criteres-administratifs-de-niveau-1"
                                    target="_blank">
                                        {% translate "Liste des critères d'éligibilité" %}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        {% endif %}{# end of if user.is_siae_staff #}

        {% if user.is_stats_vip or user.is_superuser %}

            <div class="card">
                <h5 class="card-header">{% translate "Statistiques et pilotage" %}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="activity" %}
                        <a href="{% url 'stats:public_stats' %}">{% translate "Voir les statistiques de la plateforme"%}</a>
                    </p>
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="activity" %}
                        <a href="{% url 'stats:advanced_stats' %}">{% translate "Voir les statistiques avancées"%}</a>
                        <span class="badge badge-info">{% translate "Nouveau" %}</span>
                    </p>
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="activity" %}
                        <a href="{% url 'stats:stats_vip' %}">{% translate "Voir les données sur mon territoire"%}</a>
                        <span class="badge badge-info">{% translate "Nouveau" %}</span>
                    </p>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}
