{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Informations personnelles de {{ job_seeker.get_full_name }} {{ block.super }}{% endblock %}

{% block messages %}
    {{ block.super }}
    <div class="alert alert-warning">
        <p>
            <b>Vous allez modifier des informations sensibles</b> concernant ce candidat ou cette candidate.
        </p>
        <p>
            Tout changement entraînera une modification définitive dans notre base de données. <b>Les informations supprimées seront perdues.</b>
        </p>
    </div>
{% endblock %}

{% block content_title %}
    <h1>
        Informations personnelles de <span class="text-muted">{{ job_seeker.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        {% include "dashboard/includes/edit_job_seeker_info_form.html" with prev_url=prev_url submit_label="Mettre à jour" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/split_nir.js' %}"></script>
    {% comment %} Needed for the AddressAutocompleteWidget {% endcomment %}
    {{ form.media.js }}
{% endblock %}
