{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Modifier mon profil {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Modifier votre adresse e-mail</h1>
    <div class="alert alert-warning">
        <p class="mb-0">
            Ce changement entraînera une <b>déconnexion</b>.
            <br>
            Veuillez alors vous reconnecter avec votre nouvelle adresse e-mail.
        </p>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}

                            {% bootstrap_form form alert_error_type="all" %}

                            <div class="text-end">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
