{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Modifier votre profil {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="h1-hero-c1">Modifier votre profil</h1>

    {% if extra_data %}

        <div class="alert alert-info">
            <p class="mb-0">
                Certains champs de ce formulaire sont pré-remplis avec des éléments en provenance de votre compte Pôle emploi (récupérés lors de votre connexion du {{ extra_data.created_at|date:"d F Y" }}).
            </p>
        </div>

    {% endif %}

    {% if request.user.is_job_seeker %}
        <div class="c-form">
            {% include "dashboard/includes/edit_job_seeker_info_form.html" with prev_url=prev_url submit_label="Enregistrer" %}
        </div>
    {% else %}
        <div class="c-form">
            <form method="post" action="" class="js-prevent-multiple-submit">
                {% csrf_token %}
                {% bootstrap_form form alert_error_type="all" %}
                {% buttons %}
                    <a class="btn btn-outline-primary" href="{{ prev_url }}">Annuler</a>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                {% endbuttons %}
            </form>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    {% if request.user.is_job_seeker %}
        <script src="{% static 'js/split_nir.js' %}"></script>
    {% endif %}
{% endblock %}
