{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% translate "Modifier vos préférences" %}{{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate "Préférences" %}</h1>

<form method="post" action="" class="js-prevent-multiple-submit js-submit-with-typeform">

    {% csrf_token %}

    {# bootstrap_form_errors new_job_app_notification_form #}
    {% bootstrap_form new_job_app_notification_form %}

    {% buttons %}
        <a class="btn btn-secondary" href="{{ back_url }}">{% translate "Annuler" %}</a>
        <button type="submit" class="btn btn-primary">{% translate "Enregistrer" %}</button>
    {% endbuttons %}

</form>
{% endblock %}
