{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block title %}Mes notifications {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Mes notifications</h1>
    <h2>{{ request.current_organization.display_name }}</h2>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <h3>Notifications e-mail</h3>
                        <h4>Nouvelles candidatures</h4>
                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}

                            {% bootstrap_form_errors new_job_app_notification_form type="all" %}
                            {% bootstrap_field new_job_app_notification_form.spontaneous field_class="form-check form-switch" %}
                            {% if new_job_app_notification_form.qualified %}
                                {% bootstrap_field new_job_app_notification_form.qualified field_class="form-check form-switch" show_label=False %}
                            {% endif %}

                            {% comment "back_url may be not useful anymore, remove it from the view" %}{% endcomment %}
                            {% itou_buttons_form primary_label="Enregistrer" secondary_url=back_url %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
