{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Modifier votre profil" %}{{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Modifier votre profil" %}</h1>

{# Tmp fake button #}
{% if user.is_job_seeker %}
<p><button type="button" class="btn btn-warning">Vérifier mon éligibilité</button></p>
{% endif %}

<form method="post" action="">

    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
        <a class="btn btn-secondary" href="{{ prev_url }}">{% trans "Annuler" %}</a>
        <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
    {% endbuttons %}

</form>
{% endblock %}
