{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Modifier votre profil{{ block.super }}{% endblock %}

{% block content %}
<h1>Modifier votre adresse e-mail</h1>

<div class="alert alert-warning" role="alert">
    Ce changement entraînera une <b>déconnexion</b>.<br>
    Veuillez alors vous reconnecter avec votre nouvelle adresse e-mail.
</div>

<form method="post" action="" class="js-prevent-multiple-submit js-submit-with-typeform">
    {% csrf_token %}

    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

{% endblock %}
