{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block title %}Mes notifications {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Mes notifications</h1>
    <h2>{{ request.current_organization.display_name }}</h2>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <h3>Notifications e-mail</h3>
                        <h4>Nouvelles candidatures</h4>
                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}

                            {% bootstrap_form_errors new_job_app_notification_form type="all" %}
                            {% bootstrap_form new_job_app_notification_form field_class="form-check form-switch" show_label=False %}

                            {% buttons %}
                                <a class="btn btn-outline-primary" href="{{ back_url }}">Annuler</a>
                                <button class="btn btn-primary">Enregistrer</button>
                            {% endbuttons %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
