{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}
    Informations personnelles de {{ job_application.job_seeker.get_full_name|title }}{{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="h1-hero-c1">
        Informations personnelles de <span class="text-muted">{{ job_application.job_seeker.get_full_name|title }}</span>
    </h1>

    <div class="alert alert-warning">
        <p>
            <b>Vous allez modifier des informations sensibles</b> concernant ce candidat ou cette candidate.
        </p>
        <p class="mb-0">
            Tout changement entraînera une modification définitive dans notre base de données. <b>Les informations
        supprimées seront perdues.</b>
    </p>
</div>

<form method="post" action="" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form form alert_error_type="all" %}

    {% buttons %}
        <a class="btn btn-outline-primary" href="{{ prev_url }}">Annuler</a>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {% endbuttons %}

</form>
{% endblock %}
