{% extends "apply/submit_base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}

{% block content_extend %}
    {% component_alert content=content variant="warning" icon=False extra_classes="mb-3" %}
        {% fragment as content %}
            <p class="mb-0">{{ missing_fields_text }}</p>
        {% endfragment %}
    {% endcomponent_alert %}

    <form method="post" class="js-prevent-multiple-submit">
        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% itou_buttons_form primary_label="Continuer" reset_url=reset_url %}
    </form>

{% endblock %}
