{% extends "job_seekers_views/create_step_base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load str_filters %}
{% load matomo %}
{% load buttons_form %}
{% load static %}

{% block form_content %}
    {% if form.errors %}
        <div class="alert alert-info">
            <div class="row">
                <div class="col-auto pe-0">
                    <i class="ri-information-line ri-xl text-info" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <p class="mb-0">Vous possédez un numéro de sécurité sociale temporaire ?</p>
                    <button name="skip" value="1" class="btn btn-link p-0" {% matomo_event "nir-temporaire" "etape-suivante" "candidature" %}>
                        Cliquez ici pour accéder à l'étape suivante.
                    </button>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="status">
            <div class="row">
                <div class="col-auto pe-0">
                    <i class="ri-information-line ri-xl text-info" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <p class="mb-0">
                        Le candidat n'a pas de numéro de sécurité sociale ?
                        <br>
                        <a href="https://www.ameli.fr/assure/droits-demarches/principes/numero-securite-sociale"
                           aria-label="ameli.fr, article concernant le numéro de sécurité sociale (ouverture dans un nouvel onglet)"
                           rel="noopener"
                           class="has-external-link"
                           target="_blank">ameli.fr</a>, le site de l'assurance maladie, vous explique comment l'obtenir.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    {% bootstrap_form form %}

    {% if preview_mode %}
        <!-- Modal -->
        <div class="modal" id="nir-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="nir-confirmation-label" aria-modal="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="nir-confirmation-label">Utilisateur trouvé</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Le numéro {{ form.nir.value|format_nir }} est associé au compte de <b>{{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}</b>.
                        </p>
                        <p>
                            {% if is_gps %}
                                Si ce n'est pas le bénéficiaire que vous souhaitez suivre, cliquez sur « Suivre un autre bénéficiaire » afin de modifier le numéro de sécurité sociale.
                            {% else %}
                                Si cette candidature n'est pas pour <b>{{ job_seeker.get_full_name|mask_unless:can_view_personal_information }}</b>, cliquez sur « Ce n'est pas mon candidat » afin de modifier le numéro de sécurité sociale.
                            {% endif %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        {# Reload this page with a new form. #}
                        {% if is_gps %}
                            {% bootstrap_button "Suivre un autre bénéficiaire" button_type="submit" button_class="btn btn-sm btn-outline-primary" name="cancel" value="1" %}
                        {% else %}
                            {% bootstrap_button "Ce n'est pas mon candidat" button_type="submit" button_class="btn btn-sm btn-outline-primary" name="cancel" value="1" %}
                        {% endif %}
                        {# Go to the next step. #}
                        {% bootstrap_button "Continuer" button_type="submit" button_class="btn btn-sm btn-primary" name="confirm" value="1" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block form_buttons %}
    {# Reload this page and show a modal containing more information about the job seeker. #}
    {% itou_buttons_form primary_label="Suivant" primary_name="preview" primary_value="1" reset_url=reset_url %}
{% endblock form_buttons %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/split_nir.js' %}"></script>
    {% if preview_mode %}
        {# Show the confirmation modal after submitting the form. #}
        <script nonce="{{ CSP_NONCE }}">
            // Adding the "show" CSS class is not enough and not documented.
            // A JS initialization is recommended.
            const nirConfirmationModal = new bootstrap.Modal("#nir-confirmation-modal");
            nirConfirmationModal.show();
        </script>
    {% endif %}

{% endblock script %}
