{% load django_bootstrap5 %}
{% load static %}
{% load theme_inclusion %}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-danger" id="message-modal-{{ forloop.counter }}-label">
                <i class="ri-xl ri-alert-line" aria-hidden="true"></i>
                L’inscription a échoué
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        {{ message }}
    </div>
</div>
