{% load theme_inclusion %}
{% for message in messages %}
    {% if "toast" in message.tags %}
        <div class="toast {{ message|itou_toast_classes }} show" role="status" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                {% if message.level_tag == "warning" %}
                    <i class="ri-error-warning-line ri-lg me-1" aria-hidden="true"></i>
                {% else %}
                    <i class="ri-check-line ri-lg me-1" aria-hidden="true"></i>
                {% endif %}
                <strong class="me-auto">{{ message|itou_toast_title }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer">
                    <span class="visually-hidden">J'ai compris</span>
                </button>
            </div>
            {% with toast_message=message|itou_toast_content %}
                {% if toast_message %}<div class="toast-body">{{ toast_message }}</div>{% endif %}
            {% endwith %}
        </div>
    {% endif %}
{% endfor %}
