{% load static %}
<p class="text-center">
    <b>Utilisez FranceConnect pour vous connecter ou créer un compte</b>
    <br>
    FranceConnect est la solution proposée par l’État pour sécuriser et simplifier la connexion à vos services en ligne.
    <br>
    <a
        href="{% url 'france_connect:authorize' %}"
        aria-label="S'identifier avec FranceConnect"
        class="matomo-event"
        data-matomo-category="inscription-candidat"
        data-matomo-action="clic"
        data-matomo-option="se-connecter-avec-france-connect">
        <img src="{% static 'img/franceconnect_btn.svg' %}" class="img-fluid mb-1">
    </a>
    <a class="small font-italic d-inline-block" href="https://app.franceconnect.gouv.fr/en-savoir-plus">Qu’est-ce que FranceConnect ?</a>
