{% load matomo %}
{% load static %}

<p class="text-primary">
    FranceConnect est la solution proposée par l’État pour sécuriser et simplifier la connexion à vos services en ligne.
</p>
<div class="text-center">
    <a href="{% url 'france_connect:authorize' %}" aria-label="S'identifier avec FranceConnect" {% matomo_event "inscription-candidat" "clic" "se-connecter-avec-france-connect" %}>
        <img class="img-fluid mb-1 itou-france-connect" alt="">
    </a>
    <br>
    <a class="btn btn-link has-external-link" href="https://franceconnect.gouv.fr/">Qu’est-ce que FranceConnect ?</a>
</div>
