{% load static %}


<div class="text-center">
    <a
        href="{% url 'inclusion_connect:authorize' %}"
        title="S'identifier avec Inclusion Connect"
        class="matomo-event"
        data-matomo-category="inscription-{{ authentication_type }}"
        data-matomo-action="clic"
        data-matomo-option="se-connecter-avec-inclusion-connect"
        target="_blank">
        <img class="img-fluid" alt="" src="{% static 'img/inclusion_connect_button.svg' %}">
        <!-- TODO: use a btn btn-primary class instead to keep the hover behaviour. -->
    </a>
</div>
