{% load i18n %}

<div class="card-deck my-5 justify-content-between text-center">
    <div class="card p-4" style="flex: 0 0 23%;">
        <div class="card-body">
            <h5 class="card-title mb-4">
                <span class="d-block">{% trans "Vous êtes un employeur solidaire" %}</span>
                <span class="d-block">{% trans "(SIAE, GEIQ, AE, ...)" %}</span>
            </h5>
            <a href="{% url 'signup:siae' %}">
                <button class="btn btn-primary">
                    {% trans "Créer un compte" %}
                </button>
            </a>
        </div>
    </div>

    <div class="card p-4" style="flex: 0 0 23%;">
        <div class="card-body">
            <h5 class="card-title mb-4">
                {% trans "Vous êtes prescripteur ou un orienteur de l'inclusion" %}
            </h5>
            <a class="card-link" href="{% url 'signup:prescriber' %}">
                <button class="btn btn-primary">
                    {% trans "Créer un compte" %}
                </button>
            </a>
        </div>
    </div>

    <div class="card p-4" style="flex: 0 0 23%;">
        <div class="card-body">
            <h5 class="card-title mb-4">
                {% trans "Vous êtes candidat et souhaitez postuler à un emploi" %}
            </h5>
            <a class="card-link" href="{% url 'signup:job_seeker' %}">
                <button class="btn btn-primary">
                    {% trans "Créer un compte" %}
                </button>
            </a>
        </div>
    </div>

</div>