{% load django_bootstrap5 %}
{% load buttons_form %}

<p class="mt-3 mb-0 text-primary">
    Pour plus d'information sur le traitement de vos données personnelles ou pour exercer vos droits, consultez
    <a href="{% url 'legal-privacy' %}" class="has-external-link" rel="noopener" target="_blank" aria-label="Consultez la section Protection des données (ouverture dans une nouvel onglet)">
        la section Protection des données
    </a>
</p>
<p class="mt-3 text-primary">
    En cliquant sur le bouton "Inscription", vous acceptez
    <a href="{% url 'legal-terms' %}" class="has-external-link" rel="noopener" target="_blank" aria-label="Acceptez les conditions générales d'utilisation (ouverture dans une nouvel onglet)">
        les conditions générales d'utilisation
    </a>.
</p>
{% itou_buttons_form primary_label="Inscription" %}
