{% load bootstrap4 %}
{% load i18n %}

<div class="alert alert-warning" role="alert">
    <p>
        {% blocktrans %}En cliquant sur le bouton "Inscription", j'accepte que le service "La plateforme de l'inclusion" traite les données recueillies pour partage avec les acteurs de l'Insertion par l'Activité Economique.<br>Pour en savoir plus sur la gestion de vos données personnelles et pour exercer vos droits, reportez-vous à nos conditions générales d'utilisation.{% endblocktrans %}
    </p>
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Inscription" %}</button>
    {% endbuttons %}
</div>
