{% load bootstrap4 %}
{% load i18n %}

<div class="alert alert-warning" role="alert">

    <p>
        <small>
            {% translate "Le Ministère du Travail (DGEFP) et Pôle emploi traitent vos données personnelles. La plateforme est ouverte aux acteurs de l'inclusion et permet de simplifier le recrutement des personnes éligibles aux structures de l'Insertion par l'Activité Économique (IAE). Elle est une composante du Pacte ambition IAE." %}
        </small>
    </p>

    <p>
        <small>

            {% translate "Pour plus d'information sur le traitement de vos données personnelles ou pour exercer vos droits, consultez" %}

            <a href="{{ ITOU_DOC_URL }}/mentions/protection-des-donnees" rel="noopener" target="_blank">
                {% translate "la section Protection des données" %}
                {% include "includes/icon.html" with icon="external-link" %}
            </a>.

            {% translate 'En cliquant sur le bouton "Inscription", vous acceptez' %}

            <a href="{{ ITOU_DOC_URL }}/mentions/cgu" rel="noopener" target="_blank">
                {% translate "les conditions générales d'utilisation" %}
                {% include "includes/icon.html" with icon="external-link" %}
            </a>.

        </small>
    </p>

    {% buttons %}
        <button type="submit" class="btn btn-primary">{% translate "Inscription" %}</button>
    {% endbuttons %}

</div>
