{% extends "layout/content.html" %}
{% load i18n %}
{% load format_filters %}
{% load bootstrap4 %}

{% block title %}{{ siae.display_name }}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% trans "Bloquer les nouvelles candidatures" %}</h1>
<h3 class="text-secondary">{{ siae.display_name }}</h3>

<div class="alert alert-info">
   {% blocktrans %}
   <p><b>Trop de candidature à gérer ?</b> Vous pouvez bloquer temporairement la réception de nouvelles candidatures en cochant la case plus bas.</p>
   <p>Le message suivant s'affichera sur votre fiche employeur : <b>"Cet employeur ne traite plus de nouvelles candidatures pour l'instant."</b></p>
   <p>Vous pourrez toujours obtenir un PASS IAE depuis votre tableau de bord.</p>
   {% endblocktrans %}
</div>

<form method="POST" action="" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_field form.block_job_applications %}

    {% if siae.block_job_applications %}
    <div class="alert alert-warning">
        {% trans "Vous avez activé cette option la dernière fois le "%}{{ siae.job_applications_blocked_at|date }}
    </div>
    {% endif %}

    {% buttons %}
        <a class="btn btn-secondary" href="{% url "dashboard:index" %}">{% trans "Annuler" %}</a>
        <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
    {% endbuttons %}

</form>

{% endblock %}
