{% extends "layout/content_small.html" %}
{% load format_filters %}
{% load static %}

{% block title %}{{ siae.display_name }}{{ block.super }}{% endblock %}

{% block content %}
    <div class="card c-card mt-4 p-3">
        <div class="card-body">

            {% include "siaes/includes/_siae_info.html" %}

            {% if siae.description %}
                <p class="h3 mb-1">Son activité</p>
                {{ siae.description | linebreaks }}
            {% endif %}

            {% if siae.provided_support %}
                <p class="h3 mb-1">L'accompagnement proposé</p>
                {{ siae.provided_support | linebreaks }}
            {% endif %}

            {% if siae.email or siae.phone or siae.website %}
                {% include "siaes/includes/_siae_details.html" %}
            {% endif %}

            {% if siae.block_job_applications and siae.count_active_job_descriptions == 0 %}
                <span class="badge badge-pill badge-warning">Pas de recrutement en cours</span>
            {% endif %}

            {% if jobs_descriptions %}
                <hr>
                {% include "siaes/includes/_list_siae_jobs.html" with siae=siae jobs_descriptions=jobs_descriptions %}
            {% endif %}

            {% if siae.count_active_job_descriptions > 0 and not siae.block_job_applications %}
                <hr>
                {% include "siaes/includes/_list_siae_actives_jobs.html" with jobs_descriptions=jobs_descriptions %}
            {% endif %}

            {% if not siae.block_job_applications %}
                <hr class="mb-3 mb-lg-5">
                <p class="text-with-btn">
                    <span class="h4">Cette structure vous intéresse ?</span>
                    <a class="btn btn-primary float-right"
                       href="{% url 'apply:start' siae_pk=siae.pk %}{% if back_url %}?back_url={{ back_url }}{% endif %}"
                       title="Proposer votre candidature auprès de l'employeur solidaire {{ siae.display_name }}">
                        Proposer votre candidature
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

    {% if back_url %}
        <p class="mt-4">
            <a href="{{ back_url }}">Retour</a>
        </p>
    {% endif %}
{% endblock %}
