{% extends "layout/content_small.html" %}
{% load i18n %}
{% load format_filters %}

{% block title %}{{ siae.display_name }}{{ block.super }}{% endblock %}

{% block content %}

    <p>
        <b>{{ siae.kind }}</b>
        -
        <i>{{ siae.get_kind_display }}</i>
    </p>

    <hr>

    <h1>
        {{ siae.display_name }}
        {# Display non-user-edited name too. #}
        {% if siae.brand %}<small class="text-muted">({{ siae.name|title }})</small>{% endif %}
    </h1>

    <h2 class="text-muted">
        {{ siae.address_line_1 }},
        {% if siae.address_line_2 %}{{ siae.address_line_2 }},{% endif %}
        {{ siae.post_code }} {{ siae.city }}
    </h2>

    {% if siae.description %}
        <hr>
        <p>{{ siae.description|linebreaks }}</p>
    {% endif %}

    <hr>

    <div class="alert alert-info" role="alert">
        {% blocktrans %}
        Pour vérifier votre éligibilité à l'insertion par l'activité économique, merci de vous adresser à votre <a href="https://travail-emploi.gouv.fr/demarches-ressources-documentaires/annuaire" target="_blank" rel="noopener">mission locale, CAP emploi ou agence Pole emploi</a> la plus proche.
        {% endblocktrans %}
    </div>

    <hr>

    {% if siae.email %}
        <p>
            {% trans "E-mail" as email_label %}
            {% include "includes/icon.html" with icon="mail" title=email_label %}
            <a href="mailto:{{ siae.email }}">{{ siae.email }}</a>
        </p>
    {% endif %}

    {% if siae.phone %}
        <p>
            {% trans "Téléphone" as phone_label %}
            {% include "includes/icon.html" with icon="phone" title=phone_label %}
            <a href="tel:{{ siae.phone }}">{{ siae.phone|format_phone }}</a>
        </p>
    {% endif %}

    {% if siae.website %}
        <p>
            {% trans "Site Internet" as website_label %}
            {% include "includes/icon.html" with icon="external-link" title=website_label %}
            <a href="{{ siae.website }}" rel="noopener" target="_blank">{{ siae.website }}</a>
        </p>
    {% endif %}

    {% if siae.job_description_through.exists %}
        <p class="mb-2">
            {% include "includes/icon.html" with icon="briefcase" %}
            {% trans "Métiers proposés" %}
        </p>
        <ul>
        {% for job in siae.job_description_through.all %}
            <li>
                {% if job.custom_name %}
                    {{ job.custom_name }}
                {% else %}
                    {{ job.appellation.name }}
                {% endif %}
                {% if job.description %}
                    <div class="alert alert-secondary pb-0">{{ job.description|linebreaks }}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if siae.has_members %}
        <hr>
        <p>
            <a class="btn btn-outline-primary" href="{% url 'apply:start' siret=siae.siret %}">
                {% include "includes/icon.html" with icon="message-square" %} {% trans "Postuler" %}
            </a>
        </p>
    {% endif %}

    {% if back_url %}
        <hr>
        <p>
            <a href="{{ back_url }}">{% trans "Retour" %}</a>
        </p>
    {% endif %}

{% endblock %}
