{% extends "layout/content.html" %}
{% load bootstrap4 %}

{% block title %}Configurer vos fiches de postes{{ block.super }}{% endblock %}

{% block content %}

    <p class="h2 mb-1">{{ siae.display_name }}</p>
    <h1 class="h1-hero-c1 text-muted">Gérer les métiers et recrutements</h1>


    <form method="post" action="" class="d-block mt-3 js-prevent-multiple-submit">
        {% csrf_token %}
        <div class="border-top py-4">
            <h3 class="h2">Bloquer les nouvelles candidatures</h3>
            <div class="custom-control custom-switch is-rtl mb-3">
                <input name="block_job_applications"
                    type="checkbox" id="block_job_applications"
                    class="custom-control-input"
                    {% if siae.block_job_applications %}checked{% endif %}>
                <label class="custom-control-label text-muted"
                    for="block_job_applications">Bloquer temporairement la réception de candidatures (candidatures spontanées, recrutements)</label>
            </div>
            {% if siae.block_job_applications %}
                <p class="alert alert-warning">
                    Vous avez activé cette option la dernière fois le {{ siae.job_applications_blocked_at|date }}
                </p>
            {% endif %}
        </div>
        <div class="border-top py-3">
            <h3 class="h2">Métiers et recrutements</h3>

            {% include "siaes/includes/_alert_configure_job.html" with errors=errors%}

            <div class="form-group mb-4">
                <label for="job-autocomplete-input">Ajouter un métier :</label>
                <div class="input-group bg-white">
                    {# Loading #}
                    <span class="input-group-text js-job-autocomplete-loading d-none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Chargement...</span>
                    </span>
                </div>
                <input
                    type="text"
                    autocomplete="off"
                    placeholder="Saisissez un nom de métier ici pour voir les suggestions"
                    id="job-autocomplete-input"
                    class="form-control js-job-autocomplete-input"
                    aria-label="Ajouter un métier"
                    data-autocomplete-source-url="{% url 'autocomplete:jobs' %}">
            </div>

            <div class="alert alert-emploi">
                <p class="font-weight-bold">Ouvrir un recrutement</p>
                <p>A partir de maintenant, vous pouvez informer les prescripteurs et les candidats de vos recrutements en cours.</p>
            </div>

            {% include "siaes/includes/_configure_jobs_list.html" %}
        </div>
        <div class="float-right">
            {% buttons %}
                <a class="btn" href="{% url 'dashboard:index' %}">Annuler</a>
                <button type="button" id="js-preview-card" class="btn btn-outline-primary"
                    data-url-preview="{% url 'siaes_views:card_search_preview' %}">Prévisualier les modifications</button>
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            {% endbuttons %}
        </div>

        <div id="preview"></div>
        <div class="modal modal-md fade" id="js-modal-preview" tabindex="-1" role="dialog" aria-labelledby="modalPrevisualisationTitle" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="modalPrevisualisationTitle" class="modal-title">Vu de votre structure depuis la liste de résultats</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div id="js-modal-preview-body" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'dashboard:index' %}" data-dismiss="modal">Annuler</a>
                        <button type="submit" class="btn btn-sm btn-primary">Enregistrer les modifications</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

