{% extends "layout/base.html" %}
{% load format_filters %}
{% load django_bootstrap5 %}
{% load static %}
{% load theme_inclusion %}

{% block title %}Modifier les coordonnées de votre structure {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include 'siaes/edit_siae_breadcrumb.html' %}
{% endblock %}

{% block content_title_wrapper %}{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-stepper mb-3 mb-lg-5">
                        <div class="progress progress--emploi">
                            <div class="progress-bar progress-bar-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p>
                            <strong>Étape 3</strong>/3 : Aperçu
                        </p>
                    </div>

                    <div class="c-form">
                        <div class="text-center">
                            <h1 class="h1-hero">
                                <img src="{% static 'img/edit_siae_header.svg' %}" alt="En-tête édition SIAE" class="edit-siae-header-image">
                            </h1>
                            <h2 class="h1">
                                Aperçu de la fiche
                                <br class="d-none d-lg-inline">
                                de ma structure
                            </h2>
                        </div>

                        <div class="card c-card c-card--emploi my-3 my-lg-5">
                            <div class="card-body">
                                <p>
                                    <i class="ri-home-7-line ri-xl me-2"></i>{{ siae.kind }} - {{ siae.get_kind_display }}
                                </p>
                                <hr>
                                <h2 class="h2">{{ siae.display_name }}</h2>
                                <p>{{ siae.address_on_one_line }}</p>
                            </div>
                        </div>

                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}

                            {% if siae.description %}
                                <div class="my-3 my-lg-5">
                                    <h3>Son activité</h3>
                                    {{ form_data.description | linebreaks }}
                                </div>
                            {% endif %}

                            {% if siae.provided_support %}
                                <div class="my-3 my-lg-5">
                                    <h3>L'accompagnement proposé</h3>
                                    {{ form_data.provided_support | linebreaks }}
                                </div>
                            {% endif %}

                            {% if siae.email or siae.phone or siae.website %}
                                <hr>

                                {% if siae.email %}
                                    <p>
                                        <i class="ri-mail-line ri-xl me-2"></i>
                                        <a aria-label="Contact par mail" href="mailto:{{ siae.email }}" class="font-weight-bold">{{ siae.email }}</a>
                                    </p>
                                {% endif %}

                                {% if siae.phone %}
                                    <p>
                                        <i class="ri-phone-line ri-xl me-2"></i>
                                        <a aria-label="Contact téléphonique" href="tel:{{ siae.phone|cut:' ' }}" class="font-weight-bold">{{ siae.phone|format_phone }}</a>
                                    </p>
                                {% endif %}

                                {% if siae.website %}
                                    <p>
                                        <i class="ri-global-line ri-xl me-2"></i>
                                        <a aria-label="Site web (ouverture dans un nouvel onglet)" href="{{ siae.website }}" rel="noopener" target="_blank" class="font-weight-bold">{{ siae.website }}</a>
                                    </p>
                                {% endif %}
                            {% endif %}

                            <hr class="mb-3 mb-lg-5">

                            <div class="alert alert-warning">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <i class="ri-information-line ri-xl text-warning"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">
                                            En cliquant sur le bouton <b>« Publier »</b>, vous acceptez que vos informations et coordonnées soient rendues publiques.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mt-lg-5 justify-content-end">
                                <div class="col-6 col-lg-auto">
                                    <a class="btn btn-link" aria-label="Retourner à l'édition de la description" href="{{ prev_url }}">Retour</a>
                                </div>
                                <div class="col-6 col-lg-auto">
                                    <button aria-label="Publier le formulaire" class="btn btn-primary float-end">Publier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
