{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% translate "Modifier les coordonnées de votre structure" %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% translate "Modifier les coordonnées de votre structure" %}</h1>

<h2 class="text-muted">
    {{ siae.display_name }}
</h2>

<form method="post" action="" class="js-prevent-multiple-submit">

    <div class="alert alert-secondary" role="alert">
        <i>{% translate "Laisser les champs vides pour ne rien afficher." %}</i>
    </div>

    {% csrf_token %}

    {% bootstrap_label "Nom à afficher sur la plateforme" label_title="a" label_for=form.brand.id  %}
    {% bootstrap_field form.brand show_label=False %}

    {% bootstrap_form form exclude="brand" %}

    <div class="alert alert-warning" role="alert">
        <p>
            {% blocktranslate %}En cliquant sur le bouton "Enregistrer", vous acceptez que vos informations et coordonnées ci-dessus soient rendues publiques.{% endblocktranslate %}
        </p>
        {% buttons %}
            <a class="btn btn-secondary" href="{% url 'dashboard:index' %}">{% translate "Annuler" %}</a>
            <button type="submit" class="btn btn-primary">{% translate "Enregistrer" %}</button>
        {% endbuttons %}
    </div>

</form>

{% endblock %}
