{% extends "layout/base.html" %}
{% load format_filters %}
{% load str_filters %}

{% block title %}{{ job.display_name }} - {{ siae.display_name }} {{ block.super }}{% endblock %}

{% block nb_columns %}8{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content_title %}<h1>Description du poste</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-box">
                        {% include "siaes/includes/_job_description_details.html" %}
                        <hr>
                        <div>
                            {% if can_update_job_description %}
                                <div class="row mb-4">
                                    <div class="col">
                                        <a href="{% url "companies_views:update_job_description" job_description_id=job.pk %}" class="btn btn-sm btn-outline-primary" aria-label="Modifier la fiche de poste">
                                            Modifier
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="{% url "companies_views:job_description_list" %}" class="btn btn-sm btn-primary" aria-label="Retour vers la liste des postes">
                                            Fermer
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mb-4">
                                    <div class="col">
                                        {% include 'includes/copy_to_clipboard.html' with content=job.get_absolute_url text="Copier le lien de cette fiche métier" css_classes="btn-outline-primary btn-sm" %}
                                    </div>
                                    {% if job.is_active and not siae.block_job_applications %}
                                        <div class="col-auto text-end">
                                            <a href="{% url "apply:start" siae_pk=siae.pk %}?job_description_id={{ job.pk }}"
                                               class="matomo-event btn btn-sm btn-primary"
                                               data-matomo-category="candidature"
                                               data-matomo-action="clic"
                                               data-matomo-option="clic-metiers"
                                               aria-label="Postuler auprès de l'employeur solidaire {{ siae.display_name }}">
                                                Postuler
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if others_active_jobs and not siae.block_job_applications %}
                                    <hr>
                                    <h2 class="h2">
                                        Consulter le{{ others_active_jobs|pluralizefr }} recrutement{{ others_active_jobs|pluralizefr }} en cours dans cette structure
                                    </h2>
                                    <ul class="list-group list-group-flush mb-4">
                                        {% for other_job in others_active_jobs %}
                                            {% include "siaes/includes/_list_siae_actives_jobs_row.html" with job=other_job %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
