{% extends "layout/content_small.html" %}
{% load i18n %}
{% load format_filters %}

{% block title %}{{ job.display_name }}{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        {{ job.display_name }}
    </h1>

    {% if job.description %}
        <div class="alert alert-secondary pb-0">{{ job.description|linebreaks }}</div>
    {% endif %}

    <p class="mb-2">
        {% include "includes/icon.html" with icon="briefcase" %}
        <a href="{{ siae.get_card_url }}?back_url={{ request.get_full_path|urlencode }}">{% trans "En savoir plus sur la structure proposant cette fiche de poste." %}</a>
    </p>

    {% if back_url %}
        <hr>
        <p>
            <a href="{{ back_url }}">{% trans "Retour" %}</a>
        </p>
    {% endif %}

{% endblock %}
