{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Sélectionner une annexe financière" %}{{ block.super }}{% endblock %}

{% block content %}

<div class="d-sm-inline-flex mb-3 align-items-sm-baseline">
    <h1>{% translate "Sélectionner une annexe financière" %}</h1>
    <h2 class="text-muted ml-sm-4">{{ current_siae.display_name }}</h2>
</div>

<form method="post" action="" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form_errors select_form %}

    {% bootstrap_field select_form.financial_annexes %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">{% translate "Continuer" %}</button>
    {% endbuttons %}

</form>

{% blocktranslate with siren=current_siae.siren kind=current_siae.kind %}
	Si votre annexe financière correspond à un SIREN différent de {{ siren }} ou à un type de structure différent de {{ kind }}, ou bien si elle n'apparait pas dans la liste ci-dessus, contactez nous via la rubrique votre structure sur <a href="{{ ITOU_ASSISTANCE_URL }}" target="_blank" rel="noopener">{{ ITOU_ASSISTANCE_URL }}</a>
{% endblocktranslate %}

{% endblock %}
