{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "S'inscrire" %}{{ block.super }}{% endblock %}


{% block content %}
<h1>{% trans "S'inscrire" %}</h1>

{# <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p> #}

<form method="post" action="{% url 'accounts:siae_signup' %}" role="form">

    {% csrf_token %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    {% bootstrap_field form.first_name %}
    {% bootstrap_field form.last_name %}
    {% bootstrap_field form.email %}
    {% bootstrap_field form.siret %}
    {% bootstrap_field form.password1 %}
    {% bootstrap_field form.password2 %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "S'inscrire" %}</button>
    {% endbuttons %}

</form>

{% endblock %}
