{% load theme_inclusion %}

<li class="list-group-item list-group-item-action">
    <div class="d-flex align-items-center gap-3">
        <div class="flex-grow-1 d-flex align-items-center gap-3">
            <img src="{% static_theme_images logo %}" height="35" width="35" alt="{{ name }}">
            <div>
                <strong class="d-block fs-sm">{{ name }}</strong>
                <p class="mb-0 fs-sm">{{ description }}</p>
            </div>
        </div>
        <button class="btn btn-lg btn-ico-only btn-link stretched-link"
                type="button"
                aria-label="En savoir plus sur {{ name }}"
                data-bs-toggle="collapse"
                data-bs-target="#{{ id }}InfoMore"
                aria-expanded="{% if service == new_service_shown %}true{% else %}false{% endif %}"
                aria-controls="{{ id }}InfoMore">
            <i class="ri-arrow-drop-right-line" aria-hidden="true"></i>
        </button>
    </div>
</li>
