{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load support %}

{% block title %}Annulation d’une demande de réinitialisation de double authentification {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Annuler une demande de réinitialisation de ma double authentification</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="section__col col-12">
                    <div class="c-box">
                        {% if reset_request %}
                            <h2>Vous avez une demande de réinitialisation en cours</h2>
                            <p>
                                <strong>
                                    {% if reset_request.state == "pending" %}
                                        Votre demande n’a pas encore été traitée.
                                    {% else %}
                                        Votre demande a été traitée positivement, vous trouverez le lien de réinitialisation dans votre boite mail.
                                    {% endif %}
                                </strong>
                            </p>
                            <p>
                                <form method="post" class="js-prevent-multiple-submit">
                                    {% csrf_token %}
                                    {% itou_buttons_form primary_label="Annuler la demande" reset_url=None show_mandatory_fields_mention=False %}
                                </form>
                                L’annulation de la demande invalide aussi les liens de réinitialisation qui auraient déjà été envoyés par email.
                            </p>
                        {% else %}
                            <h2>Vous n’avez pas de demande de réinitialisation en cours.</h2>
                        {% endif %}
                        <a href="{% url 'account_login' %}" target="_blank" rel="noopener" class="btn btn-ico btn-primary">
                            Revenir à la connexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
