<div class="card my-3">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 col-12">
                <a href="{{ evaluated_administrative_criteria.proof_url }}" rel="noopener" target="_blank" title="Vérifier ce justificatif (ouverture dans un nouvel onglet)">
                    <i class="ri-file-copy-2-line ri-lg mr-1"></i>
                    {% if evaluated_siae.state == "SUBMITTED" or evaluated_siae.state == "ACCEPTED" or evaluated_siae.state == "REFUSED"%}
                        Vérifier ce justificatif
                    {%else%}
                        Revoir ce justificatif
                    {%endif%}
                    <i class="ri-share-box-line"></i>
                </a>
            </div>
            {% if evaluated_siae.state == "SUBMITTED" or evaluated_siae.state == "ACCEPTED" or evaluated_siae.state == "REFUSED"%}
                {% if evaluated_administrative_criteria.review_state == 'PENDING' %}
                    <div class="col-lg-2 col-md-2 col-9">
                        <a href="{% url 'siae_evaluations_views:institution_evaluated_administrative_criteria' evaluated_administrative_criteria.pk "accept"%}"
                            class="btn btn-success float-right" title="Accepter ce justificatif">
                            Accepter
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <a href="{% url 'siae_evaluations_views:institution_evaluated_administrative_criteria' evaluated_administrative_criteria.pk "refuse"%}"
                            class="btn btn-danger float-right" title="Refuser ce justificatif">
                            Refuser
                        </a>
                    </div>
                {% else %}
                    <div class="col-lg-4 col-md-4 col-12">
                        <a href="{% url 'siae_evaluations_views:institution_evaluated_administrative_criteria' evaluated_administrative_criteria.pk "reinit"%}"
                            class="btn btn-primary float-right" title="Modifier l'état de ce justificatif">
                            Modifier
                        </a>
                    </div>
                {%endif%}
            {%endif%}
        </div>
    </div>
</div>