{% load django_bootstrap5 %}

<form method="post" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form_errors form_administrative_criteria type="all" %}

    <h3 class="h2">Critères administratifs déclarés lors de l'embauche</h3>
    <p>
        Vous devez justifier l’embauche du salarié en sélectionnant soit 1 critère administratif de niveau 1, soit {{ form_administrative_criteria.num_level2_admin_criteria }} critères administratifs de niveau 2.
    </p>

    {% if level_1_fields %}
        <h3 class="h2">Niveau 1</h3>

        {% for field in level_1_fields %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endfor %}
    {% endif %}

    {% if level_2_fields %}
        <h3 class="h2">Niveau 2</h3>

        {% for field in level_2_fields %}
            {# notice that eligibility/includes/criteria_input.html requires form_administrative_criteria.OBJECTS #}
            {# altough field is already sent ~ vincentporte's note - april 2022#}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endfor %}
    {% endif %}

    {% bootstrap_button "Enregistrer ce(s) critère(s)" button_type="submit" button_class="btn btn-primary float-end" %}
</form>
