{% load format_filters %}
{% load siae_evaluations_tags %}

<div class="d-flex flex-column flex-lg-row gap-2 gap-lg-3">
    <div class="c-box--results__summary flex-grow-1">
        <i class="ri-pass-valid-line" aria-hidden="true"></i>
        <div>
            <h3>
                PASS IAE {{ evaluated_job_application.job_application.approval.number|format_approval_number }} délivré le {{ evaluated_job_application.job_application.approval.start_at|date:"d E Y" }}
            </h3>
            <span>{{ evaluated_job_application.job_application.job_seeker.get_full_name }}</span>
        </div>
    </div>
    <div>{% evaluated_job_application_state_display evaluated_job_application %}</div>
</div>
