{% load format_filters %}
<div class="row">
    <div class="col-md-8">
        <h3 class="h2">
            Auto-prescription pour
            <span class="text-muted">{{ job_seeker.get_full_name }}</span>
        </h3>
        <p class="m-0">
            PASS IAE :&nbsp;<b>{{ approval.number|format_approval_number }}</b> délivré le {{ approval.start_at|date:"d E Y" }}
        </p>
    </div>
    <div class="col-md-4 text-end">
        {% if evaluated_siae.evaluation_is_final %}
            {% if state == "PENDING" %}
                <p class="badge rounded-pill bg-danger float-end">Non téléversés</p>
            {% elif state == "PROCESSING" %}
                <p class="badge rounded-pill bg-warning float-end">Téléversement incomplet</p>
            {% elif state == "UPLOADED" %}
                <p class="badge rounded-pill bg-warning float-end">Justificatifs téléversés</p>
            {% elif state == "SUBMITTED" %}
                <p class="badge rounded-pill bg-info-light text-primary float-end">Justificatifs non contrôlés</p>
            {% elif state == "ACCEPTED" %}
                <p class="badge rounded-pill bg-success float-end">Validé</p>
            {% elif state == "REFUSED" or state == "REFUSED_2" %}
                <p class="badge rounded-pill bg-danger float-end">Problème constaté</p>
            {% endif %}
        {% else %}
            {% if state == "PENDING" or state == "PROCESSING" %}
                {% if evaluated_siae.submission_freezed_at %}
                    <p class="badge rounded-pill bg-danger float-end">Justificatifs non transmis</p>
                {% else %}
                    <p class="badge rounded-pill bg-emploi float-end">En attente</p>
                {% endif %}
            {% elif state == "UPLOADED" %}
                {% if evaluated_siae.submission_freezed_at %}
                    <p class="badge rounded-pill bg-danger float-end">Justificatifs non transmis</p>
                {% else %}
                    <p class="badge rounded-pill bg-pilotage float-end">Justificatifs téléversés</p>
                {% endif %}
            {% elif state == "SUBMITTED" %}
                <p class="badge rounded-pill bg-pilotage float-end">
                    {% if reviewed_at %}
                        Nouveaux justificatifs à traiter
                    {% else %}
                        À traiter
                    {% endif %}
                </p>
            {% elif state == "ACCEPTED" %}
                <p class="badge rounded-pill bg-success float-end">Validé</p>
            {% elif state == "REFUSED" %}
                {% if reviewed_at %}
                    <p class="badge rounded-pill bg-emploi float-end">Phase contradictoire - En attente</p>
                {% else %}
                    {% comment %}
                    Show “Problème constaté” until the review is submitted, which starts the “phase contradictoire”
                    (tracked by the reviewed_at field).
                    {% endcomment %}
                    <p class="badge rounded-pill bg-danger float-end">Problème constaté</p>
                {% endif %}
            {% elif state == "REFUSED_2" %}
                <p class="badge rounded-pill bg-danger float-end">Problème constaté</p>
            {% endif %}
        {% endif %}
    </div>
</div>
