{% load format_filters %}
<div class="row">
    <div class="col-lg-8 col-md-7 col-12">
        <h3 class="h2">
            Auto-prescription pour
            <span class="text-muted">{{ job_seeker.get_full_name }}</span>
        </h3>
    </div>
    <div class="col-lg-4 col-md-5 col-12 text-end">
        {% if state == "REFUSED_2" %}
            <p class="badge rounded-pill bg-danger float-end">problème constaté</p>

        {% elif reviewed_at %}
            {% if state == "ACCEPTED" %}
                <p class="badge rounded-pill bg-success float-end">validé</p>
            {% elif state == "UPLOADED" %}
                <p class="badge rounded-pill bg-success float-end">justificatifs téléversés</p>
            {% elif state == "SUBMITTED" %}
                <p class="badge rounded-pill bg-communaute-light float-end">transmis</p>
            {% elif state == "REFUSED" %}
                <p class="badge badge-pill badge-danger float-end">problème constaté</p>
            {% elif state == "PROCESSING" %}
                <p class="badge badge-pill badge-pilotage float-end">à traiter</p>
            {% else %}
                <p class="badge rounded-pill bg-pilotage float-end">nouveaux justificatifs à traiter</p>
            {% endif %}

        {% else %}
            {% if state == "PENDING" %}
                <p class="badge rounded-pill bg-pilotage float-end">à traiter</p>
            {% elif state == "PROCESSING" %}
                <p class="badge rounded-pill bg-pilotage float-end">en cours</p>
            {% elif state == "UPLOADED" %}
                <p class="badge rounded-pill bg-success float-end">justificatifs téléversés</p>
            {% elif state == "SUBMITTED" or state == "REFUSED" or state == "ACCEPTED" %}
                <p class="badge rounded-pill bg-communaute-light float-end">transmis</p>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="m-0">
            PASS IAE :&nbsp;<b>{{ approval.number|format_approval_number }}</b> délivré le {{ approval.start_at|date:"d E Y" }}
        </p>
    </div>
</div>
