<div class="row">
    <div class="col-md-9">
        <h3 class="h2">Auto-prescription pour
            <span class="text-muted">
                {{job_seeker.get_full_name|title}}
            </span>
        </h3>
        <p class="m-0">Numéro de PASS IAE (agrément) :&nbsp;<b>{{ approval.number_with_spaces }}</b></p>
    </div>
    <div class="col-md-3 text-right">
        <p class="small mb-0">
            {% if state == "PENDING" %}
                <p class="badge badge-pilotage float-right">à traiter</p>
            {% elif state == "PROCESSING" %}
                <p class="badge badge-pilotage float-right">en cours</p>
            {% elif state == "UPLOADED" %}
                <p class="badge badge-success float-right">traité</p>
            {% elif state == "SUBMITTED" or state == "ACCEPTED" or state == "REFUSED" %}
                <p class="badge badge-communaute-light float-right">transmis</p>
            {% endif %}
        </p>
    </div>
</div>
