{% load format_filters %}

<div class="d-flex flex-column flex-lg-row gap-2 gap-lg-3">
    <div class="c-box--results__summary flex-grow-1">
        <i class="ri-pass-valid-line" aria-hidden="true"></i>
        <div>
            <h3>PASS IAE {{ approval.number|format_approval_number }} délivré le {{ approval.start_at|date:"d E Y" }}</h3>
            <span>{{ job_seeker.get_full_name }}</span>
        </div>
    </div>
    <div>
        {% if evaluated_siae.evaluation_is_final %}
            {% if state == "PENDING" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Non téléversés</span>
            {% elif state == "PROCESSING" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-warning text-white">Téléversement incomplet</span>
            {% elif state == "UPLOADED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-warning text-white">Justificatifs téléversés</span>
            {% elif state == "SUBMITTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-emploi-light text-primary">Justificatifs non contrôlés</span>
            {% elif state == "ACCEPTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-success text-white">Validé</span>
            {% elif state == "REFUSED" or state == "REFUSED_2" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Problème constaté</span>
            {% endif %}
        {% else %}
            {% if state == "PENDING" or state == "PROCESSING" %}
                {% if evaluated_siae.submission_freezed_at %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Justificatifs non transmis</span>
                {% else %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-info text-white">En attente</span>
                {% endif %}
            {% elif state == "UPLOADED" %}
                {% if evaluated_siae.submission_freezed_at %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Justificatifs non transmis</span>
                {% else %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-accent-03 text-primary">Justificatifs téléversés</span>
                {% endif %}
            {% elif state == "SUBMITTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-accent-03 text-primary">
                    {% if reviewed_at %}
                        Nouveaux justificatifs à traiter
                    {% else %}
                        À traiter
                    {% endif %}
                </span>
            {% elif state == "ACCEPTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-success text-white">Validé</span>
            {% elif state == "REFUSED" %}
                {% if reviewed_at %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-info text-white">Phase contradictoire - En attente</span>
                {% else %}
                    {% comment %}
                    Show “Problème constaté” until the review is submitted, which starts the “phase contradictoire”
                    (tracked by the reviewed_at field).
                    {% endcomment %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Problème constaté</span>
                {% endif %}
            {% elif state == "REFUSED_2" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Problème constaté</span>
            {% endif %}
        {% endif %}
    </div>
</div>
