
<div class="card my-3"  >
    {# navigation : anchor to scroll to a specific card when returning to this page #}
    <a class="scrolldown-anchor" id="{{item.pk}}"></a>
    <div class="card-header">
        {% include "siae_evaluations/includes/job_seeker_infos_for_siae.html" with job_seeker=item.job_application.job_seeker approval=item.job_application.approval state=item.state%}
    </div>

    <div class="card-body">

        {%for evaluated_administrative_criteria in item.evaluated_administrative_criteria.all %}
            <div class="row mt-3">
                <div class="col-md-8">
                    {% include "siae_evaluations/includes/criterion_infos.html" with criteria=evaluated_administrative_criteria.administrative_criteria %}
                </div>
                <div class="col-md-12">
                    {% if evaluated_administrative_criteria.submitted_at %}
                        <a href="{{evaluated_administrative_criteria.proof_url}}" target="_blank" class="btn btn-outline-primary float-right">Visualiser le justificatif soumis</a>
                    {% else %}
                        <a href="{% url 'siae_evaluations_views:siae_upload_doc' evaluated_administrative_criteria.pk %}"
                            class="btn {% if evaluated_administrative_criteria.proof_url %}btn-outline-primary {%else%}btn-primary {%endif%}float-right">
                            {# check later if this conditional display could be factorized with similar code in `siae_upload_doc.html`#}
                            {% if evaluated_administrative_criteria.proof_url %}
                                Modifier le justificatif
                            {%else%}
                                Ajouter un justificatif
                            {%endif%}
                        </a>
                    {% endif %}
                </div>
            </div>

        {%endfor%}

        <div class="row mt-5">
            <div class="col-md-12">
                {% if item.should_select_criteria == "PENDING"%}
                    <a href="{% url 'siae_evaluations_views:siae_select_criteria' item.pk %}"
                        class="btn btn-primary">Sélectionner les critères</a>
                {% elif item.should_select_criteria == "EDITABLE" %}
                    <a href="{% url 'siae_evaluations_views:siae_select_criteria' item.pk %}"
                        class="btn btn-outline-primary">Modifier les critères</a>
                {% endif %}

            </div>
        </div>


    </div>
</div>
