<div id="recommandations_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="recommandations_modal_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="recommandations_modal_title">
                    Recommandations pour assurer la conformité juridique de votre sanction
                </h3>
            </div>
            <div class="modal-body">
                <ol>
                    <li class="mb-3">
                        <strong>Exactitude matérielle des faits</strong>
                        <br>
                        Vérifiez que les faits reprochés sont établis de manière objective et justifiés.
                    </li>
                    <li class="mb-3">
                        <strong>Base juridique</strong>
                        <br>
                        Vérifiez que la sanction s’appuie sur un fondement légal applicable au cas traité (articles L.&nbsp;5132-3 et R.&nbsp;5132-1-12 à R.&nbsp;5132-1-17 du Code du travail, Instruction n°&nbsp;DGEFP/SDPAE/MIP/2022/83).
                    </li>
                    <li class="mb-3">
                        <strong>Proportionnalité et individualisation</strong>
                        <br>
                        Appuyez-vous sur la grille indicative des sanctions figurant à l’annexe 3 de l’Instruction n°&nbsp;DGEFP/SDPAE/MIP/2022/8 et ajustez la sanction en fonction de la gravité des faits, du contexte et des circonstances propres à chaque dossier.
                    </li>
                    <li class="mb-3">
                        <strong>Notification de la sanction</strong>
                        <br>
                        Pour la sanction « Participation à une session de présentation de l’auto-prescription », vous êtes invités à préciser directement dans les emplois de l’inclusion les motivations de la décision.
                        Une notification e-mail sera automatiquement transmise à la SIAE par les emplois de l’inclusion pour ce type de sanction, ainsi qu’en l’absence de sanction.
                        <br>
                        <br>
                        Les sanctions consistant à suspendre/retirer la capacité d’auto-prescription ou à supprimer tout ou partie de l’aide au poste ne font pas l’objet d’une notification à la SIAE par e-mail par les Emplois de l’inclusion, ni d’une information directement sur leur espace des Emplois de l’inclusion. La décision doit être notifiée à la SIAE par la DDETS par l’envoi d’une lettre recommandée avec accusé de réception ou par remise en main propre contre signature. Si vous sélectionnez l’une de ces sanctions, un modèle DGEFP de décision de sanction vous sera proposé à la fin de ce formulaire.
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-primary">
                    J'ai pris connaissance des recommandations
                </button>
            </div>
        </div>
    </div>
</div>
