<div class="d-flex flex-column flex-lg-row gap-2 gap-lg-3" id="state_of_evaluated_siae-{{ evaluated_siae.pk }}">
    <div class="c-box--results__summary flex-grow-1">
        <i class="ri-community-line" aria-hidden="true"></i>
        <div>
            <h3>{{ evaluated_siae }}</h3>
        </div>
    </div>
    <div>
        {% if evaluated_siae.evaluation_is_final %}
            {# Only 2 states are possible when evaluation_is_final: ACCEPTED and REFUSED #}
            {% if evaluated_siae.state == "ACCEPTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-success text-white">Résultat positif</span>
            {% elif evaluated_siae.state == "REFUSED" %}
                {% if evaluated_siae.notified_at %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">Résultat négatif</span>
                {% else %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-accent-03 text-primary">Notification à faire</span>
                {% endif %}
            {% endif %}
        {% else %}
            {% if evaluated_siae.state == "SUBMITTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-accent-03 text-primary">
                    {% if evaluated_siae.reviewed_at %}Phase contradictoire -{% endif %}
                    À traiter
                </span>
            {% elif evaluated_siae.state == "REFUSED" or evaluated_siae.state == "ACCEPTED" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-accent-03 text-primary">En cours</span>
            {% elif evaluated_siae.state == "ADVERSARIAL_STAGE" %}
                <span class="badge badge-sm rounded-pill text-nowrap bg-danger-lighter text-danger">Phase contradictoire</span>
            {% else %}
                {# PENDING or SUBMITTABLE (NOTIFICATION_PENDING impossible without evaluation_is_final) #}
                {% if evaluated_siae.submission_freezed_at %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-danger text-white">
                        {% if evaluated_siae.reviewed_at %}Phase contradictoire -{% endif %}
                        Problème constaté
                    </span>
                {% else %}
                    <span class="badge badge-sm rounded-pill text-nowrap bg-info text-white">
                        {% if evaluated_siae.reviewed_at %}Phase contradictoire -{% endif %}
                        En attente
                    </span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
