{% extends "layout/base.html" %}
{% load matomo %}
{% load str_filters %}
{% load format_filters %}

{% block title %}Profil salarié - {{ user.get_full_name }} {{ block.super }}{% endblock %}

{% block content_title %}<h1>{{ user.get_full_name }}</h1>{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    {# Job seeker info ------------------------------------------------------------------------- #}
                    <div class="c-box mb-3 mb-lg-5">
                        <h2>Données administratives</h2>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-data mb-3">
                                    <li>
                                        <small>Prénom</small>
                                        <strong>{{ user.first_name|mask_unless:can_view_personal_information }}</strong>
                                    </li>
                                    <li>
                                        <small>Nom</small>
                                        <strong>{{ user.last_name|mask_unless:can_view_personal_information }}</strong>
                                    </li>

                                    <li>
                                        <small>Date de naissance</small>
                                        <strong>{{ user.birthdate|date:"d/m/Y" }}</strong>
                                    </li>
                                    <li>
                                        <small>Adresse e-mail</small>
                                        <strong>{{ user.email }}</strong>
                                        <button class="btn-link"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-trigger="manual"
                                                data-bs-title="Copié!"
                                                data-it-clipboard-button="copy"
                                                data-it-copy-to-clipboard="{{ user.email }}"
                                                {% matomo_event "gps" "clic" "copied_user_email" %}>
                                            <i class="ri-file-copy-line"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <small>Téléphone</small>
                                        {% if user.phone %}
                                            <strong>{{ user.phone|format_phone }}</strong>
                                            <button class="btn-link"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    data-bs-trigger="manual"
                                                    data-bs-title="Copié!"
                                                    data-it-clipboard-button="copy"
                                                    data-it-copy-to-clipboard="{{ user.phone|cut:" " }}"
                                                    {% matomo_event "gps" "clic" "copied_user_phone" %}>
                                                <i class="ri-file-copy-line"></i>
                                            </button>
                                        {% else %}
                                            <i class="text-disabled">Non renseigné</i>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <small>Adresse</small>
                                        {% if user.address_on_one_line %}
                                            <address>{{ user.address_on_one_line }}</address>
                                        {% else %}
                                            <i class="text-disabled">Non renseignée</i>
                                        {% endif %}
                                    </li>

                                    <li>
                                        <small>Numéro de sécurité sociale</small>
                                        {% if profile.nir %}
                                            <strong>{{ profile.nir }}</strong>
                                        {% else %}
                                            <i class="text-disabled">Non renseigné</i>
                                        {% endif %}
                                    </li>
                                </ul>

                            </div>
                            <div class="col-6">
                                <ul class="list-data mb-3">
                                    <li>
                                        <small>Niveau de formation</small>
                                        {% if profile.get_education_level_display %}
                                            <strong>{{ profile.get_education_level_display }}</strong>
                                        {% else %}
                                            <i class="text-disabled">Non renseigné</i>
                                        {% endif %}
                                    </li>
                                    {% if profile.resourceless %}
                                        <li>
                                            <small>Ressources</small>
                                            <strong>Sans ressources</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.pole_emploi_since %}
                                        <li>
                                            <small>Inscription France Travail</small>
                                            <strong>Depuis {{ profile.get_pole_emploi_since_display|lower }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.unemployed_since %}
                                        <li>
                                            <small>Sans emploi</small>
                                            <strong>Depuis {{ profile.get_unemployed_since_display|lower }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.rqth_employee %}
                                        <li>
                                            <small>RQTH</small>
                                            <strong>Titulaire de la RQTH</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.oeth_employee %}
                                        <li>
                                            <small>OETH</small>
                                            <strong>Bénéficiaire de la loi handicap (OETH)</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.rsa_allocation_since %}
                                        <li>
                                            <small>RSA</small>
                                            <strong>
                                            {{ profile.get_has_rsa_allocation_display }} depuis {{ profile.get_rsa_allocation_since_display|lower }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.ass_allocation_since %}
                                        <li>
                                            <small>ASS</small>
                                            <strong>Bénéficiaire de l'ASS depuis {{ profile.get_ass_allocation_since_display|lower }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if profile.aah_allocation_since %}
                                        <li>
                                            <small>Bénéficiaire de l'AAH</small>
                                            <strong>Depuis {{ profile.get_aah_allocation_since_display|lower }}</strong>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <small>Identifiant France Travail (ex Pôle emploi)</small>

                                        {% if profile.pole_emploi_id or profile.lack_of_pole_emploi_id_reason %}
                                            {% if profile.pole_emploi_id %}
                                                <strong>{{ profile.pole_emploi_id }}</strong>
                                                <button class="btn-link"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        data-bs-trigger="manual"
                                                        data-bs-title="Copié!"
                                                        data-it-clipboard-button="copy"
                                                        data-it-copy-to-clipboard="{{ profile.pole_emploi_id }}">
                                                    <i class="ri-file-copy-line"></i>
                                                </button>
                                            {% else %}
                                                <strong>{{ profile.get_lack_of_pole_emploi_id_reason_display }}</strong>
                                            {% endif %}
                                        {% else %}
                                            <i class="text-disabled">Non renseigné</i>
                                        {% endif %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    {% include "users/includes/gps_group.html" with gps_memberships=gps_memberships %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
