{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load str_filters %}
{% comment %} EXACTLY the same as approvals/list.html except the "approvals/includes/list_card.html" include. {% endcomment %}

{% block title %}Salariés suivis {{ block.super }}{% endblock %}

{% block content_title %}<h1>Salariés suivis</h1>{% endblock %}

{% block content %}
    <section class="s-box">
        <div class="s-box__container container">
            <div class="s-box__row row">
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <aside class="c-aside-filters">
                        <button class="c-aside-filters__btn__collapse" data-bs-toggle="collapse" data-bs-target="#asideFiltersCollapse" aria-expanded="true" aria-controls="asideFiltersCollapse">
                            <i class="ri-filter-line" aria-hidden="true"></i>
                            <span>Filtrer les résultats</span>
                        </button>
                        <div class="c-aside-filters__card collapse show" id="asideFiltersCollapse">
                            <form method="get" id="js-job-applications-filters-form">
                                <div class="c-aside-filters__card__body">
                                    {% include "approvals/includes/approvals_filters/users.html" %}
                                    <hr>
                                    {% include "approvals/includes/approvals_filters/status.html" %}
                                    <hr>
                                    <fieldset>
                                        <legend>Fin du parcours en IAE</legend>
                                        {% bootstrap_field filters_form.expiry layout="inline" %}
                                    </fieldset>
                                    <button id="js-job-applications-filters-apply-button" class="btn btn-block btn-primary mt-3" aria-label="Appliquer les filtres">
                                        Appliquer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-12 col-md-8">
                    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-3 mb-md-4">
                        <h3 class="h4 mb-0">
                            {% with paginator.count as counter %}<strong>{{ counter }} résultat{{ counter|pluralizefr }}</strong>{% endwith %}
                        </h3>
                        {% if filters_counter > 0 %}
                            <div class="flex-column flex-md-row btn-group btn-group-sm btn-group-action" role="group" aria-label="Actions sur les filtres de PASS IAE">
                                <a href="{% url 'approvals:list' %}" class="btn btn-secondary btn-ico">
                                    <i class="ri-arrow-go-back-line" aria-hidden="true"></i>
                                    <span>Réinitialiser les filtres ({{ filters_counter }})</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {% if not approval_list %}
                        <div class="c-box c-box--results my-3 my-md-4">
                            <div class="c-box--results__body">
                                <p class="mb-0">Aucun salarié pour le moment.</p>
                            </div>
                        </div>
                    {% else %}
                        {% for approval in approval_list %}
                            {% include "users/includes/list_card.html" with user=approval.user %}
                        {% endfor %}

                        {% include "includes/pagination.html" with page=page_obj %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Select2MultipleWidget JS widget. -->
    {{ filters_form.media.js }}
    <script src='{% static "js/approvals_filters.js" %}'></script>
{% endblock %}
