{% extends "layout/base.html" %}
{% load components %}
{% load django_bootstrap5 %}
{% load matomo %}
{% load static %}
{% load str_filters %}

{% block title %}Actions recommandées - Mon portefeuille {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Mon portefeuille</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}


{% block content %}
    <section class="s-section" id="gps-my-groups">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <caption class="visually-hidden">Liste des personnes accompagnées</caption>
                            <thead>
                                <tr>
                                    <th scope="col">NOM Prénom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for beneficiary in beneficiaries %}
                                    <tr>
                                        <td>{{ beneficiary.get_inverted_full_name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src='{% static "js/htmx_compat.js" %}'></script>
    <script src='{% static "js/htmx_dropdown_filter.js" %}'></script>
{% endblock %}
