{% extends "apply/submit_base.html" %}
{% load components %}
{% load django_bootstrap5 %}
{% load static %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                {% include 'apply/includes/_submit_title.html' %}
                {% include 'apply/includes/eligibility_badge.html' with job_seeker=job_seeker is_subject_to_iae_rules=is_subject_to_iae_rules is_subject_to_geiq_rules=is_subject_to_geiq_rules eligibility_diagnosis=eligibility_diagnosis geiq_eligibility_diagnosis=geiq_eligibility_diagnosis force_valid_approval=True only %}
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content_extend %}
    {% include "apply/includes/job_application_accept_form.html" %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <!-- Needed to use the Datepicker JS widget. -->
    {{ form_accept.media.js }}

    {# HTMX: dynamic contract type details field, must be reloaded at each DOM swap (otherwise invalidated) #}
    <script nonce="{{ CSP_NONCE }}">
        htmx.onLoad(function() {
            var contractType = $("#id_contract_type");
            var contractTypeDetails = $("#contractTypeDetails");
            contractType.change(function() {
                if (contractType.val() == '{{ hide_value }}') {
                    contractTypeDetails.removeClass("d-none");
                } else {
                    $("#id_contract_type_details").val('');
                    contractTypeDetails.addClass("d-none");
                }
            });
        });
    </script>

{% endblock %}
