{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% if ITOU_ENVIRONMENT == "DEMO" %}

<div class="sticky-top shadow bg-danger text-white text-center" style="z-index:1;">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="h1 font-weight-bold">{{ ITOU_ENVIRONMENT }}</div>
            </div>
            <div class="col p-2">
                <button class="btn btn-light border" data-toggle="modal" data-target="#infoModal">
                    {% trans "Voir les informations" %}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex=-1 role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Connexion à l'environnement de démo" %}<h4>
            </div>
            <div class="modal-body">
                <p> 
                  Vous allez vous connecter à l'environnement de démonstration de la plateforme de l'inclusion.
                </p>

                <p>Comme son nom l'indique, son usage est limité à des fins de formation et de démonstation des possibiltés de la plateforme.</p>

                <p class="p-2 font-weight-bold bg-danger text-white border rounded"> 
                  Toutes les manipulations effectuées, documents délivrés et e-mails envoyés depuis cet environnement n'ont aucune valeur, si ce n'est informative.
                </p>

                <p>
                  Les informations saisies sur cet environnement sont également susceptibles d'être détruites à intervalle régulier.
                </p>

                <p>
                  Vous pouvez vous connecter avec les comptes d'exemple suivants :
                </p>


                <table class="table">
                    <tr>
                        <td>Demandeur d'emploi</td>
                        <td class="font-weight-bold">test+de@inclusion.beta.gouv.fr</td>
                    </tr>
                    <tr>
                        <td>Prescripteur habilité</td>
                        <td class="font-weight-bold">test+prescripteur@inclusion.beta.gouv.fr</td>
                    </tr>
                    <tr>
                        <td>Prescripteur non habilité (orienteur)</td>
                        <td class="font-weight-bold">test+orienteur@inclusion.beta.gouv.fr</td>
                    </tr>
                    <tr>
                        <td>Administrateur ETTI et membre d'une EI</td>
                        <td class="font-weight-bold">test+etti@inclusion.beta.gouv.fr</td>
                    </tr>
                    <tr>
                        <td>Administrateur EI et membre d'une ETTI</td>
                        <td class="font-weight-bold">test+ei@inclusion.beta.gouv.fr</td>
                    </tr>
                    <tr>
                        <td>Administrateur GEIQ</td>
                        <td class="font-weight-bold">test+geiq@inclusion.beta.gouv.fr</td>
                    </tr>
                </table>

                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">C'est bien noté !</button>
                </div>

            </div>
        </div>
    </div>
</div>


{% endif%}

