{% load static %}
{% load bootstrap4 %}
{% load demo_accounts %}

{% if SHOW_DEMO_ACCOUNTS_BANNER %}

    <!-- Before you change the z-index, check if the BETA banner and a carousel are not overlaying. -->
    <div class="sticky-top shadow bg-danger text-white text-center layout test-accounts-banner-overlay">
        <div class="layout-content py-0">
            <div class="d-flex align-items-center text-center p-1">
                <p class="font-weight-bold flex-grow-1 mb-0 p-1 text-white h3">
                    {{ ITOU_ENVIRONMENT }}
                    {% if ITOU_ENVIRONMENT == "DEMO" %}- Données fictives{% endif %}
                </p>
                {% if not user.is_authenticated %}
                    <div>
                        <button class="btn btn-sm btn-light border" data-bs-toggle="modal" data-bs-target="#testAccountsModal">
                            Voir les comptes de démonstration
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="testAccountsModal" tabindex=-1 role="dialog" aria-modal="true" aria-labelledby="testAccountsModalTitle">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="testAccountsModalTitle">Comptes de démonstration</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">

                    <p class="alert alert-danger">
                        L'environnement de démonstration des <b>emplois de l'inclusion</b> est limité à des fins de formation.
                        <br>
                        Les données, documents et e-mails envoyés depuis cet environnement n'ont <b>aucune valeur</b>.
                        Ils sont susceptibles d'être <b>détruits à intervalle régulier</b>.
                    </p>

                    <div class="pt-2 pb-5">
                        <h4 class="h3 text-center pb-3">Employeurs</h4>
                        <div class="card-deck">
                            {% employers_accounts_tag as employers_accounts %}
                            {% for account in employers_accounts %}
                                <div class="card has-links-inside">
                                    <div class="card-body mb-auto py-0">
                                        <img src="{% static '/img/demo_accounts/' %}{{ account.image }}" class="card-img-top p-2 test-accounts-image-menu" alt="">
                                        <h5 class="h5 card-title font-weight-bold text-center">{{ account.title }}</h5>
                                    </div>
                                    <div class="p-3 text-center">
                                        <p class="card-text">{{ account.description }}</p>
                                        <p class="m-auto card-text">
                                            <i class="ri-map-line me-1"></i>
                                            {{ account.location }}
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="postLogin btn btn-link stretched-link" data-email="{{ account.email }}" data-action-url="{{ account.action_url }}">
                                            Utiliser ce compte
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pb-5">
                        <h4 class="h3 text-center pb-3">Prescripteurs</h4>
                        <div class="card-deck">
                            {% prescribers_accounts_tag as prescribers_accounts %}
                            {% for account in prescribers_accounts %}
                                <div class="card has-links-inside">
                                    <img src="{% static '/img/demo_accounts/' %}{{ account.image }}" class="card-img-top p-2 test-accounts-image-menu" alt="">
                                    <div class="card-body">
                                        <h5 class="h5 card-title h6 font-weight-bold text-center">{{ account.title|safe }}</h5>
                                        <p class="card-text">{{ account.description }}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="postLogin btn btn-link stretched-link" data-email="{{ account.email }}" data-action-url="{{ account.action_url }}">
                                            Utiliser ce compte
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pb-5">
                        <h4 class="h3 text-center pb-3">Candidat</h4>
                        <div class="card-deck w-sm-33 m-auto">
                            {% job_seekers_accounts_tag as job_seekers_accounts %}
                            {% for account in job_seekers_accounts %}
                                <div class="card has-links-inside">
                                    <img src="{% static '/img/demo_accounts/' %}{{ account.image }}" class="card-img-top p-2 test-accounts-image-menu" alt="">
                                    <div class="card-body">
                                        <h5 class="h5 card-title font-weight-bold text-center mb-0">{{ account.title }}</h5>
                                        <p class="card-text">{{ account.description }}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="postLogin btn btn-link stretched-link" data-email="{{ account.email }}" data-action-url="{{ account.action_url }}">
                                            Utiliser ce compte
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>

                <div class="d-none">
                    <!-- `action` is set by demo_accounts.js based on clicked link's "data-action-url" attribute. -->
                    <form id="testAccountsForm" method="post">
                        {% csrf_token %}
                        <input type="email" name="login">
                        <input type="password" name="password">
                        <input type="text" name="demo_banner_account">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
