{% if request.current_organization.can_use_employee_record %}
    <div class="alert alert-info" role="status">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <p class="mb-0 text-start">
                <i class="ri-information-line fw-medium pe-2" aria-hidden="true"></i>
                <strong>L'envoi et la réception des fiches salarié sont suspendus en attendant la fin de la maintenance de l'Extranet IAE 2.0 de l'ASP prévue le 12 décembre.</strong>
            </p>
        </div>
    </div>
{% endif %}
