{% comment %}
Arguments:
- field
{% endcomment %}
<fieldset>
    <legend>
        <button class="btn btn-outline-transparent has-collapse-caret collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ field.name }}"
                type="button"
                aria-expanded="false"
                aria-controls="collapse-{{ field.name }}">{{ field.label }}</button>
    </legend>
    <div class="my-3 collapse" id="collapse-{{ field.name }}">
        <ul>
            {% for choice in field %}
                <li>
                    <div class="form-check">
                        <input id="{{ choice.id_for_label }}" class="form-check-input" name="{{ choice.data.name }}" type="checkbox" value="{{ choice.data.value }}"{% if choice.data.selected %} checked{% endif %}>
                        <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</fieldset>
