{% load url_add_query %}
{% comment %}

    Usage:
        {% include "includes/pagination.html" with page=siaes_page %}

{% endcomment %}
{% if page.display_pager %}
    {% with request.get_full_path as url %}
        <nav role="navigation"
            aria-label="Pagination"
            {% if boost|default:False %}
                hx-boost="true"
                {# Don’t specify a default for boost_target and boost_indicator, keeping them required when boost. #}
                {% if boost_target %}hx-target="{{ boost_target }}"{% endif %}
                {% if boost_indicator %}hx-indicator="{{ boost_indicator }}"{% endif %}
            {% endif %}>
            {# Pagination is not responsive by default https://github.com/twbs/bootstrap/issues/23504 #}
            <ul class="pagination flex-wrap justify-content-center">
                {# First page. #}
                {% if page.number == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-disabled="true" tabindex="-1" href="{% url_add_query url page=1 %}">Premier</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url_add_query url page=1 %}">Premier</a>
                    </li>
                {% endif %}

                {# Pages. #}
                {% for i in page.pages_to_display %}
                    {% if page.number == i %}
                        <li class="page-item active">
                            <a class="page-link" aria-label="Page {{ i }}" aria-current="page" href="{% url_add_query url page=i %}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Page {{ i }}" href="{% url_add_query url page=i %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {# Last page. #}
                {% if page.number == page.paginator.num_pages %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-disabled="true" tabindex="-1" href="{% url_add_query url page=page.paginator.num_pages %}">Dernier</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url_add_query url page=page.paginator.num_pages %}">Dernier</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endwith %}
{% endif %}
