
{% with eligibility_diagnosis.selected_administrative_criteria_for_display as selected_administrative_criteria %}
    {% if selected_administrative_criteria %}
        <p class="mb-2">
            <span class="badge badge-sm rounded-pill bg-secondary">
                {% if is_sent_by_authorized_prescriber %}
                    Situation administrative du candidat
                {% else %}
                    Critères administratifs
                {% endif %}
            </span>
        </p>
        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/#regroup #}
        {% regroup selected_administrative_criteria|dictsort:"administrative_criteria.level" by administrative_criteria.get_level_display as levels_list %}
        <ul class="list-data mb-3">
            {% for level, criteria in levels_list %}
                {% comment %}
                Les candidatures envoyées par des prescripteurs habilités ne sont pas affichées de manière
                hiérarchisée afin de ne pas induire les employeurs en erreur.
                Avec des critères hiérarchisés, ils ont tendance à penser que le candidat n'est pas éligible car pas suffisamment de critères de niveau 2 par exemple.
                {% endcomment %}
                <li>
                    {% if not flat_criteria_list %}
                        <small>{{ level }}</small>
                    {% else %}
                        <small>Critères</small>
                    {% endif %}
                    <ul>
                        {% for criterion in criteria %}
                            <li>
                                {% include "apply/includes/selected_administrative_criteria_display.html" with criterion=criterion request=request only %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="fs-sm mb-2">
            <i>Le prescripteur habilité n’a pas renseigné de critères.</i>
        </p>
    {% endif %}
{% endwith %}

{% include "apply/includes/certification_info_box.html" with diagnosis=eligibility_diagnosis itou_help_center_url=itou_help_center_url request=request only %}
