{% extends "layout/base.html" %}
{% load buttons_form %}
{% load django_bootstrap5 %}

{% block title %}Bilan d’exécution - {{ assessment.company.display_name }} {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
        <div class="d-xl-flex align-items-xl-center">
            <h1 class="mb-1 mb-xl-0 me-xl-3 text-xl-nowrap">Valider le bilan d’exécution - {{ assessment.campaign.year }}</h1>
            {% include "geiq/includes/labor_inspector_assessment_state_badge.html" with assessment=assessment extra_class="" ReviewState=ReviewState only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            <p>
                                Après examen des données du bilan d’exécution transmises par le GEIQ, veuillez sélectionner la décision actée quant au financement de l’aide conventionnée :
                            </p>
                            {% bootstrap_form_errors form type="non_fields" %}
                            {% bootstrap_field form.review_state %}
                            {% bootstrap_field form.review_comment %}
                            {% url 'geiq:assessment_info' assessment_pk=assessment.pk as reset_url %}
                            {% itou_buttons_form primary_label="Envoyer" reset_url=reset_url %}
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    {% include "companies/includes/_company_info.html" with company=assessment.company show=True show_cta=True only %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
