{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Mes salariés - {{ assessment.company.display_name }} {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <h1>Bilan d’exécution - {{ assessment.company.display_name }} - {{ assessment.campaign.year }}</h1>
    {% if not assessment.submitted_at %}
        <span class="badge badge-sm rounded-pill text-nowrap bg-warning">En attente du bilan d’exécution</span>
    {% elif not assessment.reviewed_at %}
        <span class="badge badge-sm rounded-pill text-nowrap bg-info">Bilan à l’étude</span>
    {% else %}
        {% if assessment.review_state == ReviewState.ACCEPTED %}
            <span class="badge badge-sm rounded-pill text-nowrap bg-success">Financement : totalité de l’aide accordée</span>
        {% elif assessment.review_state == ReviewState.PARTIAL_ACCEPTED %}
            <span class="badge badge-sm rounded-pill text-nowrap bg-success">Financement : solde partiellement accordé</span>
        {% elif assessment.review_state == ReviewState.REMAINDER_REFUSED %}
            <span class="badge badge-sm rounded-pill text-nowrap bg-warning">Financement : solde refusé</span>
        {% elif assessment.review_state == ReviewState.PARTIAL_REFUND %}
            <span class="badge badge-sm rounded-pill text-nowrap bg-warning">Financement : demande de remboursement partiel</span>
        {% elif assessment.review_state == ReviewState.FULL_REFUND %}
            <span class="badge badge-sm rounded-pill text-nowrap bg-warning">Financement : demande de remboursement total</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block title_messages %}
    {{ block.super }}
    {% include "geiq/includes/_experiment_info_alert.html" with ITOU_HELP_CENTER_URL=ITOU_HELP_CENTER_URL only %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-box">
                        {% if not assessment.submitted_at %}
                            <h2>Compléter le dossier à transmettre à la DDETS/DREETS</h2>
                            <p>
                                Importez votre synthèse Label et vérifiez l’exactitude des données de vos salariés avant de les valider. Lorsque vous aurez validé ce dossier, votre DDETS
                                ou votre DREETS en charge de votre bilan pourra procéder à son étude depuis son espace dédié.
                            </p>
                        {% else %}
                            <h2>Le dossier transmis par Label a été envoyé</h2>
                            <p>
                                <span class="badge badge-sm rounded-pill text-nowrap bg-success-lighter text-success">Certifié à jour le {{ assessment.submitted_at|date:"d/m/Y" }}</span>
                            </p>
                        {% endif %}
                        <hr>
                        <form method="post" class="js-prevent-multiple-submit"{% if submission_form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                            {% if assessment.activity_report_file %}
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <div>
                                        <h3>Document de synthèse</h3>
                                    </div>
                                    <div clas="text-center">
                                        <a class="btn btn-outline-primary" href="{% url 'geiq:assessment_report' assessment_pk=assessment.pk %}" rel="noopener" target="_blank">
                                            <span>Synthèse {{ assessment.campaign.year }}.pdf</span>
                                            <i class="ri-external-link-line font-weight-medium" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <div>
                                        <h3>Document de synthèse</h3>
                                        <p>Veuillez importer ci-dessous votre synthèse PDF générée par l’interface du Label.</p>
                                        {% bootstrap_field submission_form.activity_report_file %}
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <div>
                                    <h3>Données individuelles de parcours</h3>
                                    {% include "geiq/includes/last_synced_at.html" with assessment=assessment allow_sync=True only %}
                                </div>
                                <div>
                                    <a href="{% url "geiq:employee_list" assessment_pk=assessment.pk info_type=InfoType.PERSONAL_INFORMATION %}" class="btn btn-outline-primary ">Consulter les données salariés</a>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="form-row justify-content-end">
                                    {% csrf_token %}
                                    {% bootstrap_form_errors submission_form type="non_fields" %}
                                    {% bootstrap_field submission_form.up_to_date_information %}
                                    <div class="form-group mb-0 col-6 col-lg-auto">
                                        <button type="submit" class="btn btn-primary" {% if assessment.submitted_at %} disabled data-bs-toggle="tooltip" data-bs-placement="top" title="Votre dossier a déjà été envoyé." {% endif %}>
                                            <span>Envoyer le bilan d’exécution</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    {% if not assessment.submitted_at %}
                        <div class="c-box mb-4 bg-warning-lightest border-warning">
                            <span class="fs-sm">Financement</span>
                            <h4>En attente du bilan d’exécution</h4>
                            <p class="mb-0">
                                Vous avez jusqu’au {{ assessment.campaign.submission_deadline|date:"d/m/Y" }} pour valider les informations de votre bilan d’exécution.
                            </p>
                            <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                        </div>
                    {% elif not assessment.reviewed_at %}
                        <div class="c-box mb-4 bg-info-lightest border-info">
                            <span class="fs-sm">Financement</span>
                            <h4>Bilan d’exécution à l’étude</h4>
                            <p class="mb-0">
                                Votre bilan d’exécution a été transmis à votre DDETS. La décision relative au version de l’aide financière vous sera communiquée par mail.
                            </p>
                            <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                        </div>
                    {% else %}
                        {% if assessment.review_state == ReviewState.ACCEPTED %}
                            <div class="c-box mb-4 bg-success-lightest border-success">
                                <span class="fs-sm">Financement</span>
                                <h4>Totalité de l’aide accordée</h4>
                                <p>La totalité de l’aide conventionnée a été validée par {{ assessment.review_institution.display_name }}.</p>
                                <strong>Commentaire de votre {{ assessment.review_institution.kind }}</strong>
                                {{ assessment.review_comment|linebreaks }}
                                <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                            </div>
                        {% elif assessment.review_state == ReviewState.PARTIAL_ACCEPTED %}
                            <div class="c-box mb-4 bg-success-lightest border-success">
                                <span class="fs-sm">Financement</span>
                                <h4>Solde partiellement accordé</h4>
                                <p>
                                    Le solde de l’aide conventionnée a été partiellement accordé par {{ assessment.review_institution.display_name }}.
                                </p>
                                <strong>Commentaire de votre {{ assessment.review_institution.kind }}</strong>
                                {{ assessment.review_comment|linebreaks }}
                                <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                            </div>
                        {% elif assessment.review_state == ReviewState.REMAINDER_REFUSED %}
                            <div class="c-box mb-4 bg-warning-lightest border-warning">
                                <span class="fs-sm">Financement</span>
                                <h4>Complément d’aide refusé</h4>
                                <p>La totalité de l’aide conventionnée n’a pas été accordée par {{ assessment.review_institution.display_name }}.</p>
                                <strong>Commentaire de votre {{ assessment.review_institution.kind }}</strong>
                                {{ assessment.review_comment|linebreaks }}
                                <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                            </div>
                        {% elif assessment.review_state == ReviewState.PARTIAL_REFUND %}
                            <div class="c-box mb-4 bg-warning-lightest border-warning">
                                <span class="fs-sm">Financement</span>
                                <h4>Demande de remboursement partiel</h4>
                                <p>
                                    Une demande de remboursement partiel de l’aide conventionnée a été demandée par {{ assessment.review_institution.display_name }}.
                                </p>
                                <strong>Commentaire de votre {{ assessment.review_institution.kind }}</strong>
                                {{ assessment.review_comment|linebreaks }}
                                <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                            </div>
                        {% elif assessment.review_state == ReviewState.FULL_REFUND %}
                            <div class="c-box mb-4 bg-warning-lightest border-warning">
                                <span class="fs-sm">Financement</span>
                                <h4>Demande de remboursement total</h4>
                                <p>
                                    Une demande de remboursement total de l’aide conventionnée a été demandée par {{ assessment.review_institution.display_name }}.
                                </p>
                                <strong>Commentaire de votre {{ assessment.review_institution.kind }}</strong>
                                {{ assessment.review_comment|linebreaks }}
                                <p>Pour tout complément d’information, veuillez contacter directement votre DDETS.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {# Hidden/extracted form to not conflict with the "main" submission_form #}
        {% if not assessment.submitted_at %}
            <form id="label-sync-form">
                {% csrf_token %}
            </form>
        {% endif %}
    </section>
{% endblock %}
{# djlint:off #}
{% block script %}
    {{ block.super }}
    {% if assessment.submitted_at %}
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script nonce="{{ CSP_NONCE }}">
        window.TallyConfig = {
            "formId": "wAJjQy",
            "popup": {
                "emoji": {
                    "text": "👋",
                    "animation": "wave"
                },
                "layout": "modal",
                "width": 800,
                "hideTitle": true,
                "autoClose": 0,
                "doNotShowAfterSubmit": true,
                "hiddenFields": {
                    "IDuser": {{ request.user.id }},
                    "IDGEIQ": {{ request.current_organization.id }},
                }
            }
        };
</script>
    {% endif %}
{% endblock %}
{# djlint:on #}
