{% extends "geiq/list_base.html" %}


{% block title %}Candidatures {{ block.super }}{% endblock %}

{% block data_list %}

    <div class="tab-content" id="result_page">
        <div class="table-responsive-lg mt-3 mt-md-4">
            <table class="table">
                <caption class="visually-hidden">Liste des candidatures</caption>
                <thead>
                    <tr>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">Source de l'orientation</th>
                        <th scope="col">Auteur du diagnostic</th>
                        <th scope="col">Nombre de jours d’accompagnement</th>
                        <th scope="col">Critères d'éligibilité Annexe 1</th>
                        <th scope="col">Critères d'éligibilité Annexe 2 niveau 1</th>
                        <th scope="col">Critères d'éligibilité Annexe 2 niveau 2</th>
                        <th scope="col">Aide potentielle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in data_page %}
                        <tr>
                            <td>
                                <a href="{% url 'geiq:employee_details' employee_pk=employee.pk %}?back_url={{ request.get_full_path|urlencode }}">{{ employee.get_full_name }}</a>
                            </td>
                            <td>{{ employee.other_data.prescripteur.libelle|default:"-" }}</td>
                            <td>-</td>
                            <td>{{ employee.support_days_nb }}</td>
                            <td>{{ employee.annex1_nb }}</td>
                            <td>{{ employee.annex2_level1_nb }}</td>
                            <td>{{ employee.annex2_level2_nb }}</td>
                            <td>{{ employee.allowance_amount }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
