{% extends "layout/base.html" %}
{% load static %}
{% load str_filters %}
{% load matomo %}

{% block title %}{{ siae.display_name }} {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <h1>{{ siae.display_name }}</h1>
    <h2>{{ siae.get_kind_display }}</h2>
    <div class="c-box c-box--action">
        <h2 class="visually-hidden">Actions rapides</h2>
        <div class="form-row align-items-center gx-3">
            {% if siae.has_active_members and not siae.block_job_applications %}
                <div class="form-group col col-lg-auto">
                    <a href="{% url 'apply:start' company_pk=siae.pk %}"
                       class="btn btn-lg btn-white btn-block btn-ico"
                       {% matomo_event "candidature" "clic" "start_application" %}
                       aria-label="Postuler auprès de l'employeur inclusif {{ siae.display_name }}">
                        <i class="ri-draft-line font-weight-medium" aria-hidden="true"></i>
                        <span>Postuler</span>
                    </a>
                </div>
            {% endif %}
            {% if active_jobs_descriptions or other_jobs_descriptions %}
                <div class="form-group col col-lg-auto">
                    <a href="#metiers" class="btn btn-lg btn-outline-white btn-block btn-ico">
                        <i class="ri-eye-line font-weight-medium" aria-hidden="true"></i>
                        <span>Voir tous les métiers</span>
                    </a>
                </div>
            {% endif %}
            <div class="form-group col-12 col-lg d-flex justify-content-center justify-content-lg-end">
                <button class="btn btn-lg btn-ico btn-link-white" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Ouverture et fermeture du menu des actions complémentaires">
                    <i class="ri-more-2-line ri-lg font-weight-normal" aria-hidden="true"></i>
                    <span class="d-lg-none">Autres actions</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        {% include 'includes/copy_to_clipboard.html' with content=siae_card_absolute_url text="Copier le lien de cette fiche entreprise" css_classes="dropdown-item btn-ico btn-link" %}
                    </li>
                    <li>
                        <a href="{{ report_tally_url }}" rel="noopener" class="dropdown-item btn-ico btn-link" target="_blank">
                            <i class="ri-notification-4-line ri-lg font-weight-normal" aria-hidden="true"></i>
                            <span>Signaler cette fiche entreprise</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0 {% if not siae.description and not siae.provided_support %}d-none d-lg-block{% endif %}">
                    <div class="c-box h-100 {% if not siae.description and not siae.provided_support %}d-flex align-items-center justify-content-center{% endif %}">
                        {% if siae.description %}
                            <article class="mb-3 mb-lg-5">
                                <h2 class="h3">Son activité</h2>
                                {{ siae.description | linebreaks }}
                            </article>
                        {% endif %}

                        {% if siae.provided_support %}
                            <article>
                                <h2 class="h3">L'accompagnement proposé</h2>
                                {{ siae.provided_support | linebreaks }}
                            </article>
                        {% endif %}

                        {% if not siae.description and not siae.provided_support %}
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'img/illustration-siae-card-no-result.svg' %}" alt="" loading="lazy">
                                <p class="mb-0 mt-3">
                                    <strong>Oups ! Aucune information en vue !</strong>
                                </p>
                                <p>
                                    <i>La structure n’a pas encore renseigné son activité
                                        <br class="d-none d-lg-inline">
                                    et l’accompagnement proposé.</i>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 d-flex flex-column">
                    {% if not siae.has_active_members %}
                        <div class="c-box mb-3 mb-lg-5 bg-emploi-lightest border-info">
                            <p class="mb-0">Cet employeur n'est pas inscrit, vous ne pouvez pas déposer de candidatures en ligne.</p>
                        </div>
                    {% endif %}
                    <div class="c-box">
                        <h3 class="mb-2">Coordonnées</h3>
                        <div class="d-flex text-secondary fs-sm">
                            <i class="ri-map-pin-2-line me-2"></i>
                            <address class="m-0">{{ siae.address_on_one_line }}</address>
                        </div>
                        <hr class="my-3">
                        <ul class="fs-sm list-unstyled mb-0">
                            {% if siae.email %}
                                {% include "includes/email_li.html" with email=siae.email only %}
                            {% endif %}
                            {% if siae.phone %}
                                {% include "includes/phone_li.html" with phonenumber=siae.phone only %}
                            {% endif %}
                            {% if siae.website %}
                                {% include "includes/website_li.html" with website=siae.website only %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="metiers" class="s-tabs-01 mt-0 pt-0">
        <div class="s-tabs-01__container container">
            <div class="s-tabs-01__row row">
                <div class="s-tabs-01__col col-12">
                    <h2 class="visually-hidden" id="metiers-title">Métiers de la structure</h2>
                    <ul class="s-tabs-01__nav nav nav-tabs" role="tablist" data-it-sliding-tabs="true" aria-labelledby="metiers-title">
                        <li class="nav-item" role="presentation">
                            <a id="recrutements-en-cours-tab" class="nav-link active" role="tab" href="#recrutements-en-cours" data-bs-toggle="tab" aria-selected="true" aria-controls="recrutements-en-cours">
                                <span>Recrutement{{ active_jobs_descriptions|pluralizefr }} en cours</span>
                                <span class="badge badge-sm rounded-pill ms-2">{{ active_jobs_descriptions|length }}</span>
                            </a>
                        </li>
                        {% if other_jobs_descriptions %}
                            <li class="nav-item" role="presentation">
                                <a id="autres-metiers-tab" class="nav-link" role="tab" href="#autres-metiers" data-bs-toggle="tab" aria-selected="false" aria-controls="autres-metiers">
                                    <span>Autre{{ other_jobs_descriptions|pluralizefr }} métier{{ other_jobs_descriptions|pluralizefr }} exercé{{ other_jobs_descriptions|pluralizefr }}</span>
                                    <span class="badge badge-sm rounded-pill ms-2">{{ other_jobs_descriptions|length }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div id="recrutements-en-cours" class="tab-pane fade active show" aria-labelledby="recrutements-en-cours-tab" role="tabpanel">
                            {% if active_jobs_descriptions %}
                                <ul class="list-group list-group-flush list-group-link">
                                    {% for job in active_jobs_descriptions %}
                                        {% include "companies/includes/_siae_jobdescription.html" %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="mb-0">Pour le moment, il n’y a aucun recrutement en cours dans cette structure.</p>
                            {% endif %}
                        </div>
                        {% if other_jobs_descriptions %}
                            <div id="autres-metiers" class="tab-pane fade" aria-labelledby="autres-metiers-tab" role="tabpanel">
                                <ul class="list-group list-group-flush list-group-link">
                                    {% for job in other_jobs_descriptions %}
                                        {% include "companies/includes/_siae_jobdescription.html" %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if not siae.block_job_applications and siae.has_active_members %}
                            <div class="d-flex justify-content-end mt-3">
                                <a class="btn btn-primary btn-ico flex-grow-1 flex-lg-grow-0"
                                   href="{% url 'apply:start' company_pk=siae.pk %}"
                                   {% matomo_event "candidature" "clic" "start_application" %}
                                   aria-label="Postuler auprès de l'employeur inclusif {{ siae.display_name }}">
                                    <i class="ri-draft-line"></i>
                                    <span>Postuler</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if code_insee %}
        <div hx-get="{% url "companies_views:hx_dora_services" code_insee=code_insee %}" hx-trigger="load"></div>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js'%}"></script>
{% endblock %}
