{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load str_filters %}

{% block title %}Créer une nouvelle structure {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main c_title__secondary=c_title__secondary %}
        {% fragment as c_title__main %}
            <h1>Créer/rejoindre une nouvelle structure</h1>
        {% endfragment %}
        {% fragment as c_title__secondary %}
            <p>Vous souhaitez rejoindre une structure :</p>
            <ul>
                <li>
                    ayant déjà un ou plusieurs membres, <b>demandez à l’un de ces membres de vous inviter depuis son tableau de bord</b>
                </li>
                <li>
                    connue des services des emplois de l'inclusion mais n’ayant pas encore de membre : <a href="{% url 'signup:company_select' %}">utilisez ce formulaire</a>
                </li>
            </ul>
            <p>Dans les autres cas, complétez le formulaire ci-dessous.</p>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-form">
                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            {% bootstrap_form_errors form type="all" %}

                            {% bootstrap_field form.siret %}
                            {% bootstrap_field form.kind %}
                            {% bootstrap_field form.name %}
                            {% bootstrap_field form.brand %}

                            {% bootstrap_field form.address_line_1 %}
                            {% bootstrap_field form.address_line_2 %}
                            {% bootstrap_field form.post_code wrapper_class="form-group form-group-input-w-lg-33" %}
                            {% bootstrap_field form.city %}
                            {% bootstrap_field form.department %}

                            {% bootstrap_field form.phone wrapper_class="form-group form-group-input-w-lg-33" %}
                            {% bootstrap_field form.email wrapper_class="form-group form-group-input-w-lg-66" %}
                            {% bootstrap_field form.website %}
                            {% bootstrap_field form.description %}

                            <hr>
                            <div class="alert alert-warning" role="status">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">
                                            En cliquant sur le bouton <b>« Enregistrer »</b>, vous acceptez que vos informations et coordonnées ci-dessus soient rendues publiques.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {% itou_buttons_form primary_label="Enregistrer" primary_aria_label="Enregister la fiche structure" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
