{% extends "companies/edit_siae_base.html" %}
{% load buttons_form %}
{% load django_bootstrap5 %}

{% block stepper %}
    <div class="c-stepper mb-3 mb-md-4">
        <div class="progress">
            <div class="progress-bar progress-bar-66" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <p>
            <strong>Étape 2</strong>/3 : Activité de ma structure
        </p>
    </div>
{% endblock stepper %}

{% block form %}
    <div class="c-form">
        <form method="post" class="js-prevent-multiple-submit">
            <fieldset>
                <legend class="h3">Activité</legend>

                {% csrf_token %}
                {% bootstrap_form_errors form type="all" %}

                {% bootstrap_field form.description %}
                <div class="c-info mb-3 mb-md-4">
                    <span class="c-info__summary">Plus la description sera précise sur la nature de l’activité, plus vous aurez de chances de recevoir des candidatures pertinentes.</span>
                </div>

                {% bootstrap_field form.provided_support %}
                <div class="c-info mb-3 mb-md-4">
                    <span class="c-info__summary">Détaillez l’accompagnement délivré ainsi que les freins que votre structure peut aider à lever.</span>
                </div>

                {% itou_buttons_form primary_label="Suivant" secondary_url=prev_url secondary_aria_label="Retourner à l'édition des coordonnées" matomo_category="employeurs" matomo_action="submit" matomo_name="maj-description-structure" %}
            </fieldset>
        </form>
    </div>
{% endblock form %}
