{% extends "companies/edit_job_description_base.html" %}
{% load buttons_form %}
{% load django_bootstrap5 %}
{% load static %}

{% block stepper %}
    <div class="c-stepper mb-3 mb-md-4">
        <div class="progress">
            <div class="progress-bar progress-bar-66" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <p>
            <strong>Étape 2</strong>/3 : Description
        </p>
    </div>
{% endblock stepper %}

{% block form %}
    <div class="c-form">
        <form method="post" class="js-prevent-multiple-submit">
            <fieldset>
                <legend class="h3">Description</legend>
                {% csrf_token %}
                {% bootstrap_form_errors form type="all" %}

                {% bootstrap_field form.description %}
                <div class="c-info mb-3 mb-md-4">
                    <span class="c-info__summary">Conseil</span>
                    <div class="c-info__detail">
                        <p>
                            Vous pouvez vous référer à la description sur la fiche métier présente dans le <a href="https://candidat.pole-emploi.fr/marche-du-travail/fichemetierrome?codeRome={{ rome }}" aria-label="Référentiel des codes ROME" rel="noopener" target="_blank" class="has-external-link">Répertoire Opérationnel des Métiers et des Emplois (ROME)</a>.
                        </p>
                    </div>
                </div>

                {% bootstrap_field form.profile_description %}
                <div class="c-info mb-3 mb-md-4">
                    {% if is_opcs %}
                        <span class="c-info__summary">Conseil</span>
                        <div class="c-info__detail">
                            <p>
                                Ajoutez la liste des publics éligibles à ce marché spécifique afin d’augmenter vos chances de recevoir des candidatures qualifiées.
                            </p>
                        </div>
                    {% else %}
                        <span class="c-info__summary">Exemple</span>
                        <div class="c-info__detail">
                            <p>« Poste ouvert aux candidats ne maîtrisant pas la langue française. »</p>
                        </div>
                    {% endif %}
                </div>

                {% bootstrap_field form.is_resume_mandatory %}
                {% if form.is_qpv_mandatory %}
                    {% bootstrap_field form.is_qpv_mandatory %}
                {% endif %}

                {% url "companies_views:job_description_list" as reset_url %}
                {% itou_buttons_form primary_label="Suivant" secondary_url=back_url reset_url=reset_url matomo_category="employeurs" matomo_action="submit" matomo_name="edit-description-fiche-poste" %}
            </fieldset>
        </form>
    </div>
{% endblock form %}
