{% extends "companies/edit_siae_base.html" %}
{% load buttons_form %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load markdownify %}

{% block stepper %}
    <div class="c-stepper mb-3 mb-md-4">
        <div class="progress">
            <div class="progress-bar progress-bar-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <p>
            <strong>Étape 3</strong>/3 : Aperçu
        </p>
    </div>
{% endblock stepper %}

{% block form %}
    <div class="c-form">
        <form method="post" class="js-prevent-multiple-submit">
            <fieldset>
                <legend class="h3">Aperçu</legend>
                {% csrf_token %}

                {% if siae.description %}
                    <div class="mb-3 mb-md-5">
                        <h4 class="mb-2">Son activité</h4>
                        {{ form_data.description|markdownify }}
                    </div>
                {% endif %}

                {% if siae.provided_support %}
                    <div class="mb-3 mb-md-5">
                        <h4 class="mb-2">L'accompagnement proposé</h4>
                        {{ form_data.provided_support|markdownify }}
                    </div>
                {% endif %}

                <div class="alert alert-warning" role="status">
                    <div class="row">
                        <div class="col-auto pe-0">
                            <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <p class="mb-0">
                                En cliquant sur le bouton <b>« Publier »</b>, vous acceptez que vos informations et coordonnées soient rendues publiques.
                            </p>
                        </div>
                    </div>
                </div>

                {% itou_buttons_form primary_label="Publier" secondary_url=prev_url secondary_aria_label="Retourner à l'édition de la description" matomo_category="employeurs" matomo_action="submit" matomo_name="publier-infos-structure" %}
            </fieldset>
        </form>
    </div>
{% endblock form %}
