{% extends "layout/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load str_filters %}
{% load matomo %}

{% block title %}Métiers et recrutements {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <h1>Organisation</h1>
    <h2>{{ siae.kind }} {{ siae.display_name }}</h2>
{% endblock %}

{% block title_extra %}
    <ul class="s-tabs-01__nav nav nav-tabs" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'companies_views:job_description_list' %}" {% matomo_event "employeurs" "clic" "voir-liste-metiers" %}>
                <span>Métiers et recrutements</span>
                <span class="badge badge-sm rounded-pill ms-2">{{ job_pager.paginator.count }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'companies_views:members' %}" {% matomo_event "employeurs" "clic" "gerer-collaborateurs" %}>
                <span>Collaborateurs</span>
                <span class="badge badge-sm rounded-pill ms-2">{{ members_count }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'companies_views:show_financial_annexes' %}">Annexes financières</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="tab-content">
                        <div class="d-flex flex-column flex-lg-row gap-3 align-items-lg-center justify-content-lg-between mb-3">
                            <h2 class="mb-0">Métiers et recrutements</h2>
                            <div class="d-flex flex-column flex-md-row gap-2 justify-content-md-end" role="group" aria-label="Actions sur les candidatures">
                                {% if job_pager %}
                                    <form method="post" id="block_job_applications_form" hx-boost="true">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="block_job_applications" />
                                        <input type="hidden" name="block_job_applications" value="{% if siae.block_job_applications %}false{% else %}true{% endif %}">
                                        <button for="block_job_applications" class="d-block w-100 btn btn-secondary btn-ico">
                                            {% if siae.block_job_applications %}
                                                <i class="ri-lock-unlock-line ri-lg" aria-hidden="true"></i>
                                                <span>Débloquer l'envoi de candidatures</span>
                                            {% else %}
                                                <i class="ri-lock-line ri-lg" aria-hidden="true"></i>
                                                <span>Bloquer l'envoi de candidatures</span>
                                            {% endif %}
                                        </button>
                                    </form>
                                {% endif %}
                                <a class="btn btn-primary btn-ico" href="{% url "companies_views:edit_job_description" %}" {% matomo_event "employers" "clic" "creer-fiche-de-poste" %}>
                                    <i class="ri-add-line ri-lg" aria-hidden="true"></i>
                                    <span>Créer une nouvelle fiche de poste</span>
                                </a>
                            </div>
                        </div>
                        <p class="mb-0">
                            {{ job_pager.paginator.count }} métier{{ job_pager.paginator.count|pluralizefr }} exercé{{ job_pager.paginator.count|pluralizefr }}
                        </p>
                        {% if job_pager %}
                            <div class="table-responsive-lg">
                                <table class="table mt-3 mt-md-4">
                                    <caption class="visually-hidden">Liste des métiers exercés</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Métiers</th>
                                            <th scope="col">Localisation</th>
                                            <th scope="col">Nbre de postes</th>
                                            <th scope="col">Statut</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job_description in job_pager %}
                                            <tr>
                                                <td>
                                                    <a href="{{ job_description.get_absolute_url }}?back_url={{ request.get_full_path|urlencode }}"
                                                       class="btn-link"
                                                       {% matomo_event "candidature" "clic" "clic-metiers" %}
                                                       aria-label="Lien vers fiche de poste : '{{ job_description.display_name }}'"
                                                       title="{{ job_description.display_name }}">
                                                        {{ job_description.display_name|truncatechars:50 }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <span class="d-flex align-items-center">
                                                        <i class="ri-map-pin-line me-1" aria-hidden="true"></i>
                                                        <span aria-label="{{ job_description.display_location }}" title="{{ job_description.display_location }}">{{ job_description.display_location|truncatechars:20 }}</span>
                                                    </span>
                                                </td>
                                                <td>{{ job_description.open_positions }}</td>
                                                <td>
                                                    {# Change job description status form #}
                                                    <form method="post" hx-boost="true" hx-trigger="change" id="toggle_job_description_form_{{ job_description.id }}" class="js-prevent-multiple-submit">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="toggle_active" />
                                                        <input type="hidden" name="job_description_id" value="{{ job_description.id }}" />
                                                        <div class="form-check form-switch has-state-label">
                                                            <input type="checkbox"
                                                                   class="form-check-input"
                                                                   name="job_description_is_active"
                                                                   id="job_description_is_active_{{ job_description.id }}"
                                                                   {% if job_description.is_active %}checked{% endif %}
                                                                   {% if siae.block_job_applications %}disabled{% endif %} />
                                                            <label class="form-check-label" for="job_description_is_active_{{ job_description.id }}" data-it-state-label-off="Fermé" data-it-state-label-on="Ouvert">
                                                            </label>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td class="text-center">
                                                    <i class="ri-delete-bin-line ri-lg" role="button" data-bs-toggle="modal" data-bs-target="#_delete_modal_{{ job_description.id }}"></i>
                                                    {# Modal for job description deletion #}
                                                    <div id="_delete_modal_{{ job_description.id }}" class="modal fade" tabindex="-1" aria-labelledby="confirmDeleteModal{{ job_description.id }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="confirmDeleteModal{{ job_description.id }}">Supprimer la fiche de poste</h3>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>
                                                                        Voulez-vous supprimer la fiche de poste <strong>{{ job_description.display_name }}</strong>&nbsp;?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <form method="post" hx-boost="true" class="d-block js-prevent-multiple-submit">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="action" value="delete" />
                                                                        <input type="hidden" name="job_description_id" value="{{ job_description.id }}" />
                                                                        <button class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal" aria-label="Annuler la suppression de la fiche de poste" type="button">
                                                                            Annuler
                                                                        </button>
                                                                        <button class="btn btn-sm btn-ico btn-danger" aria-label="Supprimer la fiche de poste">
                                                                            <i class="ri-delete-bin-line font-weight-normal" aria-hidden="true"></i>
                                                                            <span>Supprimer</span>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include "includes/pagination.html" with page=job_pager boost=True %}
                        {% else %}
                            <p>Aucun poste enregistré pour cette structure.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js'%}"></script>
{% endblock %}
