{% extends "layout/base.html" %}
{% load components %}
{% load format_filters %}
{% load matomo %}
{% load static %}
{% load str_filters %}
{% load url_add_query %}

{% block title %}{{ job.display_name }} - {{ siae.display_name }} {{ block.super }}{% endblock %}

{% block global_messages %}
    {{ block.super }}
    {% if job_seeker %}
        {% include "apply/includes/applying_for_banner.html" with job_seeker=job_seeker can_view_personal_information=can_view_personal_information %}
    {% endif %}
{% endblock %}


{% block nb_columns %}8{% endblock %}

{% block title_navinfo %}
    {% component_navinfo c_navinfo__back_url=back_url c_navinfo__info=c_navinfo__info %}
        {% if job.company == request.current_organization %}
            {% fragment as c_navinfo__info %}
                {% include "companies/includes/buttons/job_description_refresh.html" with for_detail=True job_description=job csrf_token=csrf_token request=request only %}
            {% endfragment %}
        {% elif job.last_employer_update_at %}
            {% fragment as c_navinfo__info %}
                Mise à jour le {{ job.last_employer_update_at|date:"d/m/Y" }}
            {% endfragment %}
        {% endif %}
    {% endcomponent_navinfo %}
{% endblock %}

{% block title_content %}
    {% if job_app_to_transfer %}
        {% include "apply/includes/job_application_external_transfer_progress.html" with job_app_to_transfer=job_app_to_transfer step=1 only %}
    {% endif %}
    {% component_title c_title__main=c_title__main c_title__cta=c_title__cta %}
        {% fragment as c_title__main %}
            <h1>
                {{ job.display_name }}
                {% if job.is_active %}
                    <span class="badge badge-base rounded-pill bg-success">{{ job.open_positions }} {{ job.open_positions|pluralizefr:"poste ouvert,postes ouverts" }} au recrutement</span>
                {% endif %}
            </h1>
        {% endfragment %}
        {% fragment as c_title__cta %}
            {% if can_update_job_description %}
                <a href="{% url "companies_views:edit_job_description" job_description_id=job.pk %}"
                   class="btn btn-lg btn-primary btn-ico"
                   aria-label="Modifier la fiche de poste"
                   {% matomo_event "employeurs" "clic" "edit-fiche-de-poste" %}>
                    <i class="ri-pencil-line fw-medium" aria-hidden="true"></i>
                    <span>Modifier</span>
                </a>
            {% endif %}
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block title_extra %}
    {% if not can_update_job_description %}
        <div class="c-box c-box--action">
            <h2 class="visually-hidden">Actions rapides</h2>
            <div class="form-row align-items-center gx-3">
                {% if job.is_active and not siae.block_job_applications %}
                    {% if job_app_to_transfer %}
                        <div class="form-group col-12 col-lg-auto">
                            <a href="{% url 'apply:job_application_external_transfer_start_session' job_application_id=job_app_to_transfer.pk company_pk=siae.pk %}?job_description_id={{ job.pk }}&back_url={{ request.get_full_path|urlencode }}"
                               class="btn btn-lg btn-white btn-block btn-ico"
                               {% matomo_event "candidature" "clic" "start_job_app_transfer" %}
                               aria-label="Transférer la candidature à l'employeur inclusif {{ siae.display_name }}">
                                <i class="ri-draft-line fw-medium" aria-hidden="true"></i>
                                <span>Transférer la candidature</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="form-group col-12 col-lg-auto">
                            {% url "apply:start" company_pk=siae.pk as apply_url %}
                            <a href="{% url_add_query apply_url job_description_id=job.pk job_seeker_public_id=job_seeker.public_id|default:'' back_url=request.get_full_path %}"
                               class="btn btn-lg btn-white btn-block btn-ico"
                               {% matomo_event "candidature" "clic" "start_application" %}
                               aria-label="Postuler auprès de l'employeur inclusif {{ siae.display_name }}">
                                <i class="ri-draft-line fw-medium" aria-hidden="true"></i>
                                <span>Postuler</span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                {% if other_active_jobs and not siae.block_job_applications %}
                    <div class="form-group col-12 col-lg-auto">
                        <a href="#recrutements" class="btn btn-lg btn-outline-white btn-block btn-ico">
                            <i class="ri-eye-line fw-medium" aria-hidden="true"></i>
                            <span>Voir tous les métiers</span>
                        </a>
                    </div>
                {% endif %}
                <div class="form-group col-12 col-lg d-flex justify-content-center justify-content-lg-end">
                    <button class="btn btn-lg btn-ico btn-link-white" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Ouverture et fermeture du menu des actions complémentaires">
                        <i class="ri-more-2-line ri-lg fw-normal" aria-hidden="true"></i>
                        <span class="d-lg-none">Autres actions</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            {% include 'includes/copy_to_clipboard.html' with content=job.get_absolute_url text="Copier le lien de cette fiche de poste" css_classes="dropdown-item btn-ico btn-link" %}
                        </li>
                        <li>
                            <a href="{{ report_tally_url }}" rel="noopener" class="dropdown-item btn-ico btn-link" target="_blank">
                                <i class="ri-notification-4-line ri-lg fw-normal" aria-hidden="true"></i>
                                <span>Signaler cette fiche de poste</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                    <div class="c-box">{% include "companies/includes/_job_description_details.html" %}</div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 d-flex flex-column">
                    {% if can_update_job_description != True %}
                        {% include "includes/structures/_structure_info.html" with structure=siae show_cta=True extra_box_class="" back_url=back_url|default:request.get_full_path show=True job_app_to_transfer=job_app_to_transfer job_seeker=job_seeker|default:None only %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if other_active_jobs and not siae.block_job_applications %}
        <section id="recrutements" class="s-tabs-01 mt-0 pt-0">
            <div class="s-tabs-01__container container">
                <div class="s-tabs-01__row row">
                    <div class="s-tabs-01__col col-12">
                        <h2 class="visually-hidden" id="recrutements-title">Recrutements de la structure</h2>
                        <ul class="s-tabs-01__nav nav nav-tabs" role="tablist" data-it-sliding-tabs="true" aria-labelledby="recrutements-title">
                            <li class="nav-item" role="presentation">
                                <a id="recrutements-en-cours-tab" class="nav-link active" role="tab" href="#recrutements-en-cours" data-bs-toggle="tab" aria-selected="true" aria-controls="recrutements-en-cours">
                                    <span>Recrutement{{ other_active_jobs|pluralizefr }} en cours dans cette structure</span>
                                    <span class="badge badge-sm rounded-pill ms-2">{{ other_active_jobs|length }}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="recrutements-en-cours" class="tab-pane fade active show" aria-labelledby="recrutements-en-cours-tab" role="tabpanel">
                                <ul class="list-group list-group-flush list-group-link">
                                    {% for other_job in other_active_jobs %}
                                        {% include "companies/includes/_siae_jobdescription.html" with job=other_job %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if code_insee %}
        <div hx-get="{% url "companies_views:hx_dora_services" code_insee=code_insee %}" hx-trigger="load"></div>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js'%}"></script>
    <script src='{% static "js/htmx_compat.js" %}'></script>
{% endblock %}
