{% load django_bootstrap5 %}
{% load static %}
{% load buttons_form %}

<div class="row">
    <div class="col-12 col-lg-8">
        <div class="c-form">
            <form method="post" action="{% url "employee_record_views:create_step_4" job_application.id %}" class="js-prevent-multiple-submit">
                {% csrf_token %}
                <fieldset>
                    <legend>Annexe financière</legend>
                    <p>
                        Si vous utilisez un logiciel de gestion des salariés, veuillez sélectionner une annexe financière. Sinon, vous pouvez passer à l'étape suivante.
                    </p>
                    {% bootstrap_form form alert_error_type="all" %}
                </fieldset>
                {% url "employee_record_views:create_step_3" job_application.id as secondary_url %}
                {% url "employee_record_views:list" as reset_url %}
                {% itou_buttons_form primary_label="Suivant" secondary_url=secondary_url reset_url=reset_url|add:"?status=NEW" %}
            </form>
        </div>
    </div>
</div>
