{% load django_bootstrap5 %}
{% load format_filters %}
{% load static %}
{% load matomo %}
{% load buttons_form %}

<div class="row">
    <div class="col-12 col-lg-8 order-2 order-lg-1">
        <div class="c-form">
            <legend>Récapitulatif et validation de la fiche salarié</legend>

            <div class="mb-3 mb-md-5">
                <p>
                    Si ce récapitulatif est conforme et complet, <strong>la fiche salarié sera envoyée pour validation à l'ASP</strong>.
                </p>
                <p>
                    Le traitement est effectué à intervalle régulier et vous serez notifié du changement d'état
                    de la fiche salarié sur la liste récapitulative accessible depuis le tableau de bord.
                </p>
                <p class="mb-0">
                    <i class="ri-error-warning-line ri-lg me-1"></i><strong>Après validation de la fiche salarié, la modification de la date de début du PASS IAE n'est plus possible.</strong>
                </p>
            </div>

            {% include "employee_record/includes/employee_record_summary.html" %}

            <form method="post" action="{% url "employee_record_views:create_step_5" employee_record.job_application.id %}" class="js-prevent-multiple-submit">
                {% csrf_token %}
                {% url "employee_record_views:create_step_4" employee_record.job_application.id as secondary_url %}
                {% url "employee_record_views:list" as reset_url %}
                {% itou_buttons_form primary_label="Valider la fiche salarié" secondary_url=secondary_url show_mandatory_fields_mention=False reset_url=reset_url|add:"?status=NEW" %}
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-4 order-1 order-lg-2 mb-3">
        <div class="c-box">
            {% with job_application=employee_record.job_application %}
                <p>
                    <b>PASS IAE :</b>
                    <br>
                    {{ job_application.approval.number|format_approval_number }}
                </p>
                <hr class="my-3">
                {% if approval_can_be_suspended_by_siae %}
                    <a href="{% url 'approvals:suspend' approval_id=job_application.approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                       class="btn btn-secondary btn-ico btn-block justify-content-center mb-1"
                       aria-label="Suspendre le PASS IAE">
                        <i class="ri-pause-circle-line ri-lg"></i>
                        <span>Suspendre</span>
                    </a>
                {% endif %}
                <a class="btn btn-outline-primary btn-block"
                   {% matomo_event "telechargement-pdf" "agrement" "detail-agrement" %}
                   href="{% url 'approvals:display_printable_approval' approval_id=job_application.approval.id %}"
                   target="_blank">Afficher le PASS IAE</a>
            {% endwith %}
        </div>
    </div>
</div>
