{% load django_bootstrap5 %}
{% load static %}
{% load buttons_form %}

<div class="row">
    <div class="col-12 col-lg-8">
        <div class="c-form">
            <form method="post" action="{% url "employee_record_views:create_step_3" job_application.id %}" class="js-prevent-multiple-submit">
                {% csrf_token %}
                <fieldset>
                    <legend>Situation du salarié</legend>
                    {% bootstrap_form_errors form type="all" %}

                    {% bootstrap_field form.education_level %}

                    {% if not is_registered_to_pole_emploi %}
                        <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_pole_emploi" aria-controls="collapse_pole_emploi">
                            {% bootstrap_field form.pole_emploi %}
                        </div>
                        <div id="collapse_pole_emploi" class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.pole_emploi.value %} show{% endif %}">
                            {% bootstrap_field form.pole_emploi_id %}
                            {% bootstrap_field form.pole_emploi_since %}
                        </div>
                    {% else %}
                        <p>Inscrit à France Travail, merci de préciser la durée d'inscription :</p>
                        <div class="ps-3 pb-1 mb-3 border-start border-primary">
                            {% bootstrap_field form.pole_emploi_id %}
                            {% bootstrap_field form.pole_emploi_since %}
                        </div>
                    {% endif %}

                    {% bootstrap_field form.resourceless %}

                    <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_unemployed" aria-controls="collapse_unemployed">
                        {% bootstrap_field form.unemployed %}
                    </div>

                    <div id="collapse_unemployed" class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.unemployed.value %} show{% endif %}">
                        {% bootstrap_field form.unemployed_since %}
                    </div>

                    {% bootstrap_field form.rqth_employee %}
                    {% bootstrap_field form.oeth_employee %}

                    <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_rsa_allocation" aria-controls="collapse_rsa_allocation">
                        {% bootstrap_field form.rsa_allocation %}
                    </div>

                    <div id="collapse_rsa_allocation" class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.rsa_allocation.value %} show{% endif %}">
                        {% bootstrap_field form.rsa_markup %}
                        {% bootstrap_field form.rsa_allocation_since %}
                    </div>

                    <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_ass_allocation" aria-controls="collapse_ass_allocation">
                        {% bootstrap_field form.ass_allocation %}
                    </div>

                    <div id="collapse_ass_allocation" class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.ass_allocation.value %} show{% endif %}">
                        {% bootstrap_field form.ass_allocation_since %}
                    </div>

                    <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_aah_allocation" aria-controls="collapse_aah_allocation">
                        {% bootstrap_field form.aah_allocation %}
                    </div>

                    <div id="collapse_aah_allocation" class="ps-3 pb-1 mb-3 border-start border-primary collapse{% if form.aah_allocation.value %} show{% endif %}">
                        {% bootstrap_field form.aah_allocation_since %}
                    </div>
                </fieldset>
                {% url "employee_record_views:create_step_2" job_application.id as secondary_url %}
                {% url "employee_record_views:list" as reset_url %}
                {% itou_buttons_form primary_label="Suivant" secondary_url=secondary_url reset_url=reset_url|add:"?status=NEW" %}
            </form>
        </div>
    </div>
</div>
