{% load django_bootstrap5 %}
{% load buttons_form %}
{% load url_add_query %}

<div class="row">
    <div class="col-12 col-lg-8">
        <div class="c-form">
            <form method="post" class="js-prevent-multiple-submit" data-matomo-name="employee-record-identity">
                {% csrf_token %}
                <fieldset>
                    <legend>Etat civil du salarié</legend>
                    {% bootstrap_form_errors form type="all" %}

                    <div class="form-row">
                        <div class="col-12 col-md-6">{% bootstrap_field form.title %}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6">{% bootstrap_field form.first_name %}</div>
                        <div class="col-12 col-md-6">{% bootstrap_field form.last_name %}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6">{% bootstrap_field form.birthdate %}</div>
                        <div class="col-12 col-md-6">{% bootstrap_field form.birth_country %}</div>
                    </div>
                    {% bootstrap_field form.birth_place %}
                </fieldset>
                {% url "employee_record_views:list" as secondary_url %}
                {% if request.GET.status %}
                    {% url_add_query secondary_url status=request.GET.status as secondary_url %}
                {% endif %}
                {% itou_buttons_form primary_label="Suivant" reset_url=secondary_url secondary_url=back_url %}
            </form>
        </div>
    </div>
</div>
