{% with profile=employee_record.job_seeker_profile employee=employee_record.job_seeker %}
    <div>
        <p>
            <strong>Etat civil</strong>
        </p>
        <ul class="list-unstyled">
            <li>{{ employee.get_title_display }} {{ employee.get_full_name }}</li>
            <li>Né(e) le : {{ employee.birthdate }}</li>
            {% if profile.birth_place %}
                <li>À : {{ profile.birth_place }} ({{ profile.birth_place.department_code }})</li>
            {% endif %}
            <li>Pays de naissance : {{ profile.birth_country }}</li>
        </ul>

        <hr class="my-3 my-md-5">
        <p>
            <strong>Domiciliation</strong>
        </p>
        <address>{{ profile.hexa_address_display }}</address>

        <hr class="my-3 my-md-5">
        <p>
            <strong>Situation du salarié</strong>
        </p>
        <ul class="list-unstyled">
            <li>{{ profile.get_education_level_display }}</li>
            {% if profile.pole_emploi_since %}
                <li>
                    Inscrit à France Travail depuis {{ profile.get_pole_emploi_since_display|lower }} ({{ employee.jobseeker_profile.pole_emploi_id }})
                </li>
            {% endif %}
            {% if profile.resourceless %}<li>Le salarié ne dispose d'aucune ressource</li>{% endif %}
            {% if profile.unemployed_since %}
                <li>Salarié sans emploi depuis {{ profile.get_unemployed_since_display|lower }}</li>
            {% endif %}
            {% if profile.oeth_employee %}<li>Bénéficiaire de la loi handicap (OETH)</li>{% endif %}
            {% if profile.rqth_employee %}<li>Titulaire de la RQTH</li>{% endif %}
            {% if profile.rsa_allocation_since %}
                <li>{{ profile.get_has_rsa_allocation_display }} (depuis {{ profile.get_rsa_allocation_since_display|lower }})</li>
            {% endif %}
            {% if profile.ass_allocation_since %}
                <li>Bénéficiaire de l'ASS depuis (depuis {{ profile.get_ass_allocation_since_display|lower }})</li>
            {% endif %}
            {% if profile.aah_allocation_since %}
                <li>Bénéficiaire de l'AAH depuis (depuis {{ profile.get_aah_allocation_since_display|lower }})</li>
            {% endif %}
        </ul>

        <hr class="my-3 my-md-5">
        <p>
            <strong>Annexe financière</strong>
        </p>
        <p>
            {% if employee_record.financial_annex %}
                {{ employee_record.financial_annex.number }} ({{ employee_record.financial_annex.get_state_display|lower }})
            {% else %}
                Aucune annexe financière n'a été selectionnée.
            {% endif %}
        </p>
    </div>
{% endwith %}
