{% load job_seekers %}
{% load format_filters %}
{% load tally %}
<div class="c-box c-box--results has-links-inside my-3 my-md-4">
    <div class="c-box--results__header">

        <div class="d-flex flex-column flex-lg-row gap-2 gap-lg-3">

            <div class="c-box--results__summary flex-grow-1">
                <i class="ri-user-line" aria-hidden="true"></i>

                <div>

                    <h3>{{ item.job_seeker.get_full_name }}</h3>

                    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-end gap-1 gap-md-2">
                        <span>
                            <i class="ri-map-pin-2-line font-weight-normal me-1" aria-hidden="true"></i>{% profile_city_display item.job_seeker.jobseeker_profile %}
                        </span>

                    </div>
                </div>
            </div>
            <div>{% include 'employee_record/includes/_status.html' with employee_record=employee_record only %}</div>
        </div>
    </div>
    <hr class="m-0">
    <div class="c-box--results__body">
        {# ASP error #}
        {% if employee_record and employee_record.status == "REJECTED" %}
            <div class="alert alert-warning" role="status">
                <div class="row">
                    <div class="col-auto pe-0">
                        <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <strong class="mb-0">Informations sur l'erreur de traitement :</strong>
                        {% if employee_record.asp_processing_code == "3308" %}
                            <p class="mb-0">
                                Il semblerait que la commune de naissance sélectionnée ne corresponde pas au département de naissance choisi.
                            </p>
                            <p class="mb-0">
                                Si vous ne trouvez pas la commune de naissance que vous souhaitez renseigner dans le menu déroulant, renseignez une autre ville de naissance pour débloquer le transfert.
                            </p>
                            <p class="mb-0">
                                Vous pourrez ensuite modifier cette information dans l’Extranet IAE 2.0 de l’ASP une fois la fiche transmise.
                            </p>
                            <small>(Erreur {{ employee_record.asp_processing_code }})</small>
                        {% elif employee_record.asp_processing_code == "3417" %}
                            <p class="mb-0">La commune de résidence du salarié n’est pas référencée dans l'Extranet IAE 2.0 de l'ASP.</p>
                            <p class="mb-0">Pour débloquer le transfert vous pouvez renseigner l’adresse postale de votre structure.</p>
                            <p class="mb-0">
                                Vous pourrez ensuite modifier cette information dans l’Extranet IAE 2.0 de l’ASP une fois la fiche transmise.
                            </p>
                            <small>(Erreur {{ employee_record.asp_processing_code }})</small>
                        {% elif employee_record.asp_processing_code == "3435" %}
                            <p class="mb-0">
                                Nous n’avons pas encore reçu d’annexe financière à jour pour votre structure. Nous ne pouvons donc pas transmettre votre fiche salarié à l’ASP.
                            </p>
                            <p class="mb-0">
                                Pour résoudre ce problème, rendez-vous dans l’ASP et vérifiez que votre annexe financière “valide” ou “provisoire” est à jour.
                            </p>
                            <p class="mb-0">Si c’est le cas, patientez une semaine, et tentez de renvoyer la fiche salarié.</p>
                            <p>
                                Si elle n’est pas à jour, demandez à votre DDETS de la mettre à jour dans l’ASP, et patientez une semaine le temps que nous recevions l’information avant de tenter le renvoi de la fiche salarié.
                            </p>
                            <p class="mb-0">
                                Vous pouvez vérifier vos annexes financières de rattachement dans votre tableau de bord, rubrique “Annexes financières” en bas à gauche.
                            </p>
                            <small>(Erreur {{ employee_record.asp_processing_code }})</small>
                        {% elif employee_record.asp_processing_code == "3436" %}
                            <p class="mb-0">La fiche salarié associée à ce PASS IAE et à votre SIRET a déjà été intégrée à l’ASP.</p>
                            <p class="mb-0">Connectez-vous à l’ASP pour la retrouver et déclarer les contrats associés.</p>
                            <p class="mb-0">
                                Si vos SIAE ont un SIRET commun pour 2 mesures, que vous avez déjà créé cette fiche salarié pour l’une des 2 mesures, vous devez vous rendre dans l’ASP pour gérer les autres contrats associés à ce PASS IAE.
                            </p>
                            <p class="mb-0">
                                Pour changer de mesure, créez directement un nouveau contrat dans l’ASP et sélectionnez la bonne mesure.
                            </p>
                            <small>(Erreur {{ employee_record.asp_processing_code }})</small>
                        {% else %}
                            <p class="mb-0">
                                Erreur {{ employee_record.asp_processing_code }} :&nbsp;<small>{{ employee_record.asp_processing_label }}</small>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {# Actions #}
        {% if not employee_record %}
            {% if item.job_seeker.jobseeker_profile.lack_of_nir_reason == "NIR_ASSOCIATED_TO_OTHER" %}
                <div class="alert alert-warning" role="status">
                    <div class="row">
                        <div class="col-auto pe-0">
                            <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <strong class="mb-0">Informations manquantes</strong>
                            <p class="mb-0">Pour créer cette fiche salarié, veuillez demander la régularisation du numéro de sécurité sociale.</p>
                        </div>
                    </div>
                </div>
            {% elif item.date_were_not_transmitted %}
                <div class="alert alert-warning" role="status">
                    <div class="row">
                        <div class="col-auto pe-0">
                            <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <strong class="mb-0">Une action de votre part est nécessaire</strong>
                            <p class="mb-0">
                                La nouvelle date de fin du PASS IAE n’a pas pu être transmise automatiquement à l’Extranet IAE 2.0 de l’ASP.
                                Une mise à jour manuelle est nécessaire même si ce salarié a déjà quitté la structure.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <ul class="list-data list-data__two-column-md">
            <li>
                <small>Numéro de PASS IAE</small>
                <strong>{{ item.approval.number|format_approval_number }}</strong>
                {% include 'includes/copy_to_clipboard.html' with content=item.approval.number css_classes="btn-link" only_icon=True %}
            </li>
            <li>
                <small>Date de début</small>
                <strong>{{ item.approval.start_at|date:"d/m/Y" }}</strong>
            </li>
            <li>
                <small>Date prévisionnelle de fin</small>
                <strong>{{ item.approval.end_at|date:"d/m/Y" }}</strong>
            </li>
        </ul>
    </div>
    {# Actions #}
    {% if not employee_record %}
        {% if item.job_seeker.jobseeker_profile.lack_of_nir_reason == "NIR_ASSOCIATED_TO_OTHER" %}
            <div class="c-box--results__footer">
                <a class="btn btn-primary btn-block w-100 w-md-auto has-external-link"
                   href="{% tally_form_url "wzxQlg" %}{{ item.nir_tally_params }}"
                   target="_blank"
                   rel="noopener"
                   aria-label="Régulariser le n° de sécurité sociale {{ item.job_seeker.get_full_name }} (ouverture dans un nouvel onglet)">Régulariser le n° de sécurité sociale</a>
            </div>
        {% elif item.date_were_not_transmitted %}
            <div class="c-box--results__footer">
                <a class="btn btn-primary btn-block w-100 w-md-auto" href="{% url "employee_record_views:create" item.id %}" aria-label="Mettre à jour la fiche salarié de {{ item.job_seeker.get_full_name }}">Mettre à jour</a>
            </div>
        {% else %}
            <div class="c-box--results__footer">
                <div class="d-flex flex-column flex-md-row justify-content-md-end gap-3">
                    {% if item.employee_record_new %}
                        <a href="{% url "employee_record_views:disable" item.employee_record_new.id %}"
                           class="btn btn-outline-primary btn-block w-100 w-md-auto"
                           aria-label="Désactiver la fiche salarié de {{ item.job_seeker.get_full_name }}">Désactiver</a>
                    {% endif %}
                    <a href="{% url "employee_record_views:create" item.id %}?from_status=NEW"
                       class="btn btn-primary btn-block w-100 w-md-auto"
                       aria-label="Compléter la fiche salarié de {{ item.job_seeker.get_full_name }}">Compléter</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="c-box--results__footer">
            <div class="d-flex flex-column flex-md-row justify-content-md-end gap-3">
                {% if employee_record.status == "DISABLED" %}
                    <a href="{% url "employee_record_views:reactivate" employee_record.id %}"
                       class="btn btn-outline-primary btn-block w-100 w-md-auto"
                       aria-label="Réactiver la fiche salarié de {{ item.job_seeker.get_full_name }}">Réactiver</a>
                {% elif employee_record.can_be_disabled %}
                    <a href="{% url "employee_record_views:disable" employee_record.id %}"
                       class="btn btn-outline-primary btn-block w-100 w-md-auto"
                       aria-label="Désactiver la fiche salarié de {{ item.job_seeker.get_full_name }}">Désactiver</a>
                {% endif %}
                <a href="{% url "employee_record_views:summary" employee_record.id %}?back_url={{ current_url|urlencode }}"
                   class="btn {% if employee_record.status == "REJECTED" %}btn-outline-primary{% else %}btn-primary{% endif %} btn-block w-100 w-md-auto"
                   aria-label="Voir la fiche salarié de {{ item.job_seeker.get_full_name }}">Voir la fiche salarié</a>
                {% if employee_record.status == "REJECTED" %}
                    <a href="{% url "employee_record_views:create" item.id %}?from_status={{ employee_record.status }}"
                       class="btn btn-primary btn-block w-100 w-md-auto"
                       aria-label="Modifier la fiche salarié de {{ item.job_seeker.get_full_name }}">Modifier</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
