<div class="card mb-3">
    <div class="card-header">
    <b>{{ item.job_seeker.get_full_name }}</b>
    </div>
    <div class="card-body">
        <p class="m-0">Début de contrat : <b>{{ item.hiring_start_at }}</b></p>
        <p class="m-0">Fin de contrat : <b>{{ item.hiring_end_at }}</b></p>
        <p class="m-0">Numéro de PASS IAE : <b>{{ item.approval.number }}</b></p>
        {% if form.status.value == "NEW" %}
        <div class="p-2">
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary float-right">
                    Créer la fiche salarié
                </button>
            </form>
        </div>
        {% elif form.status.value == "SENT" %}
        <p class="m-0 pt-1">Transmise à l'ASP le : <b>{{ item.updated_at }}</b></p> 
            <div class="p-2">
                <form method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary float-right">
                        Voir le détail de la fiche salarié
                    </button>
                </form>
            </div>
        {% elif form.status.value == "REJECTED" %}
        <p class="m-0 pt-1">Transmise à l'ASP le : <b>{{ item.updated_at }}</b></p> 
            <div class="p-2">
                <form method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary float-right">
                        Modifier la fiche salarié
                    </button>
                </form>
            </div>
        {% elif form.status.value == "PROCESSED" %}
        <p class="m-0 pt-1">Validée par l'ASP le : <b>{{ item.updated_at }}</b></p> 
            <div class="p-2">
                <form method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary float-right">
                        Voir le détail de la fiche salarié
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
