<button class="btn {{ extra_classes }} dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown" aria-controls="sendBackRecordDropDown-{{ employee_record.pk }}">
    Renvoyer cette fiche salarié
</button>
<div class="dropdown-menu" id="sendBackRecordDropDown-{{ employee_record.pk }}">
    {% if not employee_record.has_valid_data_filled %}
        <div class="dropdown-item">
            <span class="disabled" aria-label="Le bouton « Renvoyer » est désactivé car certaines informations obligatoires sont manquantes ou erronées. Utilisez le bouton « Modifier et renvoyer ».">Renvoyer</span>
            <i class="ri-information-line ri-xl text-info ms-1"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               data-bs-title="Le bouton « Renvoyer » est désactivé car certaines informations obligatoires sont manquantes ou erronées. Utilisez le bouton « Modifier et renvoyer »."
               aria-hidden="true"></i>
        </div>
    {% else %}
        <form method="post" action="{% url "employee_record_views:create_step_5" employee_record.job_application.pk %}" class="js-prevent-multiple-submit">
            {% csrf_token %}
            <button type="submit" class="dropdown-item" aria-label="Renvoyer la fiche salarié sans modification">Renvoyer</button>
        </form>
    {% endif %}
    <a class="dropdown-item" href="{% url "employee_record_views:create" employee_record.job_application.pk %}">Modifier et renvoyer</a>
</div>
