{% extends "layout/base.html" %}
{% load components %}

{% block title %}Composants Slippers{% endblock %}

{% block title_content %}<h1>Composants Slippers</h1>{% endblock %}
{% block content %}

    <section id="global-alerts" class="container global-messages-container">
        <h2>Alertes globales</h2>

        {% for variant in global_alerts.variants %}
            <h3 class="my-3">{{ variant }}</h3>
            {% component_alert_global content=content variant=variant %}
                {% fragment as content %}
                    Etiam consectetur, nulla eget malesuada cursus, leo ex volutpat velit, at feugiat lectus dui a arcu.
                {% endfragment %}
            {% endcomponent_alert_global %}
        {% endfor %}

        <h3 class="my-3">dismissible</h3>
        {% component_alert_global content=content variant="info" dismissible=True %}
            {% fragment as content %}
                Etiam consectetur, nulla eget malesuada cursus, leo ex volutpat velit, at feugiat lectus dui a arcu.
            {% endfragment %}
        {% endcomponent_alert_global %}

        <h3 class="my-3">primary</h3>
        {% component_alert_global content=content variant="primary" exit_url="https://example.com" %}
            {% fragment as content %}
                Etiam consectetur, nulla eget malesuada cursus, leo ex volutpat velit, at feugiat lectus dui a arcu.
            {% endfragment %}
        {% endcomponent_alert_global %}
    </section>

    <hr class="my-5">

    <section id="alerts" class="container">
        <h2>Alertes</h2>

        {% for variant in alerts.variants %}
            <h3 class="my-3">{{ variant }}</h3>
            {% component_alert title=title content=content variant=variant %}
                {% fragment as title %}
                    Le titre de l&apos;alerte de type {{ variant }}
                {% endfragment %}
                {% fragment as content %}
                    <p class="mb-0">
                        Le contenu de dolor sit amet, consectetur adipiscing elit. Mauris luctus, libero nec molestie posuere, dui augue auctor ex, vitae suscipit lacus lectus dictum elit. Nunc iaculis erat in placerat pulvinar. Vestibulum lobortis sollicitudin nulla. Pellentesque ac velit orci. Ut vitae venenatis felis, id faucibus arcu. Fusce ac urna ante. Etiam consectetur, nulla eget malesuada cursus, leo ex volutpat velit, at feugiat lectus dui a arcu.
                    </p>
                {% endfragment %}
            {% endcomponent_alert %}
        {% endfor %}

        <h3 class="my-3">rejetable ("dismissible")</h3>
        {% component_alert variant="info" title=title content=content dismissible=True %}
            {% fragment as title %}
                Le titre de l&apos;alerte rejetable
            {% endfragment %}
            {% fragment as content %}
                <p class="mb-0">
                    Le contenu de dolor sit amet, consectetur adipiscing elit. Mauris luctus, libero nec molestie posuere, dui augue auctor ex, vitae suscipit lacus lectus dictum elit. Nunc iaculis erat in placerat pulvinar. Vestibulum lobortis sollicitudin nulla. Pellentesque ac velit orci. Ut vitae venenatis felis, id faucibus arcu. Fusce ac urna ante. Etiam consectetur, nulla eget malesuada cursus, leo ex volutpat velit, at feugiat lectus dui a arcu.
                </p>
            {% endfragment %}
        {% endcomponent_alert %}

    </section>


{% endblock %}
