{% load matomo %}

<div class="d-flex flex-column justify-content-md-end {% if not in_last_advisor_box %}flex-md-row gap-3{% endif %}">
    {# FIXME: Add edit button #}
    {% comment %}
        <button class="btn btn-ico btn-outline-primary w-100 {% if in_last_advisor_box %}mt-3{% else %}w-md-auto{% endif %}">
            <i class="ri-pencil-line ri-lg" aria-hidden="true"></i>
            <span>Modifier mon accompagnement</span>
        </button>
    {% endcomment %}
    {% if assignment.is_active %}
        <button class="btn btn-ico btn-outline-primary w-100 {% if in_last_advisor_box %}mt-3{% else %}w-md-auto{% endif %}" data-bs-toggle="modal" data-bs-target="#archive-assignment-{{ assignment.pk }}-modal">
            <i class="ri-stop-circle-line ri-lg" aria-hidden="true"></i>
            <span>Terminer mon accompagnement</span>
        </button>
        <div class="modal" id="archive-assignment-{{ assignment.pk }}-modal" tabindex="-1" aria-labelledby="archive-assignment-{{ assignment.pk }}-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form method="post"
                      action="{% url 'job_seekers_views:archive_assignment' public_id=assignment.job_seeker.public_id assignment_pk=assignment.pk %}?back_url={{ request.get_full_path|urlencode }}"
                      class="js-prevent-multiple-submit">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 id="archive-assignment-{{ assignment.pk }}-modal-title" class="modal-title">Terminer l'accompagnement</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                        </div>
                        <div class="modal-body">
                            <p>Une fois votre accompagnement terminé, cet usager n'apparaîtra plus dans votre liste d'accompagnements.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary btn-block w-100 w-md-auto" data-bs-dismiss="modal">
                                <span>Annuler</span>
                            </button>
                            <button class="btn btn-primary btn-block w-100 w-md-auto" {% matomo_event "accompagnateur" "submit" "terminer-accompagnement" %}>
                                <span>Confirmer</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
