{% load matomo %}

{% if request.from_authorized_prescriber %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "assignments" %} active{% endif %}"
               href="{% url 'job_seekers_views:list' %}">Usagers accompagnés</a>
        </li>
        {% if request.current_organization.memberships.count > 1 %}
            <li class="nav-item">
                <a class="nav-link{% if active_tab == "all_assignments" %} active{% endif %}"
                   href="{% url 'job_seekers_views:list_organization' %}">Usagers accompagnés de la structure</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "prolongation_requests" %} active{% endif %}"
               href="{% url 'approvals:prolongation_requests_list' %}?only_pending=on">Prolongations de PASS IAE</a>
        </li>
    </ul>
{% elif request.from_prescriber and request.current_organization.memberships.count > 1 %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "assignments" %} active{% endif %}"
               href="{% url 'job_seekers_views:list' %}">Usagers accompagnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "all_assignments" %} active{% endif %}"
               href="{% url 'job_seekers_views:list_organization' %}">Usagers accompagnés de la structure</a>
        </li>
    </ul>
{% elif request.current_organization.can_use_employee_record %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "approvals" %} active{% endif %}"
               href="{% url 'approvals:list' %}"
               {% matomo_event "employeurs" "clic" "onglet-pass-iae" %}>PASS IAE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "employee_records" %} active{% endif %}"
               href="{% url 'employee_record_views:list' %}"
               {% matomo_event "employeurs" "clic" "onglet-fiches-salaries" %}>
                <span>Fiches salarié ASP</span>
                {% if num_rejected_employee_records %}
                    <span class="badge badge-sm rounded-pill bg-warning text-white ms-2">{{ num_rejected_employee_records }}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link{% if active_tab == "all_assignments" %} active{% endif %}"
               href="{% url 'job_seekers_views:list_organization' %}"
               {% matomo_event "employeurs" "clic" "onglet-accompagnements-siae" %}>Usagers accompagnés</a>
        </li>
    </ul>
{% endif %}
