{% load matomo %}

{% if value %}
    <button class="btn-link btn-ico"
            id="{{ mode }}-{{ assignment.pk }}"
            hx-post="{% url "job_seekers_views:display_advisor_contact_info" assignment.pk mode %}"
            hx-swap="outerHTML"
            hx-include="#display-contact-info-form"
            {% matomo_event "advisors" "clic" "displayed_advisor_"|add:mode %}>
        <div class="stable-text">
            <i class="ri-mail-line fw-medium" aria-hidden="true"></i>
            {% if "email" in mode %}
                <span>Afficher l'email</span>
            {% else %}
                <span>Afficher le téléphone</span>
            {% endif %}
        </div>
        <div class="loading-text">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>Affichage en cours</span>
        </div>
    </button>
{% else %}
    <i class="text-disabled">Non renseigné</i>

{% endif %}
