{% load matomo %}

<ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist" data-it-sliding-tabs="true">
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if active_nav_tab == "informations" %} active{% endif %}"
           href="{% url 'job_seekers_views:details' public_id=job_seeker.public_id %}?back_url={% url 'job_seekers_views:list' %}"
           aria-controls="informations"
           aria-selected="{% if active_nav_tab == "informations" %}true{% else %}false{% endif %}"
           {% matomo_event "candidat" "clic-onglet" "informations candidat" %}>Informations générales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if active_nav_tab == "candidatures" %} active{% endif %}"
           href="{% url 'job_seekers_views:job_applications' public_id=job_seeker.public_id %}?back_url={% url 'job_seekers_views:list' %}"
           aria-controls="candidatures"
           aria-selected="{% if active_nav_tab == "candidatures" %}true{% else %}false{% endif %}"
           {% matomo_event "candidat" "clic-onglet" "candidatures" %}>Candidatures</a>
    </li>
</ul>
