{% extends "layout/base.html" %}
{% load static %}

{% block title %}Statistiques et pilotage {{ block.super }}{% endblock %}

{% block title_content %}
    <h1>{{ page_title }}</h1>
    {% if show_siae_evaluation_message %}
        <p>
            Le tableau ci-dessous comprend 100 % des auto-prescriptions réalisées en année N-1. Vous pouvez affiner les données en utilisant les filtres disponibles.
        </p>
    {% endif %}
    {% if is_stats_public %}
        <p>
            Cette page a pour objectif de présenter l'impact des emplois de l'inclusion. Pour retrouver les indicateurs qui étaient présentés ici, merci de vous rendre sur le
            <a href="{{ ITOU_PILOTAGE_URL }}/tableaux-de-bord" rel="noopener" target="_blank" class="has-external-link" aria-label="Vous rendre sur le pilotage de l'inclusion (ouverture dans un nouvel onglet)">
                pilotage de l'inclusion
            </a>
        </p>
    {% endif %}
{% endblock %}

{% block title_messages %}
    {{ block.super }}
    {% for banner in pilotage_webinar_banners %}
        <div class="alert alert-info alert-dismissible fade show" role="status">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            <div class="row">
                <div class="col-auto pe-0">
                    <i class="ri-information-line ri-xl text-important" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <p class="mb-2">
                        <strong>{{ banner.title }}</strong>
                    </p>
                    <p class="mb-0">{{ banner.description }}</p>
                </div>
                <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                    <a class="btn btn-sm btn-primary btn-block btn-ico" href="{{ banner.url }}" target="_blank" rel="noopener"><span>Je m’inscris</span> <i class="ri-external-link-line font-weight-medium" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <iframe id="stats-iframe" src="{{ iframeurl }}">
                    </iframe>

                    {% if back_url %}
                        <p class="mt-4">
                            <a href="{{ back_url }}">Retour</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if tally_embed_form_id %}
        <section class="s-section mt-0 pt-0">
            <div class="s-section__container container">
                <iframe data-tally-src="https://tally.so/embed/{{ tally_embed_form_id }}?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy"
                        width="100%"
                        height="189"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        title="Aidez-nous à améliorer votre outil !">
                </iframe>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{{ stats_base_url }}/app/iframeResizer.js"></script>
    <script nonce="{{ CSP_NONCE }}">
        iFrameResize({
            waitForLoad: true
        }, "#stats-iframe")
    </script>

    {% if tally_popup_form_id or tally_embed_form_id %}
        {# Do not use `async` here otherwise the Tally popup will randomly fail to load. #}
        <script src="https://tally.so/widgets/embed.js"></script>
    {% endif %}

    {% if tally_popup_form_id %}
        {# `defer` ensures the script runs *after* embed.js above has been loaded. #}
        <script defer nonce="{{ CSP_NONCE }}">
            // Any given Tally popup will not be shown more than once every `minDaysBetweenDisplays` days.
            const minDaysBetweenDisplays = 14;
            const delayBeforeShowingPopupInSeconds = 45;
            const formId = '{{ tally_popup_form_id }}';
            const key = 'statsTallyPopupLastShown-' + formId;
            const todaysDate = new Date();

            function supportsLocalStorage() {
                try {
                    return 'localStorage' in window && window['localStorage'] !== null;
                } catch (e) {
                    return false;
                }
            };

            function stopShowingPopupForAWhile() {
                localStorage.setItem(key, JSON.stringify(todaysDate));
            }

            function displayTallyPopup() {
                window.Tally.openPopup(formId, {
                    emoji: {
                        text: "👋",
                        animation: "wave"
                    },
                    onClose: () => {
                        stopShowingPopupForAWhile();
                    },
                    onSubmit: () => {
                        stopShowingPopupForAWhile();
                    }
                });
            };

            function shouldDisplayTallyPopup() {
                if (!supportsLocalStorage()) {
                    return true;
                }
                infoKey = localStorage.getItem(key);
                if (infoKey) {
                    const lastShown = Date.parse(JSON.parse(localStorage.getItem(key)));
                    const milliSecondsElapsed = todaysDate - lastShown;
                    const daysElapsed = milliSecondsElapsed / (1000 * 3600 * 24);
                    if (daysElapsed <= minDaysBetweenDisplays) {
                        return false;
                    };
                };
                return true;
            };

            if (shouldDisplayTallyPopup()) {
                setTimeout(displayTallyPopup, delayBeforeShowingPopupInSeconds * 1000);
            };
        </script>
    {% endif %}

{% endblock %}
