{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Statistiques</title>
        <meta name="robots" content="noindex, nofollow">

        <style>
            html,
            body,
            iframe {
                margin: 0;
                padding: 0;
                font-size: 0;
                line-height: 0;
            }

            html,
            body {
                width: 100%;
            }

            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        </style>
    </head>
    <body>
        {% block content %}
            <script nonce="{{ CSP_NONCE }}">
                window.iFrameResizer = {
                    targetOrigin: "{{ ITOU_PILOTAGE_URL }}"
                }
            </script>
            <script src="{% static "vendor/iframe-resizer/iframeResizer.contentWindow.min.js" %}"></script>
            {% comment %} we took the scripts from {{stats_base_url}} to always use the same version{% endcomment %}
            <script src="{{ stats_base_url }}/app/iframeResizer.js"></script>
            <iframe id="stats-iframe" src="{{ iframeurl }}">
            </iframe>
            <script nonce="{{ CSP_NONCE }}">
                document.getElementById("stats-iframe").addEventListener("load", function() {
                    iFrameResize({}, this)
                });
            </script>
        {% endblock %}
    </body>
</html>
