{% extends "layout/content.html" %}
{% load i18n %}
{% load mathfilters %}
{% load static %}

{% block title %}{% trans "Statistiques" %}{{ block.super }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script src="{% static "vendor/highcharts.src.js" %}"></script>
{% endblock %}

{% block content %}

    {% include "stats/includes/department_selector.html" %}

    <div class="accordion" id="accordion">
        <div class="card">
            <div class="card-header" id="heading-1">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        {% trans "Statistiques des candidatures et embauches" %}
                    </button>
                </h5>
            </div>

            <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion">
                <div class="card-body">
                    {% include "stats/includes/stats_job_seeker.html" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-2">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        {% trans "Statistiques employeurs" %}
                    </button>
                </h5>
            </div>
            <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                <div class="card-body">
                    {% include "stats/includes/stats_employer.html" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading-3">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        {% trans "Statistiques prescripteurs" %}
                    </button>
                </h5>
            </div>
            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                <div class="card-body">
                    {% include "stats/includes/stats_prescriber.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
