{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% trans "Statistiques" %}{{ block.super }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock %}

{% block content %}

    <h1>{% trans "[Page en construction...]" %}</h1>
    
    <h2>{% trans "Stats siaes" %}</h2>

    <h3>{% trans "Indicateurs globaux" %}</h3>

    <ul>
        <li>
            {% trans "Siaes à ce jour" %} : {{ data.total_siaes }}
        </li>
        <li>
            {% trans "Siaes ayant au moins un utilisateur à ce jour" %} : {{ data.total_siaes_with_user }}
        </li>
        <li>
            {% trans "Siaes ayant au moins une fiche de poste à ce jour" %} : {{ data.total_siaes_with_job_description }}
        </li>
        <li>
            {% trans "Siaes ayant au moins une fiche de poste ouverte aux candidatures à ce jour" %} : {{ data.total_siaes_with_active_job_description }}
        </li>
        <li>
            {% trans "Siaes actives (créées ou modifiées il y a moins de 15 jours, ou ayant un nouvel utilisateur créé il y a moins de 15 jours, ou ayant créé ou modifié une fiche de poste il y a moins de 15 jours, ou ayant reçu ou modifié une candidature il y a moins de 15 jours) à ce jour" %} : {{ data.total_active_siaes }}
        </li>
    </ul>

    <h3>{% trans "Graphiques d'évolution" %}</h3>

    <p>{% trans "En construction..." %}</p>

    <h2>{% trans "Stats candidats / recrutements" %}</h2>

    <h3>{% trans "Indicateurs globaux" %}</h3>

    <ul>
        <li>
            {% trans "Candidatures à ce jour" %} : {{ data.total_job_applications }}
        </li>
        <li>
            {% trans "Recrutements (c.a.d. candidatures de type \"acceptée\") à ce jour" %} : {{ data.total_accepted_job_applications }}
        </li>
    </ul>

    <h3>{% trans "Graphiques d'évolution" %}</h3>

    {% include "stats/includes/chart.html" with chart_id=1 data=data.job_applications_per_creation_week title="Candidatures groupées par la semaine de leur date de création" %}

    {% include "stats/includes/chart.html" with chart_id=2 data=data.accepted_job_applications_per_creation_week title="Recrutements (c.a.d. candidatures de type \"acceptée\") groupés par la semaine de la date de création de la candidature correspondante" %}

    <h2>{% trans "Stats prescripteurs" %}</h2>

    <h3>{% trans "Indicateurs globaux" %}</h3>

    <ul>
        <li>
            {% trans "Nombre de comptes utilisateurs de type prescripteur à ce jour" %} : {{ data.total_prescriber_users }}
        </li>
    </ul>

    <h3>{% trans "Graphiques d'évolution" %}</h3>

    {% include "stats/includes/chart.html" with chart_id=3 data=data.prescriber_users_per_creation_week title="Nombre de comptes utilisateurs de type prescripteur groupés par la semaine de leur date de création" %}

    {% include "stats/includes/chart.html" with chart_id=4 data=data.active_prescriber_users_per_week title="Nombre de comptes utilisateurs de type prescripteur actifs (c.a.d. ayant crée au moins une candidature) groupés par la semaine de la date de création de la candidature" %}

{% endblock %}
