{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load format_filters %}

{% block title %}Facilitateur de clauses sociales - Inscription {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Inscription
        <small class="text-muted">Facilitateur de clauses sociales</small>
    </h1>
    <h2>Inscrire mon organisation porteuse de la clause sociale d’insertion</h2>
    <p>
        Cette inscription est soumise à des conditions qui ont été définies en lien avec nos partenaires publics et privés nationaux.
    </p>
    <p>
        <span class="d-block">Les conditions suivantes sont nécessaires :</span>
        <b>
            La structure qui s’inscrit, pour un territoire donné, doit être porteuse d’un poste occupé par une personne ayant des compétences de facilitateur (reconnues et validées par le réseau national des facilitateurs) et s’engager à respecter les fondamentaux de la clause sociale.
        </b>
    </p>
    <p>
        Dans le cas contraire votre inscription sera déclarée non pertinente et votre compte sera désactivé.
        Si vous souhaitez avoir davantage d’informations, vous pouvez contacter le réseau national des facilitateurs de la clause sociale, Alliance Villes Emploi : <a href="mailto:ave@ville-emploi.asso.fr" aria-label="Rédiger un e-mail à Alliance Villes Emploi">ave@ville-emploi.asso.fr</a>.
    </p>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- this prevents the user from clicking on the "back" button of the browser -->
                    <form method="post" class="js-prevent-multiple-submit">

                        {% csrf_token %}

                        {% bootstrap_form form alert_error_type="all" %}

                        <hr class="my-3 my-lg-5">

                        <div class="row mt-3 mt-lg-5 justify-content-end">
                            <div class="col-6 col-lg-auto">
                                <a class="btn btn-link" aria-label="Retourner à l'édition des coordonnées" href="{{ prev_url }}">Retour</a>
                            </div>
                            <div class="col-6 col-lg-auto">
                                <button aria-label="Rechercher une entreprise par SIRET"  class="btn float-end btn-primary">Suivant</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
