{% extends "layout/content_two_columns.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Inscription candidat{{ block.super }}{% endblock %}

{% block right_content %}
    <div class="mt-5">
        <h1 class="h1-hero-c1">
            Inscription <span class="text-muted">candidat</span>
        </h1>
        <form method="post" action="{% url 'signup:job_seeker_situation' %}" role="form" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            {% bootstrap_form form alert_error_type="all" %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Continuer</button>
            {% endbuttons %}

        </form>
    </div>
{% endblock %}

{% block left_content %}
    <!-- Hide left column on small devices. -->
    <div class="my-5 text-center d-none d-sm-block">
        <h2 class="h1 ff-extra-01">Votre éligibilité à l'IAE dépend de votre situation</h2>
        <img class="mt-5 img-fluid" src="{% static 'img/job_seeker_signup_situation.svg' %}">
    </div>
{% endblock %}
