{% extends "signup/job_seeker_signup_base.html" %}
{% load django_bootstrap5 %}
{% load redirection_fields %}
{% load static %}
{% load buttons_form %}

{% block job_seeker_signup_content %}
    <b class="mb-4">Inscrivez-vous avec un service tiers</b>
    {% if show_france_connect %}
        <div>{% include "signup/includes/france_connect_button.html" %}</div>
        <div class="mt-4 mb-3">
            <p class="text-center">
                <b>Ou</b>
            </p>
        </div>
    {% else %}
        <p class="fst-italic text-center mt-3">FranceConnect est désactivé.</p>
    {% endif %}

    {% if show_peamu %}
        <div class="row mt-3">
            <div class="col-sm">
                <div class="text-center">{% include "signup/includes/peamu_button.html" %}</div>
            </div>
        </div>
    {% else %}
        <p class="fst-italic text-center">Pôle emploi Connect est désactivé.</p>
    {% endif %}

    <div class="mt-4 mb-3">
        <b>Ou utilisez votre adresse e-mail</b>
    </div>

    <form method="post" action="" role="form" class="js-prevent-multiple-submit" data-matomo-name="signup-job-seeker-credentials">
        {% csrf_token %}

        {% redirection_input_field value=redirect_field_value %}

        {% bootstrap_field form.email wrapper_class="form-group mb-1" %}
        {% bootstrap_field form.password1 %}
        {% bootstrap_field form.password2 %}

        <div class="small pb-4 text-secondary">
            Vous pourrez créer et modifier des informations telles que votre adresse ou un lien vers un CV après votre inscription, à partir de votre tableau de bord.
        </div>

        {% include "signup/includes/submit_rgpd.html" %}
    </form>

    {% include "signup/includes/login_reminder.html" %}
{% endblock job_seeker_signup_content %}
