{% extends "layout/content_two_columns.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Demandeur d'emploi - Inscription{{ block.super }}{% endblock %}

{% block right_content %}
    <div class="mt-5">
        <h1>
            Inscription <span class="text-muted">candidat</span>
        </h1>

        <b class="mb-4">Inscrivez-vous avec un service tiers</b>
            {% if show_france_connect %}
            <div>
                {% include "signup/includes/france_connect_button.html" %}
            </div>
            <div class="mt-4 mb-3">
                <p class="text-center">
                    <b>Ou</b>
                </p>
            </div>
            {% endif %}

            <div class="row mt-3">
                <div class="col-sm">
                    <p class="text-center">{% include "signup/includes/peamu_button.html" %}</p>
                </div>
            </div>
        <div class="mt-4 mb-3">
            <b>Ou utilisez votre adresse e-mail</b>
        </div>

        <form method="post" action="{% url 'signup:job_seeker' %}" role="form" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            {# bootstrap_form_errors form alert_error_type="all" #}

            {% bootstrap_field form.email form_group_class="form-group mb-1" %}
            <div class="text-right small font-italic mb-0">
                {% include "signup/includes/no_email_link.html" %}
            </div>

            {% bootstrap_field form.last_name form_group_class="form-group mt-1" %}
            {% bootstrap_field form.first_name %}
            {% bootstrap_field form.password1 %}
            {% bootstrap_field form.password2 %}

            {% if form.nir %}
                {% bootstrap_field form.nir form_group_class="form-group mt-1" %}
            {% endif %}

            <div class="small pb-4 text-secondary">
                Vous pourrez créer et modifier des informations telles que votre adresse ou un lien vers un CV après votre inscription, à partir de votre tableau de bord.
            </div>

            {% include "signup/includes/submit_rgpd.html" %}

        </form>

        <div class="mt-5 mb-5">
            <p>Vous avez déjà un compte ?</p>
            <p>
                <a class="btn btn-outline-primary" href="{% url 'account_login' %}">
                Connexion
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block left_content %}
    <!-- Hide left column on small devices. -->
    <div class="my-5 text-center d-none d-sm-block">
        <h2 class="ff-extra-01">Vos informations de connexion</h2>
        <img class="mt-5 img-fluid" src="{% static 'img/job_seeker_signup.svg' %}">
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
