{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Prescripteur/Orienteur - Inscription" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        {% translate "Inscription" %}
        <small class="text-muted">{% translate "Prescripteur/Orienteur" %}</small>
    </h1>

    <ul class="list-unstyled multi-steps my-5">
        <li>{% translate "Qui êtes-vous ?" %}</li>
        {% if not join_as_orienteur_without_org %}<li>{% translate "SIRET" %}</li>{% endif %}
        <li class="is-active">{% translate "Vos informations" %}</li>
    </ul>

    {% if join_authorized_org or prescriber_org_data %}

        <div class="alert alert-secondary pb-0" role="alert">

            {% if join_authorized_org and kind.value != "OTHER" %}
                <p class="lead">{{ kind.label }}</p>
            {% endif %}

            {% if prescriber_org_data %}
                <p>
                    <b>{{ prescriber_org_data.name }}</b> - {{ prescriber_org_data.siret }}<br>
                    {{ prescriber_org_data.address_line_1 }}<br>
                    {% if prescriber_org_data.address_line_2 %}{{ prescriber_org_data.address_line_2 }}<br>{% endif %}
                    {{ prescriber_org_data.post_code }} {{ prescriber_org_data.city }}
                </p>
            {% endif %}

        </div>

    {% endif %}

    {% if join_authorized_org and kind.value == "OTHER" %}
        {% include "signup/includes/authorization_proof.html" %}
    {% endif %}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% include "signup/includes/submit_rgpd.html" %}

        {% buttons %}
            {% if join_as_orienteur_without_org %}
                <a class="btn btn btn-outline-secondary" href="{% url 'signup:prescriber_intro_step_pole_emploi' %}">
                    {% translate "Annuler" %}
                </a>
            {% else %}
                <a class="btn btn btn-outline-secondary" href="{% url 'signup:prescriber_siret' %}">
                    {% translate "Retour" %}
                </a>
            {% endif %}
        {% endbuttons %}

    </form>

{% endblock %}
