{% extends "layout/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Prescripteur/Orienteur - Inscription {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-card card">
                        <div class="card-body">
                            <p>
                                Les organisations habilitées permettent à leurs collaborateurs de valider l'éligibilité d'une personne candidate au dispositif d'Insertion par l'Activité Économique. Cette habilitation est officialisée par arrêté préfectoral.
                            </p>

                            <p>
                                <a href="{{ ITOU_HELP_CENTER_URL }}/articles/14741016074385--Les-prescripteurs-habilités"
                                   rel="noopener"
                                   target="_blank"
                                   aria-label="En savoir plus sur les différents prescripteurs (ouverture dans un nouvel onglet)">En savoir plus sur les différents prescripteurs</a><i class="ri-external-link-line ms-1"></i>
                            </p>
                            <form method="post" class="js-prevent-multiple-submit">

                                {% csrf_token %}

                                {% bootstrap_form form alert_error_type="all" %}

                                {% buttons %}
                                    <hr class="my-5">
                                    <div class="text-end">
                                        <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">Retour</a>
                                        <button class="btn btn-primary">Continuer</button>
                                    </div>
                                {% endbuttons %}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
