{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <ul class="list-unstyled multi-steps my-5">
        <li>Type de prescripteur</li>
        {% if not join_as_orienteur_without_org %}<li>SIRET</li>{% endif %}
        <li class="is-active">Vos informations</li>
    </ul>

    {% if join_authorized_org and kind.value != "OTHER" %}
        {# Display kind's full name if known. #}
        <div class="alert alert-secondary pb-0" role="alert">
            <p class="lead">{{ kind.label }}</p>
        </div>
    {% endif %}

    {% if prescriber_org_data %}
        <div class="alert alert-secondary pb-0" role="alert">
            <p>
                <b>{{ prescriber_org_data.name }}</b> - {{ prescriber_org_data.siret }}<br>
                {{ prescriber_org_data.address_line_1 }}<br>
                {% if prescriber_org_data.address_line_2 %}{{ prescriber_org_data.address_line_2 }}<br>{% endif %}
                {{ prescriber_org_data.post_code }} {{ prescriber_org_data.city }}
            </p>
        </div>
    {% endif %}

    {% if join_authorized_org and kind.value == "OTHER" %}
        {% include "signup/includes/authorization_proof.html" %}
    {% endif %}

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% include "signup/includes/submit_rgpd.html" %}

        {% buttons %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
                Retour
            </a>
        {% endbuttons %}

    </form>

{% endblock %}
