{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}
{% load format_filters %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <h3>
        Votre organisation est-elle déjà inscrite ?
    </h3>

    <a href="{% url 'signup:prescriber_pole_emploi_safir_code' %}">Je travaille pour Pôle emploi</a>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
        {% endbuttons %}

    </form>

    {% if prescriber_orgs_with_members_same_siret %}
        <div class="mt-5">
            <h3>Organisation(s) déjà inscrite(s) avec ce SIRET</h3>
            <p>Par mesure sécurité, vous devez obtenir une invitation pour rejoindre une organisation déjà inscrite.</p>
            <ul>
                {% for prescriber_org in prescriber_orgs_with_members_same_siret %}
                    <li>
                        <p>
                            <b>{{ prescriber_org.siret|format_siret }}</b> - {{ prescriber_org.kind }}
                            <br>
                            {{ prescriber_org.display_name }}
                            <br>
                            {{ prescriber_org.address_line_1 }},
                            {% if prescriber_org.address_line_2 %}
                                <br>
                                {{ prescriber_org.address_line_2 }},
                            {% endif %}
                            <br>
                            {{ prescriber_org.post_code }} {{ prescriber_org.city }}
                            <br>
                            {# Organizations can exist without a member  #}
                            {% if prescriber_org.prescribermembership_set.first %}
                                {% with prescriber_org.prescribermembership_set.first as membership %}
                                    {# Ordered by -is_admin and date_joined via prefetch_active_memberships #}
                                    {# For security, display only the first char of the last name. #}
                                    <i>
                                        Demandez une invitation à
                                        {{ membership.user.first_name|title }} {{ membership.user.last_name|slice:1 }}.
                                        pour rejoindre cette organisation.
                                    </i>
                                    <a href="{% url 'signup:prescriber_request_invitation' membership.id %}" class="btn btn-secondary mt-2">
                                        Demander une invitation
                                    </a>
                                {% endwith %}
                            {% else %}
                                <i>Cette organisation n'a pas de membre.</i>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if prescriber_orgs_with_members_same_siren %}
        <div class="mt-5">
            {% if not prescriber_orgs_with_members_same_siret %}
            <h3>Organisation(s) inscrite(s) avec ce SIREN sur le département</h3>
            <p>Par mesure sécurité, vous devez obtenir une invitation pour rejoindre une organisation déjà inscrite.</p>
            {% else %}
            <h3>Autre(s) organisation(s) inscrite(s) avec ce SIREN sur le département</h3>
            {% endif %}
            <ul>
                {% for prescriber_org in prescriber_orgs_with_members_same_siren %}
                    <li>
                        <p>
                            <b>{{ prescriber_org.siret|format_siret }}</b> - {{ prescriber_org.kind }}
                            <br>
                            {{ prescriber_org.display_name }}
                            <br>
                            {{ prescriber_org.address_line_1 }},
                            {% if prescriber_org.address_line_2 %}
                                <br>
                                {{ prescriber_org.address_line_2 }},
                            {% endif %}
                            <br>
                            {{ prescriber_org.post_code }} {{ prescriber_org.city }}
                            <br>
                            {% with prescriber_org.prescribermembership_set.first as membership %}
                                {# Ordered by -is_admin and date_joined via prefetch_active_memberships #}
                                {# For security, display only the first char of the last name. #}
                                <i>
                                    Demandez une invitation à
                                    {{ membership.user.first_name|title }} {{ membership.user.last_name|slice:1 }}.
                                    pour rejoindre cette organisation.
                                </i>
                                <a href="{% url 'signup:prescriber_request_invitation' membership.id %}" class="btn btn-secondary mt-2">
                                    Demander une invitation
                                </a>
                            {% endwith %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if prescriber_orgs_with_members_same_siret or prescriber_orgs_with_members_same_siren %}
    <div class="mt-5">
        <h3>Ajouter mon organisation</h3>

        {% if prescriber_orgs_with_members_same_siret %}
        <div class="alert alert-warning pb-0" role="alert">
            <p>
                <small>
                    Attention une ou plusieurs organisations existent déjà avec ce SIRET.

                    Si vous ne retrouvez pas votre organisation dans la liste ci-dessus ou si
                    vous souhaitez créer un compte avec ce SIRET pour un autre type
                    d'organisation, vous avez la possibilité de l'inscrire.
                </small>
            </p>
        </div>
        {% else %}
        <p>
            <small>
                Si vous ne retrouvez pas votre organisation dans la liste ci-dessus, vous avez la possibilité de l'inscrire.
            </small>
        </p>
        {% endif %}
        <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">Retour</a>
        <a href="{% url 'signup:prescriber_choose_org' %}" class="btn btn-primary mt-3">Inscrire mon organisation</a>
    </div>
    {% endif %}
    <a href="{% url 'signup:prescriber_user' %}">Je ne fais partie d'aucune organisation</a>
{% endblock %}
