{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <div class="alert alert-secondary" role="alert">
        Retrouvez facilement votre numéro SIREN à partir du nom de votre organisation sur le site
        <a href="https://sirene.fr/" rel="noopener" target="_blank">
            sirene.fr
            {% include "includes/icon.html" with icon="external-link" %}
        </a>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            {% if not form.cleaned_data %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
                Retour
            </a>
            <button type="submit" class="btn btn-primary">Continuer</button>
            {% endif %}
            {% if form.cleaned_data %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {% endif %}
        {% endbuttons %}

    </form>

    <a href="{% url 'signup:prescriber_user' %}" >Je ne fais partie d'aucune organisation</a>

    {% if prescribers_with_members %}
        <div class="mt-5">
            <h3>Organisation(s) déjà inscrite(s)</h3>
            <div class="alert alert-secondary" role="info">
                <i>Par sécurité vous devez obtenir une invitation pour rejoindre une organisation déjà inscrite.</i>
            </div>
            <ul>
                {% for prescriber in prescribers_with_members %}
                    <li>
                        <p>
                            <b>{{ prescriber.siret|slice:":9" }} {{ prescriber.siret|slice:"9:" }}</b> - {{ prescriber.kind }}
                            <br>
                            {{ prescriber.display_name }}
                            <br>
                            {{ prescriber.address_line_1 }},
                            {% if prescriber.address_line_2 %}{{ prescriber.address_line_2 }},{% endif %}
                            {{ prescriber.post_code }} {{ prescriber.city }}
                            <br>
                            {% if prescriber.active_admin_members %}
                                {% with prescriber.active_admin_members.first as admin %}
                                    {# For security, display only the first char of the last name. #}
                                    <i>Pour obtenir une invitation, contactez {{ admin.first_name|title }} {{ admin.last_name|slice:1 }}.</i>
                                {% endwith %}
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="alert alert-warning mt-4" role="alert">
            <p>
                <small>
                    Si vous ne retrouvez pas votre organisation dans cette liste, vous pouvez la créer.
                </small>
                <a href="{% url 'signup:prescriber_choose_org' %}" class="btn btn-primary mt-3">Ajouter mon organisation</a>
            </p>
        </div>
    {% endif %}

    {% if form.cleaned_data %}
    <div class="mt-4">
        <p>
            En cas de problème contactez-nous : <a href="https://assistance.inclusion.beta.gouv.fr" rel="noopener" target="_blank">https://assistance.inclusion.beta.gouv.fr {% include "includes/icon.html" with icon="external-link" %}</a>
        </p>
    </div>
    <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
        Retour
    </a>
    {% endif %}

{% endblock %}
