{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Prescripteur/Orienteur - Inscription {{ block.super }}{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <div class="alert alert-warning pb-0">
        <p>
            Les organisations habilitées permettent à leurs collaborateurs de valider l'éligibilité d'une personne candidate au dispositif d'Insertion par l'Activité Économique. Cette habilitation est officialisée par arrêté préfectoral.
        </p>
        <p class="mb-0">
            <a href="{{ ITOU_COMMUNITY_URL }}/doc/emplois/prescripteur-habilite/" rel="noopener" target="_blank" aria-label="En savoir plus sur les différents prescripteurs (ouverture dans un nouvel onglet)">En savoir plus sur les différents prescripteurs</a><i class="ri-external-link-line ml-1"></i>
        </p>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">Retour</a>
            <button type="submit" class="btn btn-primary">Continuer</button>
        {% endbuttons %}

    </form>

{% endblock %}
