{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}
{% load format_filters %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <div class="alert alert-info" role="alert">
        Retrouvez facilement votre numéro SIREN à partir du nom de votre organisation sur le site
        <a href="https://sirene.fr/" rel="noopener" target="_blank">
            sirene.fr
            {% include "includes/icon.html" with icon="external-link" %}
        </a>
    </div>

    <form method="get" action="" class="js-prevent-multiple-submit">

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            {# Change the label of the submit button and the position of the return button if the form is submitted #}
            {% if prescriber_orgs_with_members %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {% else %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
                Retour
            </a>
            <button type="submit" class="btn btn-primary">Continuer</button>
            {% endif %}
        {% endbuttons %}

    </form>

    {% if prescriber_orgs_with_members %}
        <div class="mt-5">
            <h3>Organisations déjà inscrites</h3>
            <div class="alert alert-secondary" role="info">
                <i>Par sécurité, vous devez obtenir une invitation pour rejoindre une organisation déjà inscrite.</i>
            </div>
            <ul>
                {% for prescriber_org in prescriber_orgs_with_members %}
                    <li>
                        <p>
                            <b>{{ prescriber_org.siret|format_siret }}</b> - {{ prescriber_org.kind }}
                            <br>
                            {{ prescriber_org.display_name }}
                            <br>
                            {{ prescriber_org.address_line_1 }},
                            {% if prescriber_org.address_line_2 %}
                                <br>
                                {{ prescriber_org.address_line_2 }},
                            {% endif %}
                            <br>
                            {{ prescriber_org.post_code }} {{ prescriber_org.city }}
                            <br>
                            {% with prescriber_org.prescribermembership_set.first as membership %}
                                {# Ordered by -is_admin and date_joined via prefetch_active_memberships #}
                                {# For security, display only the first char of the last name. #}
                                <i>
                                    Demandez une invitation à
                                    {{ membership.user.first_name|title }} {{ membership.user.last_name|slice:1 }}.
                                    afin de rejoindre cette organisation.
                                </i>
                                <a href="{% url 'signup:prescriber_request_invitation' membership.id %}" class="btn btn-emploi mt-2">
                                    Demander une invitation
                                </a>
                            {% endwith %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="alert alert-warning mt-4" role="alert">
            <p>
                <small>
                    Si vous ne retrouvez pas votre organisation dans cette liste, vous pouvez la créer.
                </small>
                <a href="{% url 'signup:prescriber_choose_org' %}" class="btn btn-primary mt-3">Ajouter mon organisation</a>
            </p>
        </div>
    <div class="mt-4">
        <p>
            En cas de problème, contactez-nous : <a href="{{ ITOU_ASSISTANCE_URL }}" rel="noopener" target="_blank">{{ ITOU_ASSISTANCE_URL }} {% include "includes/icon.html" with icon="external-link" %}</a>
        </p>
    </div>
    <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
        Retour
    </a>
    {% else %}
    <a href="{% url 'signup:prescriber_user' %}">Je ne fais partie d'aucune organisation</a>
    {% endif %}
{% endblock %}
