{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Prescripteur habilité - Inscription" %}{{ block.super }}{% endblock %}


{% block content %}
<h1>
    {% trans "Prescripteur habilité" %}
    <small class="text-muted">{% trans "Inscription" %}</small>
</h1>

<form method="post" action="{% url 'signup:prescriber_authorized' %}" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form_errors form %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    {% bootstrap_field form.first_name %}
    {% bootstrap_field form.last_name %}
    {% bootstrap_field form.email %}
    {% bootstrap_field form.password1 %}
    {% bootstrap_field form.password2 %}

    <nav>
        <div class="nav nav-tabs" id="form-tab" role="tablist">
            <a class="nav-item nav-link active" id="form-org-tab" data-toggle="tab" href="#form-org" role="tab" aria-controls="nav-home" aria-selected="true">
                {% trans "Votre organisation" %}
            </a>
            <a class="nav-item nav-link" id="form-code-tab" data-toggle="tab" href="#form-code" role="tab" aria-controls="form-code" aria-selected="false">
                {% trans "Vous avez un code ?" %}
            </a>
        </div>
    </nav>

    <div class="tab-content mb-3">
        <div class="tab-pane show active" id="form-org" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="p-3 border-right border-bottom border-left">
                {% bootstrap_field form.authorized_organization %}
                <small>{% blocktrans %}Si vous faites partie d'une organisation habilitée par le Préfet qui ne figure pas dans cette liste, <a href="mailto:{{ ITOU_EMAIL_CONTACT }}">contactez-nous</a>.{% endblocktrans %}</small>
            </div>
        </div>
        <div class="tab-pane" id="form-code" role="tabpanel" aria-labelledby="form-code-tab">
            <div class="p-3 border-right border-bottom border-left">
                <i>{% bootstrap_label "Entrez le code qui vous a été transmis :" label_for=form.secret_code.auto_id %}</i>
                {% bootstrap_field form.secret_code show_label=False %}
            </div>
        </div>
    </div>

    {% include "signup/includes/submit_rgpd.html" %}

</form>

<hr>

<p>
    <a href="{% url 'account_login' %}">{% trans "Vous avez déjà un compte ?" %}</a>
</p>
{% endblock %}
