{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}Prescripteur Pôle emploi - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur Pôle emploi</small>
    </h1>

    <ul class="list-unstyled multi-steps my-5">
        <li>Type de prescripteur</li>
        <li>Code SAFIR</li>
        <li class="is-active">Vos informations</li>
    </ul>

    <div class="alert alert-secondary" role="alert">
        <p class="lead mb-0">
            {% blocktranslate with org_name=pole_emploi_org.display_name %}Vous allez rejoindre <b>{{ org_name }}</b>{% endblocktranslate %}
        </p>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% include "signup/includes/submit_rgpd.html" %}

        {% buttons %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
                Retour
            </a>
        {% endbuttons %}

    </form>

{% endblock %}
