{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Prescripteur France Travail - Inscription {{ block.super }}{% endblock %}

{% block title_messages %}
    {{ block.super }}
    <div class="alert alert-info">
        <p class="mb-0">
            Vous allez rejoindre <b>{{ pole_emploi_org.display_name }}</b>
        </p>
    </div>
{% endblock %}

{% block title_content %}
    <h1 class="mb-0">Inscription</h1>
    <p>Prescripteur France Travail</p>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">{% include "inclusion_connect/includes/description.html" %}</div>
            </div>
        </div>
    </section>
{% endblock %}
