{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}
{% load format_filters %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <ul class="list-unstyled multi-steps my-5">
        <li>Type de prescripteur</li>
        <li class="is-active">SIRET</li>
        <li>Vos informations</li>
    </ul>

    <div class="alert alert-info" role="alert">
        Retrouvez facilement votre numéro SIRET à partir du nom de votre organisation sur le site
        <a href="https://sirene.fr/" rel="noopener" target="_blank">
            sirene.fr
            {% include "includes/icon.html" with icon="external-link" %}
        </a>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_label "Numéro SIRET de votre organisation *" %}
        <div class="form-group form-group-required row{% if form.errors %} is-invalid{% endif %}">

            <div class="col-md-2 p-2 text-right">
                <span class="text-muted">{{ siren|format_siret }}</span>
            </div>

            <div class="col-md-3">
                <input type="text"
                    class="form-control{% if form.errors %} is-invalid{% endif %}"
                    name="{{ form.partial_siret.name }}"
                    value="{{ form.partial_siret.value|default_if_none:'' }}"
                    maxlength="5" minlength="5"
                    placeholder="00000"
                    required
                    id="id_{{ form.partial_siret.name }}"
                >
            </div>
            {% if form.partial_siret.errors %}
            <div class="col-md-12">
                <div class="invalid-feedback d-block">{{ form.partial_siret.errors|join:", " }}</div>
            </div>
            {% endif %}
            <div class="col-md-12">
                <small class="form-text text-muted">Complétez le numéro SIREN avec les 5 derniers chiffres du SIRET de votre organisation.</small>
            </div>
        </div>

        {% buttons %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">
                Retour
            </a>
            <button type="submit" class="btn btn-primary">Continuer</button>
        {% endbuttons %}

    </form>

{% endblock %}
