{% extends BASE_TEMPLATE %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Inscription {{ block.super }}{% endblock %}


{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1">
                        Inscription
                        <small class="text-muted">Prescripteur habilité</small>
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <form method="post" class="js-prevent-multiple-submit">

                        {% csrf_token %}

                        {% include "signup/includes/authorization_proof.html" %}

                        {% bootstrap_form form alert_error_type="all" %}

                        {% buttons %}
                            <a class="btn btn-outline-secondary" href="{{ prev_url }}">Retour</a>
                            <button type="submit" class="btn btn-primary">Continuer</button>
                        {% endbuttons %}

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
