{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Prescripteur/Orienteur - Inscription{{ block.super }}{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">
        Inscription
        <small class="text-muted">Prescripteur/Orienteur</small>
    </h1>

    <div class="alert alert-secondary">
        <p class="mb-0">Votre organisation n'est pas encore inscrite.</p>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <a class="btn btn btn-outline-secondary" href="{{ prev_url }}">Retour</a>
            <button type="submit" class="btn btn-primary">Continuer</button>
        {% endbuttons %}

    </form>

{% endblock %}
