{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "SIAE - Inscription" %}{{ block.super }}{% endblock %}


{% block content %}
<h1>
    {% trans "SIAE" %}
    <small class="text-muted">{% trans "Inscription" %}</small>
</h1>

<p>
    Pour des raisons de sécurité, vous devez identifier votre SIAE par son type et soit par son numéro SIRET connu de l'ASP, soit par son adresse email connue de l'ASP.
</p>
<p>
    Veuillez noter qu'actuellement notre base de données ne contient que les structures des territoires d'expérimentation (Pas-de-Calais, Bas-Rhin et Seine Saint Denis).
</p>

<form method="post" action="{% url 'signup:select_siae' %}" role="form">

    {% csrf_token %}

    {% bootstrap_form_errors form %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    {% bootstrap_field form.kind %}
    {% bootstrap_field form.siret %}
    {% bootstrap_field form.email %}

    {% include "signup/includes/submit_rgpd.html" %}

</form>

<hr>

<p>
    <a href="{% url 'account_login' %}">{% trans "Vous avez déjà un compte ?" %}</a>
</p>
{% endblock %}
