{% extends "layout/content.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Inscription | Connexion" %}{{ block.super }}{% endblock %}


{% block content %}
<div class="card-deck">

    <div class="card">
        <div class="card-header">
            <b>{% trans "Prescripteurs" %}</b>
            <br>
            <cite>{% trans "Je veux trouver un travail à une personne en difficulté" %}</cite>
        </div>
        <div class="card-body">
            <p class="card-text">
                <a class="card-link" href="{% url 'signup:prescriber' %}">
                    {% include "includes/icon.html" with icon="user-plus" %} {% trans "Inscription" %}
                </a>
                <a class="card-link" href="{% url 'account_login' %}">
                    {% include "includes/icon.html" with icon="log-in" %} {% trans "Connexion" %}
                </a>
            </p>
            <p class="card-text">
                {% trans "Je suis travailleur(se) social, conseiller(ère) emploi, chargé(e) d'accompagnement, bénévole…" %}
            </p>
        </div>
        <img src="{% static 'photos/prescriber.jpg' %}" class="card-img-bottom" alt="">
    </div>

    <div class="card">
        <div class="card-header">
            <b>{% trans "Employeurs" %}</b>
            <br>
            <cite>{% trans "Je recrute une personne en difficulté" %}</cite>
        </div>
        <div class="card-body">
            <p class="card-text">
                <a class="card-link" href="{% url 'signup:siae' %}">
                    {% include "includes/icon.html" with icon="user-plus" %} {% trans "Inscription" %}
                </a>
                <a class="card-link" href="{% url 'account_login' %}">
                    {% include "includes/icon.html" with icon="log-in" %} {% trans "Connexion" %}
                </a>
            </p>
            <p class="card-text">
                {% trans "En entreprise d'insertion, chantier d'insertion, association intermédiaire, entreprise d'insertion de travail temporaire, entreprise adaptée." %}
            </p>
        </div>
        <img src="{% static 'photos/employer.jpg' %}" class="card-img-bottom" alt="">
    </div>

</div>
{% endblock %}
