{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Employeur solidaire - Inscription" %}{{ block.super }}{% endblock %}


{% block content %}
<h1>
    {% trans "Inscription" %}
    <small class="text-muted">{% trans "Employeur solidaire" %}</small>
</h1>

<div class="alert alert-info" role="info">
    {% trans "Pour des raisons de sécurité, merci de compléter les informations suivantes." %}
</div>

<div class="alert alert-warning" role="info">
    {% blocktrans with doc_opening_schedule_url=form.DOC_OPENING_SCHEDULE_URL%}
        Les inscriptions s'ouvrent aux régions progressivement. <a href="{{ doc_opening_schedule_url }}" rel="noopener" target="_blank">Vérifiez que la Plateforme est bien disponible sur votre territoire.</a> Seules les ETTI sont ouvertes en France entière.
    {% endblocktrans %}
</div>

<form method="post" action="{% url 'signup:select_siae' %}" role="form">

    {% csrf_token %}

    {% bootstrap_form_errors form %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    {% bootstrap_field form.kind %}
    {% bootstrap_field form.siret %}
    {% bootstrap_field form.email %}

    {% include "signup/includes/submit_rgpd.html" %}

</form>

<p>
    {% blocktrans %}En cas de problème ou pour plus d'informations, veuillez nous contacter à l'adresse <a href="mailto:{{ ITOU_EMAIL_CONTACT }}">{{ ITOU_EMAIL_CONTACT }}</a>{% endblocktrans %}.
</p>

<hr>

<p>
    <a href="{% url 'account_login' %}">{% trans "Vous avez déjà un compte ?" %}</a>
</p>
{% endblock %}
