{% extends "layout/content.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Les emplois de l'inclusion{% endblock %}

{% block content %}

    <section class="layout-section">
        <div class="layout-content">

            <h1>Test de <i>Duet Date Picker</i></h1>

            <form method="post" action="" class="js-prevent-multiple-submit">

                {% csrf_token %}

                {% bootstrap_form form alert_error_type="all" %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Valider</button>
                {% endbuttons %}

            </form>

        </div>
    </section>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed for the DuetDatePickerWidget widget. -->
    {{ form.media }}
{% endblock %}
