{% extends "layout/content_small.html" %}
{% load i18n %}

{% block title %}{% trans "Qui est éligible à l'IAE ?" %}{{ block.super }}{% endblock %}

{% block content %}

    <h2>{% trans "Qui est éligible à l'IAE ?" %}</h2>

    <p>{% trans "L'éligibilité d'une personne à l'Insertion par l'Activité Economique est validée :" %}</p>

    <ul>

        <li>{% blocktrans %}<b>Soit par un prescripteur habilité</b> : la prescription d'un parcours IAE implique la réalisation préalable d'un diagnostic socio-professionnel permettant d'identifier les raisons, tenant compte <a href="#criteres_administratifs">des critères administratifs</a> et des freins sociaux, pour lesquelles la personne relève d'un parcours d'insertion par l'IAE. Ce diagnostic devra reprendre a minima les éléments présents dans <a href="#diagnostic_de_reference">le diagnostic de référence</a>{% endblocktrans %}</li>

        <li>{% blocktrans %}<b>Soit par une SIAE</b> : le recrutement direct par une structure doit contenir deux étapes soumises à contrôle, par échantillon, des Direccte : la vérification de l'éligibilité de la personne au regard <a href="#criteres_administratifs">des critères administratifs requis</a> et la réalisation d'<a href="#diagnostic_de_reference">un diagnostic socio-professionnel</a> de la personne susceptible d'être recrutée{% endblocktrans %}</li>

    </ul>

    {% include "eligibility/includes/criteria.html" %}

    <hr>
    <p>
        <a href="{% url 'home:hp' %}">{% trans "Retour" %}</a>
    </p>

{% endblock %}
