{% extends "layout/content_small.html" %}
{% load i18n %}

{% block title %}{% trans "Qui est éligible à l'IAE ?" %}{{ block.super }}{% endblock %}

{% block content %}

    <h2>{% trans "Qui est éligible à l'IAE ?" %}</h2>

    <div class="alert alert-warning" role="alert">
        {% trans "Ce site est destiné aux personnes rencontrant au moins un de ces besoins d'accompagnement" %}
    </div>

    {% include "eligibility/includes/criteria.html" %}

    <hr>
    <p>
        <a href="{% url 'home:hp' %}">{% trans "Retour" %}</a>
    </p>

{% endblock %}
