{% extends "layout/content_full_viewport.html" %}
{% load i18n %}
{% load static %}

{% block meta_description %}<meta name="description" content="{% trans "La plateforme numérique de l'inclusion" %}">{% endblock %}
{% block title %}{% trans "La plateforme de l'inclusion" %}{% endblock %}

{% block content %}

<div class="layout-section layout-section-white">
    <section class="pt-5 column-full-width home-search">

        <h2 class="text-center mb-3 mx-4 text-light">{% trans "Prenez contact avec un employeur solidaire" %}</h3>

        <form method="get" action="{% url 'search:siaes' %}" class="my-3 w-50 mx-auto">
            {% include "search/includes/siaes_search_form.html" with form=siae_search_form %}
        </form>

        <div class="w-100 bg-image" style="background-image: url('{% static 'img/home-bg.svg' %}');"></div>

    </section>

    {% if not user.is_authenticated %}
        <section>
            <div class="card-deck mb-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% trans "Accès candidat" %}
                        </h5>
                        <a class="card-link" href="{% url 'signup:job_seeker' %}">
                            {% trans "Inscription" %}
                        </a>
                        <a class="card-link" href="{% url 'account_login' %}">
                            {% trans "Connexion" %}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Accès prescripteur" %}</h5>
                        <a class="card-link" href="{% url 'signup:prescriber' %}">
                            {% trans "Inscription" %}
                        </a>
                        <a class="card-link" href="{% url 'account_login' %}">
                            {% trans "Connexion" %}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Accès employeur" %}</h5>
                        <a class="card-link" href="{% url 'signup:siae' %}">
                            {% trans "Inscription" %}
                        </a>
                        <a class="card-link" href="{% url 'account_login' %}">
                            {% trans "Connexion" %}
                        </a>
                    </div>
                </div>

            </div>

        </section>

    {% endif %}

</div>
{% endblock %}
