{% extends "layout/content.html" %}
{% load i18n %}
{% load static %}

{% block meta_description %}<meta name="description" content="{% trans "La plateforme numérique de l'inclusion" %}">{% endblock %}
{% block title %}{% trans "La plateforme de l'inclusion" %}{% endblock %}

{% block content %}

    <h2 class="text-center mb-4">{% trans "Tous les jours, les entreprises de l'insertion recrutent !" %}</h2>

    {% if not user.is_authenticated %}

        <div class="card-deck mb-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans "Accès candidat" %}
                    </h5>
                    <a class="card-link" href="{% url 'signup:job_seeker' %}">
                        {% trans "Inscription" %}
                    </a>
                    <a class="card-link" href="{% url 'account_login' %}">
                        {% trans "Connexion" %}
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Accès prescripteur" %}</h5>
                    <a class="card-link" href="{% url 'signup:prescriber' %}">
                        {% trans "Inscription" %}
                    </a>
                    <a class="card-link" href="{% url 'account_login' %}">
                        {% trans "Connexion" %}
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Accès employeur" %}</h5>
                    <a class="card-link" href="{% url 'signup:siae' %}">
                        {% trans "Inscription" %}
                    </a>
                    <a class="card-link" href="{% url 'account_login' %}">
                        {% trans "Connexion" %}
                    </a>
                </div>
            </div>

        </div>

    {% endif %}

    <h3 class="text-center">{% trans "Trouvez votre employeur solidaire à :" %}</h3>

    <form method="get" action="{% url 'search:siaes' %}" class="d-block my-3">
        {% include "search/includes/siaes_search_form.html" with form=siae_search_form %}
    </form>

{% endblock %}
