.container-search {
    background-position: top left, top right;
    background-repeat: no-repeat;
    min-height: 17rem;
    background-image: url(../img/search-bg-left.svg),
        url(../img/search-bg-right.svg);
}

@media only screen and (max-width: 992px) {
    .container-search {
        background-image: none;
    }
}

.container-messages div.alert {
    margin-top: 1rem;
}

.container-breadcrumb:empty {
    background-color: red;
    display:none !important;
}

/* Spacing.
--------------------------------------------------------------------------- */
.h1-hero-c1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .h1-hero-c1 {
        margin-bottom: 3rem;
    }
}

/* Cards.
--------------------------------------------------------------------------- */

.card-deck-itou {
    text-align: center;
    justify-content: space-between;
}

.card-deck-itou>.card {
    /* flex: 0 0 26%; */
    position: relative;
    padding: 1.5rem;
}

.card-deck-itou>.card>.card-body {
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-deck-itou>.card>.card-footer {
    background: transparent;
}

/* Footer without the blue line
--------------------------------------------------------------------------- */
.s-prefooter {
    border: none !important;
}

/* Forms.
--------------------------------------------------------------------------- */

.select2-container {
    display: block !important;
}

.select2-dropdown {
    z-index: 4051 !important;
}

.select2-selection__choice__remove {
    float: right;
    margin-left: 2px;
}

.c-aside-filters .select2.select2-container.select2-container--default {
    width: 100% !important;
}

/*
Force the display of `.invalid-feedback` for Duet Date Picker with Bootstrap 4.
See also `duet_date_picker.html`.
https://getbootstrap.com/docs/4.6/components/forms/#server-side
*/

duet-date-picker.is-invalid~.invalid-feedback {
    display: block;
}

.form-group.is-invalid > .file-dropzone {
    border: 2px dashed var(--danger);
}

.file-dropzone {
    width: 100%;
    border: 2px dashed #80829c;
    border-radius: .25rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: .5rem;
}

.file-dropzone.highlighted {
    opacity: 0.5;
}

input[type=file] {
    opacity: 0;
    position: absolute;
    z-index: -1;

    /*
     Limit the width the input so that it does not overflow its container.
     Avoids using a zero width as this would remove it from screen readers.
     */
    width: 1px;
}

/* Dropdown menus.
--------------------------------------------------------------------------- */

/*
Make dropdown menus scrollable in case there are too many items.
Credits go to https://stackoverflow.com/a/19229738
*/

.dropdown-menu {
    max-height: 360px;
    overflow-y: auto;
}

.select2-selection__rendered {
    white-space: break-spaces !important;
}

/* Missing Boostrap utilities.
--------------------------------------------------------------------------- */

@media (min-width: 768px) {
    .fixed-sm-bottom {
        position: fixed !important;
        right: 0;
        bottom: 0;
        z-index: 1030;
    }

    /* Set width depending on a breaking point. */
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-33 {
        width: 33% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    /* Reset width */
    /* To be used with, for example, w-100 to have a with: 100%; only on mobile. */
    .w-sm-auto {
        width: auto !important;
    }
}

.border-dashed {
    border-style: dashed !important;
}

/* Overrides opacity for disabled button (search cities) */

.js-search-button {
    opacity: 100% !important;
}

/* Browser-specific issues.
--------------------------------------------------------------------------- */

/* Firefox applies `:-moz-ui-invalid` as soon as it considers
an input field being invalid, generating an uncontrolled red box-shadow. */

.home-search :not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
}

.home-search :not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
}

/* Old browsers.
--------------------------------------------------------------------------- */

.alert-old-browser {
    display: none;
}

/* Target only IE 11. */

/* https://stackoverflow.com/a/27315792 */

_:-ms-fullscreen,
:root .alert-old-browser {
    display: block;
}

/* JavaScript disabled.
---------------------------------------------------------------------------- */

/* Element is shown with JavaScript. See static > js > utils.js */

.js-display-if-javascript-enabled {
    display: none;
}

/* CSS for js-shroud.
---------------------------------------------------------------------------- */

.js-shroud {
    position: relative;
    opacity: 50%;
}

.js-shroud::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Bootstrap components scale from 0 to 3: https://getbootstrap.com/docs/4.6/extend/approach/#z-index-scales */
    z-index: 4;
}

/* Responsive Multi-Step Progress Bar.
https://codepen.io/athimannil/pen/wWPYkQ

Usage:
    <ul class="list-unstyled multi-steps">
        <li>Type de prescripteur</li>
        <li class="is-active">SIRET</li>
        <li>Vos informations</li>
    </ul>
--------------------------------------------------------------------------- */

.multi-steps>li.is-active:before,
.multi-steps>li.is-active~li:before {
    content: counter(stepNum);
}

.multi-steps>li.is-active:after,
.multi-steps>li.is-active~li:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.multi-steps>li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #28a745;
    z-index: 1;
}

.multi-steps>li:before {
    content: "\2713";
    /* Check mark symbol. */
    display: block;
    margin: 0 auto 4px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #28a745;
    border-radius: 50%;
}

.multi-steps>li:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #28a745;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}

.multi-steps>li:last-child:after {
    display: none;
}

.multi-steps>li.is-active:before {
    background-color: #fff;
    border-color: #28a745;
}

.multi-steps>li.is-active~li {
    color: #808080;
}

.multi-steps>li.is-active~li:before {
    background-color: #ededed;
    border-color: #ededed;
}

/* Dropzone component used to upload files to an S3 bucket.
--------------------------------------------------------------------------- */

/* By default, an error message is displayed only on hover */

.dropzone .dz-preview.dz-error .dz-error-message {
    opacity: 1;
    pointer-events: auto;
    top: -15px;
    background: var(--red);
}

.dz-error-mark {
    background: var(--red);
    border-radius: 50%;
}

.dropzone .dz-preview .dz-error-message::after {
    border-top: 6px solid var(--red);
    border-bottom: 0 solid #be2626 !important;
    bottom: -5px !important;
    top: auto !important;
}

/* To be integrated to the global theme.
--------------------------------------------------------------------------- */

.list-group-item {
    background-color: transparent;
}

.font-size-hat {
    font-size: 1.25rem;
}

.title-with-badge .badge {
    font-size: 1rem;
}

/* To be discussed.
--------------------------------------------------------------------------- */

.collapse-caret,
.collapse-caret:hover {
    position: relative;
    text-decoration: none !important;
}

.collapse-caret>*::after {
    content: "\ea4e";
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    vertical-align: text-bottom;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.collapse-caret[aria-expanded="true"]>*::after {
    content: "\ea78";
}

.employee-records-list .badge {
    white-space: normal;
    margin: 0;
}

.text-with-btn span {
    line-height: 2.2;
}

.itou-france-connect {
    display: inline-block;
    height: 60px !important;
    width: 230px;
    margin: auto;
    /*margin-bottom: 8px;*/
    background-image: url(../img/franceconnect-bouton.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.itou-france-connect:hover {
    background-image: url(../img/franceconnect-bouton-hover.svg);
}

.job-appellation-nb_open_positions {
    width: 80px;
    margin: 0 auto;
}

.s-section-twocolumns {
    height: 100%;
}

@media (min-width: 992px) {
    .s-section-lg-with-background {
        background-color: #fff;
        background: linear-gradient(to left, #fbfbfb 50%, #f2f8fd 50%);
    }

    .s-section-twocolumns .w-md-auto {
        width: auto !important;
    }
}

.scrolldown-anchor {
    /* navigation : class to force the scroll down and avoid the banner to hide the map */
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

.approval-left-border {
    border-left-width: 3px !important;
}

.test-accounts-banner-overlay {
    z-index: 2;
}

.test-accounts-image-menu {
    min-height: 11rem;
}

.give-my-advice {
    width: 150px;
}

/* step 1/5 */
.progress-bar-20 {
    width: 20%;
}

/* step 1/4 */
.progress-bar-25 {
    width: 25%;
}

/* step 1/3 */
.progress-bar-33 {
    width: 33%;
}

/* step 2/5 */
.progress-bar-40 {
    width: 40%;
}

/* step 2/4 */
.progress-bar-50 {
    width: 50%;
}

/* step 3/5 */
.progress-bar-60 {
    width: 60%;
}

/* step 2/3 */
.progress-bar-66 {
    width: 66%;
}

/* step 3/4 */
.progress-bar-75 {
    width: 75%;
}

/* step 4/5 */
.progress-bar-80 {
    width: 80%;
}

/* final step */
.progress-bar-100 {
    width: 100%;
}

.edit-siae-header-image {
    width: 100px;
}

/* Welcoming tour.
--------------------------------------------------------------------------- */
#welcoming_tour {
    margin-bottom: 16px;
}

#welcoming_tour .carousel-indicators {
    margin-bottom: 0;
    bottom: -16px;
}

#welcoming_tour .carousel-indicators li {
    background-color: #3f3e62;
}

#welcoming_tour .carousel-indicators li.active {
    background-color: #000638;
}

/* HTMX
--------------------------------------------------------------------------- */
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline-block;
}

/* Inclusion connect
--------------------------------------------------------------------------- */
.p-inclusion-connect .s-main {
    background-color: #fff !important;
    background-image: url('../img/illustration-bg-ic.svg');
    background-repeat: no-repeat;
    background-position: top -120px left;
}
.s-banner-01.s-banner-01--ic .s-banner-01__col > div::before {
    display: none;
}

/* Dashboard
--------------------------------------------------------------------------- */
.c-box__header--dora {
    background-image: url('../img/dashboard/card-header-bg-dora.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%  auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.c-box__header--pilotage {
    background-image: url('../img/dashboard/card-header-bg-pilotage.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%  auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
