/* Custom Django admin parts
---------------------------------------------------------------------------*/

.submit-row input.danger {
    background: #ba2121;
}

form .aligned ul.inline,
form .form-row ul.inline {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

form .aligned ul.inline li,
form .form-row ul.inline li {
    list-style-type: none;
}
