.container-search {
    background-position: top left, top right;
    background-repeat: no-repeat;
    min-height: 17rem;
    background-image: url(../img/search-bg-left.svg), url(../img/search-bg-right.svg);
}

@media only screen and (max-width: 992px) {
    .container-search {
        background-image: none;
    }
}

.container-messages div.alert {
    margin-top: 1rem;
}


/* Spacing.
--------------------------------------------------------------------------- */

.s-main > section {
    padding: 5rem 0;
}

.h1,
h1 {
    margin-bottom: 3rem;
    /* font-size will be removed, need to be defined on the main theme */
    font-size: 2.5rem;
}


/* Cards.
--------------------------------------------------------------------------- */

.card-deck-itou {
    text-align: center;
    justify-content: space-between;
}

.card-deck-itou > .card {
    flex: 0 0 26%;
    padding: 1.5rem;
}

.card-deck-itou > .card > .card-body {
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-deck-itou > .card > .card-footer {
    background: transparent;
}


/* BETA banner.
--------------------------------------------------------------------------- */

body:after {
    content: 'BETA';
    color: #fff;
    background: #d63626;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 1.9rem;
    position: fixed;
    z-index: 2;
    top: 0.3rem;
    left: -1.8rem;
    transform: rotate(-45deg);
}


/* Forms.
--------------------------------------------------------------------------- */

.form-group-required > label:first-of-type:after {
    content: ' *';
    color: #d63626;
}

.select2-container {
    display: block !important;
}


/*
Force the display of `.invalid-feedback` for Duet Date Picker with Bootstrap 4.
See also `duet_date_picker.html`.
https://getbootstrap.com/docs/4.6/components/forms/#server-side
*/

duet-date-picker.is-invalid~.invalid-feedback {
    display: block;
}


/* Missing Boostrap utilities
--------------------------------------------------------------------------- */

@media (min-width: 768px) {
    .fixed-sm-bottom {
        position: fixed !important;
        right: 0;
        bottom: 0;
        z-index: 1030;
    }
    /* Set width depending on a breaking point. */
    .w-sm-25 {
        width: 25% !important;
    }
    .w-sm-33 {
        width: 33% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    /* Reset width */
    /* To be used with, for example, w-100 to have a with: 100%; only on mobile. */
    .w-sm-auto {
        width: auto !important;
    }
}

.border-dashed {
    border-style: dashed !important;
}


/* Overrides opacity for disabled button (search cities) */

.js-search-button {
    opacity: 100% !important;
}


/* Browser-specific issues
--------------------------------------------------------------------------- */


/* Firefox applies `:-moz-ui-invalid` as soon as it considers
an input field being invalid, generating an uncontrolled red box-shadow. */

.home-search :not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
}

.home-search :not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
}


/* Old browsers.
--------------------------------------------------------------------------- */

.alert-old-browser {
    display: none;
}


/* Target only IE 11. */


/* https://stackoverflow.com/a/27315792 */

_:-ms-fullscreen,
:root .alert-old-browser {
    display: block;
}


/* JavaScript disabled
---------------------------------------------------------------------------- */


/* Element is shown with JavaScript. See static > js > utils.js */

.js-display-if-javascript-enabled {
    display: none;
}


/* Responsive Multi-Step Progress Bar.
https://codepen.io/athimannil/pen/wWPYkQ

Usage:
    <ul class="list-unstyled multi-steps">
        <li>Type de prescripteur</li>
        <li class="is-active">SIRET</li>
        <li>Vos informations</li>
    </ul>
--------------------------------------------------------------------------- */

.multi-steps > li.is-active:before,
.multi-steps > li.is-active~li:before {
    content: counter(stepNum);
}

.multi-steps > li.is-active:after,
.multi-steps > li.is-active~li:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #28a745;
    z-index: 1;
}

.multi-steps > li:before {
    content: '\2713';
    /* Check mark symbol. */
    display: block;
    margin: 0 auto 4px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #28a745;
    border-radius: 50%;
}

.multi-steps > li:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #28a745;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}

.multi-steps > li:last-child:after {
    display: none;
}

.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #28a745;
}

.multi-steps > li.is-active~li {
    color: #808080;
}

.multi-steps > li.is-active~li:before {
    background-color: #ededed;
    border-color: #ededed;
}


/* Dropzone component used to upload files to an S3 bucket
--------------------------------------------------------------------------- */


/* By default, an error message is displayed only on hover */

.dropzone .dz-preview.dz-error .dz-error-message {
    opacity: 1;
    pointer-events: auto;
    top: -15px;
    background: var(--red);
}

.dz-error-mark {
    background: var(--red);
    border-radius: 50%;
}

.dropzone .dz-preview .dz-error-message::after {
    border-top: 6px solid var(--red);
    border-bottom: 0 solid #be2626 !important;
    bottom: -5px !important;
    top: auto !important;
}

/* To be integrated to the global theme
--------------------------------------------------------------------------- */

.list-group-item {
    background-color: transparent;
}

.s-postheader__col .nav-link.active {
    /* .font-weight-bold */
    font-weight: 700;
}

.font-size-hat {
    font-size: 1.25rem;
}

.title-with-badge .badge{
    font-size: 1rem;
}
/* To be discussed
--------------------------------------------------------------------------- */
.collapse-caret, .collapse-caret:hover{
    text-decoration: unset;
}
.collapse-caret>h6::after {
    /* when not collapsed */
    display: inline-block;
    content: " ";
    /* icon arrow-down-s-fill from remix icon */
    background-image: url("../vendor/theme-inclusion/images/ico-arrow-down-s-fill.svg");
    /* h6 font size = 1rem */
    background-size: 16px 16px;
    height: 16px;
    width: 24px;
    background-position-y: bottom;
    margin-left: 8px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse-caret.collapsed>h6::after {
    background-position-y: center;
    height: 12px;
    transform: rotate(0deg);
}

.employee-records-list .badge {
    white-space: normal;
    margin: 0;
}

.text-with-btn span{
    line-height: 2.2;
}

.itou-france-connect {
  display: inline-block;
  height: 60px !important;
  width: 230px;
  margin: auto;
  /*margin-bottom: 8px;*/
  background-image: url(../img/franceconnect-bouton.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.itou-france-connect:hover {
  background-image: url(../img/franceconnect-bouton-hover.svg);
}
