/* Colors
--------------------------------------------------------------------------- */

/* Add some Bootstrap colors available in SCSS as custom values. */
/* Usage: var(--my-custom-value); */
/* See https://developer.mozilla.org/en-US/docs/Web/CSS/--* */
:root {
    --gray-700: #495057;
    --gray-900: #212529;
}


/* Layout.
--------------------------------------------------------------------------- */

body {
    overflow-y: scroll;
}

html {
    background: #26353f;
}

.layout {
    /*
    First and last columns are gutters, with a minimum size but the ability
    to stretch to fill one unit of available space.
    Between them is the main content column with the ability to stretch.
    https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
    https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/
    */
    display: grid;
    grid-template-columns:
      [full-start] minmax(1em, 1fr)
      [main-start] minmax(0, 1280px)
      [main-end] minmax(1em, 1fr)
      [full-end];
}

.layout > * {
    grid-column: main;
}

.layout-section {
    grid-column: full;
    display: inherit;
    grid-template-columns: inherit;
}

.layout-section > * {
    grid-column: main;
}

.layout-column-full {
    grid-column: full !important;
}

.layout-column-main {
    grid-column: main !important;
}

.layout-section-white {
    background: #fff;
    color: #1c1c1c;
}

.layout-section-dark {
    background: #26353f;
    color: #fff;
}

/* Header.
--------------------------------------------------------------------------- */

header.layout-section {
    border-bottom: 1px solid #dee2e6;
}

.layout-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.layout-header-logo {
    margin-right: 10px;
}

.layout-header-logo:focus,
.layout-header-logo:active,
.layout-header-logo:hover {
    background: #e5e5e5;
}

.layout-header-content {
    /* Align last flex item to right. */
    margin-left: auto;
}

@media (max-width: 700px) {  /* For any browser < max-width. */

    .layout-header {
        display: block;
    }

    .layout-header-content {
        margin-top: 10px;
    }

}

/* Main.
--------------------------------------------------------------------------- */

main.layout-section {
    padding: 2em 0;
}

@media (max-width: 700px) {  /* For any browser < max-width. */

    main.layout-section {
        padding: 0.5em 0;
    }

}

/* Spacing.
--------------------------------------------------------------------------- */

.layout-content {
    padding: 1rem 1rem 2rem 1rem;
}

.layout-content > .content-small {
    margin: 0 auto;
    max-width: 600px;
}

.layout-footer {
    padding: 1.4rem 1rem;
}

/* Messages. */

.layout-messages .alert {
    margin: 1.4rem 0;
}

.layout-messages .alert:last-child {
    margin-bottom: 0;
}

/* Icons */

a.with-icon span {
    padding-left: 0.2rem;
    vertical-align: sub;
}

/* BETA banner.
--------------------------------------------------------------------------- */

body:after {
    content: "BETA";
    color: #fff;
    background: #d63626;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 1.9rem;
    position: fixed;
    top: 0.3rem;
    left: -1.8rem;
    transform: rotate(-45deg);
}

/* Forms.
--------------------------------------------------------------------------- */

.form-group-required > label:first-of-type:after {
    content: " *";
    color: #d63626;
}

/* Home.
--------------------------------------------------------------------------- */

section.home-search {
    background: rgb(205,237,251);
    background: linear-gradient(
        180deg,
        rgba(0,49,137,1) 0%,
        rgba(49,151,223,1) 32%,
        rgba(205,237,251,1) 70%,
        rgba(173,240,188,1) 83%,
        rgba(206, 212, 218,1) 90%,
        rgba(248, 249, 250,1) 100%
    );
}

section.home-search .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 17rem;
}

@media (max-width: 700px) {

    section.home-search .bg-image {
        height: 8rem;
    }

    section.home-search form {
        width: 90% !important;
    }

}


/* Missing Boostrap utilities
--------------------------------------------------------------------------- */

@media (min-width: 700px) {
    /* Set width depending on a breaking point. */
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }
}

.bg-gray-700 {
    background-color: #495057; /* max-compatibility */
    background-color: var(--gray-700);
}

.bg-gray-900 {
    background-color: #212529; /* max-compatibility */
    background-color: var(--gray-900);
}