/* Colors
--------------------------------------------------------------------------- */
/* Default Boostrap colors: */
/* https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css#L7 */

/* Layout.
--------------------------------------------------------------------------- */

body {
    overflow-y: scroll;
}

html {
    background: #f2f2f2;
}

/*
  Bootstrap overrides navigators default stylesheet in _reboot.scss.
  But there is one problem with the b tag. It has the `font-weight: bolder;`
  property which, oddly, does not work as expected on Linux computers.
*/
b {
    font-weight: 700!important;
}

.layout {
    /*
    First and last columns are gutters, with a minimum size but the ability
    to stretch to fill one unit of available space.
    Between them is the main content column with the ability to stretch.
    https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
    https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/
    */
    display: grid;
    grid-template-columns:
      [full-start] minmax(1em, 1fr)
      [main-start] minmax(0, 1280px)
      [main-end] minmax(1em, 1fr)
      [full-end];
}

.layout > * {
    grid-column: main;
}

.layout-section {
    grid-column: full;
    display: inherit;
    grid-template-columns: inherit;
}

.layout-section > * {
    grid-column: main;
}

.layout-column-full {
    grid-column: full !important;
}

.layout-column-main {
    grid-column: main !important;
}

.layout-section-white {
    background: #fff;
    color: #1c1c1c;
}

.layout-section-dark {
    background: #26353f;
    color: #fff;
}

/* Banners.
--------------------------------------------------------------------------- */

.layout-banner-container {
    background: rgb(205,237,251);
    background: linear-gradient(
        180deg,
        rgba(0,49,137,1) 0%,
        rgba(49,151,223,1) 32%,
        rgba(205,237,251,1) 70%,
        rgba(173,240,188,1) 100%
    );
    /* Relative positioning is used to put a shadow at the bottom. */
    position: relative;
    z-index: 0;
}

.layout-banner-container > .layout-content {
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
}

/* Add shadow at the bottom of the banner.
Don't use :after pseudo-selector as it introduced a bug in IE and Edge. */
.banner-bottom-shadow {
    box-shadow: 0 18px 20px -20px grey;
}

.layout-banner {
    grid-column: full;
    min-height: 17rem;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
}

@media (max-width: 1000px) {  /* For any browser < max-width. */
    .layout-banner {
        min-height: 8rem;
    }
}

.layout-banner-work-office {
    background-image: url(../img/banner_work_office.svg);
}

.layout-banner-work-labour {
    background-image: url(../img/banner_work_labour.svg);
}

/* Header.
--------------------------------------------------------------------------- */

header.layout-section {
    border-bottom: 1px solid #dee2e6;
}

.layout-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.layout-header-logo {
    margin-right: 10px;
    width: 280px;
}

.layout-header-logo:focus,
.layout-header-logo:active,
.layout-header-logo:hover {
    background: #e5e5e5;
}

.layout-header-content {
    /* Align last flex item to right. */
    margin-left: auto;
}

@media (max-width: 700px) {  /* For any browser < max-width. */

    .layout-header {
        display: block;
    }

    .layout-header-content {
        margin-top: 10px;
    }

}

/* Main.
--------------------------------------------------------------------------- */

main.layout-section {
    padding: 2em 0;
}

@media (max-width: 700px) {  /* For any browser < max-width. */

    main.layout-section {
        padding: 0.5em 0;
    }

}

/* Footer.
--------------------------------------------------------------------------- */

footer {
    background: #f2f2f2;
}

footer a {
    text-decoration: underline;
}

footer a:focus,
footer a:active,
footer a:hover {
    text-decoration: none;
}

footer img.footer-logo {
    max-width: 170px;
    max-height: 160px;
    background: #fff;
    margin: 0 0 20px 0;
    padding: 20px;
}

/* Spacing.
--------------------------------------------------------------------------- */

.layout-content {
    padding: 1rem 1rem 2rem 1rem;
}

.layout-content > .content-small {
    margin: 0 auto;
    max-width: 600px;
}

/* Messages. */

.layout-messages .alert {
    margin: 1.4rem 0;
}

/* Icons */

a.with-icon span {
    padding-left: 0.2rem;
    vertical-align: sub;
}

/* BETA banner.
--------------------------------------------------------------------------- */

body:after {
    content: "BETA";
    color: #fff;
    background: #d63626;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 1.9rem;
    position: fixed;
    z-index: 2;
    top: 0.3rem;
    left: -1.8rem;
    transform: rotate(-45deg);
}

/* Forms.
--------------------------------------------------------------------------- */

.form-group-required > label:first-of-type:after {
    content: " *";
    color: #d63626;
}

.select2-container {
    display: block !important;
}

/* Welcoming tour */

#welcoming_tour .carousel-indicators {
    bottom: 3rem;
}

#welcoming_tour .carousel-indicators li {
    background-color: #007bff;
    background-color: var(--primary);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/* Missing Boostrap utilities
--------------------------------------------------------------------------- */

@media (min-width: 768px) {
    .fixed-sm-bottom {
        position: fixed !important;
        right: 0;
        bottom: 0;
        z-index: 1030;
    }

    /* Set width depending on a breaking point. */
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-33 {
        width: 33% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    /* Reset width */
    /* To be used with, for example, w-100 to have a with: 100%; only on mobile. */
    .w-sm-auto {
        width: auto !important;
    }
}

a.disabled {
    cursor: not-allowed !important;
    color: #495057;
}

a.disabled button, button.disabled {
    cursor: not-allowed !important;
    color: var(--grey);
    border-color: var(--grey);
}

a.disabled button:hover, button.disabled:hover {
    background-color: transparent;
    color: inherit;
    border-color: inherit;
}

.border-dashed {
    border-style: dashed !important;
}

/* Overrides opacity for disabled button (search cities) */
.js-search-button {
    opacity: 100% !important;
}

/* Browser-specific issues
--------------------------------------------------------------------------- */
/* Firefox applies `:-moz-ui-invalid` as soon as it considers
an input field being invalid, generating an uncontrolled red box-shadow. */

.home-search :not(output):-moz-ui-invalid:not(:focus) {
  box-shadow: none;
}

.home-search :not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
  box-shadow: none;
}

/* Old browsers.
--------------------------------------------------------------------------- */

.alert-old-browser {
    display: none;
}

/* Target only IE 11. */
/* https://stackoverflow.com/a/27315792 */
_:-ms-fullscreen, :root .alert-old-browser {
    display: block;
}

/* Horizontal line with words in the middle.
https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle/44647131#44647131
--------------------------------------------------------------------------- */

.lines-on-sides {
    display: flex;
    flex-direction: row;
}
.lines-on-sides:before, .lines-on-sides:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid inherit;
    margin: auto;
}
.lines-on-sides:before {
    margin-right: 10px
}
.lines-on-sides:after {
    margin-left: 10px
}

/* Main nav (Boostrap override).
--------------------------------------------------------------------------- */

.itou-main-nav a:hover {
    text-decoration: underline;
}

.itou-main-nav a.active {
    background: #e2f2ff;
}

/* Responsive Multi-Step Progress Bar.
https://codepen.io/athimannil/pen/wWPYkQ

Usage:
    <ul class="list-unstyled multi-steps">
        <li>Type de prescripteur</li>
        <li class="is-active">SIRET</li>
        <li>Vos informations</li>
    </ul>
--------------------------------------------------------------------------- */

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
    content: counter(stepNum);
}

.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #28a745;
    z-index: 1;
}

.multi-steps > li:before {
    content: '\2713'; /* Check mark symbol. */
    display: block;
    margin: 0 auto 4px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #28a745;
    border-radius: 50%;
}

.multi-steps > li:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #28a745;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}

.multi-steps > li:last-child:after {
    display: none;
}

.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #28a745;
}

.multi-steps > li.is-active ~ li {
    color: #808080;
}

.multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #ededed;
}
