/* Layout.
--------------------------------------------------------------------------- */

body {
    background: #1c1c1c;
}

.layout {
    /*
    First and last columns are gutters, with a minimum size but the ability
    to stretch to fill one unit of available space.
    Between them is the main content column with the ability to stretch.
    https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
    https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/
    */
    display: grid;
    grid-template-columns:
      [full-start] minmax(1em, 1fr)
      [main-start] minmax(0, 1280px) [main-end]
      minmax(1em, 1fr) [full-end];
}

.layout > * {
    grid-column: main;
}

.layout-section {
    grid-column: full;
    display: inherit;
    grid-template-columns: inherit;
}

.layout-section > * {
    grid-column: main;
}

.layout-section-white {
    background: #fff;
    color: #1c1c1c;
}

.layout-section-dark {
    background: #1c1c1c;
    color: #fff;
}

/* Header.
--------------------------------------------------------------------------- */

.header-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-main-logo {
    margin-right: 10px;
}

.header-main-logo:focus,
.header-main-logo:active,
.header-main-logo:hover {
    background: #e5e5e5;
}

.header-main-nav {
    /* Align last flex item to right. */
    margin-left: auto;
}

.header-main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-main-nav ul li:not(:first-child) {
    margin-left: 20px;
}

@media (max-width: 700px) {/* For any browser < max-width. */

    .header-main {
        display: block;
    }

    .header-main-nav {
        margin-left: 0;
    }

    .header-main-nav ul {
        margin-top: 20px;
    }

}

/* Footer.
--------------------------------------------------------------------------- */

.footer-main a,
.footer-main a:link,
.footer-main a:visited {
    color: #fff;
    text-decoration: underline;
}

.footer-main a:focus,
.footer-main a:hover,
.footer-main a:active {
    text-decoration: none;
}

/* Spacing.
--------------------------------------------------------------------------- */

.header-main {
    padding: 2rem 1rem;
}

.content-main {
    padding: 1rem 1rem 2rem 1rem;
}

.content-small {
    margin: 0 auto;
    max-width: 600px;
}

.footer-main {
    padding: 2rem 1rem;
}

.alert:last-child {
    margin-bottom: 0;
}
