/* Forms.
--------------------------------------------------------------------------- */

.field-errors input,
.field-errors textarea {
    border-color: #c00;
    color: #c00;
}

.errorlist {
    color: #c00;
}
