{% load django_bootstrap5 %}
{% load buttons_form %}
<div class="c-box">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type="all" %}
        <h5 class="form-label">{{ form.allowance_request_reason.label }} *</h5>
        <div class="d-flex flex-column gap-2 mb-3">
            {% for choice in form.allowance_request_reason %}
                <div class="border rounded p-3">
                    <div class="form-check mb-1">
                        <input id="{{ choice.id_for_label }}"
                               class="form-check-input"
                               type="radio"
                               name="{{ choice.data.name }}"
                               value="{{ choice.data.value }}"
                               required
                               aria-required="true"
                               {% if choice.data.selected %}checked{% endif %}>
                        <label class="form-check-label fw-bold" for="{{ choice.id_for_label }}">{{ choice.data.label }}</label>
                    </div>
                    <p class="mb-0 ps-4">{{ choice.description }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">{% bootstrap_field form.allowance_request_details %}</div>
        {% itou_buttons_form primary_label="Enregistrer" reset_url=None %}
    </form>
</div>
