{% if not assessment.submitted_at %}
    <div id="assessment-status-box" class="c-box mb-3 mb-md-4 bg-warning-lightest border-warning">
        <h4>Bilan d’exécution à valider</h4>
        <p class="mb-0">
            Le GEIQ a jusqu’au {{ assessment.campaign.submission_deadline|date:"d/m/Y" }} pour importer son rapport d’activité et valider le bilan.
        </p>
    </div>
{% else %}
    <div id="assessment-status-box" {% if request.htmx %}hx-swap-oob="true"{% endif %} class="c-box mb-3 mb-md-4 bg-info-lightest border-info">
        <h4>Votre dossier a été transmis le {{ assessment.submitted_at|date:"d/m/Y" }}</h4>
        <p>
            Il n’est plus possible de le modifier, en cas de besoin vous pouvez contacter la TODO:XXXX.
            <br>
            Vous serez notifié par mail de la décision suite à l’exam de votre bilan.
        </p>
    </div>
{% endif %}
