{% load components %}
{% load format_filters %}

<div id="contracts-list-stats"  class="c-box c-box--summary mb-3 mb-md-4"{% if hx_swap_oob %} hx-swap-oob="true"{% endif %}>
    <div class="c-box--summary__body">
        <div class="c-box--summary__list-data">
            <ul class="list-unstyled">
                <li class="d-flex gap-2">
                    <span class="flex-grow-1">
                        {% if request.from_employer %}
                            Contrats présentés
                        {% elif request.from_institution %}
                            Contrats acceptés
                        {% endif %}
                    </span>
                    <strong>{{ stats.contracts_selected_nb }} / {{ stats.contracts_nb }}</strong>
                </li>
                <li class="d-flex gap-2">
                    <span class="flex-grow-1">Aide à 814 €</span>
                    <strong>
                        {{ stats.allowance_of_814_selected_nb }}
                        {% if request.from_institution %}/ {{ stats.allowance_of_814_nb }}{% endif %}
                    </strong>
                </li>
                <li class="d-flex gap-2">
                    <span class="flex-grow-1">Aide à 1 400 €</span>
                    <strong>
                        {{ stats.allowance_of_1400_selected_nb }}
                        {% if request.from_institution %}/ {{ stats.allowance_of_1400_nb }}{% endif %}
                    </strong>
                </li>
                <li class="d-flex gap-2">
                    <span class="flex-grow-1">Aide à 0 €</span>
                    <strong>
                        {{ stats.allowance_of_0_selected_nb }}
                        {% if request.from_institution %}/ {{ stats.allowance_of_0_nb }}{% endif %}
                    </strong>
                </li>
                <li class="d-flex gap-2">
                    <span class="flex-grow-1">Montant total potentiel</span>
                    <strong>{{ stats.potential_allowance_amount|format_int_euros }}</strong>
                </li>
            </ul>
        </div>
        {% component_info borderless=True c_info__summary=c_info__summary extra_classes="mt-3" %}
            {% fragment as c_info__summary %}
                Sous réserve de la contractualisation initialement prévue et de l’enveloppe disponible
            {% endfragment %}
        {% endcomponent_info %}
    </div>
</div>
