{% load enums %}
{% enums "geiq_assessments" "AssessmentContractDetailsTab" as AssessmentContractDetailsTab %}

{% if value %}
    {% url "geiq_assessments_views:assessment_contracts_exclude" contract_pk=contract.pk as post_url %}
{% else %}
    {% url "geiq_assessments_views:assessment_contracts_include" contract_pk=contract.pk as post_url %}
{% endif %}

<div class="d-flex align-items-start" id="toggle_allowance_for_contract_{{ contract.pk }}">
    <form hx-post="{{ post_url }}{% if from_list %}?from_list=1{% endif %}"
          hx-trigger="change"
          hx-target="#toggle_allowance_for_contract_{{ contract.pk }}"
          hx-swap="outerHTML"
          class="js-prevent-multiple-submit">
        {% csrf_token %}
        <div class="form-check form-switch mb-0{% if not from_list %} form-switch-lg{% endif %}">
            <input type="checkbox" class="form-check-input" name="allowance" id="allowance_for_contract_{{ contract.pk }}" {% if value %}checked{% endif %} {% if not editable %}disabled{% endif %} />
            <label class="form-check-label" for="allowance_for_contract_{{ contract.pk }}">
                <span {% if from_list %}class="visually-hidden"{% endif %}>
                    {% if request.from_employer %}
                        Obtenir l’aide
                    {% elif request.from_institution %}
                        Accorder l’aide
                    {% endif %}
                </span>
            </label>
        </div>
    </form>

    {% if request.from_employer and contract.requires_justification %}
        {% if contract.allowance_request_justification_reason %}
            <a href="{% url 'geiq_assessments_views:assessment_contracts_details_request_justification' contract_pk=contract.pk %}"
               class="text-success text-decoration-none lh-1"
               data-bs-toggle="tooltip"
               data-bs-title="Vous avez motivé la demande d’aide de ce contrat">
                <i class="ri-check-line" aria-label="Vous avez motivé la demande d’aide de ce contrat" role="button" tabindex="0"></i>
            </a>
        {% else %}
            <a href="{% url 'geiq_assessments_views:assessment_contracts_details_request_justification' contract_pk=contract.pk %}"
               class="text-warning text-decoration-none lh-1"
               data-bs-toggle="tooltip"
               data-bs-title="Vous devez encore motiver la demande d’aide de ce contrat">
                <i class="ri-error-warning-line" aria-label="Vous devez encore motiver la demande d’aide de ce contrat" role="button" tabindex="0"></i>
            </a>
        {% endif %}
    {% elif request.from_institution and not contract.allowance_granted %}
        {% if contract.allowance_refusal_reason %}
            <a href="{% url 'geiq_assessments_views:assessment_contracts_details_refusal_justification' contract_pk=contract.pk %}"
               class="text-success text-decoration-none lh-1"
               data-bs-toggle="tooltip"
               data-bs-title="Voir le motif de refus pour contrat.">
                <i class="ri-check-line ri-xl" aria-label="Se rendre au formulaire de justification de refus" role="button" tabindex="0"></i>
            </a>
        {% else %}
            <a href="{% url 'geiq_assessments_views:assessment_contracts_details_refusal_justification' contract_pk=contract.pk %}"
               class="text-warning text-decoration-none lh-1"
               data-bs-toggle="tooltip"
               data-bs-title="Vous devez encore motiver le refus pour ce contrat.">
                <i class="ri-error-warning-line ri-xl" aria-label="Se rendre au formulaire de justification de refus" role="button" tabindex="0"></i>
            </a>
        {% endif %}
    {% endif %}
</div>
{% with disable_oob=disable_stats_oob|default:False %}
    {% if from_list and request.htmx and not disable_oob %}
        {% include "geiq_assessments_views/includes/contracts_list_stats.html" with stats=stats hx_swap_oob=True request=request only %}
        {% include "geiq_assessments_views/includes/contracts_list_validate_button_form.html" with ContractsAction=ContractsAction back_url=back_url contracts_awaiting_justification_nb=stats.contracts_awaiting_justification_nb csrf_token=csrf_token request=request hx_swap_oob=True only %}
        {% include "geiq_assessments_views/includes/contracts_list_justification_alert.html" with contracts_awaiting_justification_nb=stats.contracts_awaiting_justification_nb assessment=assessment request=request hx_swap_oob=True only %}
    {% endif %}
{% endwith %}
