<div id="summary-document-section" class="d-flex flex-column justify-content-between mb-3">
    <div class="d-flex justify-content-between flex-row mb-3">
        <h3 class="mb-0">Document de synthèse généré par Label</h3>
        {% if assessment.summary_document_file %}
            {% include "geiq_assessments_views/includes/badge_completed.html" only %}
        {% else %}
            {% include "geiq_assessments_views/includes/badge_to_complete.html" only %}
        {% endif %}
    </div>
    <div>
        {% if assessment.summary_document_file %}
            <p>Ce document a été transmis automatiquement par label.</p>
            <a href="{% url "geiq_assessments_views:summary_document" pk=assessment.pk %}" class="btn btn-ico btn-outline-primary" rel="noopener" target="_blank">
                <span>Synthèse {{ assessment.campaign.year }}.pdf</span>
                <i class="ri-download-line fw-medium" aria-hidden="true"></i>
            </a>
        {% else %}
            {% if error|default:False %}
                <p>
                    <i class="ri-xl ri-alert-line text-danger" aria-hidden="true"></i>Le document n’a pas été importé, merci de réessayer
                </p>
            {% endif %}
            <button type="button"
                    class="btn btn-ico btn-primary"
                    hx-post="{% url "geiq_assessments_views:sync_summary_document" pk=assessment.pk %}"
                    hx-swap="outerHTML"
                    hx-trigger="{{ error|yesno:"click,load" }}"
                    hx-include="#file-sync-form"
                    hx-target="#summary-document-section">
                <i class="ri-refresh-line" aria-hidden="true"></i>
                <span class="stable-text">{{ error|yesno:"Réessayer,Récupérer de Label" }}</span>
                <span class="loading-text">Récupération en cours</span>
            </button>
        {% endif %}
    </div>
</div>
{% if request.htmx %}
    {% include "geiq_assessments_views/includes/assessment_status_box.html" with assessment=assessment request=request only %}
{% endif %}
