{% load components %}
{% load django_bootstrap5 %}

<h2 class="h3">Critères et conditions d'accès</h2>

{% if service.fee %}
    {% component_alert content=fee_alert_content variant="info" extra_classes="mb-3 mb-md-4" %}
        {% fragment as fee_alert_content %}
            <p class="mb-0 h-100 d-flex align-items-center">
                Frais à la charge de l'usager : {{ service.fee.label }}
                {% if service.fee_details %}({{ service.fee_details }}){% endif %}
            </p>
        {% endfragment %}
    {% endcomponent_alert %}
{% endif %}

{% if service.publics.exists %}
    <p class="fw-bold mb-2">Publics concernés par ce service</p>
    <ul class="mb-3 mb-md-4">
        {% for public in service.publics.all %}<li>{{ public.label }}</li>{% endfor %}
    </ul>
{% endif %}

{% include "insertion/includes/orientation_credentials_list.html" with service=service show_section_heading=True show_heading=True show_recovery_note=False only %}

{% bootstrap_field form.confirms_conditions wrapper_class="form-group form-group-required-check" %}
