{% load matomo %}

<div class="row">
    <div class="col-12">
        <hr class="mb-3">
        <small class="d-inline-block mb-3">* champs obligatoires</small>
        <div class="form-row align-items-center justify-content-end gx-3">
            <div class="form-group col-12 col-lg order-3 order-lg-1">
                <a href="{{ reset_url }}" class="btn btn-link btn-ico ps-lg-0 w-100 w-lg-auto" aria-label="Annuler la saisie de ce formulaire">
                    <i class="ri-close-line ri-lg" aria-hidden="true"></i>
                    <span>Annuler</span>
                </a>
            </div>
            <div class="form-group col col-lg-auto order-1 order-lg-2">
                <a href="{{ prev_url }}" class="btn btn-block btn-outline-primary" aria-label="Retourner à l’étape précédente">
                    <span>Retour</span>
                </a>
            </div>
            <div class="form-group col col-lg-auto order-2 order-lg-3">
                <button type="submit" class="btn btn-block btn-primary js-prevent-multiple-submit" aria-label="Passer à l’étape suivante" {% if matomo_name %}{% matomo_event "orientation" "submit" matomo_name %}{% endif %}>
                    <span>{{ primary_label }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
