{% load markdownify %}

{% if service.has_prerequisites %}
    {% if show_section_heading|default:False %}
        {% if show_heading == False %}
            <h3 class="h4">Pré-requis et justificatifs</h3>
        {% else %}
            <p class="fw-bold mb-2">Pré-requis et justificatifs</p>
        {% endif %}
    {% endif %}
    {% if show_recovery_note|default:False %}
        <p>(A récupérer auprès de l'usager)</p>
    {% endif %}
    <ul class="{% if show_section_heading|default:False or show_recovery_note|default:False %}mb-3 mb-md-4{% endif %}">
        {% for prerequisite in service.prerequisites %}<li>{{ prerequisite|markdownify }}</li>{% endfor %}
    </ul>
{% endif %}
