{% load markdownify %}
{% load matomo %}

<h2>Description de la structure</h2>
<div class="row">
    <div class="col-12 col-xxl-8 col-xxxl-9 order-2 order-xxl-1">
        <div class="c-box">
            <article>
                <h3>Présentation de la structure</h3>
                {{ structure.description|markdownify }}
            </article>
        </div>
    </div>
    <div class="col-12 col-xxl-4 col-xxxl-3 order-1 order-xxl-2">
        <div class="c-box mb-3 mb-md-4">
            <h3>Informations pratiques</h3>
            <button class="btn btn-secondary btn-block" type="button" data-bs-toggle="modal" data-bs-target="#structure-contact-modal" {% matomo_event "fiche-structure" "clic" "voir-coordonnees-structure" %}>
                Voir les coordonnées de la structure
            </button>
        </div>
    </div>
</div>
