<div id="structure-tabs">
    <div class="tab-content">
        <div id="structure-description" class="tab-pane active show" aria-labelledby="structure-description-tab" role="tabpanel">
            {% include "insertion/includes/structure_card_tab_description.html" with structure=structure only %}
        </div>
        <div id="structure-services" class="tab-pane" aria-labelledby="structure-services-tab" role="tabpanel">
            {% include "insertion/includes/structure_card_tab_services.html" with services=services request=request only %}
        </div>
    </div>
</div>
