{% load static %}
{% load matomo %}

{% if pro_connect_url %}
    <div class="text-center">
        <a href="{{ pro_connect_url }}" class="proconnect-button" {% matomo_event "connexion "|add:matomo_account_type "clic" "se-connecter-avec-pro-connect" %}>
        </a>
        <br>
        <a href="https://proconnect.gouv.fr/" class="btn btn-link has-external-link" target="_blank">En savoir plus</a>
    </div>
{% elif login|default:False %}
    <div class="alert alert-info" role="status">
        <p class="mb-2">
            <strong>ProConnect est momentanément désactivé.</strong>
        </p>
        <p class="mb-0">
            Afin de demander un PASS IAE en urgence, <a href="https://tally.so/r/nrj0V5" target="_blank" class="has-external-link">remplissez ce formulaire.</a>
        </p>
    </div>
{% else %}
    <p class="fst-italic text-center mt-3">ProConnect est momentanément désactivé.</p>
{% endif %}
