{% load url_add_query %}

<div class="c-box c-box--structure {{ extra_box_class|default:'' }}">
    <div class="c-box--structure__summary"
         role="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseBoxStructure"
         aria-expanded="{{ show|default:False|yesno:'true,false' }}"
         aria-controls="collapseBoxStructure"
         tabindex="0">
        <i class="ri-community-line" aria-hidden="true"></i>
        <div>
            <button type="button" data-bs-toggle="tooltip" data-bs-title="{{ company.get_kind_display }}">
                {{ company.kind }}
            </button>
            <h3>{{ company.display_name }}</h3>
        </div>
    </div>
    <div class="c-box--structure__detail collapse{% if show|default:False %} show{% endif %}" id="collapseBoxStructure">
        <hr class="my-4">
        <ul class="c-box--structure__list-contact">
            <li>
                <i class="ri-map-pin-2-line fw-normal me-2" aria-hidden="true"></i>
                <address class="m-0">{{ company.address_on_one_line }}</address>
                {% include 'includes/copy_to_clipboard.html' with content=company.address_on_one_line css_classes="btn-link fw-medium ms-1" only_icon=True %}
            </li>
            {% if company.email or company.phone or company.website %}
                {% include "includes/structures/_structure_details.html" with company=company only %}
            {% endif %}
        </ul>
        {% if show_cta %}
            {% if job_app_to_transfer|default:False %}
                <a href="{% url 'apply:job_application_external_transfer_step_1_company_card' job_application_id=job_app_to_transfer company_pk=company.pk %}{% if back_url|default:"" %}?back_url={{ back_url|urlencode }}{% endif %}"
                   class="btn btn-secondary btn-block mt-4">Voir la fiche de l'entreprise</a>
            {% else %}
                {% url 'companies_views:card' siae_id=company.pk as company_url %}
                {% if back_url|default:'' and not open_in_tab|default:False %}
                    {% url_add_query company_url job_seeker_public_id=job_seeker.public_id|default:'' back_url=back_url as company_url_params %}
                {% else %}
                    {% url_add_query company_url job_seeker_public_id=job_seeker.public_id|default:'' as company_url_params %}
                {% endif %}
                <a href="{{ company_url_params }}" class="btn btn-secondary btn-block mt-4" {% if open_in_tab|default:False %}target="_blank"{% endif %}>Voir la fiche de l'entreprise</a>
            {% endif %}
        {% endif %}
    </div>
</div>
