{% load bootstrap4 %}
<div class="card mt-4">
    <a id="js-search-filter-button" class="btn btn-primary btn-ico d-block d-md-none" href="#search-filter-form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-filter-form">
        <span>Filtres des résultats</span>
        <i class="ri-filter-line"></i>
    </a>
    <div id="search-filter-form" class="card-body collapse show">
        {% bootstrap_field form.distance form_group_class="form-group" label_class="h4 font-weight-bold text-muted" %}
    </div>
</div>
