{% load bootstrap4 %}
<div class="card my-4">
    <h5 class="font-weight-bold text-muted mt-4 ml-4">Opportunités</h5>
    <div class="ml-4">
        {% bootstrap_field form.has_few_candidates %}
    </div>

    <h5 class="font-weight-bold text-muted mt-4 ml-4">Distance</h5>
    {% for choice in form.distance %}
        <div class="form-check form-check-inline dropdown-item">
            <input
                id="{{ choice.id_for_label }}"
                class="form-check-input"
                name="{{ choice.data.name }}"
                type="checkbox"
                value="{{ choice.data.value }}"
                {% if choice.data.selected %}checked=""{% endif %}>
            <label for="{{ choice.id_for_label }}" class="form-check-label">
                {{ choice.choice_label }}
            </label>
        </div>
    {% endfor %}

    <h5 class="font-weight-bold text-muted mt-4 ml-4">Type de structure</h5>
    {% for choice in form.kind %}
        <div class="form-check form-check-inline dropdown-item">
            <input
                id="{{ choice.id_for_label }}"
                class="form-check-input"
                name="{{ choice.data.name }}"
                type="checkbox"
                value="{{ choice.data.value }}"
                {% if choice.data.selected %}checked=""{% endif %}>
            <label for="{{ choice.id_for_label }}" class="form-check-label">
                {{ choice.choice_label }}
            </label>
        </div>
    {% endfor %}
</div>
