{% load bootstrap4 %}

<aside class="c-aside-filters">
    <a href="" class="c-aside-filters__btn__collapse" data-bs-toggle="collapse" data-bs-target="#asideFiltersCollapse" aria-expanded="true" aria-controls="asideFiltersCollapse">
        <i class="ri-filter-line" aria-hidden="true"></i>
        <span>Filtres des résultats</span>
    </a>
    <div class="c-aside-filters__card collapse show" id="asideFiltersCollapse">
        <div class="c-aside-filters__card__body">
            <fieldset>
                {% bootstrap_field form.distance form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
            </fieldset>

            {% if form.departments %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.departments form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            {# getattr and list still painful in Django template #}
            {% if form.districts_13 %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.districts_13 form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            {% if form.districts_69 %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.districts_69 form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            {% if form.districts_75 %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.districts_75 form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            <hr>
            <fieldset>
                {% bootstrap_field form.kinds form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
            </fieldset>

            {% if form.contract_types %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.contract_types form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            {% if form.domains %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.domains form_group_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}
        </div>
    </div>
</aside>
