{% load django_bootstrap5 %}

<aside class="c-aside-filters">
    <a href="" class="c-aside-filters__btn__collapse" data-bs-toggle="collapse" data-bs-target="#asideFiltersCollapse" aria-expanded="true" aria-controls="asideFiltersCollapse">
        <i class="ri-filter-line" aria-hidden="true"></i>
        <span>Filtres des résultats</span>
    </a>
    <div class="c-aside-filters__card collapse show" id="asideFiltersCollapse">
        <div class="c-aside-filters__card__body">
            <fieldset>
                {% bootstrap_field form.distance wrapper_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
            </fieldset>

            {% include "search/includes/siaes_search_filters_departments.html" %}
            {% include "search/includes/siaes_search_filters_company.html" %}

            <hr>
            <fieldset>
                {% bootstrap_field form.kinds wrapper_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
            </fieldset>

            {% if form.contract_types %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.contract_types wrapper_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}

            {% if form.domains %}
                <hr>
                <fieldset>
                    {% bootstrap_field form.domains wrapper_class="form-group mb-0" label_class="d-block font-weight-bold mb-3" %}
                </fieldset>
            {% endif %}
        </div>
    </div>
</aside>
