{% load django_bootstrap5 %}
{% load str_filters %}

{% bootstrap_form_errors form type="all" %}

<div class="row g-0{% if align == 'center' %} justify-content-sm-center{% endif %}">
    <div class="col-12 col-md mb-2">
        <label for="{{ form.city.id_for_label }}" class="visually-hidden">{{ form.city.label }}</label>
        <div class="input-group">
            <div class="input-group-text bg-white rounded-start">
                <span>
                    <i class="ri-map-pin-line ri-lg text-tertiary" aria-hidden="true"></i>
                </span>
            </div>
            {{ form.city }}
        </div>
    </div>
    <div class="col-12 col-md-3 mb-2 ps-md-3">
        <button class="btn btn-primary btn-block js-search-button" aria-label="Rechercher">Rechercher</button>
    </div>
</div>
