{% extends "layout/content_small.html" %}
{% load i18n %}
{% load format_filters %}

{% block title %}{{ siae.display_name }}{{ block.super }}{% endblock %}

{% block content %}

    <p>
        <b>{% translate "Prescripteur habilité" %}</b>
        -
        <i>{{ prescriber_org.get_kind_display }}</i>
    </p>

    <hr>

    <h1>
        {{ prescriber_org.name }}
    </h1>

    <p class="text-muted">
        {{ prescriber_org.address_line_1 }},
        {% if prescriber_org.address_line_2 %}{{ prescriber_org.address_line_2 }},{% endif %}
        {{ prescriber_org.post_code }} {{ prescriber_org.city }}
    </p>

    {% if prescriber_org.description %}
        <hr>
        <div>{{ prescriber_org.description|linebreaks }}</div>
    {% endif %}

    {% if prescriber_org.email or prescriber_org.phone or prescriber_org.website %}

        <hr>

        {% if prescriber_org.email %}
            <p>
                {% translate "E-mail" as email_label %}
                {% include "includes/icon.html" with icon="mail" title=email_label %}
                <a href="mailto:{{ prescriber_org.email }}">{{ prescriber_org.email }}</a>
            </p>
        {% endif %}

        {% if prescriber_org.phone %}
            <p>
                {% translate "Téléphone" as phone_label %}
                {% include "includes/icon.html" with icon="phone" title=phone_label %}
                <a href="tel:{{ prescriber_org.phone }}">{{ prescriber_org.phone|format_phone }}</a>
            </p>
        {% endif %}

        {% if prescriber_org.website %}
            <p>
                {% translate "Site Internet" as website_label %}
                {% include "includes/icon.html" with icon="external-link" title=website_label %}
                <a href="{{ prescriber_org.website }}" rel="noopener" target="_blank">{{ prescriber_org.website }}</a>
            </p>
        {% endif %}

    {% endif %}

    {% if back_url %}
        <hr>
        <p>
            <a href="{{ back_url }}">{% translate "Retour" %}</a>
        </p>
    {% endif %}

{% endblock %}
