{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Modifier votre organisation {{ block.super }}{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">Modifier votre organisation</h1>

    <h2 class="h1 text-muted">{{ organization.display_name }}</h2>

    <div class="alert alert-info">
        <p class="mb-0">
            {% if organization.kind == PrescriberOrganizationKind.PE %}
                Affichage des informations en lecture seule. Si vous souhaitez modifier ces informations, merci de
                <a href="{{ ITOU_ASSISTANCE_URL }}" target="_blank">contacter notre support technique</a>.
            {% else %}
                Les coordonnées de contact de votre organisation sont visibles par tous les utilisateurs connectés.
            {% endif %}
        </p>
    </div>

    <form method="post" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <a class="btn btn-outline-primary" href="{% url 'dashboard:index' %}">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {% endbuttons %}

    </form>

{% endblock %}
