{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% translate "Collaborateurs" %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% translate "Collaborateurs" %}</h1>

<h2 class="text-muted">
    {{ organization.display_name }}
</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% translate "Nom" %}</th>
                <th scope="col">{% translate "Email" %}</th>
                <th scope="col">{% translate "Date d'inscription" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ member.user.get_full_name }}</td>
                    <td><a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a></td>
                    <td>{{ member.joined_at|date:"d F Y à H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'invitations_views:invite_prescriber_with_org' %}" class="align-self-center">
    <button class="btn btn-primary mb-1 w-100 w-sm-auto mt-2">{% translate "Inviter des collaborateurs" %}</button>
</a>

{% if pending_invitations %}
    {% include "invitations_views/includes/pending_invitations.html" %}
{% endif %}

{% endblock %}
