{% extends "layout/base.html" %}
{% load components %}

{% block title %}Collaborateurs {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Organisation</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="d-flex flex-column flex-lg-row gap-3 align-items-lg-center justify-content-lg-between mb-3">
                        <h2 class="mb-0">Collaborateurs</h2>
                        <div class="d-flex flex-column flex-md-row gap-2 justify-content-md-end" role="group" aria-label="Actions sur les collaborateurs">
                            <a class="btn btn-primary btn-ico" href="{% url 'invitations_views:invite_prescriber_with_org' %}">
                                <i class="ri-user-add-line ri-lg" aria-hidden="true"></i>
                                <span>Ajouter des collaborateurs</span>
                            </a>
                        </div>
                    </div>
                    <p>
                        Vous êtes connecté(e) en tant que <b>{{ user.get_full_name }}</b> ({{ user.email }})
                    </p>

                    {% with active_admin_members=organization.active_admin_members base_url="prescribers_views" %}
                        {% include "includes/members.html" %}
                    {% endwith %}

                    {% if pending_invitations %}
                        {% include "invitations_views/includes/pending_invitations.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
