{% extends "layout/base.html" %}
{% load components %}

{% block title %}Gestion des administrateurs {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            {% if action == "remove" %}
                <h1>Retrait des droits d'administrateur</h1>
            {% else %}
                <h1>Ajout des droits d'administrateur</h1>
            {% endif %}
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    {% with base_url="prescribers_views" %}
                        {% include "includes/update_admin.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
