{% load static %}
{% load theme_inclusion %}

<section class="s-prefooter">
    <div class="s-prefooter__container container">
        <div class="s-prefooter__row row">
            <div class="s-prefooter__col col-12 col-sm-auto d-flex align-items-center">
                <div class="s-prefooter__logo">
                    <img src="{% static_theme_images 'logo-emploi-inclusion.svg' %}" alt="Les emplois de l'inclusion">
                </div>
            </div>
            <div class="s-prefooter__col col-12 col-sm d-flex align-items-center justify-content-start justify-content-sm-end justify-content-lg-start">
                <p class="mb-0">
                    Le service de La plateforme
                    <br class="d-none d-xl-inline">
                    de l'inclusion dédié
                    <br class="d-none d-xl-inline">
                    aux emplois
                </p>
            </div>
            <div class="s-prefooter__col col-12 col-lg-6 d-flex align-items-center">
                <ul class="s-prefooter__gridlist">
                    <li>
                        <a href="{% url 'stats:stats_public' %}">Statistiques, lexiques et indicateurs</a>
                    </li>
                    <li>
                        <a href="{% url 'releases:list' %}">Journal des modifications</a>
                    </li>
                    <li>
                        <a href="{{ ITOU_COMMUNITY_URL }}/doc/emplois/1829-2/" rel="noopener" target="_blank" title="Qui peut bénéficier des contrats d'IAE ? (ouverture dans un nouvel onglet)">
                            Qui peut bénéficier des contrats d'IAE ?
                        </a>
                        <i class="ri-external-link-line ml-1 font-weight-bold"></i>
                    </li>
                    <li>
                        <a href="{{ ITOU_COMMUNITY_URL }}/communautes/difficultes-ou-interrogations/forum/difficultes-ou-interrogations/"
                           rel="noopener"
                           target="_blank"
                           title="Questions à la communauté (ouverture dans un nouvel onglet)">
                            Questions à la communauté
                        </a>
                        <i class="ri-external-link-line ml-1 font-weight-bold"></i>
                    </li>
                    <li>
                        <a href="https://stats.uptimerobot.com/JYJ6XHq6xY" rel="noopener" target="_blank" title="Disponibilité (ouverture dans un nouvel onglet)">
                            Disponibilité
                        </a>
                        <i class="ri-external-link-line ml-1 font-weight-bold"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer class="s-footer" role="contentinfo" id="footer">
    <section class="s-footer-help">
        <div class="s-footer-help__container container">
            <div class="s-footer-help__row row">
                <div class="s-footer-help__col col-12 col-lg">
                    <ul>
                        <li>
                            <a href="{{ ITOU_ASSISTANCE_URL }}" rel="noopener" target="_blank" title="Besoin d'aide ? (ouverture dans un nouvel onglet)">Besoin d'aide ?</a><i class="ri-external-link-line ml-1 font-weight-bold"></i>
                        </li>
                    </ul>
                </div>
                <div class="s-footer-help__col col-12 col-lg-auto">
                    <ul>
                        <li>
                            <span>Nous suivre</span>
                        </li>
                        <li>
                            <a href="https://twitter.com/inclusion_gouv" rel="noopener" target="_blank" title="Rejoignez-nous sur Twitter (ouverture dans un nouvel onglet)">
                                <img src="{% static_theme_images 'picto-twitter.svg' %}" height="25" alt="Rejoignez-nous sur Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/inclusion-gouv/" rel="noopener" target="_blank" title="Rejoignez-nous sur Linkedin (ouverture dans un nouvel onglet)">
                                <img src="{% static_theme_images 'picto-linkedin.svg' %}" height="25" alt="Rejoignez-nous sur Linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/inclusion.gouv/" rel="noopener" target="_blank" title="Rejoignez-nous sur Facebook (ouverture dans un nouvel onglet)">
                                <img src="{% static_theme_images 'picto-facebook.svg' %}" height="25" alt="Rejoignez-nous sur Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/inclusion_gouv/" rel="noopener" target="_blank" title="Rejoignez-nous sur Instagram (ouverture dans un nouvel onglet)">
                                <img src="{% static_theme_images 'picto-instagram.svg' %}" height="25" alt="Rejoignez-nous sur Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" rel="noopener" target="_blank" title="Rejoignez-nous sur Youtube (ouverture dans un nouvel onglet)">
                                <img src="{% static_theme_images 'picto-youtube.svg' %}" height="25" alt="Rejoignez-nous sur Youtube">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="s-footer-nav">
        <div class="s-footer-nav__container container">
            <div class="s-footer-nav__row row">
                <div class="s-footer-nav__col col-5 col-lg-2 d-flex align-items-center">
                    <div class="s-footer-nav__logo">
                        <img src="{% static_theme_images 'logo-republique-francaise.svg' %}" alt="Rébublique Française" class="img-fluid">
                    </div>
                </div>
                <div class="s-footer-nav__col col-7 col-lg-4 d-flex align-items-center justify-content-end justify-content-lg-start">
                    <div class="d-inline-block text-center">
                        <span class="d-block">
                            <a href="https://inclusion.beta.gouv.fr/" rel="noopener" target="_blank" aria-label="Ouverture dans un nouvel onglet">
                                <img src="{% static_theme_images 'logo-plateforme-inclusion.svg' %}" height="60" alt="Plateforme de l'inclusion">
                            </a>
                        </span>
                        <span class="d-block mt-2">
                            <a href="https://beta.gouv.fr/" rel="noopener" target="_blank" aria-label="Ouverture dans un nouvel onglet">
                                <img src="{% static_theme_images 'logo-accelere-betagouv.svg' %}" alt="Accéléré par Beta.gouv.fr">
                            </a>
                        </span>
                    </div>
                </div>
                <div class="s-footer-nav__col col-12 col-lg-6 d-flex align-items-center">
                    <div>
                        <ul>
                            <li>
                                <a href="https://emplois.inclusion.beta.gouv.fr" rel="noopener" target="_blank">Les emplois</a>
                            </li>
                            <li>
                                <a href="https://communaute-experimentation.inclusion.beta.gouv.fr" rel="noopener" target="_blank">La communauté</a>
                            </li>
                            <li>
                                <a href="{{ ITOU_PILOTAGE_URL }}" rel="noopener" target="_blank">Le pilotage</a>
                            </li>
                            <li>
                                <a href="https://lemarche.inclusion.beta.gouv.fr" rel="noopener" target="_blank">Le marché</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-footer-legal">
        <div class="s-footer-legal__container container">
            <div class="s-footer-legal__row row">
                <div class="s-footer-legal__col col-xs-12 col-lg-8">
                    <ul>
                        <li>
                            <a href="{% url 'legal-notice' %}">Mentions légales</a>
                        </li>
                        <li>
                            <a href="{% url 'legal-terms' %}">Conditions générales</a>
                        </li>
                        <li>
                            <a href="{% url 'legal-privacy' %}">Confidentialité</a>
                        </li>
                        <li>
                            <a href="{% url 'accessibility' %}">Accessibilité : partiellement conforme</a>
                        </li>
                    </ul>
                </div>
                <div class="s-footer-legal__col col-xs-12 col-lg-4 text-lg-right">
                    <span>© République Française 2021</span>
                </div>
            </div>
        </div>
    </section>
</footer>
