{% load static %}
{% load theme_inclusion %}

<header role="banner" id="header">
    <section class="s-header">
        <div class="s-header__container container">
            <div class="s-header__row row">
                <div class="s-header__col s-header__col--logo-ministere col col-md-auto d-flex align-items-center pe-0">
                    <a href="{% url 'home:hp' %}" class="s-header__logo-ministere">
                        <img src="{% static_theme_images 'logo-republique-francaise.svg' %}" alt="Rébublique Française">
                    </a>
                </div>
                <div class="s-header__col s-header__col--logo-service col-auto d-flex align-items-center px-0">
                    <a href="{% url 'home:hp' %}">
                        <img src="{% static_theme_images 'logo-emploi-inclusion.svg' %}" height="90" alt="Les emplois de l'inclusion">
                    </a>
                </div>
                <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
                    <nav role="navigation" id="nav-primary" aria-label="Navigation principale">
                        {% include 'layout/_header_nav_primary_items.html' with is_mobile=False %}
                    </nav>
                </div>
                <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none">
                    <button data-bs-toggle="burger" aria-expanded="false" aria-label="Ouverture et fermeture du menu de navigation principale pour mobile">
                        <i class="ri-menu-line" id="open" aria-hidden="true"></i>
                        <i class="ri-close-line" id="close" aria-hidden="true"></i>
                    </button>
                </div>
                <div id="burgerNav">
                    <nav role="navigation" aria-label="Navigation principale pour mobile">
                        {% include 'layout/_header_nav_primary_items.html' with is_mobile=True %}
                        {% include 'layout/_header_nav_secondary_items.html' %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="s-postheader d-none d-xl-block">
        <div class="s-postheader__container container">
            <div class="s-postheader__row row">
                <div class="s-postheader__col col-12 d-flex align-items-center">
                    <nav role="navigation" aria-label="Navigation secondaire">
                        {% include 'layout/_header_nav_secondary_items.html' %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>
