{% load redirection_fields %}

<ul>
    <li class="dropdown">
        <button type="button"
                class="btn btn-link dropdown-toggle {% if is_mobile %}mh-auto p-0{% endif %}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-controls="helpDropdown{% if is_mobile %}Mobile{% endif %}"
                aria-expanded="false">Besoin d'aide ?</button>
        <div class="dropdown-menu" id="helpDropdown{% if is_mobile %}Mobile{% endif %}">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ ITOU_HELP_CENTER_URL }}" class="dropdown-item has-external-link" target="_blank" aria-label="Accéder à l'espace de documentation (nouvel onglet)">Documentation</a>
                </li>
                <li>
                    <a href="{{ ITOU_HELP_CENTER_URL }}/articles/14733403281937--Comprendre-l-IAE"
                       class="dropdown-item has-external-link"
                       target="_blank"
                       aria-label="Qui peut bénéficier des contrats d'IAE ? (ouverture dans un nouvel onglet)">Qui peut bénéficier des contrats d'IAE&nbsp;?</a>
                </li>
            </ul>
        </div>
    </li>
    {% if user.is_authenticated %}
        {% if request.organizations|length > 1 %}
            <li class="dropdown">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-controls="switchUserDropdown{% if is_mobile %}Mobile{% endif %}" aria-expanded="false">
                    ({{ request.current_organization.kind }}) {{ request.current_organization.display_name|truncatechars:40 }}
                </button>
                <div class="dropdown-menu" id="switchUserDropdown{% if is_mobile %}Mobile{% endif %}">
                    <form action="{% url 'dashboard:switch_organization' %}" method="post">
                        {% csrf_token %}
                        <ul class="list-unstyled">
                            {% for org in request.organizations %}
                                {% if org.pk != request.current_organization.pk %}
                                    <li>
                                        <button class="dropdown-item font-weight-bold" name="organization_id" value="{{ org.pk }}">
                                            <span class="badge badge-pill badge-xs badge-primary mr-1">{{ org.kind }}</span>
                                            {{ org.display_name|truncatechars:50 }}
                                        </button>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </li>
        {% endif %}

        <li class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-controls="dashboardUserDropdown{% if is_mobile %}Mobile{% endif %}" aria-expanded="false">
                Mon espace
            </button>
            <div class="dropdown-menu" id="dashboardUserDropdown{% if is_mobile %}Mobile{% endif %}">
                <ul class="list-unstyled">
                    <li>
                        <div class="dropdown-item">
                            <div class="media align-items-center">
                                <span class="mr-2"><i class="ri-user-line ri-2x"></i></span>
                                <div class="media-body">
                                    {% if user.get_full_name %}
                                        <span>{{ user.get_full_name }}</span>
                                        <br>
                                    {% endif %}
                                    <span class="fs-sm lh-sm text-muted">{{ user.email }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'dashboard:index' %}">Tableau de bord</a>
                    </li>
                    {% if user.is_siae_staff %}
                        <li>
                            <a class="dropdown-item" href="{% url 'dashboard:edit_user_notifications' %}">Mes notifications</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'dashboard:edit_user_info' %}">Modifier mon profil</a>
                    </li>
                    {% if not user.has_sso_provider %}
                        <li>
                            <a class="dropdown-item" href="{% url 'account_change_password' %}">Modifier mon mot de passe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dashboard:edit_user_email' %}">Modifier mon adresse e-mail</a>
                        </li>
                    {% endif %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    {% if user.is_siae_staff and request.is_current_organization_admin %}
                        <li>
                            <a class="dropdown-item text-primary" href="{% url 'dashboard:api_token' %}">Accès aux APIs</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                    {% endif %}
                    <li>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item text-danger">Déconnexion</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <li>
            <a type="button" class="btn btn-ico btn-outline-primary" href="{% url "signup:choose_user_kind" %}">
                <i class="ri-user-add-line" aria-hidden="true"></i>
                <span>S'inscrire</span>
            </a>
        </li>
        <li class="dropdown">
            <button class="btn btn-icon btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-controls="loginUserDropdown{% if is_mobile %}Mobile{% endif %}" aria-expanded="false">
                <i class="ri-login-box-line" aria-hidden="true"></i>
                <span>Se connecter</span>
            </button>
            <div class="dropdown-menu" id="loginUserDropdown{% if is_mobile %}Mobile{% endif %}">
                <ul class="list-unstyled">
                    <li>
                        <a class="dropdown-item" href="{% url 'login:job_seeker' %}{% redirection_url value=redirect_field_value %}">
                            Candidat
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'login:prescriber' %}{% redirection_url value=redirect_field_value %}">
                            Prescripteur
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'login:siae_staff' %}{% redirection_url value=redirect_field_value %}">
                            Employeur solidaire
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'login:labor_inspector' %}{% redirection_url value=redirect_field_value %}">
                            Institution partenaire
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    {% endif %}
</ul>
