<ul>
    <li>
        <a href="https://inclusion.beta.gouv.fr" class="is-plateforme" rel="noopener" target="_blank" title="La Plateforme de l'inclusion (lien externe)">
            <span>La plateforme</span>
            <i class="ri-arrow-right-up-line ri-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://emplois.inclusion.beta.gouv.fr" class="is-emploi" rel="noopener" target="_blank" title="Les emplois de l'inclusion (lien externe)">
            <span>Les emplois</span>
            <i class="ri-arrow-right-up-line ri-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://communaute-experimentation.inclusion.beta.gouv.fr" class="is-communaute" rel="noopener" target="_blank" title="La communauté de l'inclusion (lien externe)">
            <span>La communauté</span>
            <i class="ri-arrow-right-up-line ri-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://lemarche.inclusion.beta.gouv.fr" class="is-marche" rel="noopener" target="_blank" title="Le marché de l'inclusion (lien externe)">
            <span>Le marché</span>
            <i class="ri-arrow-right-up-line ri-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://pilotage.inclusion.beta.gouv.fr" class="is-pilotage" rel="noopener" target="_blank" title="Le pilotage de l'inclusion (lien externe)">
            <span>Le pilotage</span>
            <i class="ri-arrow-right-up-line ri-lg"></i>
        </a>
    </li>
</ul>
