{% load static %}
{% load theme_inclusion %}
{% load django_bootstrap5 %}

<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}- Les emplois de l'inclusion{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta_description %}{% endblock %}
        <link rel="stylesheet" href="{% static "vendor/theme-inclusion/stylesheets/app.css" %}" type="text/css">
        <link rel="stylesheet" href="{{ base_url }}{% static 'css/itou.css' %}" type="text/css">
        <style type="text/css">
            html {
                background: transparent !important;
            }

            @page {
                margin: 0mm;
                /* hides title and date */
                size: A4;
            }
        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
            {% block script %}{% endblock %}
        </main>
    </body>
</html>
