{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} - La plateforme de l'inclusion{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Use this to get the value of the CSRF token in JavaScript. #}
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block meta_description %}{% endblock %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico">
    <link rel="stylesheet" href="{% static "vendor/jquery-ui-1.12.1/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-4.3.1/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/itou.css" %}" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body>

    <div class="layout">

        <header class="layout-section layout-section-white">
            <div class="layout-header px-3 py-2">
                <a href="/" class="text-decoration-none text-reset">
                    <div class="row layout-header-logo pt-1">
                        <div class="col-4">
                            <img src="{% static "img/logo_rf.svg" %}" alt="inclusion.beta.gouv.fr" width="85">
                        </div>
                        <div class="col-8 h5">
                            <div class="font-weight-light h5 mb-0 pt-1">
                                <span class="font-weight-bold">inclusion</span><span>.beta.gouv.fr</span>
                            </div>
                            <div class="text-muted small pt-1">{% trans "Plateforme de l'inclusion" %}</div>
                        </div>
                    </div>
                </a>
                <div class="layout-header-content">
                    <nav class="d-flex align-content-stretch flex-wrap">

                        <a class="btn btn-outline-primary w-100 w-sm-auto my-1 mr-sm-2" href="https://docs.google.com/forms/d/e/1FAIpQLScoUWzxlCB2lQK82qDcaqC3pbUfCAGCv1wllunCwxX5EhdW_g/viewform?vc=0&c=0&w=1&usp=mail_form_link" target="_blank">
                            {% trans "Vous êtes une entreprise avec un besoin de recrutement" %}
                        </a>

                        <a class="btn btn-outline-primary w-100 w-sm-auto my-1 mr-sm-2" href="https://forum.inclusion.beta.gouv.fr" target="_blank">
                            {% trans "Accéder au forum" %}
                        </a>

                        {% if user.is_authenticated %}
                            <div class="align-self-center">
                                <div class="dropdown">
                                    {% include "includes/icon.html" with icon="user" %}
                                    <a
                                        href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-display="static"
                                        aria-expanded="false">{{ user.email|truncatechars:25 }}</a>
                                    <div class="dropdown-menu dropdown-menu-lg-right">
                                        <a class="dropdown-item text-primary" href="{% url 'dashboard:index' %}">
                                            {% trans "Tableau de bord" %}
                                        </a>
                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item text-primary" href="{% url 'account_change_password' %}">
                                            {% trans "Modifier votre mot de passe" %}
                                        </a>
                                        <a class="dropdown-item text-primary" href="{% url 'dashboard:edit_user_info' %}">
                                            {% trans "Modifier votre profil" %}
                                        </a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-dark" id="js-logout" href="{% url 'account_logout' %}">
                                            <i>{% trans "Déconnexion" %}</i>
                                        </a>
                                    </div>
                                </div>

                            {% if user.is_siae_staff and user_siae_set|length > 1 %}
                                <div class="dropdown">
                                    {% include "includes/icon.html" with icon="home" %}
                                    <a
                                        href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-display="static"
                                        aria-expanded="false">{{ current_siae.display_name|truncatechars:25 }}</a>
                                    <div class="dropdown-menu dropdown-menu-lg-right">
                                        <span class="dropdown-item-text">
                                            <small>{% trans "Vos structures :" %}</small>
                                        </span>
                                        <form action="{% url 'dashboard:switch_siae' %}" method="post">
                                            {% csrf_token %}
                                            {% for s in user.siae_set.all %}
                                                {% if current_siae.id != s.pk %}
                                                    <button
                                                        class="dropdown-item"
                                                        type="submit"
                                                        name="siae_id"
                                                        value="{{ s.pk }}">{{ s.display_name }}
                                                    </button>
                                                {% endif %}
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% else %}
                            <a class="btn btn-primary w-100 w-sm-auto my-1" href="{% url 'account_login' %}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value }}{% endif %}">
                                {% trans "Se connecter" %}
                            </a>
                        {% endif %}

                    </nav>
                </div>
            </div>
        </header>

        {% if user.is_authenticated %}
        <div class="layout-section layout-section-white border-bottom">
            <nav class="nav">
                <a class="nav-link" href="/">{% trans "Rechercher un employeur solidaire" %}</a>
                <a class="nav-link" href="{% url 'dashboard:index' %}">{% trans "Tableau de bord" %}</a>
            </nav>
        </div>
        {% endif %}

        <div class="layout-section layout-section-white">
            <div class="layout-messages">
                {% block messages %}

                    {% bootstrap_messages %}

                    {# Display an alert for old browsers #}
                    <div class="alert alert-secondary alert-old-browser" role="alert">
                        {% trans "La version de votre navigateur n'est plus supportée. Veuillez utiliser une version plus récente pour améliorer votre expérience sur notre site." %}
                    </div>

                {% endblock %}
            </div>
        </div>

        {% block content_full_viewport %}{% endblock %}

        <footer class="layout-section text-light text-center text-sm-left">
            <section class="layout layout-column-full bg-gray-700 text-light text-center">
                <div class="layout-column-main py-3">
                    <ul class="list-unstyled list-inline h6 mb-0 row">
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 text-sm-left">
                            <a href="mailto:{{ ITOU_EMAIL_CONTACT }}" class="text-reset">
                                {% trans "Nous contacter" %}
                            </a>
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 pl-2">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSebmbvb4RGJOKy-ou5zR2eHWwFOiUlSJtCv_avrpp97HI4RGQ/viewform?ts=5da5a580" class="text-reset" target="_blank">
                                {% trans "Inscription Newsletter" %}
                            </a>
                        </li>
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 pl-2">
                            <a href="{% url 'stats:index' %}" class="text-reset">
                                {% trans "Statistiques, lexiques et indicateurs" %}
                            </a>
                        </li>
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 pl-2">
                            <a href="https://doc.inclusion.beta.gouv.fr/qui-peut-beneficier-des-contrats-dinsertion-par-lactivite-economique" class="text-reset" target="_blank">
                                {% trans "Qui peut bénéficier des contrats d'IAE ?" %}
                            </a>
                        </li>
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 pl-2">
                            <a href=" https://forum.inclusion.beta.gouv.fr/c/retours-sur-le-site/2" class="text-reset" target="_blank">
                                {% trans "Questions à la communauté" %}
                            </a>
                        </li>
                        <li class="col-sm list-inline-item align-self-center py-1 py-sm-0 pl-2 text-sm-right">
                            <a href="https://doc.inclusion.beta.gouv.fr/mentions/" class="text-reset" target="_blank">
                                {% trans "Mentions légales" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="layout layout-column-full bg-dark">
                <div class="layout-column-main py-4">
                    <div class="row align-items-center">
                        <div class="col-4 col-sm-2">
                            <img src="{% static 'img/logo_ministere_du_travail.svg' %}" class="w-sm-75 w-100">
                        </div>

                        <div class="col-8 col-sm-5">
                            <p class="h5">
                                <span class="font-weight-bold">inclusion</span><span>.beta.gouv.fr</span>
                            <p>
                                <span class="d-block">
                                    {% trans "Plateforme de l'inclusion en expérimentation" %}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <script src="{% static "vendor/jquery-3.4.1/jquery.min.js" %}"></script>
    <script src="{% static "vendor/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.3.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.3.1/bootstrap.min.js" %}"></script>

    {% block script %}
    <script src="{% static "js/logout.js" %}"></script>
    <script src="{% static "js/city_autocomplete_field.js" %}"></script>
    <script src="{% static "js/configure_jobs.js" %}"></script>
    <script src="{% static "js/prevent_multiple_submit.js" %}"></script>
    {% endblock %}

    {% if "inclusion.beta.gouv.fr" in ALLOWED_HOSTS %}
    {# Matomo/Piwik open source web analytics #}
    <script>
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u = "//stats.data.gouv.fr/";
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          _paq.push(['setSiteId', '117']);
          var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.async = true;
          g.defer = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
        })();
    </script>
    <script src="{% static "js/matomo.js" %}"></script>
    {% endif %}

    <div class="fixed-sm-bottom text-center text-sm-right p-3 pr-sm-2 pb-sm-2">
        <a href="https://voxusagers.numerique.gouv.fr/Demarches/2436?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=ca117c905602fb63fda68b31ee0f5bdd" target="_blank">
          <img src="{% static 'img/je-donne-mon-avis.svg' %}" alt="Je donne mon avis" title="Je donne mon avis sur cette démarche" style="width: 150px;">
        </a>
    </div>

</body>
</html>
