{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} - La plateforme de l'inclusion{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Use this to get the value of the CSRF token in JavaScript. #}
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block meta_description %}{% endblock %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico">
    <link rel="stylesheet" href="{% static "vendor/jquery-ui-1.12.1/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-4.3.1/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/itou.css" %}" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body>

    <div class="layout">

        <header class="layout-section layout-section-white">
            <div class="layout-header">
                <a href="/" class="layout-header-logo">
                    <img src="{% static "img/logo_inclusion_gouv.svg" %}" alt="inclusion.beta.gouv.fr" width="300">
                    <br>
                    <a href="/" class="text-dark">
                        {% trans "La plateforme de l'inclusion" %}
                    </a>
                </a>
                <div class="layout-header-content">
                    {% if user.is_authenticated %}

                        <div class="dropdown">
                            {% include "includes/icon.html" with icon="user" %}
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                data-display="static"
                                aria-expanded="false">{{ user.email|truncatechars:25 }}</a>
                            <div class="dropdown-menu dropdown-menu-lg-right">
                                <a class="dropdown-item text-primary" href="{% url 'dashboard:index' %}">
                                    {% trans "Tableau de bord" %}
                                </a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item text-primary" href="{% url 'account_change_password' %}">
                                    {% trans "Modifier votre mot de passe" %}
                                </a>
                                <a class="dropdown-item text-primary" href="{% url 'dashboard:edit_user_info' %}">
                                    {% trans "Modifier votre profil" %}
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark" id="js-logout" href="{% url 'account_logout' %}">
                                    <i>{% trans "Déconnexion" %}</i>
                                </a>
                            </div>
                        </div>

                        {% if user.is_siae_staff and user_siae_set|length > 1 %}
                            <div class="dropdown">
                                {% include "includes/icon.html" with icon="home" %}
                                <a
                                    href="#"
                                    class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    data-display="static"
                                    aria-expanded="false">{{ current_siae.display_name|truncatechars:25 }}</a>
                                <div class="dropdown-menu dropdown-menu-lg-right">
                                    <span class="dropdown-item-text">
                                        <small>{% trans "Vos structures :" %}</small>
                                    </span>
                                    <form action="{% url 'dashboard:switch_siae' %}" method="post">
                                        {% csrf_token %}
                                        {% for s in user.siae_set.all %}
                                            {% if current_siae.id != s.pk %}
                                                <button
                                                    class="dropdown-item"
                                                    type="submit"
                                                    name="siae_id"
                                                    value="{{ s.pk }}">{{ s.display_name }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        <nav>
                            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value }}{% endif %}">
                                {% include "includes/icon.html" with icon="log-in" %} {% trans "Inscription / Connexion" %}
                            </a>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </header>

        {% if user.is_authenticated %}
        <div class="layout-section layout-section-white border-bottom">
            <nav class="nav">
                <a class="nav-link" href="/">{% trans "Rechercher une SIAE" %}</a>
                <a class="nav-link" href="{% url 'dashboard:index' %}">{% trans "Tableau de bord" %}</a>
            </nav>
        </div>
        {% endif %}

        <div class="layout-section layout-section-white">
            <div class="layout-messages">
                {% block messages %}
                    {% bootstrap_messages %}
                {% endblock %}
            </div>
        </div>

        {% block content_full_viewport %}{% endblock %}

        <footer class="layout-section layout-section-dark">
            <div class="layout-footer">
                <div class="row">
                    <div class="col-sm">
                        <h6>{% trans "À propos" %}</h6>
                        <ul class="list-unstyled text-small">
                            <li><a href="mailto:{{ ITOU_EMAIL_CONTACT }}">{% trans "Nous contacter" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h6>{% trans "Pourquoi cette plateforme ?" %}</h6>
                        <ul class="list-unstyled text-small">
                            <li><a href="https://doc.inclusion.beta.gouv.fr/presentation/pourquoi-cette-plateforme#faciliter-lembauche-en-iae">{% trans "Faciliter l'embauche en IAE" %}</a></li>
                            <li><a href="https://doc.inclusion.beta.gouv.fr/presentation/pourquoi-cette-plateforme#simplifier-les-procedures">{% trans "Simplifier les procédures" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h6>{% trans "En savoir plus" %}</h6>
                        <ul class="list-unstyled text-small">
                            <li><a href="https://doc.inclusion.beta.gouv.fr/presentation/le-pacte-dambition-iae">{% trans "Le pacte d'ambition IAE" %}</a></li>
                            <li><a href="{% url 'content:experimentation' %}">{% trans "L'expérimentation" %}</a></li>
                            <li><a href="{% url 'content:inclusion_kesako' %}">{% trans "L'inclusion, kesako ?" %}</a></li>
                            <li><a href="{% url 'content:qui_sommes_nous' %}">{% trans "Qui sommes-nous ?" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h6>{% trans "Aide" %}</h6>
                        <ul class="list-unstyled text-small">
                            <li><a href="{% url 'content:faq' %}">{% trans "FAQ" %}</a></li>
                            <li><a href="{% url 'home:eligibility_criteria' %}">{% trans "Qui est éligible à l'IAE ?" %}</a></li>
                        </ul>
                    </div>
                </div>
                <p class="mt-3 text-center">
                    <i>{% trans "La plateforme de l'inclusion est en phase d'expérimentation sur les départements du Bas-Rhin (67), du Pas-de-Calais (62) et de la Seine Saint Denis (93)." %}</i>
                </p>
            </div>
        </footer>

    </div>

    <script src="{% static "vendor/jquery-3.4.1/jquery.min.js" %}"></script>
    <script src="{% static "vendor/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.3.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.3.1/bootstrap.min.js" %}"></script>

    {% block script %}
    <script src="{% static "js/logout.js" %}"></script>
    <script src="{% static "js/city_autocomplete_field.js" %}"></script>
    <script src="{% static "js/configure_jobs.js" %}"></script>
    {% endblock %}

    {% if "inclusion.beta.gouv.fr" in ALLOWED_HOSTS %}
    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149969968-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-149969968-1');
    </script>
    {% endif %}

</body>
</html>
