{# This template needs a 'breadcrumbs' dict in context, format : {label: url,...} #}
<nav class="c-breadcrumb" aria-label="Fil d'Ariane">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Tableau de bord</a>
        </li>
        {# Dynamic breadcrumbs #}
        {% for breadcrumb_label, breadcrumb_url in breadcrumbs.items %}
            {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_label }}</li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb_url }}">{{ breadcrumb_label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
