{% extends BASE_TEMPLATE %}
{% block content_full_viewport %}

    {% block pre_content %}{% endblock %}

    <section class="bg-gray-400 {% block content_container_css_classes %}{% endblock %}">
        <div class="container">
            {% block breadcrumbs %}{% endblock %}
            <div class="row">
                <div class="col-12 col-lg-{% block nb_columns %}8{% endblock %}">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
