{% extends BASE_TEMPLATE %}
{% block content_full_viewport %}

    {% block pre_content %}{% endblock %}

    <section class="s-section-twocolumns {% block content_container_css_classes %}{% endblock %}">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-md-2 pl-lg-5">
                    {% block right_content %}{% endblock %}
                </div>
                <div class="col-12 col-lg-6 order-md-1 bg-emploi-lightest pr-lg-5">
                    {% block left_content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
