{% extends "gps/group_details_base.html" %}
{% load format_filters %}
{% load matomo %}
{% load str_filters %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12" id="gps_intervenants">
                    <div class="d-flex flex-column flex-md-row gap-3 align-items-md-center justify-content-md-between mb-3 mb-md-4">
                        <h2 class="mb-0">Intervenants</h2>
                        <a href="{{ request_new_participant_form_url }}" id="request-new-participant-link" class="btn btn-ico btn-primary">
                            <i class="ri-user-add-line" aria-hidden="true"></i>
                            <span>Ajouter un intervenant existant</span>
                        </a>
                    </div>
                    <form id="display-contact-info-form">
                        {% csrf_token %}{# Used by htmx posts #}
                    </form>
                    {% for membership in gps_memberships %}
                        {% include "gps/includes/membership.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
