{% extends "gps/group_details_base.html" %}
{% load django_bootstrap5 %}
{% load str_filters %}

{% block title_extra %}
    <div class="c-box c-box--action">
        <h2 class="visually-hidden">Actions rapides</h2>
        <div class="form-row align-items-center gx-3">
            <div class="form-group col-12 col-lg-auto">
                <button type="submit" form="id-membership-form" class="btn btn-lg btn-white btn-block btn-ico justify-content-center">
                    <i class="ri-check-line" aria-hidden="true"></i>
                    <span>Mettre à jour</span>
                </button>
            </div>
            <div class="form-group col-12 col-lg-auto">
                <a class="btn btn-lg btn-outline-white btn-block btn-ico justify-content-center" href="{% url "gps:group_contribution" group.pk %}?back_url={{ back_url|urlencode }}">
                    <i class="ri-close-line" aria-hidden="true"></i>
                    <span>Annuler</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <form method="post" id="id-membership-form">
                        {% csrf_token %}
                        <h2>Mon intervention</h2>
                        <div class="c-box mb-4">
                            <h3>Période de l’accompagnement</h3>
                            {% bootstrap_field form.started_at %}
                            {% bootstrap_field form.is_ongoing %}
                            {% bootstrap_field form.ended_at show_label=False %}
                            <small class="d-inline-block mb-3">* champs obligatoires</small>
                        </div>
                        <div class="c-box mb-4">
                            <h3>Motif de l’intervention</h3>
                            <div class="c-info mb-1">
                                <span class="c-info__summary">Cette information sera visible aux autres intervenants. N’inscrivez aucune information confidentielle dans ce champ.</span>
                            </div>
                            {% bootstrap_field form.reason show_label=False %}
                            {% bootstrap_field form.is_referent %}
                            <p>
                                Les autres intervenants verront une pastille
                                {% include "gps/includes/badge_is_referent_membership.html" %}
                                à côté de votre nom.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
