{% extends "layout/base.html" %}
{% load str_filters %}
{% load static %}

{% block title %}
    GPS - Profil de {{ group.beneficiary.get_full_name|mask_unless:can_view_personal_information }} {{ block.super }}
{% endblock %}

{% block title_content %}
    <div class="d-flex flex-row gap-3 align-items-center mb-3">
        <h1 class="m-0">{{ group.beneficiary.get_full_name|mask_unless:can_view_personal_information }}</h1>
        <button class="btn btn-lg btn-ico-only btn-link" type="button" data-it-action="print" aria-label="Imprimer la page">
            <i class="ri-printer-line font-weight-normal" aria-hidden="true"></i>
        </button>
    </div>
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "memberships" %} active{% endif %}" href="{% url 'gps:group_memberships' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Intervenants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "beneficiary" %} active{% endif %}" href="{% url 'gps:group_beneficiary' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Informations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "contribution" %} active{% endif %}" href="{% url 'gps:group_contribution' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Mon intervention</a>
        </li>
    </ul>
{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js' %}"></script>
{% endblock %}
