{% extends "layout/base.html" %}
{% load components %}
{% load static %}
{% load str_filters %}

{% block title %}
    GPS - Profil de {{ group.beneficiary.get_full_name|mask_unless:can_view_personal_information }} {{ block.super }}
{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main c_title__cta=c_title__cta %}
        {% fragment as c_title__main %}
            <h1>{{ group.beneficiary.get_full_name|mask_unless:can_view_personal_information }}</h1>
        {% endfragment %}
        {% fragment as c_title__cta %}
            {% if can_print_page %}
                <button class="btn btn-lg btn-ico-only btn-link" type="button" data-it-action="print" aria-label="Imprimer la page">
                    <i class="ri-printer-line font-weight-normal" aria-hidden="true"></i>
                </button>
            {% endif %}
            {% if not can_view_personal_information %}
                <div class="c-title__cta" role="group" aria-label="Actions sur les groupes de suivi">
                    <button class="btn btn-lg btn-secondary btn-ico" data-bs-toggle="modal" data-bs-target="#ask_access_modal">
                        <i class="ri-user-unfollow-line fw-medium" aria-hidden="true"></i>
                        <span>Demander l’accès complet à la fiche</span>
                    </button>
                </div>
            {% endif %}
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block title_extra %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "memberships" %} active{% endif %}" href="{% url 'gps:group_memberships' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Intervenants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "beneficiary" %} active{% endif %}" href="{% url 'gps:group_beneficiary' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Informations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == "contribution" %} active{% endif %}" href="{% url 'gps:group_contribution' group_id=group.pk %}?back_url={{ back_url|urlencode }}">Mon intervention</a>
        </li>
    </ul>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sliding_tabs.js' %}"></script>
{% endblock %}

{% block modals %}
    {{ block.super }}
    {% if not can_view_personal_information %}
        <div class="modal fade" id="ask_access_modal" tabindex="-1" aria-labelledby="ask_access" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="ask_access" class="modal-title">Votre organisation n’est pas habilitée</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <p>Pour consulter les informations de ce bénéficiaire, vous avez besoin de l’autorisation d’un administrateur.</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            {% csrf_token %}
                            <button type="button" class="btn btn-sm btn-link" data-bs-dismiss="modal">Annuler</button>
                            <button hx-post="{% url 'gps:ask_access' group_id=group.id %}" hx-swap="outerHTML" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
                                Demander l’autorisation d’un administrateur
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
