{% extends "layout/base.html" %}
{% load str_filters %}


{% block content_title %}<h1>Mes bénéficiaires</h1>{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}
    <section class="s-box">
        <div class="s-box__container container">
            <div class="s-box__row row">
                <div class="col-12">
                    <section aria-labelledby="results" id="follow-up-groups-section">
                        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-3 mb-md-4">
                            <h3 class="h4 mb-0" id="results">
                                {% with memberships|length as counter %}
                                    {{ counter }} <strong>bénéficiaire{{ counter|pluralizefr }} suivi{{ counter|pluralizefr }}</strong>
                                {% endwith %}
                            </h3>
                            <div class="flex-column flex-md-row btn-group btn-group-sm btn-group-action" role="group" aria-label="Actions sur les groupes de suivi">

                                <a href="{% url 'gps:join_group' %}" class="btn btn-ico btn-primary mt-3 mt-md-0" aria-label="Rejoindre un group de suivi">
                                    <i class="ri-add-line" aria-hidden="true"></i>
                                    <span>Rejoindre un nouveau groupe de suivi</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-lg-auto"></div>

                        {% for membership in memberships %}
                            <div class="my-3 my-md-4 s-box__row row">


                                <div class="c-box--results__header">
                                    <div class="c-box--results__summary">
                                        <i class="ri-user-line" aria-hidden="true"></i>
                                        <div>
                                            <h3>{{ membership.follow_up_group.beneficiary.get_full_name }}</h3>
                                            <span>{{ membership.follow_up_group.beneficiary.email }}</span>
                                        </div>
                                    </div>
                                </div>

                                <hr class="m-0 pb-4">

                                <div class="d-flex justify-content-between">

                                    <div>
                                        {% with membership.follow_up_group.members.all|length|add:"-1" as counter %}
                                            {% if membership.is_referent %}Vous êtes <b>référent</b> de ce groupe.{% endif %}
                                            {% if counter < 1 %}
                                                Aucun autre professionnel que vous dans le groupe de suivi.
                                            {% else %}
                                                {{ counter }} autre{{ counter|pluralizefr }} professionnel{{ counter|pluralizefr }} dans le groupe de suivi.
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div>
                                        <a href="{% url 'users:details' public_id=membership.follow_up_group.beneficiary.public_id %}"
                                           class="btn btn-outline-primary btn-block w-100 w-md-auto"
                                           aria-label="Consulter la fiche de {{ membership.follow_up_group.beneficiary.get_full_name }}">Consulter la fiche</a>
                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </section>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
