PYTHONPATH=.

# Avoid a log error when starting the itou_postgres container:
# > Role "root" does not exist.
# Without this variable, the default Unix account ('root')
# is used automatically when starting postgres.
# https://www.postgresql.org/docs/current/libpq-envars.html
PGUSER=postgres

# Postgres host and port inside the container.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Postgres's root user credentials.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

ITOU_POSTGRES_DATABASE_NAME=itou
ITOU_POSTGRES_USER=itou
ITOU_POSTGRES_PASSWORD=password

METABASE_HOST=metabase
METABASE_PORT=5432
METABASE_DATABASE=itou
METABASE_USER=itou
METABASE_PASSWORD=password

DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=******************dev_secret_key******************

CELLAR_ADDON_KEY_ID=
CELLAR_ADDON_KEY_SECRET=
CELLAR_ADDON_HOST=
S3_STORAGE_BUCKET_NAME=
S3_STORAGE_BUCKET_REGION=
