# Mailjet / used by Anymail to send emails
API_MAILJET_KEY=set_it
API_MAILJET_SECRET=set_it

# Pôle emploi's API / used to get ROMEs
API_ESD_KEY=set_it
API_ESD_SECRET=set_it

# PDF Shift API / used to convert approval in PDF
PDFSHIFT_API_KEY=set_it

# Gouv API entreprise / used to get information from SIRET on entreprise creation
API_ENTREPRISE_RECIPIENT=set_it
API_ENTREPRISE_TOKEN=set_it

NEWRELIC_LICENSE=set_it
NEWRELIC_APPNAME=set_it
