API_MAILJET_KEY=set_it
API_MAILJET_SECRET=set_it

API_ESD_KEY=set_it
API_ESD_SECRET=set_it

PDFSHIFT_API_KEY=set_it

API_ENTREPRISE_RECIPIENT=set_it
API_ENTREPRISE_TOKEN=set_it

NEWRELIC_LICENSE=set_it
NEWRELIC_APPNAME=set_it
