API_INSEE_KEY=set_it
API_INSEE_SECRET=set_it

API_MAILJET_KEY=set_it
API_MAILJET_SECRET=set_it

API_ESD_KEY=set_it
API_ESD_SECRET=set_it

PDFSHIFT_API_KEY=set_it

HUEY_REDIS_URL=redis://localhost:6379/?db=1
