{% extends "layout/base.html" %}
{% load redirection_fields %}
{% load static %}

{% block title %}Connexion {{ block.super }}{% endblock %}

{% block content_title %}<h1>Connexion</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 text-center g-5">
                        <div class="col">
                            <div class="card c-card p-md-5 has-one-link-inside h-100 w-100">
                                <div class="card-body">
                                    <h3 class="h4 card-title font-weight-light">Vous êtes candidat en recherche d'emploi</h3>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary stretched-link" href="{% url 'login:job_seeker' %}{% redirection_url value=redirect_field_value %}">
                                        Se connecter
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card c-card p-md-5 has-one-link-inside h-100 w-100">
                                <div class="card-body">
                                    <h3 class="h4 card-title font-weight-light">Vous êtes prescripteur ou orienteur</h3>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary stretched-link" href="{% url 'login:prescriber' %}{% redirection_url value=redirect_field_value %}">
                                        Se connecter
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card c-card p-md-5 has-one-link-inside h-100 w-100">
                                <div class="card-body">
                                    <h3 class="h4 card-title font-weight-light">
                                        <span class="d-block">Vous êtes un employeur solidaire</span>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary stretched-link" href="{% url 'login:employer' %}{% redirection_url value=redirect_field_value %}">
                                        Se connecter
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card c-card p-md-5 has-one-link-inside h-100 w-100">
                                <div class="card-body">
                                    <h3 class="h4 card-title font-weight-light">Vous êtes membre d’une institution partenaire</h3>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary stretched-link" href="{% url 'login:labor_inspector' %}{% redirection_url value=redirect_field_value %}">
                                        Se connecter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
