{# django-allauth template override. #}
{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load matomo %}
{% load redirection_fields %}
{% load static %}
{% load theme_inclusion %}

{% block title %}Connexion {{ block.super }}{% endblock %}

{% block content %}
    <section class="s-section pt-lg-3">
        <div class="s-section__container container">
            <div class="s-section__row row g-0">
                <div class="s-section__col col-12 col-lg-6 bg-lg-white">
                    <div class="bg-white p-3 py-lg-7 px-lg-8">
                        <h1 class="h2 mb-lg-4">ProConnect, un accès unique à tous vos services !</h1>
                        <p>Le service ProConnect est obligatoire pour se connecter au service les emplois de l'inclusion.</p>
                        <p>
                            Pour conserver l'accès à votre compte existant vous devez vous connecter ou créer un compte avec ProConnect à l'aide du bouton ci-dessous.
                        </p>
                        <p>
                            Assurez vous que l'adresse e-mail utilisée soit la suivante :
                            <br>
                            <strong>{{ user.email }}</strong>
                        </p>
                        {% include "pro_connect/includes/button.html" with login=True activation=True %}
                    </div>
                </div>
                <div class="s-section__col d-none d-lg-flex col-lg-6 p-lg-6 justify-content-center align-items-center bg-light">
                    <img class="img-fluid" src="{% static 'img/illustration-pc.svg' %}" alt="" loading="lazy">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
