{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block title %}Confirmer l'adresse e-mail{{ block.super }}{% endblock %}

{% block content %}

<h1>Confirmer l'adresse e-mail</h1>

{% if confirmation %}

    <p>{% blocktranslate with email=confirmation.email_address.email %}Confirmez que <a href="mailto:{{ email }}">{{ email }}</a> est bien votre adresse e-mail en cliquant sur le bouton ci-dessous :{% endblocktranslate %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">

        {% csrf_token %}

        {# `is_safe_url` is secure enough to let us use request params here. #}
        {# See Allauth.account.adapter.DefaultAccountAdapter.is_safe_url #}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        {% buttons %}
                <button type="submit" class="btn btn-primary">Confirmer</button>
        {% endbuttons %}

    </form>

{% else %}

    {% url 'account_email' as email_url %}

    <div class="alert alert-danger" role="alert">
        {% blocktranslate %}
            Ce lien de confirmation d'adresse e-mail a expiré ou n'est pas valide.
            <br>
            Veuillez lancer <a href="{{ email_url }}">une nouvelle demande de confirmation</a>.
        {% endblocktranslate %}
    </div>

{% endif %}

{% endblock %}
