{# django-allauth template override. #}
{% extends "layout/content_two_columns.html" %}
{% load bootstrap4 %}
{% load redirection_fields %}
{% load static %}

{% block title %}Connexion candidat{{ block.super }}{% endblock %}

{% block content_container_css_classes %}s-section-lg-with-background{% endblock %}

{% block right_content %}
    <div class="py-5 py-lg-7">
        <h1 class="h1-hero-c1 text-center">Se connecter</h1>
        {% if show_france_connect %}
            <div class="mt-4">
                {% include "signup/includes/france_connect_button.html" %}
            </div>
            <div class="mt-4 mb-3">
                <p class="text-center">
                    <hr class="my-5" data-text="ou">
                </p>
            </div>
        {% else %}
            <p class="font-italic text-center mt-3">FranceConnect est désactivé.</p>
        {% endif %}

        {% if show_peamu %}
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="text-center">{% include "signup/includes/peamu_button.html" %}</div>
                </div>
            </div>
        {% else %}
            <p class="font-italic text-center">Pôle emploi Connect est désactivé.</p>
        {% endif %}
        <hr class="my-5" data-text="ou">

        <form method="post" action="{% url 'login:job_seeker' %}" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% bootstrap_form_errors form type="all" %}

            {% redirection_input_field name=redirect_field_name value=redirect_field_value %}

            {% bootstrap_field form.login form_group_class="form-group" %}

            {% bootstrap_field form.password form_group_class="form-group mb-1" %}
            <p>
                <a href="{% url 'account_reset_password' %}" class="font-weight-bold">Mot de passe oublié ?</a>
            </p>

            <p class="text-center">
                {% bootstrap_button "Se connecter" button_type="submit" button_class="btn-primary btn" %}
            </p>

        </form>

    </div>
{% endblock %}

{% block left_content %}
    <div class="py-5 py-lg-7 text-center">
        <h1 class="h1-hero-c1">S'inscrire</h2>
        <p class="mb-5">
            <a class="btn btn-outline-primary" href="{% url 'signup:job_seeker_situation' %}{% redirection_url name=redirect_field_name value=redirect_field_value %}">
                Créer un compte candidat
            </a>
        </p>
        <img class="img-fluid img-fitcover w-50 w-md-auto mt-5" src="{% static 'img/login.svg' %}" alt="">
    </div>
{% endblock %}
