{# django-allauth template override. #}
{% extends "layout/content_small.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans "Connexion" %}{{ block.super }}{% endblock %}

{% block content %}
<h1>
    {% trans "Connexion" %}
    {% if account_type_display_name %}
        <small class="text-muted">{{ account_type_display_name }}</small>
    {% endif %}
</h1>

{% if show_peamu %}
    <div class="text-center">

        <p>{% include "signup/includes/peamu_button.html" %}</p>

        <p class="lines-on-sides">{% trans "ou" %}</p>

        <p>{% include "signup/includes/no_email_link.html" %}</p>

        <p class="lines-on-sides">{% trans "ou" %}</p>

        <p>{% trans "Se connecter avec son compte" %}</p>

    </div>
{% endif %}

<form method="post" action="{% url 'account_login' %}" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form_errors form %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}

    {% bootstrap_field form.login %}
    {% bootstrap_field form.password %}

    <input type="hidden" id="account_type" name="account_type" value="{{ account_type }}">

    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Connexion" %}</button>
    {% endbuttons %}

</form>

<hr>

<p>
    <a href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a>
</p>

<hr>

<p>{% trans "Vous n'avez pas de compte ?" %}</p>

<p>
    <a class="btn btn-outline-primary" href="{{ signup_url }}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value }}{% endif %}">
    {% trans "Créer un compte" %}
    {% if account_type_display_name %}
        {{ account_type_display_name|lower }}
    {% endif %}
    </a>
</p>

{% endblock %}
