{# django-allauth template override. #}
{% extends "layout/content_two_columns.html" %}
{% load bootstrap4 %}
{% load redirection_fields %}
{% load static %}

{% block title %}Connexion{{ block.super }}{% endblock %}

{% block right_content %}
    <div class="mt-5">
        <h1 class="h1-hero-c1 text-center">Se connecter</h1>

        <form method="post" action="{{ login_url }}" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% bootstrap_form_errors form type="all" %}

            {% redirection_input_field name=redirect_field_name value=redirect_field_value %}

            {% bootstrap_field form.login form_group_class="form-group" %}

            {% bootstrap_field form.password form_group_class="form-group mb-1" %}
            <p>
                <a href="{% url 'account_reset_password' %}" class="font-weight-bold">Mot de passe oublié ?</a>
            </p>

            <p class="text-center">
                {% bootstrap_button "Se connecter" button_type="submit" button_class="btn-primary btn" %}
            </p>

        </form>
    </div>
{% endblock %}

{% block left_content %}
    <div class="mt-5 d-sm-block">
        {% if signup_allowed %}
            <div class="mt-5 mb-5 pb-5 text-center">
                <h2 class="h1-hero-c1">S'inscrire</h2>
                <p>
                    <a class="btn btn-outline-primary" href="{{ signup_url }}{% redirection_url name=redirect_field_name value=redirect_field_value %}">
                        Créer un compte
                        {% if account_type_display_name %}
                            {{ account_type_display_name|lower }}
                        {% endif %}
                    </a>
                </p>
            </div>
        {% endif %}

        <h2 class="h1 ff-extra-01 text-center">Bienvenue !</h2>
        <img class="img-fluid mt-5" src="{% static 'img/login.svg' %}" alt="">
    </div>
{% endblock %}
