{# django-allauth template override. #}
{% extends "layout/base.html" %}
{% load bootstrap4 %}
{% load redirection_fields %}
{% load static %}
{% load theme_inclusion %}

{% block title %}Connexion {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <nav class="c-breadcrumb" aria-label="Fil d'ariane">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home:hp' %}">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Se connecter / S'inscrire</li>
        </ol>
    </nav>
{% endblock %}

{% block content_title %}<h1>Se connecter / S'inscrire</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-6">
                    <div class="c-form mb-5">
                        <h2>Se connecter</h2>
                        {% if uses_inclusion_connect %}
                            {% if inclusion_connect_url %}
                                <div class="text-center">
                                    <a href="{{ inclusion_connect_url }}"
                                       class="btn-inclusion-connect matomo-event"
                                       data-matomo-category="connexion {{ matomo_account_type }}"
                                       data-matomo-action="clic"
                                       data-matomo-option="se-connecter-avec-inclusion-connect">
                                        <picture>
                                            <source srcset="{% static_theme_images 'logo-inclusion-connect-one-line.svg' %}" height="14" width="286" type="image/svg+xml" media="(min-width: 30em)">
                                            <img src="{% static_theme_images 'logo-inclusion-connect-two-lines.svg' %}" height="37" width="142" alt="Se connecter avec Inclusion Connect">
                                        </picture>
                                    </a>
                                </div>
                            {% else %}
                                <div class="alert alert-info" role="status">
                                    <p class="mb-0">Inclusion Connect est momentanément désactivé.</p>
                                    <p>
                                        Afin de demander un PASS IAE en urgence, <a href="https://tally.so/r/nrj0V5" target="_blank">remplissez ce formulaire.</a>
                                    </p>
                                </div>
                            {% endif %}
                            <hr class="my-5" data-text="ou">
                        {% endif %}
                        <form method="post" action="{{ login_url }}" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="h4">S’identifier avec vos identifiants</p>
                                        {% bootstrap_form_errors form type="all" %}
                                        {% redirection_input_field name=redirect_field_name value=redirect_field_value %}
                                        {% bootstrap_field form.login %}
                                        {% bootstrap_field form.password form_group_class="form-group mb-2" %}
                                        <div class="form-group">
                                            <a href="{% url 'account_reset_password' %}" class="btn-link fs-sm">Mot de passe oublié ?</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-row justify-content-end">
                                <div class="form-group col-12 col-lg-auto">
                                    {% bootstrap_button "Se connecter" button_type="submit" button_class="btn btn-block btn-primary" %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="s-section__col col-12 col-lg-6">
                    {% if signup_allowed %}
                        <div class="c-form">
                            <div class="row">
                                <div class="col-12">
                                    <h2>S'inscrire</h2>
                                    <div class="form-row">
                                        <div class="form-group col-12 col-lg-auto">
                                            <a class="btn btn-outline-primary btn-block" href="{{ signup_url }}{% redirection_url name=redirect_field_name value=redirect_field_value %}">
                                                Créer un compte
                                                {% if account_type_display_name %}{{ account_type_display_name|lower }}{% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <picture class="d-none d-lg-block text-center">
                        <img class="img-fluid" src="{% static 'img/illustration-login.svg' %}" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
