{# django-allauth template override. #}
{% extends "layout/base.html" %}
{% load components %}

{% block title %}Connexion {{ block.super }}{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url|default:None only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Se connecter</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    {% if show_new_domain_notice %}
        <section class="s-section">
            <div class="s-section__container container">
                <div class="s-section__row row">
                    <div class="s-section__col col-12">
                        {% component_alert title=title content=content variant="info" icon=False dismissible=True %}
                            {% fragment as title %}
                                La plateforme de l’inclusion change d’adresse.
                            {% endfragment %}
                            {% fragment as content %}
                                <p class="mb-2">
                                    Vous arrivez de l’ancienne adresse (emplois.inclusion.beta.gouv.fr). La plateforme de l’inclusion est désormais accessible à l’adresse <a href="https://plateforme.inclusion.gouv.fr">https://plateforme.inclusion.gouv.fr</a>.
                                </p>
                                <p class="mb-2">
                                    La transition est automatique. Nous vous invitons
                                    cependant à mettre à jour vos favoris de
                                    navigateur et vos gestionnaires de mots de passe.
                                </p>
                                <p class="mb-2">
                                    Si vous avez enregistré votre mot de passe dans votre navigateur, vous pouvez le retrouver en suivant la documentation de votre navigateur. Par exemple : <a href="https://support.mozilla.org/fr/kb/gestionnaire-mots-passe" class="btn-link has-external-link" target="_blank">ici pour Firefox</a>, <a href="https://support.google.com/chrome/answer/95606" class="btn-link has-external-link" target="_blank">ici pour Chrome</a>, <a href="https://explore.microsoft.com/fr-fr/edge/features/microsoft-password-manager" class="btn-link has-external-link" target="_blank">ici pour Edge</a>, <a href="https://support.apple.com/fr-fr/105115" class="btn-link has-external-link" target="_blank">ici pour Safari</a>.
                                </p>
                            {% endfragment %}
                        {% endcomponent_alert %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-6">
                    <div class="c-form mb-5">
                        {% if login_provider == "PC" %}
                            {% include "pro_connect/includes/button.html" with login=True %}
                        {% elif login_provider == "FC" %}
                            <p class="h4">Se connecter avec FranceConnect</p>
                            {% if show_france_connect %}
                                <p>
                                    <strong>Votre adresse e-mail utilise une connexion via FranceConnect. Veuillez vous connecter en utilisant le bouton ci-dessous.</strong>
                                </p>
                                <div>{% include "signup/includes/france_connect_button.html" %}</div>
                            {% else %}
                                {% component_alert content=content variant="info" icon=False %}
                                    {% fragment as content %}
                                        <p class="mb-0">FranceConnect est désactivé.</p>
                                    {% endfragment %}
                                {% endcomponent_alert %}
                            {% endif %}
                        {% elif login_provider == "FTC" %}
                            <p class="h4">Se connecter avec France Travail</p>
                            {% if show_ft_connect %}
                                <p>
                                    <strong>Votre adresse e-mail utilise une connexion via France Travail. Veuillez vous connecter en utilisant le bouton ci-dessous.</strong>
                                </p>
                                <div class="mt-4 text-center">{% include "signup/includes/ft_connect_button.html" %}</div>
                            {% else %}
                                {% component_alert content=content variant="info" icon=False %}
                                    {% fragment as content %}
                                        <p class="mb-0">France Travail est désactivé.</p>
                                    {% endfragment %}
                                {% endcomponent_alert %}
                            {% endif %}
                        {% elif login_provider == "DJANGO" %}
                            {% include "account/includes/login_generic.html" %}
                        {% else %}
                            {% component_alert content=content variant="info" icon=False %}
                                {% fragment as content %}
                                    <p class="mb-0">Le mode de connexion associé à ce compte est désactivé. Veuillez contacter le support.</p>
                                {% endfragment %}
                            {% endcomponent_alert %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
