{# django-allauth template override. #}
{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load redirection_fields %}

{% block title %}Déconnexion {{ block.super }}{% endblock %}

{% block content %}

    <div class="alert alert-info" role="status">

        <h1 class="h1-hero-c1">Déconnexion</h1>

        <p>Voulez-vous vraiment vous déconnecter ?</p>

        <form method="post" action="{% url 'account_logout' %}" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% redirection_input_field name=redirect_field_name value=redirect_field_value %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Se déconnecter</button>
            {% endbuttons %}

        </form>

    </div>

{% endblock %}
