{# django-allauth template override. #}
{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Déconnexion" %}{{ block.super }}{% endblock %}

{% block content %}

<div class="alert alert-info" role="alert">

    <h1>{% trans "Déconnexion" %}</h1>

    <p>{% trans "Voulez-vous vraiment vous déconnecter ?" %}</p>

    <form method="post" action="{% url 'account_logout' %}">

        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Se déconnecter" %}</button>
        {% endbuttons %}

    </form>

</div>

{% endblock %}
