{# django-allauth template override. #}
{% extends "layout/content_small.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}Déconnexion{{ block.super }}{% endblock %}

{% block content %}

<div class="alert alert-info" role="alert">

    <h1>Déconnexion</h1>

    <p>Voulez-vous vraiment vous déconnecter ?</p>

    <form method="post" action="{% url 'account_logout' %}" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Se déconnecter</button>
        {% endbuttons %}

    </form>

</div>

{% endblock %}
