{# django-allauth template override. #}
{% extends "layout/content.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Réinitialisation du mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}
<div class="content-small">

    <h1>{% trans "Réinitialisation du mot de passe" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Nous vous avons envoyé par email les instructions pour réinitialiser votre mot de passe. Vous devriez les recevoir sous peu.{% endblocktrans %}</p>

</div>
{% endblock %}
