{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% load bootstrap4 %}

{% block title %}Modifier votre mot de passe {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="h1-hero-c1">Modifier votre mot de passe</h1>
    {% if user.has_sso_provider %}
        <div class="alert alert-info" role="status">
            <p class="mb-0">
                Vous ne pouvez pas changer votre mot de passe car vous avez créé votre compte avec {{ user.get_identity_provider_display }}.
            </p>
        </div>
    {% else %}
        <form method="post" action="{% url 'account_change_password' %}" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% bootstrap_form form alert_error_type="all" %}

            {% buttons %}
                <a class="btn btn-outline-primary" href="{% url 'dashboard:index' %}">Annuler</a>
                <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
            {% endbuttons %}

        </form>
    {% endif %}
{% endblock %}
