{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Modifier mon mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Modifier mon mot de passe" %}</h1>

<form method="post" action="{% url 'account_change_password' %}">

    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Modifier le mot de passe" %}</button>
    {% endbuttons %}

    <hr>
    <p>
        <a href="{% url 'dashboard:index' %}">{% trans "Retour" %}</a>
    </p>

</form>
{% endblock %}
