{# django-allauth template override. #}
{% extends "layout/base.html" %}
{% load components %}

{% block title %}Modification de votre mot de passe {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main c_title__secondary=c_title__secondary %}
        {% fragment as c_title__main %}
            <h1>Modification de votre mot de passe</h1>
        {% endfragment %}
        {% fragment as c_title__secondary %}
            <p>Votre mot de passe a été modifié !</p>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}
