{# django-allauth template override. #}
{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block title %}Modification de votre mot de passe {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        {% if token_fail %}
            Mauvais jeton d'identification
        {% else %}
            Modification de votre mot de passe
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% if token_fail %}

                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            Le lien de réinitialisation du mot de passe est invalide. Il a peut être déjà été utilisé. Veuillez faire une nouvelle <a href="{{ passwd_reset_url }}">demande de réinitialisation de mot de passe</a>.
                        </p>

                    {% else %}

                        {% if form %}

                            <form method="post" action="{{ action_url }}" class="js-prevent-multiple-submit">

                                {% csrf_token %}

                                {% bootstrap_form_errors form type="all" %}

                                {% bootstrap_field form.password1 %}
                                {% bootstrap_field form.password2 %}

                                {% url 'home:hp' as reset_url %}
                                {% itou_buttons_form primary_label="Modifier le mot de passe" reset_url=reset_url %}

                            </form>

                        {% else %}

                            <p>Votre mot de passe a été modifié.</p>

                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
