{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% translate "Réinitialisation du mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate "Réinitialisation du mot de passe" %}</h1>

{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% translate "Nous vous avons envoyé par e-mail les instructions pour réinitialiser votre mot de passe." %}</p>

<p>{% translate "Si vous ne recevez pas d'e-mail dans les minutes qui suivent, pensez à vérifier votre courrier indésirable ou recommencez l'opération en vérifiant qu'il n'y a pas d'erreur de saisie dans votre e-mail." %}</p>
{% endblock %}
