{# django-allauth template override. #}
{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Modification de votre mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% if token_fail %}{% trans "Mauvais jeton d'identification" %}{% else %}{% trans "Modification de votre mot de passe" %}{% endif %}</h1>

    {% if token_fail %}

        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Le lien de réinitialisation du mot de passe est invalide. Il a peut être déjà été utilisé. Veuillez faire une nouvelle <a href="{{ passwd_reset_url }}">demande de réinitialisation de mot de passe</a>.{% endblocktrans %}</p>

    {% else %}

        {% if form %}

            <form method="post" action="{{ action_url }}">

                {% csrf_token %}

                {% bootstrap_field form.password1 %}
                {% bootstrap_field form.password2 %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans "Modifier le mot de passe" %}</button>
                {% endbuttons %}

            </form>

        {% else %}

            <p>{% trans "Votre mot de passe a été modifié." %}</p>

        {% endif %}

    {% endif %}
{% endblock %}
