{# django-allauth template override. #}
{% extends "layout/content_small.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% translate "Réinitialisation du mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% translate "Si un compte existe, vous recevrez un e-mail de réinitialisation" %}</h1>

{% if request.GET.email %}
    {# Give the user a chance to check that there is no typing error in email before contacting support. #}
    <h2 class="text-muted">{{ request.GET.email }}</h2>
{% endif %}

{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% translate "Il contient les instructions pour réinitialiser votre mot de passe." %}</p>

<p>{% translate "Si vous le ne recevez pas dans les minutes qui suivent :" %}</p>

<ul>
    <li>{% translate "vérifiez votre courrier indésirable" %}</li>
    <li>{% translate "vérifiez qu'il n'y a pas d'erreur dans votre e-mail" %}</li>
</ul>
{% endblock %}
