{# django-allauth template override. #}
{% extends "layout/content.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Modifier mon mot de passe" %}{{ block.super }}{% endblock %}

{% block content %}
<div class="content-small">

    <h1>{% trans "Modifier mon mot de passe" %}</h1>

    <form method="post" action="{% url 'account_change_password' %}">

        {% csrf_token %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans "Modifier le mot de passe" %}</button>
        {% endbuttons %}

    </form>

</div>
{% endblock %}
