{# django-allauth template override. #}

{% extends "layout/base.html" %}
{% load components %}

{% comment %}
    Hijacking this template is the simplest, most elegant and less intrusive way
    to manage the case when a PEAMU user has not verified their email yet.

    Unverified PEAMU users are redirected to this template by django-allauth
    most likely because the email data is missing and django-allauth thus
    prompts the user to enter his email manually on this form to complete the signup process.
{% endcomment %}

{% block title %}Votre compte France Travail doit être validé {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Votre compte France Travail doit être validé</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>Vous devez valider votre compte France Travail pour vous connecter.</p>
                    <p>
                        Cliquez sur le lien « <i>Je confirme mon adresse électronique</i> » dans le courriel
                        « <i>Confirmation de votre adresse électronique</i> » que France Travail vous a envoyé.
                    </p>
                    <p>
                        <a href="{% url 'login:job_seeker' %}">
                            <span class="btn btn-secondary">Retour</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
