{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}

{% block title %}Connexion {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Se connecter</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col">
                    <div class="c-form mb-5">
                        <h2>Double authentification</h2>

                        {% component_alert title=title content=content variant="info" %}
                            {% fragment as title %}
                                Ouvrez l’un de vos appareils configurés et recopiez le code affiché :
                            {% endfragment %}
                            {% fragment as content %}
                                <ol class="list-unstyled">
                                    {% for device in devices %}
                                        <li>
                                            {{ device.name }}
                                            {% if device.last_used_at %}
                                                &ndash;
                                                Dernière utilisation le
                                                {{ device.last_used_at|date:"d F Y à H\hi" }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                                {% comment %}
                                FIXME (dbaty): add link to recovery form once it is implemented
                                <p class="mb-0">
                                    <strong>Vous n’avez plus accès à votre appareil ?</strong>
                                    <a href="..." class="btn-link">Cliquez ici pour entrer votre code de récupération</a>
                                </p>
                                {% endcomment %}
                            {% endfragment %}
                        {% endcomponent_alert %}

                        <form method="post" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            <fieldset>
                                {% bootstrap_form_errors form type="all" %}
                                {% bootstrap_field form.otp_token %}
                            </fieldset>
                            {% itou_buttons_form primary_label="Valider" reset_url=None %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
