{% extends "layout/content.html" %}

{% block title %}Rechercher des prescripteurs{{ block.super }}{% endblock %}

{% block pre_content %}

    <section class="layout-section layout-banner-container">

        <div class="layout-content">

            <h2 class="text-center my-5 text-light">Rechercher des prescripteurs</h2>

            <form method="get" action="{% url 'search:prescribers_results' %}" class="d-block mb-5">
                {% include "search/includes/prescribers_search_form.html" with form=form %}
            </form>

        </div>

        <div class="layout-banner layout-banner-work-office"></div>

    </section>

{% endblock %}

{# The "content" block is empty here, so we hide it to avoid a gap in UI. #}
{% block content_container_css_classes %}{{ block.super }} d-none{% endblock %}
{% block content %}{% endblock %}
