{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    {% brand %}
{% endblock %}

{% block body_class %}p-home{% endblock %}

{% block content %}
    <section class="s-home-search">
        <div class="s-home-search__container container">
            <div class="s-home-search__row row">
                <div class="s-home-search__col col-12">
                    <img class="s-home-search__visuel"
                         src="{% static 'img/home/illustration-search.webp' %}"
                         alt=""
                         width="1305"
                         height="870">
                    <h1>
                        Tous les emplois, les services d'insertion,
                        <br class="d-none d-md-inline">
                        et les accompagnateurs autour de vous
                    </h1>
                    <ul class="nav justify-content-center gap-2 mb-3"
                        id="searchTab"
                        role="tablist"
                        aria-label="Type de recherche">
                        <li class="nav-item" role="presentation">
                            <button class="s-home-search__badge active"
                                    id="company-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#home"
                                    type="button"
                                    role="tab"
                                    aria-controls="home"
                                    aria-selected="true">
                                <i class="ri-briefcase-line mr-1 d-none d-md-inline" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Un emploi inclusif</span>
                                <span class="d-md-none">Emploi inclusif</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="s-home-search__badge"
                                    id="services-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile"
                                    type="button"
                                    role="tab"
                                    aria-controls="profile"
                                    aria-selected="false"
                                    tabindex="-1">
                                <i class="ri-compass-3-line me-1 d-none d-md-inline" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Un service d'insertion</span>
                                <span class="d-md-none">Service d'insertion</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="s-home-search__badge"
                                    id="prescribers-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#messages"
                                    type="button"
                                    role="tab"
                                    aria-controls="messages"
                                    aria-selected="false"
                                    tabindex="-1">
                                <i class="ri-user-line me-1 d-none d-md-inline" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Un accompagnement</span>
                                <span class="d-md-none">Accompagnement</span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active"
                             id="home"
                             role="tabpanel"
                             aria-labelledby="company-tab"
                             tabindex="0">
                            <div class="c-search">
                                <div class="c-search__bar">
                                    <form action="{% url 'search:employers_results' %}"
                                          role="search"
                                          aria-label="Rechercher un emploi inclusif">
                                        {% include "search/includes/siaes_search_form.html" with form=company_search_form is_home=True only %}
                                        {% if job_seeker %}
                                            <input type="hidden"
                                                   name="job_seeker_public_id"
                                                   value="{{ job_seeker.public_id }}">
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="services-tab" tabindex="0">
                            <div class="c-search">
                                <div class="c-search__bar">
                                    <form action="{% url 'search:services_results' %}"
                                          role="search"
                                          aria-label="Rechercher un service d'insertion">
                                        {% include "search/includes/services_search_form.html" with form=services_search_form is_home=True only %}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane"
                             id="messages"
                             role="tabpanel"
                             aria-labelledby="prescribers-tab"
                             tabindex="0">
                            <div class="c-search">
                                <div class="c-search__bar">
                                    <form action="{% url 'search:prescribers_results' %}"
                                          role="search"
                                          aria-label="Rechercher un accompagnement">
                                        {% include "search/includes/prescribers_search_form.html" with form=prescribers_search_form is_home=True only %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="s-home-search__note">Recherche libre et sans compte. Créez un compte pour postuler, orienter ou publier.</p>
                </div>
            </div>
        </div>
    </section>
    {# src is set by plateforme_accueil_embed.js, once it can catch the first resize message. #}
    <iframe id="plateforme-accueil-iframe"
            data-plateforme-accueil="{{ iframe_url }}"
            sandbox="allow-forms allow-scripts allow-top-navigation-by-user-activation"
            title="Formulaires de recherche d’employeur, d’accompagnateur et de services. Présentation {% brand "de" %}."></iframe>
{% endblock %}

{% block extra_script_files %}
    <script src="{% static 'js/plateforme_accueil_embed.js' %}"></script>
{% endblock %}
