{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% trans "Rechercher des employeurs solidaires" %}{{ block.super }}{% endblock %}

{% block pre_content %}

    <section class="layout-section layout-banner-container">

        <div class="layout-content">

            <h2 class="text-center my-5 text-light">{% trans "Rechercher des employeurs solidaires" %}</h2>

            <form method="get" action="{% url 'search:siaes_results' %}" class="d-block mb-5">
                {% include "search/includes/siaes_search_form.html" with form=form %}
            </form>

        </div>

        <div class="layout-banner layout-banner-work-labour"></div>

    </section>

{% endblock %}
