{% extends "layout/base.html" %}
{% load static %}

{% block title %}Les emplois de l'inclusion{% endblock %}

{% block body_class %}p-home{% endblock %}

{% block content %}
    {% include "search/includes/generic_search_home.html" with form=siae_search_form title="Rechercher un emploi inclusif" url_search="search:employers_results" template_form_name="search/includes/siaes_search_form.html" %}
    <iframe id="iframe-plateforme-accueil" src="https://novarw2u9ckv-plateforme-accueil.functions.fnc.fr-par.scw.cloud/" sandbox="allow-scripts"></iframe>
{% endblock %}

{% block script %}
    <script nonce="{{ csp_nonce }}">
        (function() {
            "use strict";
            const frame = document.getElementById("iframe-plateforme-accueil");
            window.addEventListener("message", function(event) {
                var data = event.data;
                if (!data || data.source !== "plateforme-accueil" || data.type !== "resize" || frame.contentWindow !== event.source) {
                    return;
                }
                frame.style.height = data.height + "px";
            });
        })();
    </script>
{% endblock %}
