{% extends "layout/content.html" %}
{% load i18n %}

{% block title %}{% trans "Tableau de bord" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Tableau de bord" %}</h1>

    <div class="card-deck mt-3">

        <div class="card">
            <h5 class="card-header">{% trans "Informations" %}</h5>
            <div class="card-body">
                <p class="card-text">
                    {% include "includes/icon.html" with icon="lock" %}
                    <a href="{% url 'account_change_password' %}">
                        {% trans "Modifier mon mot de passe" %}
                    </a>
                </p>
            </div>
        </div>

        {% if user.is_siae_staff and current_siae %}
            <div class="card">
                <h5 class="card-header">{% trans "Métiers" %}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% include "includes/icon.html" with icon="briefcase" %}
                        <a href="{% url 'siae:configure_jobs' siret=current_siae.siret %}">
                            {% trans "Configurez vos métiers" %}
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
