{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Invitation" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Invitation"%}</h1>
    {% blocktrans with date=expiration_date|date %}
        <div class="alert alert-info w-sm-75" role="alert">
            <span class="d-block">Vos invités recevront un e-mail qui leur permettra de rejoindre la Plateforme de l'inclusion.</span>
            <span class="d-block">Ces invitations resteront valides jusqu'au {{ date }}.</span>
        </div>
    {% endblocktrans %}

    <form method="post" action="{% url 'invitations_views:create' %}" class="js-prevent-multiple-submit my-3">
        {% csrf_token %}

        {{ formset.management_form }}

        {% for form in formset %}
            {% bootstrap_form_errors form type="non_field_errors" %}
            <div class="inline-form-row row align-items-top mt-3">
                {% bootstrap_form form show_label=False form_group_class="col-md-3 mt-2" %}
            </div>
        {% endfor %}

        <button type="submit" class="btn my-3 btn-light" formaction="{% url 'invitations_views:create' %}?add_form=1">{% trans "Ajouter une invitation" %}</button>

        {% buttons %}
            <a class="btn btn-secondary my-3" href="{% url 'siaes_views:members' %}">{% trans "Retour" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Envoyer" %}</button>
        {% endbuttons %}
    </form>


{% endblock %}