{% extends "layout/content.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Invitation" %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>{% trans "Invitation"%}</h1>

    <form method="post" action="{% url 'invitations_views:create' %}" class="js-prevent-multiple-submit">
        {% csrf_token %}

        {{ formset.management_form }}

        {% for form in formset %}

            <div class="form-row align-items-center">
                {% bootstrap_form form show_label=False field_class="col-auto" %}
            </div>

        {% endfor %}

        <button type="submit" class="btn my-3 btn-light" formaction="{% url 'invitations_views:create' %}?add_form=1">{% trans "Ajouter une invitation" %}</button>

        {% buttons %}
            <a class="btn btn-secondary my-3" href="{% url 'siaes_views:members' %}">{% trans "Retour" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Envoyer" %}</button>
        {% endbuttons %}
    </form>


{% endblock %}