{% extends "layout/content.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Invitation" %}{{ block.super }}{% endblock %}

{% block content %}
    <h1 class="text-center h4 mb-4">{% trans "Rejoindre une organisation" %}</h1>

    {% include "invitations_views/includes/invitation_errors.html" with invitation=invitation %}

    {% if show_join_button %}
        <div class="bg-light p-3 p-sm-5 border rounded text-center w-sm-50 m-auto">
             <p>
                  {% blocktrans with org_name=invitation.siae.display_name|title %}
                      Afin de rejoindre l'organisation <b>{{ org_name }}</b>, merci de cliquer sur le bouton ci-dessous.
                  {% endblocktrans %}
             </p>
            <form
                id="join_siae_form"
                method="post"
                action="{% url 'invitations_views:join_siae' invitation_id=invitation.pk %}"
                role="form"
                class="js-prevent-multiple-submit">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                        {% trans "Accepter l'invitation" %}
                    </button>
            </form>
        </div>
    {% endif %}

{% endblock %}
