{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Invitation{{ block.super }}{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">Bienvenue {{ invitation.first_name }} {{ invitation.last_name }} !</h1>
    <div class="">
        Vous allez rejoindre le tableau de bord de <span class="font-weight-bold">{{ invitation.organization.name }}{{ invitation.siae.display_name }}</span>
    </div>

    {% include "inclusion_connect/includes/description.html" %}

{% endblock %}

{% block script %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
