{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Invitation {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>Bienvenue {{ invitation.first_name|title }} {{ invitation.last_name|upper }} !</h1>
    <p>
        Vous allez rejoindre le tableau de bord de <span class="font-weight-bold">{{ invitation.organization.name }}{{ invitation.siae.display_name }}</span>
    </p>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">{% include "inclusion_connect/includes/description.html" %}</div>
            </div>
        </div>
    </section>
{% endblock %}
