{% extends "layout/content_small.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Déclarer une embauche {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center">
        <h1 class="my-5 flex-grow-1">
            Informations personnelles de <span class="text-muted">{{ job_seeker.get_full_name|title }}</span>
        </h1>
        {% include 'apply/includes/eligibility_badge.html' %}
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center mb-4">
        Dernière actualisation du profil : {{ job_seeker.last_checked_at|date }} à {{ job_seeker.last_checked_at|time }}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="c-form">

                <a class="btn btn-link" href="{% url "apply:update_job_seeker_step_1" siae_pk=siae.pk job_seeker_pk=job_seeker.pk %}">Mettre à jour</a>

                {% include "apply/includes/profile_infos.html" %}

                {% buttons %}
                    <div class="text-right">
                        <a class="btn btn-link" href="{% url 'apply:check_nir_for_hire' siae_pk=siae.pk %}">Annuler</a>
                        <a class="btn btn-primary" href="{% url 'apply:check_prev_applications_for_hire' siae_pk=siae.pk job_seeker_pk=job_seeker.pk %}">Suivant</a>
                    </div>
                {% endbuttons %}
            </div>
        </div>
    </div>

{% endblock %}
