{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Déclarer une embauche {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}

    <div class="d-flex flex-column flex-md-row align-items-center">
        <h1 class="my-5 flex-grow-1">
            Déclarer l'embauche de <span class="text-muted">{{ job_seeker.get_full_name|title }}</span>
        </h1>
        {% include 'apply/includes/eligibility_badge.html' %}
    </div>

    {% include "approvals/includes/card.html" with common_approval=job_seeker.latest_common_approval %}


    <h2>Candidat</h2>

    <h3>Informations personnelles</h3>
    {% include "apply/includes/job_seeker_info.html" with job_seeker=job_seeker %}

    {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis siae=siae job_seeker=job_seeeker sent_by_authorized_prescriber=False %}


    <h2>Contrat</h2>
    {% bootstrap_form_errors form_accept type="non_fields" %}
    {% if job_application.to_siae.kind == SiaeKind.GEIQ %}
        {% bootstrap_field form_accept.contract_type %}
        <div id="contractTypeDetails" {% if not form_accept.is_bound or form_accept.contract_type.value != hide_value %}class="d-none"{% endif %}>
            {% bootstrap_field form_accept.contract_type_details %}
        </div>
        {% bootstrap_field form_accept.nb_hours_per_week %}
    {% endif %}
    {% bootstrap_field form_accept.hiring_start_at %}
    {% bootstrap_field form_accept.hiring_end_at %}
    {% bootstrap_field form_accept.answer %}

    TODO: rajouter la modale de confirmation existante
    {% buttons %}
        <a class="btn btn-block btn-primary" href="">Confirmer l'embauche</a>
        <a class="btn btn-block btn-outline-primary" href="{% url 'home:hp' %}">Annuler l'embauche</a>
    {% endbuttons %}
</form>

{% endblock %}
