{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Déclarer une embauche {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/breadcrumbs_from_dashboard.html" %}
{% endblock %}

{% block content %}

    <div class="d-flex flex-column flex-md-row align-items-center">
        <h1 class="my-5 flex-grow-1">
            Déclarer l'embauche de <span class="text-muted">{{ job_seeker.get_full_name|title }}</span>
        </h1>
        {% include 'apply/includes/eligibility_badge.html' %}
    </div>

    {% include "approvals/includes/card.html" with common_approval=job_seeker.latest_common_approval %}


    <h2>Candidat</h2>

    <h3>Informations personnelles</h3>
    {% include "apply/includes/job_seeker_info.html" with job_seeker=job_seeker %}

    {% buttons %}
        <a class="btn btn-block btn-primary" href="url vers eligibility">Valider les critères d'éligibilité</a>
        <a class="btn btn-block btn-outline-primary" href="{% url 'home:hp' %}">Annuler l'embauche</a>
    {% endbuttons %}
</form>

{% endblock %}
