{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load geiq_assessments_badges %}

{% block title %}Bilan d’exécution - {{ assessment.name_for_institution }} {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_extra %}
    <ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist" data-it-sliding-tabs="true">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == active_tab.FILE %} active{% endif %}" href="{% url 'geiq_assessments_views:details_for_institution' pk=assessment.pk %}">{{ active_tab.FILE.label }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == active_tab.CONTRACTS %} active{% endif %}" href="{% url 'geiq_assessments_views:assessment_contracts_list' pk=assessment.pk %}">{{ active_tab.CONTRACTS.label }}</a>
        </li>
    </ul>
{% endblock %}

{% block title_content %}
    <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
        <div class="d-xl-flex align-items-xl-center">
            <h1 class="mb-1 mb-xl-0 me-xl-3 text-xl-nowrap">Bilan d’exécution - {{ assessment.name_for_institution }}</h1>
            {% state_for_institution assessment %}
        </div>
        <button class="btn btn-lg btn-ico-only btn-link justify-content-lg-end" type="button" data-it-action="print" aria-label="Imprimer la page">
            <i class="ri-printer-line font-weight-normal" aria-hidden="true"></i>
        </button>
    </div>
{% endblock %}
