{% extends "layout/base.html" %}
{% load buttons_form %}
{% load django_bootstrap5 %}

{% block title %}Bilan financier de l’action - {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
        <div class="d-xl-flex align-items-xl-center">
            <h1 class="mb-1 mb-xl-0 me-xl-3 text-xl-nowrap">Bilan financier de l’action</h1>
            {% if assessment.action_financial_assessment_file %}
                {% include "geiq_assessments_views/includes/badge_completed.html" only %}
            {% else %}
                {% include "geiq_assessments_views/includes/badge_to_complete.html" only %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1">
                    <h4>1. Téléchargez le modèle du document</h4>
                    <a href="https://www.service-public.fr/particuliers/vosdroits/R46623" class="btn btn-outline-primary mb-3 has-external-link" rel="noopener" target="_blank">
                        <span>Modèle bilan financier de l’action</span>
                    </a>
                    <h4>2. Déposez ici le document rempli</h4>

                    <form method="post" class="js-prevent-multiple-submit"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        {% bootstrap_form_errors form alert_error_type="all" %}
                        {% bootstrap_field form.assessment_file show_label=False %}
                        {% itou_buttons_form primary_label="Enregistrer et quitter" reset_url=back_url %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
