{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load format_filters %}

{% block title %}Détail et sélection des parcours {{ block.super }}{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                Détail et sélection des parcours
                {% if request.user.is_employer %}
                    {% if assessment.contracts_selection_validated_at %}
                        {% include "geiq_assessments_views/includes/badge_completed.html" with badge_size="badge-base" only %}
                    {% else %}
                        {% include "geiq_assessments_views/includes/badge_to_complete.html" with badge_size="badge-base" only %}
                    {% endif %}
                {% elif request.user.is_labor_inspector %}
                    {% if assessment.grants_selection_validated_at %}
                        {% include "geiq_assessments_views/includes/badge_checked.html" with badge_size="badge-base" only %}
                    {% else %}
                        {% include "geiq_assessments_views/includes/badge_to_check.html" with badge_size="badge-base" only %}
                    {% endif %}
                {% endif %}
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container"> 
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% include "geiq_assessments_views/includes/contracts_list_stats.html" with stats=stats hx_swap_oob=False request=request only %}
                    {% if request.user.is_employer %}
                        <h2>Sélectionnez les contrats pour lesquels vous souhaitez obtenir une aide</h2>
                        <p>
                            Les contrats compris dans la période du 1er octobre de l’année N-2 au 31 décembre de l’année N-1 sont importés ici depuis Label.
                            <br>
                            Par défaut, tous les contrats dont la durée est inférieure à 3 mois sont désélectionnés, vous pouvez toujours les sélectionner si la situation le nécessite.
                        </p>
                    {% elif request.user.is_labor_inspector %}
                        <h2>Sélectionnez les contrats pour lesquels vous souhaitez accorder l’aide</h2>
                    {% endif %}
                    <div class="table-responsive mt-3 mt-md-4">
                        <table class="table table-hover">
                            <caption class="visually-hidden">Liste des bilans d’exécution</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Prénom NOM</th>
                                    <th scope="col">Date de début</th>
                                    <th scope="col">Date de fin</th>
                                    <th scope="col">+ de 3 mois en {{ assessment.campaign.year }}</th>
                                    <th scope="col">Aide potentielle</th>
                                    {% if request.user.is_employer %}
                                        <th scope="col">Obtenir l’aide</th>
                                    {% elif request.user.is_labor_inspector %}
                                        <th scope="col">Éligible à l’aide</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contracts_page %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-link" href="{% url "geiq_assessments_views:assessment_contracts_detail" contract_pk=contract.pk tab=AssessmentContractDetailsTab.EMPLOYEE %}">{{ contract.employee }}</a>
                                        </td>
                                        <td>{{ contract.start_at|date:"d/m/Y"|default:"-" }}</td>
                                        <td>
                                            {% if contract.end_at %}
                                                {{ contract.end_at|date:"d/m/Y" }}
                                            {% else %}
                                                {{ contract.planned_end_at|date:"d/m/Y"|default:"-" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ contract.with_3_months_in_assessment_year|yesno:"Oui,Non" }}</td>
                                        <td>{{ contract.employee.allowance_amount|format_int_euros }}</td>
                                        <td>
                                            {% if request.user.is_employer %}
                                                {% include "geiq_assessments_views/includes/contracts_switch.html" with contract=contract value=contract.allowance_requested csrf_token=csrf_token from_list=True readonly_access=readonly_access only %}
                                            {% elif request.user.is_labor_inspector %}
                                                {% include "geiq_assessments_views/includes/contracts_switch.html" with contract=contract value=contract.allowance_granted csrf_token=csrf_token from_list=True readonly_access=readonly_access only %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div
                    {% include "includes/pagination.html" with page=contracts_page boost=True %}

                    {% if not readonly_access %}

                        <form method="POST" class="js-prevent-multiple-submit">
                            {% csrf_token %}
                            {% itou_buttons_form primary_label="Valider la sélection" reset_url=back_url show_mandatory_fields_mention=False %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
