{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load format_filters %}

{% block title %}Saisir la décision - Bilan d’exécution GEIQ - {{ block.super }}{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>
                Saisir la décision
                {% if assessment.decision_validated_at %}
                    {% include "geiq_assessments_views/includes/badge_completed.html" only %}
                {% else %}
                    {% include "geiq_assessments_views/includes/badge_to_complete.html" only %}
                {% endif %}
            </h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1">
                    <div class="c-box c-box--summary mb-3">
                        <div class="c-box--summary__header">
                            <h3 class="m-3">Récapitulatif</h3>
                        </div>
                        <hr class="m-0">
                        <div class="c-box--summary__body">
                            <div class="c-box--summary__list-data">
                                <ul class="list-unstyled">
                                    <li class="d-flex gap-2">
                                        <span class="flex-grow-1">Nombre d’aides à 814 €</span>
                                        <strong>{{ stats.allowance_of_814_nb }}</strong>
                                    </li>
                                    <li class="d-flex gap-2">
                                        <span class="flex-grow-1">Nombre d’aides à 1400 €</span>
                                        <strong>{{ stats.allowance_of_1400_nb }}</strong>
                                    </li>
                                    <li class="d-flex gap-2">
                                        <span class="flex-grow-1">Nombre d’aides refusées</span>
                                        <strong>{{ stats.refused_allowance_nb }}</strong>
                                    </li>
                                    <li>
                                        <hr class="my-3">
                                    </li>
                                    <li class="d-flex gap-2">
                                        <span class="flex-grow-1">Montant total potentiel</span>
                                        <strong>{{ stats.potential_allowance_amount|format_int_euros }}</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-info mt-3 mt-lg-4">
                                <span class="c-info__summary">Ces données ont été calculées suite à la selection que vous avez effectuée</span>
                            </div>
                        </div>
                    </div>
                    <form method="post" class="js-prevent-multiple-submit" id="review_form">
                        {% csrf_token %}
                        <div class="c-box mb-3">
                            <h3 class="mb-3">Conventionnement</h3>
                            <div class="d-flex flex-column gap-3 mb-3">
                                <div class="d-flex flex-row justify-content-between">
                                    <label for="id_convention_amount">Montant conventionné (convention initiale + avenant)</label>
                                    {% bootstrap_field form.convention_amount show_label='skip' %}
                                </div>
                            </div>
                        </div>
                        <div id="decision-box" class="c-box mb-3">
                            <h3 class="mb-3">Décision</h3>
                            {% bootstrap_form_errors form type='non_fields' %}
                            <div class="d-flex flex-column gap-3 mb-3">
                                <div class="d-flex flex-row justify-content-between">
                                    <label for="id_granted_amount">Montant total accordé</label>
                                    {% bootstrap_field form.granted_amount show_label='skip' %}
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <label for="id_advance_amount">Premier versement déjà réalisé</label>
                                    {% bootstrap_field form.advance_amount show_label='skip' %}
                                </div>
                                <hr>
                                <div class="d-flex flex-row justify-content-between">
                                    <span>Deuxième versement à prévoir</span>
                                    <strong>
                                        {% if balance_amount >= 0 %}
                                            {{ balance_amount|format_int_euros }}
                                        {% else %}
                                            - €
                                        {% endif %}
                                    </strong>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <span>Remboursement attendu</span>
                                    <strong>
                                        {% if balance_amount < 0 %}
                                            {{ balance_amount|format_int_euros }}
                                        {% else %}
                                            - €
                                        {% endif %}
                                    </strong>
                                </div>
                            </div>
                            {% bootstrap_field form.review_comment %}
                            <div class="c-info">
                                <span class="c-info__summary">Si vous validez cette décision, le GEIQ sera notifié par mail avec les détails renseignés.</span>
                            </div>
                        </div>
                        {% itou_buttons_form primary_label="Valider la décision" reset_url=back_url %}
                    </form>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2">
                    <div class="c-box mb-3 mb-md-4">
                        <h4>
                            Structures concernées par la convention
                        </h5>
                        <ul>
                            {% for antenna in assessment.label_antennas %}<li>{{ antenna.name }}</li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
