{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}

{% block title %}Détail et sélection des parcours {{ block.super }}{% endblock %}

{% block title_prevstep %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
        <div class="d-xl-flex align-items-xl-center">
            <h1 class="mb-1 mb-xl-0 me-xl-3 text-xl-nowrap">Détail et sélection des parcours</h1>
            <span class="badge badge-base rounded-pill text-nowrap bg-info">À compléter</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container"> 
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% include "geiq_assessments_views/includes/contracts_list_stats.html" with assessment=assessment hx_swap_oob=False only %}
                    <h2>Sélectionnez les contrats pour lesquels vous souhaitez obtenir une aide</h2>
                    <p>
                        Les contrats compris dans la période du 1er octobre de l’année N-2 au 31 décembre de l’année N-1 sont importés ici depuis Label.
                        <br>
                        Par défaut, tous les contrats dont la durée est inférieure à 3 mois sont désélectionnés, vous pouvez toujours les sélectionner si la situation le nécessite.
                    </p>
                    <div class="table-responsive mt-3 mt-md-4">
                        <table class="table table-hover">
                            <caption class="visually-hidden">Liste des bilans d’exécution</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Prénom NOM</th>
                                    <th scope="col">Date de début</th>
                                    <th scope="col">Date de fin</th>
                                    <th scope="col">Aide potentielle</th>
                                    <th scope="col">Obtenir l’aide</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contracts_page %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-link" href="{% url "geiq_assessments_views:assessment_contracts_detail" pk=assessment.pk contract_pk=contract.pk tab=AssessmentContractDetailsTab.EMPLOYEE %}">{{ contract.employee }}</a>
                                        </td>
                                        <td>{{ contract.start_at|date:"d/m/Y"|default:"-" }}</td>
                                        <td>
                                            {% if contract.end_at %}
                                                {{ contract.end_at|date:"d/m/Y" }}
                                            {% else %}
                                                {{ contract.planned_end_at|date:"d/m/Y"|default:"-" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ contract.employee.allowance_amount|format_int_euros }}</td>
                                        <td>
                                            {% include "geiq_assessments_views/includes/contracts_switch.html" with assessment=assessment contract=contract csrf_token=csrf_token only %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include "includes/pagination.html" with page=contracts_page boost=True %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
