{% extends "layout/base.html" %}
{% load format_filters %}
{% load django_bootstrap5 %}
{% load static %}
{% load buttons_form %}

{% block title %}Créer un bilan d’exécution {{ block.super }}{% endblock %}

{% block title_content %}<h1>Créer un bilan d’exécution</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% if not campaign_label_infos %}
                        La campagne actuelle n'est pas encore ouverte ou les données LABEL ne sont pas encore disponibles.
                    {% elif not geiq_infos %}
                        Le SIRET ({{ siret }}) de votre entreprise actuelle ne semble pas connu de LABEL: impossible de créer un bilan.
                    {% endif %}
                    <h2>Créer un bilan</h2>
                    {{ create_form }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
