{% extends "layout/base.html" %}
{% load components %}
{% load django_bootstrap5 %}

{% block title %}Bilans d’exécution GEIQ {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Bilans d’exécution GEIQ</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                {% include "geiq_assessments_views/includes/assessments_list_results_for_institutions.html" with request=request assessments=assessments can_access_details=can_access_details only %}
            </div>
        </div>
    </section>
{% endblock %}
