{% extends "layout/base.html" %}
{% load components %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load geiq_assessments_badges %}
{% load static %}
{% load str_filters %}

{% block title %}Bilan d’exécution {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Bilan d’exécution</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% if assessments %}
                        <div class="d-flex flex-column flex-lg-row gap-3 align-items-lg-center justify-content-lg-between mb-3">
                            <h2 class="mb-0">Mes bilans</h2>
                            <div class="d-flex flex-column flex-md-row gap-2 justify-content-md-end" role="group" aria-label="Actions sur les bilans d’exécution">
                                <a class="btn btn-primary" href="{% url "geiq_assessments_views:create" %}">Créer un bilan d’exécution</a>
                            </div>
                        </div>
                        <p>{{ assessments|length }} résultat{{ assessments|pluralizefr }}</p>
                        <div class="table-responsive mt-3 mt-md-4">
                            <table class="table table-hover">
                                <caption class="visually-hidden">Liste des bilans d’exécution</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Institution</th>
                                        <th scope="col">Structures</th>
                                        <th scope="col">Créé par</th>
                                        <th scope="col">Date d’envoi</th>
                                        <th scope="col">Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for assessment in assessments %}
                                        <tr>
                                            <td>
                                                <a class="btn-link" href="{% url "geiq_assessments_views:details_for_geiq" pk=assessment.pk %}">{{ assessment.name_for_geiq }}</a>
                                            </td>
                                            <td>
                                                <ul class="mb-0">
                                                    {% for antenna in assessment.label_antennas %}
                                                        <li>
                                                            {% if antenna.id %}
                                                                {{ antenna.name }}
                                                            {% else %}
                                                                Siège
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ assessment.created_by.get_full_name }}</td>
                                            <td>{{ assessment.submitted_at|date:"d/m/Y"|default:"-" }}</td>
                                            <td>{% state_for_geiq assessment %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h2>Mes bilans</h2>
                        <p>
                            Cet espace vous permet de créer et de suivre vos bilans d’exécution.
                            <br>
                            Vous devez créer un bilan par convention.
                        </p>
                        <a class="btn btn-primary" href="{% url "geiq_assessments_views:create" %}">Créer un bilan d’exécution</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
