<div class="c-box c-box--results has-links-inside my-3 my-md-4">
    <div class="c-box--results__header">
        <div class="c-box--results__summary">
            <i class="ri-user-line" aria-hidden="true"></i>
            <div>
                <h3>{{ user.get_full_name }}</h3>
            </div>
        </div>
    </div>

    <hr class="m-0">

    <div class="c-box--results__footer">
        <div class="d-flex justify-content-md-end">
            <a href="{% url 'users:details' public_id=approval.user.public_id %}" class="btn btn-outline-primary btn-block w-100 w-md-auto" aria-label="Voir les informations de {{ user.get_full_name }}">Voir les informations</a>
        </div>
    </div>
</div>
