{% extends "layout/base.html" %}
{% load approvals %}
{% load components %}
{% load format_filters %}
{% load matomo %}
{% load static %}
{% load str_filters %}
{% load theme_inclusion %}

{% block title %}
    PASS IAE de {{ approval.user.get_inverted_full_name|mask_unless:can_view_personal_information }} {{ block.super }}
{% endblock %}

{% block title_navinfo %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main c_title__cta=c_title__cta role="group" aria_label="sur le PASS IAE" %}
        {% fragment as c_title__main %}
            <h1>PASS IAE de {{ approval.user.get_inverted_full_name|mask_unless:can_view_personal_information }}</h1>
        {% endfragment %}
        {% fragment as c_title__cta %}
            {% if approval_deletion_form_url %}
                <a href="{{ approval_deletion_form_url }}"
                   id="approval-deletion-link"
                   class="btn btn-lg btn-danger btn-ico"
                   target="_blank"
                   rel="noopener"
                   aria-label="Mettre fin au PASS IAE de {{ approval.user.get_inverted_full_name|mask_unless:can_view_personal_information }}">
                    <i class="ri-pass-expired-line fw-medium" aria-hidden="true"></i>
                    <span>Clôturer ce PASS IAE</span>
                </a>
            {% endif %}
            {% if is_employer_with_accepted_application %}
                <a href="{% url 'approvals:display_printable_approval' public_id=approval.public_id %}" class="btn btn-lg btn-primary btn-ico" rel="noopener" target="_blank">
                    <i class="ri-eye-line fw-medium" aria-hidden="true"></i>
                    <span>Afficher l’attestation</span>
                </a>
            {% endif %}
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block title_extra %}
    {% if can_view_contracts %}
        <ul class="s-tabs-01__nav nav nav-tabs mb-0" data-it-sliding-tabs="true" data-it-sliding-tabs-startindex="2">
            <li class="nav-item">
                <a class="nav-link{% if active_tab == "details" %} active{% endif %}" href="{% url 'approvals:details' public_id=approval.public_id %}?back_url={{ back_url|urlencode }}">
                    Vue d'ensemble
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if active_tab == "contracts" %} active{% endif %}" href="{% url 'approvals:contracts' public_id=approval.public_id %}?back_url={{ back_url|urlencode }}">
                    Suivi des contrats IAE
                    {% new_badge %}
                </a>
            </li>
        </ul>
    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    {% if can_view_contracts %}
        <script src="{% static 'js/sliding_tabs.js'%}"></script>
    {% endif %}
{% endblock %}
