{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Déclarer une prolongation de PASS IAE {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Déclarer une prolongation de PASS IAE
        <br>
        <span class="text-muted">{{ approval.user.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% if not preview %}
                        {# Edit mode. #}
                        <div class="c-box mb-4">
                            {% include "approvals/includes/status.html" with common_approval=approval hiring_pending=False %}
                        </div>
                        <div class="c-box my-4">{% include "approvals/includes/prolongation_declaration_form.html" %}</div>
                    {% else %}
                        {# Preview mode: ask for confirmation before committing to DB. #}

                        <form method="post" class="js-prevent-multiple-submit">

                            {% csrf_token %}

                            {# Hide all form fields. #}
                            {% for field in form %}
                                {% if field.value %}<input type="hidden" name="{{ field.name }}" value="{{ field.value }}" />{% endif %}
                            {% endfor %}

                            {# Show the user a preview of the prolongation. #}
                            <div class="card my-3">
                                <div class="card-body">
                                    <h5 class="h4 card-title">
                                        Vous êtes sur le point de déclarer une prolongation de PASS IAE pour la raison suivante :
                                    </h5>
                                    <p class="card-text">{{ form.instance.get_reason_display }}</p>
                                    <p class="card-text text-success">
                                        À partir du
                                        <span class="badge rounded-pill bg-success">{{ form.instance.start_at|date:"d/m/Y" }}</span>
                                        jusqu'au
                                        <span class="badge rounded-pill bg-success">{{ form.instance.end_at|date:"d/m/Y" }}</span>
                                    </p>
                                    {% if form.instance.validated_by.email %}
                                        <p class="card-text">
                                            Un e-mail sera envoyé au prescripteur habilité désigné pour autoriser la prolongation :
                                            <b>{{ form.instance.validated_by.get_full_name }}</b>
                                            ({{ form.instance.validated_by.email }})
                                        </p>
                                    {% endif %}
                                    <hr>
                                    <p>
                                        En confirmant cette déclaration je certifie sur l'honneur que le motif de prolongation choisi correspond à la situation du salarié.
                                    </p>
                                    {# TODO(cms): refactor buttons_form template tag to use it here. #}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row align-items-center justify-content-end gx-3">
                                                <div class="form-group col-12 col-lg order-3 order-lg-1">
                                                    <button type="submit" class="btn btn-link btn-ico ps-lg-0 w-100 w-lg-auto" aria-label="Annuler la saisie de ce formulaire" name="edit" value="1">
                                                        <i class="ri-close-line ri-lg" aria-hidden="true"></i>
                                                        <span>Annuler</span>
                                                    </button>
                                                </div>
                                                <div class="form-group col col-lg-auto order-1 order-lg-2">
                                                    <a href="{{ back_url }}" class="btn btn-block btn-outline-primary" aria-label="Retourner à l'étape précédente">
                                                        <span>Retour</span>
                                                    </a>
                                                </div>
                                                <div class="form-group col col-lg-auto order-2 order-lg-3">
                                                    <button type="submit" class="btn btn-block btn-primary" aria-label="Valider la prolongation" name="save" value="1">
                                                        <span>Confirmer la déclaration</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
