{% extends "layout/content_small.html" %}

{% block title %}Profil salarié - {{ approval.user.get_full_name }} {{ block.super }}{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">{{ approval.user.get_full_name|title }}</h1>

    <div class="c-box mb-3 mb-lg-5">
        {# Approval status. #}
        <div>{% include "approvals/includes/status.html" with common_approval=approval %}</div>

        {# Approval actions. #}
        {% if approval and request.user.is_siae_staff %}
            <div class="d-flex justify-content-end mb-3">
                {% if approval_can_be_suspended_by_siae %}
                    <a href="{% url 'approvals:suspend' approval_id=approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                       class="btn btn-outline-primary btn-ico mx-2"
                       aria-label="Suspendre le PASS IAE de {{ approval.user.get_full_name }}">
                        <i class="ri-pause-circle-line ri-lg font-weight-medium" aria-hidden="true"></i>
                        <span>Suspendre</span>
                    </a>
                {% elif hire_by_other_siae %}
                    <a class="btn btn-outline-primary btn-ico disabled">
                        <i class="ri-pause-circle-line ri-lg font-weight-medium" aria-hidden="true"></i>
                        <span>Suspendre</span>
                    </a>
                    <i class="btn btn-link ri-information-line ri-xl text-info pl-2 pr-3 font-weight-medium" data-toggle="tooltip" title="La suspension n’est pas possible car un autre employeur a embauché le candidat."></i>
                {% endif %}
                {% if approval_can_be_prolonged_by_siae %}
                    <a href="{% url 'approvals:declare_prolongation' approval_id=approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                       class="btn btn-outline-primary btn-ico mx-2"
                       aria-label="Prolonger le PASS IAE de {{ approval.user.get_full_name }}">
                        <i class="ri-refresh-line ri-lg font-weight-medium" aria-hidden="true"></i>
                        <span>Prolonger</span>
                    </a>
                {% endif %}
                <a class="btn btn-primary btn-ico matomo-event ml-2"
                   data-matomo-action="telechargement-pdf"
                   data-matomo-category="agrement"
                   data-matomo-option="detail-agrement"
                   href="{% url 'approvals:display_printable_approval' approval_id=approval.id %}"
                   target="_blank"
                   aria-label="Afficher le PASS IAE de {{ approval.user.get_full_name }}">
                    <i class="ri-eye-line ri-lg font-weight-medium" aria-hidden="true"></i>
                    <span>Afficher l'attestation</span>
                </a>
            </div>
        {% endif %}
    </div>

    {# Job seeker info ------------------------------------------------------------------------- #}
    <div class="c-box mb-3 mb-lg-5">
        <h2>Informations du salarié</h2>
        <hr>
        <h3>Informations personnelles</h3>
        {# TODO(alaurent) It would be great to remove the use for job_application here #}
        {% include "apply/includes/job_seeker_info.html" with with_matomo_event=True %}
        {# Eligibility ------------------------------------------------------------------------- #}
        {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_application=job_application %}
    </div>

    {# Job applications ------------------------------------------------------------------------ #}
    <div class="c-box mb-3 mb-lg-5">
        <h2>Candidatures de ce salarié</h2>
        <hr>
        {% for job_application_for_card in all_job_applications %}
            {% include "approvals/includes/job_applications.html" with job_application=job_application_for_card %}
        {% endfor %}
    </div>

{% endblock %}
