{% extends "layout/base.html" %}
{% load matomo %}

{% block title %}Profil salarié - {{ approval.user.get_full_name }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block content_title %}<h1>{{ approval.user.get_full_name }}</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-box mb-3 mb-lg-5">
                        {# Approval status. #}
                        <div>{% include "approvals/includes/status.html" with common_approval=approval hiring_pending=hiring_pending %}</div>

                        {# Approval actions. #}
                        {% if approval and request.user.is_employer %}
                            <div class="row justify-content-end g-3">
                                {% if approval_can_be_suspended_by_siae %}
                                    <div class="col-12 col-lg-auto">
                                        <a href="{% url 'approvals:suspend' approval_id=approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                                           class="btn btn-block btn-outline-primary"
                                           aria-label="Suspendre le PASS IAE de {{ approval.user.get_full_name }}">
                                            Suspendre
                                        </a>
                                    </div>
                                {% elif approval.can_be_suspended %}
                                    <div class="col-12 col-lg-auto">
                                        <div class="btn btn-ico">
                                            <span class="disabled">Suspendre</span>
                                            <i class="ri-information-line ri-xl text-info" data-bs-toggle="tooltip" title="La suspension n’est pas possible car un autre employeur a embauché le candidat."></i>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if approval_can_be_prolonged %}
                                    <div class="col-12 col-lg-auto">
                                        <a href="{% url 'approvals:declare_prolongation' approval_id=approval.id %}?back_url={{ request.get_full_path|urlencode }}"
                                           class="btn btn-block btn-outline-primary"
                                           aria-label="Prolonger le PASS IAE de {{ approval.user.get_full_name }}">
                                            Prolonger
                                        </a>
                                    </div>
                                {% endif %}
                                {% if approval_deletion_form_url %}
                                    <div class="col-12 col-lg-auto">
                                        <a href="{{ approval_deletion_form_url }}"
                                           id="approval-deletion-link"
                                           class="btn btn-block btn-outline-warning"
                                           target="_blank"
                                           rel="noopener"
                                           aria-label="Mettre fin au PASS IAE de {{ approval.user.get_full_name }}">
                                            Clôturer
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="col-12 col-lg-auto">
                                    <a class="btn btn-primary btn-block btn-ico"
                                       {% matomo_event "telechargement-pdf" "agrement" "detail-agrement" %}
                                       href="{% url 'approvals:display_printable_approval' approval_id=approval.id %}"
                                       target="_blank"
                                       rel="noopener"
                                       aria-label="Afficher le PASS IAE de {{ approval.user.get_full_name }}">
                                        <i class="ri-eye-line ri-xl font-weight-medium" aria-hidden="true"></i>
                                        <span>Afficher l'attestation</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {# Job seeker info ------------------------------------------------------------------------- #}
                    <div class="c-box mb-3 mb-lg-5">
                        <h2>Informations du salarié</h2>
                        <hr>
                        <h3>Informations personnelles</h3>
                        {% include "apply/includes/job_seeker_info.html" with job_seeker=approval.user job_application=job_application with_matomo_event=True can_view_personal_information=can_view_personal_information can_edit_personal_information=can_edit_personal_information request=request csrf_token=csrf_token only %}
                        {# Eligibility ------------------------------------------------------------------------- #}
                        {% if eligibility_diagnosis %}
                            {% include "apply/includes/eligibility_diagnosis.html" with eligibility_diagnosis=eligibility_diagnosis job_seeker=job_application.job_seeker is_sent_by_authorized_prescriber=job_application.is_sent_by_authorized_prescriber siae=job_application.to_company %}
                        {% endif %}
                    </div>

                    {# Job applications ------------------------------------------------------------------------ #}
                    <div class="c-box mb-3 mb-lg-5">
                        <h2>Candidatures de ce salarié</h2>
                        <hr>
                        {% for job_application_for_card in all_job_applications %}
                            {% include "approvals/includes/job_applications.html" with job_application=job_application_for_card %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
