{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Salariés et PASS IAE {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "layout/previous_step.html" with back_url=back_url only %}
{% endblock %}

{% block content_title %}<h1>Salariés et PASS IAE</h1>{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="col-12">
                    <form hx-get="{% url 'approvals:list' %}"
                          hx-trigger="change delay:.5s, change from:#id_users"
                          hx-indicator="#approvals-list"
                          hx-target="#approvals-list"
                          hx-swap="outerHTML"
                          hx-push-url="true"
                          hx-include="#id_users">
                        <div class="btn-dropdown-filter-group mb-3 mb-md-4">
                            {% include "approvals/includes/approvals_filters/status.html" %}
                            {% include "includes/btn_dropdown_filter/radio.html" with field=filters_form.expiry only %}
                            {% include "approvals/includes/list_reset_filters.html" %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="col-12">
                    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between mb-3 mb-md-4">
                        {% include "approvals/includes/list_counter.html" %}
                        <div class="flex-column flex-md-row mt-3 mt-md-0">{% bootstrap_field filters_form.users layout="inline" %}</div>
                    </div>
                    {% include "approvals/includes/list_results.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src='{% static "js/htmx_compat.js" %}'></script>
    <script src='{% static "js/htmx_dropdown_filter.js" %}'></script>
    <!-- Needed to use the Select2MultipleWidget JS widget. -->
    {{ filters_form.media.js }}
{% endblock %}
