{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Prolonger ou suspendre un agrément émis par Pôle emploi{{ block.super }}{% endblock %}

{% block content %}
    <h2>Prolonger ou suspendre un agrément émis par Pôle emploi</h2>

    {% if number %}

        <div class="alert alert-danger pb-0" role="alert">
            <p><strong>Aucun résultat</strong></p>
            <p>
                Nous n'avons pas trouvé d'agrément avec le numéro <strong>{{ number }}</strong>.<br>
                S'il s'agit bien d'un numéro d'agrément Pôle emploi, vous pouvez <a href="{{ ITOU_ASSISTANCE_URL }}" rel="noopener" target="_blank" aria-label="Ouverture dans un nouvel onglet">contacter le support {% include "includes/icon.html" with icon="external-link" %}</a>.
            </p>
        </div>

    {% endif %}

    <form method="get" action="" role="form" class="js-prevent-multiple-submit">

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
        {% endbuttons %}

    </form>
{% endblock %}
