{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Prolonger ou suspendre un agrément émis par Pôle emploi {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="h1-hero-c1">Prolonger ou suspendre un agrément émis par Pôle emploi</h1>

    <div class="alert alert-info">
        <p class="mb-0">
            Cette fonction est destinée à prolonger ou suspendre un agrément émis par Pôle emploi pour un salarié déjà présent dans vos effectifs (donc déjà déclaré dans l’ASP)
        </p>
    </div>

    {% if number %}

        <div class="alert alert-danger" role="status">
            <p class="mb-0">
                Nous n'avons pas trouvé d'agrément en cours de validité avec le numéro <strong>{{ number }}</strong>.
            </p>
        </div>
        <p>
            S'il s'agit bien d'un numéro d'agrément Pôle emploi, vous pouvez <a href="{{ ITOU_ASSISTANCE_URL }}" rel="noopener" target="_blank" title="Contacter le support (ouverture dans un nouvel onglet)">contacter le support</a><i class="ri-external-link-line ml-1"></i>.
        </p>

    {% endif %}

    <form method="get" action="" role="form" class="js-prevent-multiple-submit">

        {% bootstrap_form form alert_error_type="all" %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
        {% endbuttons %}

    </form>
{% endblock %}
