{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Supprimer la suspension du PASS IAE {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Supprimer la suspension du PASS IAE de
        <br>
        <span class="text-muted">{{ suspension.approval.user.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-stepper mb-3 mb-lg-5">
                        {% include 'approvals/includes/progress_bar.html' with ratio=80 only %}
                        <p>
                            <strong>Étape 2/2</strong> : Demande de précision
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="card c-card">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Action choisie</strong> : Lever la suspension pour <strong class="text-success">réintégrer ce candidat</strong>
                            </p>
                            <form method="post" class="js-prevent-multiple-submit">

                                {% csrf_token %}

                                {% bootstrap_form_errors form alert_error_type="all" %}

                                {% bootstrap_form form %}

                                <hr>
                                <div class="text-end">

                                    <div class="form-group">
                                        <a class="btn btn-outline-primary" href="{{ back_url }}">Retour</a>
                                        {% bootstrap_button "Suivant" button_type="submit" button_class="btn btn-primary" %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
