{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Supprimer la suspension du PASS IAE {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Supprimer la suspension du PASS IAE de <span class="text-muted">{{ suspension.approval.user.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="c-stepper mb-3 mb-lg-5">
                        {% include 'approvals/includes/progress_bar.html' with ratio=80 only %}
                        <p>
                            <strong>Étape 2/2</strong> : Confirmation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="card c-card">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Action choisie</strong> : Confirmer la <strong class="text-danger">suppression définitive</strong> de cette suspension.
                            </p>
                            <div class="alert alert-danger fade show" role="status">
                                <div class="row">
                                    <div class="col-auto pe-0">
                                        <i class="ri-information-line ri-xl text-danger"></i>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">
                                            Attention : la suppression définitive de cette suspension aura pour conséquence de :
                                            <ul>
                                                <li>
                                                    <strong>Réduire la durée restante de ce PASS IAE de {{ lost_days }} jour{{ lost_days|pluralizefr }}.</strong>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-end">
                                <form method="post" class="js-prevent-multiple-submit">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm" value="true">
                                    <div class="form-group">
                                        <a class="btn btn-outline-primary" href="{{ back_url }}">Retour</a>
                                        {% bootstrap_button "Confirmer la suppression" button_type="submit" button_class="btn btn-primary" %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
