{% extends "layout/content_small.html" %}
{% load bootstrap4 %}

{% block title %}Suspendre le PASS IAE{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Suspendre le PASS IAE
        <br>
        <span class="text-muted">{{ approval.user.get_full_name|title }}</span>
    </h1>

    {% if not preview %}{# Edit mode. #}

        {# Approval status. #}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">
                    {% include "approvals/includes/status.html" with approval=approval %}
                </div>
            </div>
        </div>

        <form method="post" action="" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {% bootstrap_form_errors form %}

            {% for field in form %}
                {# Display a warning message before the "reason" field. #}
                {% if field.name == "reason" %}
                    {% include "approvals/includes/suspension_reason_alert.html" %}
                {% endif %}
                {% bootstrap_field field %}
            {% endfor %}

            {% buttons %}
                <a class="btn btn-secondary" href="{{ back_url }}">
                    Retour
                </a>
                {# Enable preview mode: preview=1. #}
                <button type="submit" name="preview" value="1" class="btn btn-primary">
                    Valider la suspension
                </button>
            {% endbuttons %}

        </form>

    {% else %}{# Preview mode: ask for confirmation before committing to DB. #}

        <form method="post" action="" class="js-prevent-multiple-submit">

            {% csrf_token %}

            {# Hide all form fields. #}
            {% for field in form %}
                <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
            {% endfor %}

            {# Show the user a summary of the info. #}
            <div class="card my-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        Vous êtes sur le point de suspendre ce PASS IAE
                        <br>
                        pour la raison suivante :
                    </h5>
                    <p class="card-text">
                        {{ form.instance.get_reason_display }}
                    </p>
                    <p class="card-text text-success">
                        À partir du
                        <span class="badge badge-success">{{ form.instance.start_at|date:"d/m/Y" }}</span>
                        jusqu'au
                        <span class="badge badge-success">{{ form.instance.end_at|date:"d/m/Y" }}</span>
                    </p>
                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                <p>
                    En confirmant cette demande je certifie sur l'honneur que le motif de suspension choisi correspond à la situation du salarié.
                </p>
                {% buttons %}
                    {# Allow the user to modify the suspension: edit=1. #}
                    <button type="submit" name="edit" value="1" class="btn btn-secondary">
                        Annuler
                    </button>
                    {# Create a suspension: save=1. #}
                    <button type="submit" name="save" value="1" class="btn btn-primary">
                        Confirmer la suspension
                    </button>
                {% endbuttons %}
            </div>

        </form>

    {% endif %}

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}
{% endblock %}
