{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Modifier la suspension de PASS IAE{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Modifier la suspension de PASS IAE
        <br>
        <span class="text-muted">{{ suspension.approval.user.get_full_name|title }}</span>
    </h1>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% for field in form %}
            {# Display a warning message before the "reason" field. #}
            {% if field.name == "reason" %}
                {% include "approvals/includes/suspension_reason_alert.html" %}
            {% endif %}
            {% bootstrap_field field %}
        {% endfor %}

        {% buttons %}
            <a class="btn btn-secondary" href="{{ back_url }}">
                Retour
            </a>
            <button type="submit" class="btn btn-primary">
                Valider
            </button>
        {% endbuttons %}

    </form>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}
{% endblock %}
