{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load buttons_form %}

{% block title %}Suspendre le PASS IAE {{ block.super }}{% endblock %}

{% block content_title %}
    <h1>
        Suspendre le PASS IAE
        <br>
        <span class="text-muted">{{ approval.user.get_full_name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    {% if not preview %}
                        {# Edit mode. #}

                        {% include "approvals/includes/card.html" with common_approval=approval %}
                        <div class="c-form">
                            <form method="post" class="js-prevent-multiple-submit">

                                {% csrf_token %}

                                {% bootstrap_form_errors form alert_error_type="all" %}

                                {# Split form fields for easier collapsible behaviour #}
                                {% bootstrap_field form.start_at %}
                                <div id="collapse_end_at" class="collapse{% if not form.set_default_end_date.value %} show{% endif %}">
                                    {% bootstrap_field form.end_at %}
                                </div>
                                <div role="button" data-bs-toggle="collapse" data-bs-target="#collapse_end_at" aria-controls="collapse_end_at">
                                    {% bootstrap_field form.set_default_end_date %}
                                </div>
                                {% bootstrap_field form.reason %}

                                <div class="alert alert-info">
                                    <div class="row">
                                        <div class="col-auto pe-0">
                                            <i class="ri-information-line ri-xl text-warning"></i>
                                        </div>
                                        <div class="col">
                                            <p class="mb-0">La suspension du PASS IAE pourra être levée en cas d’embauche par un autre employeur.</p>
                                        </div>
                                    </div>
                                </div>

                                {% bootstrap_field form.reason_explanation %}

                                {% itou_buttons_form primary_label="Valider la suspension" primary_aria_label="Valider la suspension du PASS IAE de "|add:approval.user.get_full_name primary_name="preview" primary_value=1 reset_url=back_url %}

                            </form>
                        </div>

                    {% else %}
                        {# Preview mode: ask for confirmation before committing to DB. #}

                        <div class="c-form">
                            <form method="post" class="js-prevent-multiple-submit">

                                {% csrf_token %}

                                {# Hide all form fields. #}
                                {% for field in form %}<input type="hidden" name="{{ field.name }}" value="{{ field.value }}">{% endfor %}

                                {# Show the user a summary of the info. #}
                                <div class="card my-3 text-center">
                                    <div class="card-body">
                                        <h5 class="h4 card-title">
                                            Vous êtes sur le point de suspendre ce PASS IAE
                                            <br>
                                            pour la raison suivante :
                                        </h5>
                                        <p class="card-text">{{ form.instance.get_reason_display }}</p>
                                        <p class="card-text text-success">
                                            À partir du
                                            <span class="badge rounded-pill bg-success">{{ form.instance.start_at|date:"d/m/Y" }}</span>
                                            jusqu'au
                                            <span class="badge rounded-pill bg-success">{{ form.instance.end_at|date:"d/m/Y" }}</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="card my-3">
                                    <div class="card-body">
                                        <p>
                                            En confirmant cette demande je certifie sur l'honneur que le motif de suspension choisi correspond à la situation du salarié.
                                        </p>
                                        {% itou_buttons_form primary_label="Confirmer la suspension" primary_aria_label="Confirmer la suspension du PASS IAE de "|add:approval.user.get_full_name primary_name="save" primary_value=1 secondary_url=request.path|add:"?back_url="|add:back_url secondary_name="edit" secondary_value="1" reset_url=back_url show_mandatory_fields_mention=False %}
                                    </div>
                                </div>

                            </form>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
