{% extends "layout/content_small.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Annuler la suspension de PASS IAE{{ block.super }}{% endblock %}

{% block content %}

    <h1>
        Annuler la suspension de PASS IAE
        <br>
        <span class="text-muted">{{ suspension.approval.user.get_full_name|title }}</span>
    </h1>

    <div class="card my-3 text-center">
        <div class="card-body">
            <h5 class="card-title">
                Vous êtes sur le point d'annuler la suspension
            </h5>
            <p class="card-text">
                {{ suspension.get_reason_display }}
            </p>
            <p class="card-text">
                À partir du
                <span class="badge badge-dark">{{ suspension.start_at|date:"d/m/Y" }}</span>
                jusqu'au
                <span class="badge badge-dark">{{ suspension.end_at|date:"d/m/Y" }}</span>
            </p>
        </div>
    </div>

    <form method="post" action="" class="js-prevent-multiple-submit">

        {% csrf_token %}

        <input type="hidden" name="confirm" value="true">

        {% buttons %}
            <a class="btn btn-secondary" href="{{ back_url }}">
                Retour
            </a>
            <button type="submit" class="btn btn-danger">
                Confirmer l'annulation de la suspension
            </button>
        {% endbuttons %}

    </form>

{% endblock %}
