{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load str_filters %}
{% load theme_inclusion %}
{% load matomo %}
{% load buttons_form %}

{% block title %}Créer une fiche salarié {{ block.super }}{% endblock %}

{% block title_content %}
    <h1>Créer une fiche salarié - {{ request.current_organization.display_name }}</h1>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="c-stepper mb-3 mb-lg-5">
                        <div class="progress progress--emploi">
                            <div class="progress-bar progress-bar-{{ wizard|stepper_progress }}" role="progressbar" aria-valuenow="{{ wizard|stepper_progress }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p>
                            <strong>Étape {{ wizard.steps.step1 }}</strong>/{{ wizard.steps.count }}
                        </p>
                    </div>
                    <div class="c-form mb-3 mb-lg-5">
                        <form method="post">
                            {% csrf_token %}
                            {{ wizard.management_form }}

                            {% bootstrap_form form alert_error_type="non_fields" %}

                            {% if not wizard.steps.next %}
                                <p>
                                    Après avoir sélectionné le PASS IAE concerné et cliqué sur <i>"Confirmer"</i>, 2 cas de figure sont possibles :
                                </p>
                                <ul>
                                    <li>
                                        <p class="m-0">
                                            <b>Une fiche salarié existe déjà pour ce salarié et ce PASS IAE :</b> dans ce cas vous serez automatiquement redirigé sur la page de détail de cette fiche salarié.
                                        </p>
                                        <p>
                                            Si la fiche salarié est déjà intégrée et que vous avez besoin de la renvoyer dans l’Extranet IAE 2.0 de l’ASP, vous devez la <b>désactiver</b> puis la <b>réactiver</b>.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Aucune fiche salarié n’existe pour ce salarié et ce PASS IAE :</b> dans ce cas vous serez redirigé vers le formulaire de création et d’envoi de la fiche salarié.
                                    </li>
                                </ul>
                            {% endif %}

                            {% url "employee_record_views:list" as reset_url %}
                            {% if wizard.steps.prev %}
                                {% url 'employee_record_views:add' as secondary_url %}
                                {% itou_buttons_form primary_label=wizard.steps.next|yesno:"Suivant,Confirmer" reset_url=reset_url|add:"?status=NEW" secondary_url=secondary_url|add:wizard.steps.prev secondary_name="wizard_goto_step" secondary_value=wizard.steps.prev matomo_category="fiches-salarié" matomo_action="submit" matomo_name="création" %}
                            {% else %}
                                {% itou_buttons_form primary_label=wizard.steps.next|yesno:"Suivant,Confirmer" reset_url=reset_url|add:"?status=NEW" %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
