{% extends "layout/base.html" %}
{% load buttons_form %}
{% load components %}
{% load django_bootstrap5 %}
{% load format_filters %}
{% load matomo %}
{% load str_filters %}
{% load theme_inclusion %}

{% block title %}Créer une fiche salarié {{ block.super }}{% endblock %}

{% block title_content %}
    {% component_title c_title__main=c_title__main %}
        {% fragment as c_title__main %}
            <h1>Créer une fiche salarié - {{ request.current_organization.display_name }}</h1>
        {% endfragment %}
    {% endcomponent_title %}
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="c-stepper mb-3 mb-lg-5">
                        <div class="progress">
                            <div class="progress-bar progress-bar-{{ wizard_steps|stepper_progress }}" role="progressbar" aria-valuenow="{{ wizard_steps|stepper_progress }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p>
                            <strong>Étape {{ wizard_steps.step1 }}</strong>/{{ wizard_steps.count }}
                        </p>
                    </div>
                    <div class="c-form mb-3 mb-lg-5">
                        {% if wizard_steps.current == "choose-employee" %}
                            <h2>Rechercher un salarié</h2>
                        {% else %}
                            <h2>Rechercher un PASS IAE</h2>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}

                            {% if wizard_steps.current == "choose-employee" %}
                                <p>
                                    Dans le menu déroulant ci-dessous, vous trouverez la liste de vos salariés qui n'ont pas encore de fiche salarié.
                                </p>
                            {% else %}
                                <p>
                                    Dans le menu déroulant ci-dessous, vous trouverez les PASS IAE du salarié selectionné à l'étape précédente.
                                    <br>
                                    Seuls les PASS n'ayant pas encore de fiche salarié sont affichés.
                                </p>
                            {% endif %}
                            {% bootstrap_form form alert_error_type="non_fields" %}

                            <div class="c-info">
                                <span class="c-info__summary">
                                    {% if wizard_steps.current == "choose-employee" %}
                                        <strong>Vous ne trouvez pas votre salarié ?</strong>
                                    {% else %}
                                        <strong>Vous ne trouvez pas le PASS souhaité ?</strong>
                                    {% endif %}
                                </span>
                                <p class="c-info__detail mb-0">
                                    <a href="{% url 'employee_record_views:missing_employee' %}?back_url={{ request.get_full_path|urlencode }}">Cliquez-ici</a> pour faire une recherche avancée parmi l’ensemble des candidats ou salariés de votre structure.
                                </p>
                            </div>
                            <hr>
                            {% if wizard_steps.prev %}
                                {% itou_buttons_form primary_label=wizard_steps.next|yesno:"Suivant,Confirmer" reset_url=reset_url secondary_url=wizard_steps.prev matomo_category="fiches-salarié" matomo_action="submit" matomo_name="création" %}
                            {% else %}
                                {% itou_buttons_form primary_label=wizard_steps.next|yesno:"Suivant,Confirmer" reset_url=reset_url %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
