{% extends "layout/content.html" %}
{% load static %}
{% load format_filters %}
{% load list_filters %}
{% load bootstrap4 %}

{% block title %}Nouvelle fiche salarié ASP - {{ current_siae.display_name }}{{ block.super }}{% endblock %}

{% block content %}

<div class="content-small">

    <h1>Fiches salarié ASP</h1>
    <h2 class="text-muted">{{ job_application.job_seeker.get_full_name|title }}</h2>

    <div class="card bg-light p-3 mb-3">
        <div class="card-body p-1">
            <div class="row">
                <div class="col-sm-9 pt-3">
                    <div>Début du contrat : <b>{{ job_application.hiring_start_at }}</b></div>
                    <div>Fin du contrat : <b>{{ job_application.hiring_end_at }}</b></div>
                    <div>Numéro de PASS IAE : <b>{{ job_application.approval.number_with_spaces }}</b></div>
                </div>
                <div class="col-sm-3 text-right">
                    <img src="{% static 'img/employee_record/asp_upload.svg' %}" alt="Transfert ASP"></img>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled multi-steps my-5">
        {% for pstep, label in steps %}
        <li {% if pstep == step %}class="is-active"{% endif %}>
            {{ label }}
        </li>
        {% endfor %}
    </ul>

    {% if step == 1 %}
        {% include "employee_record/includes/create_step_1.html" %}
    {% elif step == 2 %}
        {% include "employee_record/includes/create_step_2.html" %}
    {% elif step == 3 %}
        {% include "employee_record/includes/create_step_3.html" %}
    {% endif %}

</div>

{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Needed to use the Datepicker JS widget. -->
    {{ form.media }}
{% endblock %}
