{% extends "layout/content.html" %}
{% load static %}
{% load format_filters %}
{% load list_filters %}
{% load bootstrap4 %}

{% block title %}Fiches salarié ASP - {{ current_siae.display_name }} {{ block.super }}{% endblock %}

{% block script %}
    {{ block.super }}
    <script nonce="{{ CSP_NONCE }}">
        $("#status-filter-form-group :input").change(function() {
            $("#status-filter-form").submit();
        });
        $("#order-form-group :input").click(function(event) {
            // Fill the hidden order input of the form
            $("#id_order").val(event.target.value);
            $("#status-filter-form").submit();
        });
    </script>
{% endblock %}

{% block content %}

    <h1 class="h1-hero-c1">
        Fiches salarié ASP - <span class="text-muted">{{ current_siae.display_name }}</span>
    </h1>

    <div class="mt-3">
        <div class="row">

            <div class="col-sm-3">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header">
                            <b>Filtrer les fiches</b>
                        </div>
                        <div class="card-body">
                            <form method="get" class="form" id="status-filter-form">
                                <p class="text-muted">
                                    <b>Par statut</b>
                                </p>
                                <div class="container form-group m-0" id="status-filter-form-group">
                                    {% for status, badge in form.status|zip:badges %}
                                        <div class="row">
                                            <div class="col-10 p-0">{{ status }}</div>
                                            <div class="col-2 p-0 text-right">
                                                <p class="small mb-0">
                                                    <span class="badge badge-pill badge-{{ badge.1 }}">{{ badge.0 }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {# Filled via jQuery #}
                                {{ form.order.as_hidden }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="container rounded bg-gray-400 p-3 mb-3">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5>Nous transférons vos fiches salarié à l'ASP afin de vous faire gagner du temps</h5>
                            <p class="mt-3">
                                Une fois envoyées et validées, vous retrouverez directement vos données sur
                                l'extranet de l'ASP.
                            </p>
                            <ul>
                                <li>
                                    Ne sont présentes dans cette liste que les candidatures acceptées (embauches) à
                                    partir du <b>{{ feature_availability_date|date }}</b>.
                                </li>
                                <li>
                                    Vous devez avoir une annexe financière valide dans l'extranet de l'ASP pour pouvoir
                                    déclarer une fiche salarié dans les emplois.
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 text-right">
                            <img src="{% static 'img/employee_record/asp_upload.svg' %}" alt="Transfert ASP" class="img-fluid" />
                        </div>
                    </div>
                </div>

                {# Messages #}
                <article>
                    {% if form.status.value == "NEW" %}
                        <p class="mb-0">
                            Vous trouverez ici les candidatures validées <b>à partir desquelles vous devez créer de
                            nouvelles fiches salarié</b>.
                        </p>
                    {% elif form.status.value == "READY" %}
                        <p class="mb-0">
                            Vous trouverez ici les fiches salarié complétées
                            <b>en attente d’envoi à l’ASP, qui a lieu
                            automatiquement à intervalles réguliers</b>.
                        </p>
                        <p class="mb-0">
                            À ce stade, seule la visualisation des informations de la fiche est
                            possible.
                        </p>
                        <p class="mb-0">Merci de votre patience.</p>
                    {% elif form.status.value == "SENT" %}
                        <p class="mb-0">Vous trouverez ici les fiches salarié complétées et envoyées à l'ASP.</p>
                        <p class="mb-0">
                            À ce stade, et en attendant un retour de l'ASP, seule la visualisation des informations de
                            la fiche est possible.
                        </p>
                    {% elif form.status.value == "REJECTED" %}
                        <p class="mb-0">
                            Vous trouverez ici les fiches salarié envoyées à l'ASP et retournées avec une
                            erreur.
                        </p>
                        <p class="mb-0">Vous pouvez modifier les fiches en erreur et les envoyer à nouveau.</p>
                    {% elif form.status.value == "PROCESSED" %}
                        <p class="mb-0">Vous trouverez ici les fiches salarié envoyées et validées par l'ASP.</p>
                        <p class="mb-0">
                            Aucune action ultérieure n'est possible à ce stade, mais vous pouvez consulter le détail de
                            la fiche salarié.
                        </p>
                    {% elif form.status.value == "DISABLED" %}
                        <p class="mb-0">Vous trouverez ici les fiches salarié que vous avez désactivées.</p>
                        <p class="mb-0">
                            En cas de besoin vous pouvez réactiver une fiche, elle sera transférée dans la catégorie
                            "Nouvelle".
                        </p>
                    {% endif %}
                </article>
                {% if need_manual_regularization %}
                    <div class="alert alert-warning my-5">
                        <div class="row">
                            <div class="col-auto pr-0">
                                <i class="ri-error-warning-line ri-xl text-danger"></i>
                            </div>
                            <div class="col">
                                <p class="mb-2">
                                    <strong>Une action de votre part est nécessaire</strong>
                                </p>
                                <p class="mb-0">
                                    Attention, nous avons détecté une ou plusieurs fiches salariés qui nécessitent une régularisation manuelle de votre part.
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row justify-content-end">
                    <div class="col-12 col-sm-auto">
                        <span class="font-weight-bold mr-2">Trier par</span>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ ordered_by_label }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="order-form-group">
                            {% for order_value, order_label in form.order.field.choices %}
                                <button class="dropdown-item {% if order_value == form.order.value %}active{% endif %}" type="button" value="{{ order_value }}">
                                    {{ order_label }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {# "Real" employee records objects #}
                <div class="employee-records-list">
                    {% if employee_records_list %}
                        {% for employee_record in navigation_pages %}
                            {% with item=employee_record.job_application %}
                                {% include "employee_record/includes/list_item.html" %}
                            {% endwith %}
                        {% endfor %}
                        {# New employee records i.e. job applications #}
                    {% else %}
                        {% for item in navigation_pages %}
                            {% include "employee_record/includes/list_item.html" %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if not navigation_pages %}
                    <div class="text-muted text-center">
                        <i class="ri-forbid-line mr-1"></i>
                        <span>Aucune fiche salarié avec le statut selectionné ...</span>
                    </div>
                {% endif %}

                {% include "includes/pagination.html" with page=navigation_pages %}

            </div>
        </div>
    </div>

{% endblock %}
