{% extends "layout/base.html" %}
{% load static %}
{% load format_filters %}
{% load django_bootstrap5 %}

{% block title %}
    Détail fiche salarié ASP - {{ request.current_organization.display_name }} {{ block.super }}
{% endblock %}

{% block content_title %}
    <h1>Détail fiche salarié ASP: {{ employee_record.job_seeker.get_full_name }}</h1>
    <p>{% include 'employee_record/includes/_status.html' with employee_record=employee_record only %}</p>
{% endblock %}

{% block content %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1">
                    <div class="c-box">
                        {% include "employee_record/includes/employee_record_summary.html" %}
                        {% if employee_record.status != "ARCHIVED" %}
                            <hr class="mb-3">
                            <div class="row mt-3">
                                <div class="col-12 col-md-auto">
                                    <a href="{% url "employee_record_views:list" %}?status={{ employee_record.status }}" class="btn btn-block btn-link ps-lg-0">
                                        <i class="ri-arrow-go-back-line ri-lg"></i>
                                        <span>Retour à la liste</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 mb-3">
                    {% if employee_record.status != "READY" and employee_record.status != "SENT" and employee_record.status != "ARCHIVED" %}
                        <div class="c-box mb-4">
                            {% if employee_record.status == "NEW" %}
                                <a href="{% url "employee_record_views:create" employee_record.job_application.pk %}?from_status=NEW" class="btn btn-block btn-primary my-2">Compléter la fiche salarié</a>
                            {% elif employee_record.status == "REJECTED" %}
                                <a href="{% url "employee_record_views:create" employee_record.job_application.pk %}?from_status=REJECTED" class="btn btn-block btn-primary my-2">Modifier la fiche salarié</a>
                            {% elif employee_record.status == "DISABLED" %}
                                <a href="{% url "employee_record_views:reactivate" employee_record.pk %}" class="btn btn-block btn-outline-primary my-2">Réactiver la fiche salarié</a>
                            {% endif %}
                            {% if employee_record.status == "REJECTED" or employee_record.status == "PROCESSED" %}
                                <a href="{% url "employee_record_views:disable" employee_record.pk %}" class="btn btn-block btn-outline-primary my-2">Désactiver la fiche salarié</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="c-box">
                        {% with job_application=employee_record.job_application %}
                            <p>
                                <b>PASS IAE :</b>
                                <br>
                                {{ job_application.approval.number|format_approval_number }}
                            </p>
                        {% endwith %}
                        {% if employee_record.asp_batch_file %}
                            <hr class="my-3">
                            <p>
                                <strong>Horodatage ASP :</strong>
                            </p>
                            <ul class="list-unstyled">
                                <li>
                                    Création : <b>{{ employee_record.asp_batch_file|remove_json_extension }}</b>
                                </li>
                                {% for update_notification in employee_record.update_notifications.all %}
                                    {% if update_notification.asp_batch_file %}
                                        <li>
                                            Modification : <b>{{ update_notification.asp_batch_file|remove_json_extension }}</b>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
