{% extends "nexus/base_service.html" %}
{% load enums %}
{% load matomo %}
{% load static %}
{% load theme_inclusion %}


{% block title %}Suivi d’activité {{ block.super }}{% endblock %}

{% block service_title %}
    <img src="{% static_theme_images 'logo-pilotage-inclusion-mono.svg' %}" height="35" width="35" alt="Le pilotage de l’inclusion">
    Suivi d’activité
{% endblock %}

{% block service_logo %}
    <img src="{% static_theme_images 'logo-pilotage-inclusion.svg' %}" height="50" alt="Le pilotage de l’inclusion">
{% endblock %}

{% block description %}
    <div class="mb-3 mb-md-4">
        <img src="{% static_theme_images 'nexus/nx-illustration-pilotage.png' %}" height="152" width="216" alt="">
    </div>
    <h2 class="h3">Le service présentant les données sur les politiques publiques d'insertion</h2>
    <p class="mb-md-4">
        Consultez les statistiques nationales sur l'inclusion dans l'emploi.
        <br>
        Suivez et analysez les données spécifiques à votre organisation.
        <br>
        Prenez des décisions et argumentez grâce aux données.
    </p>
    {% if Service.PILOTAGE in activated_services %}
        <a href="{{ pilotage_url }}" class="btn btn-lg btn-primary has-external-link" {% matomo_event "nexus" "acceder-service" Service.PILOTAGE %} target="_blank">
            <span>Accéder à mon suivi d’activité</span>
        </a>
        <br>
    {% else %}
        <form method="post" action="{{ pilotage_url }}">
            {% csrf_token %}
            <button class="btn btn-lg btn-ico btn-primary" {% matomo_event "nexus" "activer-service" Service.PILOTAGE %}>
                <i class="ri-toggle-line" aria-hidden="true"></i>
                <span>Activer ce service</span>
            </button>
        </form>
    {% endif %}
    <a href="https://pilotage.inclusion.beta.gouv.fr/"
       class="btn btn-sm btn-link has-external-link d-inline-block mt-3"
       aria-label="Découvrir Le Pilotage de l’inclusion (lien externe)"
       target="_blank"
       {% matomo_event "nexus" "decouvrir-service" Service.PILOTAGE %}>Découvrir Le Pilotage de l’inclusion</a>
    <div class="text-center">
        <img src="{% static 'img/nexus/presentation_pilotage.png' %}" alt="" class="img-fluid" width="1200">
    </div>
{% endblock %}
