{% load i18n %}

<hr>

<div class="alert alert-warning" role="alert">
    <i>{% trans "Dans le cadre de l'expérimentation actuelle, nous vous informons que la liste des critères d'éligibilité à l'IAE est susceptible d'évoluer à la marge." %}</i>
</div>

<hr>

<h2 id="criteres_administratifs">
    <span class="badge badge-secondary">{% trans "Critères administratifs" %}</span>
</h2>

<hr>

<h3>
    {% trans "Critères administratifs de niveau 1" %}
</h3>

<ul>
    <li class="mb-2">{% trans "Bénéficiaire du RSA" %}
        <br>
        <small class="text-muted">
            {% trans "Revenu de solidarité active" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation RSA</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Allocataire ASS" %}
        <br>
        <small class="text-muted">
            {% trans "Allocation de solidarité spécifique" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation ASS</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Allocataire AAH" %}
        <br>
        <small class="text-muted">
            {% trans "Allocation aux adultes handicapés" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation AAH</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "DETLD (+24 mois)" %}
        <br>
        <small class="text-muted">
            {% trans "Demandeur d'emploi de très longue durée (inscrit à Pôle emploi)" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation Pôle emploi</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Personne sous-main justice" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation SPIP, PJJ</i>{% endblocktrans %}
        </small>
    </li>
</ul>

<h3>
    {% trans "Critères administratifs de niveau 2" %}
</h3>

<ul>
    <li class="mb-2">{% trans "Niveau d'étude 3 ou infra" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Diplôme et/ou attestation sur l'honneur</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Senior (+50 ans)" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Pièce d'identité</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Jeunes (-26 ans)" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Pièce d'identité</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Sortant de l'ASE" %}
        <br>
        <small class="text-muted">
            {% trans "Aide sociale à l'enfance" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation ASE</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "DELD (12-24 mois)" %}
        <br>
        <small class="text-muted">
            {% trans "Demandeur d'emploi de longue durée (inscrit à Pôle emploi)" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation Pôle emploi</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Travailleur handicapé" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation reconnaissance qualité TH</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Parent isolé" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation CAF</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Personne sans hébergement ou hébergée ou ayant un parcours de rue" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Attestation sur l'honneur</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Primo arrivant" %}
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Contrat d'intégration républicaine de moins de 24 mois</i>{% endblocktrans %}
        </small>
    </li>
    <li class="mb-2">{% trans "Résident ZRR" %}
        <br>
        <small class="text-muted">
            {% trans "Zone de revitalisation rurale" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Justificatif de domicile</i>{% endblocktrans %}
        </small>
        <br>
        <small>
            <a href="https://www.data.gouv.fr/fr/datasets/zones-de-revitalisation-rurale-zrr/" rel="noopener" target="_blank">https://www.data.gouv.fr/fr/datasets/zones-de-revitalisation-rurale-zrr/</a>
        </small>
    </li>
    <li class="mb-2">{% trans "Résident QPV" %}
        <br>
        <small class="text-muted">
            {% trans "Quartier prioritaire de la politique de la ville" %}
        </small>
        <br>
        <small>
            {% blocktrans %}Pièce justificative : <i>Justificatif de domicile</i>{% endblocktrans %}
        </small>
        <br>
        <small>
            <a href="https://sig.ville.gouv.fr/" rel="noopener" target="_blank">https://sig.ville.gouv.fr/</a>
        </small>
    </li>
</ul>

<hr>

<h2 id="diagnostic_de_reference">
    <span class="badge badge-secondary">
        {% trans "Diagnostic socio-professionnel de référence" %}
    </span>
</h2>

<hr>

<table class="table table-striped table-bordered table-responsive-sm">
  <thead>
    <tr>
      <th> </th>
      <th class="text-center" colspan="4">{% trans "Vulnérable" %} ========================> {% trans "Disponible" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{% trans "Maitrise de la langue française" %}</th>
      <td>{% trans "Analphabète à illettré" %}</td>
      <td>{% trans "Relève d'une formation FLE et/ou savoirs de base" %}</td>
      <td>{% trans "Laborieuse à limitée" %}</td>
      <td>{% trans "Bonne à parfaite" %}</td>
    </tr>
    <tr>
      <th>{% trans "Capacité à occuper un poste de travail" %}</th>
      <td>{% trans "Est dans l'incapacité immédiate d'occuper un poste de travail" %}</td>
      <td>{% trans "A besoin d'un accompagnement avant de pouvoir occuper un poste de travail" %}</td>
      <td>{% trans "Peut occuper un poste de travail dans des conditions aménagées" %}</td>
      <td>{% trans "Peut occuper un poste de travail dans des conditions ordinaires" %}</td>
    </tr>
    <tr>
      <th>{% trans "Logement" %}</th>
      <td>{% trans "SDF" %}</td>
      <td>{% trans "Hébergement collectif de type CHRS, CADA" %}...</td>
      <td>{% trans "Hébergement hors structure sociale, logement insalubre, risque de perte de logement" %}</td>
      <td>{% trans "Logement stable" %}</td>
    </tr>
    <tr>
      <th>{% trans "Accès au droit" %}</th>
      <td>{% trans "Ne connait pas ses droits, en situation de non recours" %}</td>
      <td>{% trans "Renoncement ou en rupture ou difficulté de renouvellement de droits" %}</td>
      <td>{% trans "Connait ses droits et démarches en cours" %}</td>
      <td>{% trans "Bénéficie des droits afférents à sa situation" %}</td>
    </tr>
    <tr>
      <th>{% trans "Mobilité" %}</th>
      <td>{% trans "Ne sait pas se rendre seul à son lieu de travail" %}</td>
      <td>{% trans "Sait organiser son covoiturage et/ou possède un véhicule mais problème de mise en règle (assurance, contrôle technique…" %})</td>
      <td>{% trans "Sait utiliser les transports en commun et/ou possède un véhicule 2 roues" %}</td>
      <td>{% trans "Possède un véhicule et permis de conduire conformes et covoitureur possible" %}</td>
    </tr>
    <tr>
      <th>{% trans "Ressources financières" %}</th>
      <td>{% trans "Situation de surendettement sans dépôt de dossier et/ou sans ressources" %}</td>
      <td>{% trans "Surendettement avec dossier déposé et suivi" %}</td>
      <td>{% trans "Besoins primaires assurés au jour le jour et/ou mesure de protection type curatelle" %}</td>
      <td>{% trans "Sait gérer son budget, avec capacité de financer par exemple un permis de conduire" %}</td>
    </tr>
    <tr>
      <th>{% trans "Justice" %}</th>
      <td>{% trans "Exécution de peine en cours" %}</td>
      <td>{% trans "Suivi SPIP/PJJ après exécution de peine" %}</td>
      <td>{% trans "Aucun suivi en cours" %}</td>
      <td>{% trans "Aucun suivi en cours" %}</td>
    </tr>
    <tr>
      <th>{% trans "Disponibilité" %}</th>
      <td>{% trans "Faible voire difficile (garde d'enfant, ascendant, famille" %})</td>
      <td>{% trans "A organiser" %}</td>
      <td>{% trans "Immédiate avec des contraintes horaires" %}</td>
      <td>{% trans "Immédiate et sans contraintes horaires" %}</td>
    </tr>
  </tbody>
</table>
