{% comment %}

    Usage:
        {% include "eligibility/includes/form.html" %}

    Or with a `cancel_url` param:
        {% url 'apply:details_for_siae' job_application_id=job_application.id as cancel_url %}
        {% include "eligibility/includes/form.html" with cancel_url=cancel_url %}

{% endcomment %}
{% load i18n %}
{% load bootstrap4 %}

<form method="post" action="" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% if form_confirm_eligibility and request.user.is_siae_staff %}
        {% bootstrap_form_errors form_confirm_eligibility %}
    {% endif %}

    {% bootstrap_form_errors form_administrative_criteria %}

    {% if request.user.is_siae_staff %}
        <h3>
            Critères administratifs de niveau 1
        </h3>
    {% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_1_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    {% if request.user.is_siae_staff %}
        <h3>
            Critères administratifs de niveau 2
        </h3>
    {% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_2_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    {% if form_confirm_eligibility and request.user.is_siae_staff %}
        {% bootstrap_form form_confirm_eligibility %}
    {% endif %}

    <div class="alert alert-warning" role="alert">
        <p>
            En cliquant sur "Valider" vous confirmez que le candidat est éligible à l'insertion par l'activité économique.
        </p>
        {% buttons %}
            {% if cancel_url %}
                <a class="btn btn-secondary" href="{{ cancel_url }}">Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">Valider</button>
        {% endbuttons %}
    </div>

</form>
