{% comment %}

    Usage:
        {% include "eligibility/includes/form.html" %}

    Or with a `cancel_url` param:
        {% url 'apply:details_for_siae' job_application_id=job_application.id as cancel_url %}
        {% include "eligibility/includes/form.html" with cancel_url=cancel_url %}

{% endcomment %}
{% load i18n %}
{% load bootstrap4 %}

{% if request.user.is_siae_staff %}
    <div class="alert alert-warning" role="alert">
        <i>{% translate "Dans le cadre de l'expérimentation actuelle, nous vous informons que la liste des critères d'éligibilité à l'IAE est susceptible d'évoluer à la marge." %}</i>
    </div>
{% endif %}

<form method="post" action="" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% if request.user.is_siae_staff %}
        <h2>{% translate "Critères d'éligibilité" %}</h2>
    {% elif request.user.is_prescriber %}
        <h2>{% translate "Situation administrative du candidat" %}</h2>
    {% endif %}

    {% if form_confirm_eligibility and request.user.is_siae_staff %}
        {% bootstrap_form_errors form_confirm_eligibility %}
    {% endif %}

    {% bootstrap_form_errors form_administrative_criteria %}

    {% if request.user.is_siae_staff %}
        <h3>
            {% translate "Critères administratifs de niveau 1" %}
        </h3>
    {% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_1_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    {% if request.user.is_siae_staff %}
        <h3>
            {% translate "Critères administratifs de niveau 2" %}
        </h3>
    {% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_2_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    {% if form_confirm_eligibility and request.user.is_siae_staff %}
        {% bootstrap_form form_confirm_eligibility %}
    {% endif %}

    <div class="alert alert-warning" role="alert">
        <p>
            {% blocktranslate %}En cliquant sur "Valider" vous confirmez que le candidat est éligible à l'insertion par l'activité économique.{% endblocktranslate %}
        </p>
        {% buttons %}
            {% if cancel_url %}
                <a class="btn btn-secondary" href="{{ cancel_url }}">{% translate "Annuler" %}</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">{% translate "Valider" %}</button>
        {% endbuttons %}
    </div>

</form>
