{% comment %}

    Usage:
        {% include "eligibility/includes/form.html" %}

    Or with a `cancel_url` param:
        {% url 'apply:details_for_siae' job_application_id=job_application.id as cancel_url %}
        {% include "eligibility/includes/form.html" with cancel_url=cancel_url %}

{% endcomment %}
{% load django_bootstrap5 %}

<form method="post" role="form" class="js-prevent-multiple-submit">

    {% csrf_token %}

    {% bootstrap_form_errors form_administrative_criteria type="all" %}

    {% if request.user.is_employer %}<h3>Critères administratifs de niveau 1</h3>{% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_1_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    {% if request.user.is_employer %}<h3>Critères administratifs de niveau 2</h3>{% endif %}

    {% for field in form_administrative_criteria %}
        {% if form_administrative_criteria.LEVEL_2_PREFIX in field.name %}
            {% include "eligibility/includes/criteria_input.html" with field=field objects_dict=form_administrative_criteria.OBJECTS %}
        {% endif %}
    {% endfor %}

    <p>
        En cliquant sur "Valider l’éligibilité du candidat" vous confirmez que le candidat est éligible à l'insertion par l'activité économique et
        vous vous engagez à conserver les justificatifs correspondants aux critères d'éligibilité sélectionnés pendant 24 mois, en cas de contrôle.
    </p>
    <hr>
    <div class="form-row align-items-center justify-content-end">
        {% if cancel_url %}
            <div class="form-group mb-0 col-6 col-lg-auto">
                <a class="btn btn-outline-primary btn-block" href="{{ cancel_url }}">Annuler</a>
            </div>
        {% endif %}
        <div class="form-group mb-0 col-6 col-lg-auto">
            {% bootstrap_button "Valider l’éligibilité du candidat" button_type="submit" button_class="btn btn-primary btn-block" %}
        </div>
    </div>

</form>
