{% load i18n %}

<h2 id="diagnostic_de_reference">
    <span class="badge badge-secondary">
        {% translate "Diagnostic socio-professionnel de référence" %}
    </span>
</h2>

<hr>

<table class="table table-striped table-bordered table-responsive-sm">
  <thead>
    <tr>
      <th> </th>
      <th class="text-center" colspan="4">{% translate "Vulnérable" %} ========================> {% translate "Disponible" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{% translate "Maitrise de la langue française" %}</th>
      <td>{% translate "Analphabète à illettré" %}</td>
      <td>{% translate "Relève d'une formation FLE et/ou savoirs de base" %}</td>
      <td>{% translate "Laborieuse à limitée" %}</td>
      <td>{% translate "Bonne à parfaite" %}</td>
    </tr>
    <tr>
      <th>{% translate "Capacité à occuper un poste de travail" %}</th>
      <td>{% translate "Est dans l'incapacité immédiate d'occuper un poste de travail" %}</td>
      <td>{% translate "A besoin d'un accompagnement avant de pouvoir occuper un poste de travail" %}</td>
      <td>{% translate "Peut occuper un poste de travail dans des conditions aménagées" %}</td>
      <td>{% translate "Peut occuper un poste de travail dans des conditions ordinaires" %}</td>
    </tr>
    <tr>
      <th>{% translate "Logement" %}</th>
      <td>{% translate "SDF" %}</td>
      <td>{% translate "Hébergement collectif de type CHRS, CADA" %}...</td>
      <td>{% translate "Hébergement hors structure sociale, logement insalubre, risque de perte de logement" %}</td>
      <td>{% translate "Logement stable" %}</td>
    </tr>
    <tr>
      <th>{% translate "Accès au droit" %}</th>
      <td>{% translate "Ne connait pas ses droits, en situation de non recours" %}</td>
      <td>{% translate "Renoncement ou en rupture ou difficulté de renouvellement de droits" %}</td>
      <td>{% translate "Connait ses droits et démarches en cours" %}</td>
      <td>{% translate "Bénéficie des droits afférents à sa situation" %}</td>
    </tr>
    <tr>
      <th>{% translate "Mobilité" %}</th>
      <td>{% translate "Ne sait pas se rendre seul à son lieu de travail" %}</td>
      <td>{% translate "Sait organiser son covoiturage et/ou possède un véhicule mais problème de mise en règle (assurance, contrôle technique…" %})</td>
      <td>{% translate "Sait utiliser les transports en commun et/ou possède un véhicule 2 roues" %}</td>
      <td>{% translate "Possède un véhicule et permis de conduire conformes et covoitureur possible" %}</td>
    </tr>
    <tr>
      <th>{% translate "Ressources financières" %}</th>
      <td>{% translate "Situation de surendettement sans dépôt de dossier et/ou sans ressources" %}</td>
      <td>{% translate "Surendettement avec dossier déposé et suivi" %}</td>
      <td>{% translate "Besoins primaires assurés au jour le jour et/ou mesure de protection type curatelle" %}</td>
      <td>{% translate "Sait gérer son budget, avec capacité de financer par exemple un permis de conduire" %}</td>
    </tr>
    <tr>
      <th>{% translate "Justice" %}</th>
      <td>{% translate "Exécution de peine en cours" %}</td>
      <td>{% translate "Suivi SPIP/PJJ après exécution de peine" %}</td>
      <td>{% translate "Aucun suivi en cours" %}</td>
      <td>{% translate "Aucun suivi en cours" %}</td>
    </tr>
    <tr>
      <th>{% translate "Disponibilité" %}</th>
      <td>{% translate "Faible voire difficile (garde d'enfant, ascendant, famille" %})</td>
      <td>{% translate "A organiser" %}</td>
      <td>{% translate "Immédiate avec des contraintes horaires" %}</td>
      <td>{% translate "Immédiate et sans contraintes horaires" %}</td>
    </tr>
  </tbody>
</table>
