{% comment %} takes argument siae <Siae>{% endcomment %}
<div class="card c-card has-links-inside mb-3 mb-md-4">
    <div class="card-header bg-light pb-3">
        <p class="d-flex flex-wrap fs-sm mb-2">
            <span class="flex-grow-1 text-primary">
                {% if siae.is_opcs %}
                    <span>Offres clauses sociales</span>
                {% else %}
                    <b>{{ siae.kind }}</b> - {{ siae.get_kind_display }}
                {% endif %}
            </span>
            {% if siae.kind in ea_eatt_kinds %}
                <span class="badge rounded-pill badge-xs bg-accent-01-lighter text-accent-01"><b>Priorité aux bénéficiaires de la RQTH</b></span>
            {% endif %}
        </p>
        <h3 class="mb-2">
            <a class="matomo-event" href="{{ siae.get_card_url }}?back_url={{ request.get_full_path|urlencode }}" data-matomo-category="candidature" data-matomo-action="clic" data-matomo-option="clic-structure">{{ siae.display_name }}</a>
            {# Display non-user-edited name too, but only if it's not the same text #}
            {% if siae.brand and siae.brand|lower != siae.name|lower %}
                <small class="text-muted">({{ siae.name|title }})</small>
            {% endif %}
        </h3>
        <p class="mb-2 text-muted">{{ siae.address_on_one_line }}</p>
        <p class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-0">
            <span class="align-self-start">
                <span class="badge badge-sm rounded-pill bg-primary">à {{ siae.distance|floatformat:"-1"|default:"12" }} km</span>
                {% comment %}
                The "default" distance of 12 kms above seems a little weird.
                Having a default distance to any point does not make a lot of sense, either we have one between point A and B, or nothing.
                But it seems that this template is used when an SIAE looks at itself, and the "distance" span is displayed as well.
                We should have a chat someday with the designers to remove it, as it is probably confusing to just say 12kms from
                no given point, all the time.
                {% endcomment %}
                <span class="text-muted fs-sm ms-1">de votre lieu de recherche.</span>
            </span>
            {% if siae.active_job_descriptions %}
                <a class="d-none d-md-inline font-weight-bold matomo-event mt-3 mt-md-0"
                   href="{{ siae.get_card_url }}?back_url={{ request.get_full_path|urlencode }}#metiers"
                   data-matomo-category="candidature"
                   data-matomo-action="clic"
                   data-matomo-option="clic-metiers">
                    Voir tous les métiers ({{ siae.active_job_descriptions|length }})
                </a>
            {% endif %}
        </p>
    </div>
    <div class="card-body">
        {% if not siae.has_active_members %}
            <p class="mb-0">
                <i>Cet employeur n'est actuellement pas inscrit sur le site des emplois de l’inclusion, vous ne pouvez pas déposer de candidature en ligne</i>
            </p>
        {% elif siae.block_job_applications %}
            <p class="mb-0">
                <i>Cet employeur ne traite plus de nouvelles candidatures pour le moment</i>
            </p>
        {% else %}
            {% if siae.active_job_descriptions %}
                {% include "siaes/includes/_list_siae_actives_jobs.html" with jobs_descriptions=siae.active_job_descriptions %}
            {% else %}
                <div class="d-flex justify-content-between align-items-center">
                    <span>Cette structure vous intéresse ?</span>
                    <a class="btn btn-sm btn-primary" href="{% url 'apply:start' company_pk=siae.pk %}" aria-label="Postuler auprès de l'employeur solidaire {{ siae.display_name }}">
                        Postuler
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
