{% comment %} takes 2 arguments: job=<SiaeJobDescription> is_appended=<Bool> {% endcomment %}

<li class="list-group-item list-group-item-action border-left-0 border-right-0 p-2{% if is_appended %} border-top-0{% endif %}">
    <a class="d-flex flex-wrap text-decoration-none matomo-event"
        href="{% if job.pk %}{{job.get_absolute_url}}{% else %}#{% endif %}?back_url={{ request.get_full_path|urlencode }}"
        data-matomo-category="candidature" data-matomo-action="clic" data-matomo-option="clic-metiers">
        <span class="d-flex align-items-center mr-1">
            <strong class="font-weight-bold">{{ job.display_name }}</strong>
        </span>
        {% if job.is_popular %}
            <span class="d-flex align-items-center">
                <span class="badge badge-pill badge-warning-light ml-auto fs-sm">
                    <i class="ri-group-line mr-1"></i>
                    {{ job.POPULAR_THRESHOLD }}+<span class="ml-1">candidatures</span>
                </span>
            </span>
        {% endif %}
        <span class="d-flex align-items-center py-1 ml-auto fs-sm text-nowrap">
            <i class="ri-map-pin-2-line ri-sm mr-1"></i>
            {% if job.location %}
                {{ job.location }}
            {% else %}
                {{ job.siae.city|title }} ({{ job.siae.department }})
            {% endif %}
        </span>
    </a>
</li>
