{% load i18n %}
<div id="{{ chart_id }}"></div>
<script>
    Highcharts.chart('{{ chart_id }}', {
        chart: {
            type: 'column'
        },
        title: {
            text: '{{ title }}'
        },
        xAxis: {
            categories: [
                {% for entry in data %}'Semaine {{ entry.week }} ({{ entry.year }})'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        series: [{
            name: '{{ title }}',
            data: [
                {% for entry in data %}{{ entry.total }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }]
    });
</script>
