{% load i18n %}

<table class="table table-striped">
    <thead>
        <tr>
            {% for value in data.as_table.thead %}
                <th scope="col">{{ value }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data.as_table.tbody %}
            <tr>
                {% for cell in row %}
                    {% if forloop.first %}
                        <th scope="row">{{ cell }}</th>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
