{% load format_filters %}
{% load matomo %}

<div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-md-between">
    <div>
        {% if not request.organizations %}
            {% if user.get_full_name %}<h1 class="mb-0">{{ user.get_full_name }}</h1>{% endif %}
            {% if user.is_prescriber %}
                <p class="mb-0">Orienteur seul</p>
            {% elif user.is_job_seeker %}
                <p class="mb-0">Candidat</p>
            {% endif %}
        {% else %}
            <h1 class="mb-0">{{ request.current_organization.display_name }}</h1>
            <p class="mb-0">
                {% if user.is_prescriber %}
                    {% if request.current_organization.code_safir_pole_emploi %}
                        {% if request.current_organization.is_authorized %}Prescripteur habilité -{% endif %}
                        Code SAFIR {{ request.current_organization.code_safir_pole_emploi }}
                    {% elif request.current_organization.siret %}
                        {% if request.current_organization.is_authorized %}Prescripteur habilité -{% endif %}
                        {% if request.current_organization.kind != PrescriberOrganizationKind.OTHER %}
                            {{ request.current_organization.kind }} -
                        {% endif %}
                        SIRET {{ request.current_organization.siret|format_siret }}
                    {% endif %}
                {% elif user.is_employer %}
                    {{ request.current_organization.kind }} -
                    SIRET {{ request.current_organization.siret|format_siret }}
                {% endif %}
            </p>
        {% endif %}
    </div>
    {% if user.is_employer %}
        {% if request.current_organization.is_subject_to_eligibility_rules or request.current_organization.kind == CompanyKind.GEIQ %}
            {% comment %}
            NOTE(vperron):
            We currently do not allow OPCS users to apply for an offer.
            We will have to discuss this matter further with AVE, but it has been
            decided that it probably did not make much sense initially.
            {% endcomment %}
            <div>
                {% if siae_suspension_text_with_dates %}
                    <span class="btn btn-lg btn-primary btn-ico disabled"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Vous ne pouvez pas déclarer d'embauche suite aux mesures prises dans le cadre du contrôle a posteriori. {{ siae_suspension_text_with_dates }}">
                        <i class="ri-user-follow-line fw-medium"></i>
                        <span>Déclarer une embauche</span>
                    </span>
                {% else %}
                    <a href="{% url 'apply:check_nir_for_hire' company_pk=request.current_organization.pk %}" class="btn btn-lg btn-primary btn-ico" {% matomo_event "employeurs" "clic" "declarer-embauche" %}>
                        <i class="ri-user-follow-line fw-medium"></i>
                        <span>Déclarer une embauche</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
