<div class="col mb-3 mb-md-5">
    <div class="card c-card c-card--plateforme h-100 w-100 has-links-inside">
        <p class="h4 card-header">
            DORA <span class="badge badge-pill badge-sm badge-important text-white">Nouveau</span>
        </p>
        <div class="card-body">
            <ul class="list-unstyled">
                <li class="card-text mb-3">
                    <i class="ri-global-line ri-lg mr-1"></i>
                    <a href="https://dora.fabrique.social.gouv.fr/?{{ tracker }}" rel="noopener" target="_blank" title="Consulter les services d'insertion de votre territoire (ouverture dans un nouvel onglet)">
                        Consulter les services d'insertion de votre territoire
                    </a>
                    <i class="ri-external-link-line ri-lg mr-1"></i>
                </li>
                <li class="card-text mb-3">
                    <i class="ri-file-add-line ri-lg mr-1"></i>
                    <a href="https://dora.fabrique.social.gouv.fr/auth/rattachement?siret={{ siret }}&{{ tracker }}" rel="noopener" target="_blank" title="Référencer vos services (ouverture dans un nouvel onglet)">
                        Référencer vos services
                    </a>
                    <i class="ri-external-link-line ri-lg mr-1"></i>
                </li>
                <li class="card-text mb-3">
                    <i class="ri-file-transfer-line ri-lg mr-1"></i>
                    <a href="https://dora.fabrique.social.gouv.fr/contribuer?{{ tracker }}" rel="noopener" target="_blank" title="Suggérer un service partenaire (ouverture dans un nouvel onglet)">
                        Suggérer un service partenaire
                    </a>
                    <i class="ri-external-link-line ri-lg mr-1"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
