{% comment %}

    Usage:
        {% include "dashboard/includes/edit_job_seeker_info_form.html" with prev_url="some_url" submit_label="Enregistrer et quitter" %}

{% endcomment %}

{% load django_bootstrap5 %}
{% load buttons_form %}

<form method="post" class="js-prevent-multiple-submit js-format-nir">
    {% csrf_token %}

    {% if form.nir_error %}{{ form.nir_error|safe }}{% endif %}

    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.email %}
    {% bootstrap_field form.title %}
    {% bootstrap_field form.first_name %}
    {% bootstrap_field form.last_name %}
    {% bootstrap_field form.nir %}
    {% bootstrap_field form.lack_of_nir %}
    {% bootstrap_field form.lack_of_nir_reason wrapper_class=form.lack_of_nir_reason.field.form_group_class %}
    {% bootstrap_field form.birthdate %}
    {% bootstrap_field form.phone %}
    {% bootstrap_field form.address_for_autocomplete %}
    {% bootstrap_field form.address_line_1 %}
    {% bootstrap_field form.address_line_2 %}
    {% bootstrap_field form.post_code %}
    {% bootstrap_field form.city %}
    {% bootstrap_field form.insee_code %}
    {% bootstrap_field form.ban_api_resolved_address %}
    {% bootstrap_field form.fill_mode %}
    {% bootstrap_field form.pole_emploi_id %}
    {% bootstrap_field form.lack_of_pole_emploi_id_reason %}

    {% itou_buttons_form primary_label=submit_label reset_url=prev_url matomo_category="salaries" matomo_action="submit" matomo_event="edit_jobseeker_infos_submit" %}

</form>
