{% load call_method %}

<div class="col-md-8 mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="d-flex p-3 p-lg-4">
            <span class="h4 mb-0">
                {% if user.latest_common_approval.is_pass_iae %}
                    PASS IAE
                {% else %}
                    Agrément
                {% endif %}
            </span>
        </div>
        <div class="px-3 px-lg-4">
            <ul class="list-unstyled mb-lg-5">
                <li class="mb-2">{% include "approvals/includes/status.html" with common_approval=user.latest_common_approval %}</li>
                {% if user.has_common_approval_in_waiting_period %}
                    <li class="mb-2">
                        {% call_method user "has_valid_diagnosis" request.user as has_valid_diagnosis %}
                        {% if has_valid_diagnosis %}
                            <p class="mb-0">
                                Un prescripteur habilité a réalisé un diagnostic d'éligibilité. <b>Vous pouvez commencer un nouveau parcours.</b>
                            </p>
                        {% else %}
                            <small>
                                {% comment %}
                                This text is a duplicata from an alert that is in the apply views. But I have rather
                                repeating it there instead of injecting it using a context processor or template context.
                                There is no strong reason that this test should be exactly the same as the one when an
                                error is raised in the apply views by the way, they could evolve differently.
                                {% endcomment %}
                                Vous avez terminé un parcours il y a moins de deux ans.
                                <br>
                                Pour prétendre à nouveau à un parcours en structure d'insertion par l'activité économique vous devez rencontrer un prescripteur
                                habilité : France Travail, Mission Locale, Cap emploi, etc.
                            </small>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
