<div class="col mb-3 mb-md-5">
    <div class="card c-card c-card--plateforme h-100 w-100 has-links-inside">
        <p class="h4 card-header">Candidatures</p>
        <div class="card-body">
            <ul class="list-unstyled">
                <li class="card-text mb-3">
                    <i class="ri-chat-4-line ri-lg"></i>
                    <a href="{% url 'apply:list_for_job_seeker' %}">Vos candidatures</a>
                </li>
                <li class="card-text mb-3">
                    <i class="ri-briefcase-3-line ri-lg"></i>
                    <a href="{% url 'home:hp' %}">Rechercher une entreprise</a>
                </li>
            </ul>
        </div>
    </div>
</div>
