<div class="col mb-3 mb-md-4">
    <div class="c-box p-0 h-100">
        <div class="c-box__header--mon-recap p-3 p-lg-4">
            <span class="h4 m-0">Mon Récap</span>
        </div>
        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
            <p>Un carnet papier qui permet à votre usager de garder le fil de son parcours d’insertion.</p>
            <ul class="list-unstyled mb-lg-5">
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{{ MON_RECAP_WWW_BASE_URL }}/?{{ tracker }}"
                       rel="noopener"
                       target="_blank"
                       aria-label="Découvrir le carnet Mon Récap (ouverture dans un nouvel onglet)"
                       class="btn-link btn-ico has-external-link">
                        <i class="ri-booklet-line ri-lg fw-normal" aria-hidden="true"></i>
                        <span>Découvrir le carnet Mon Récap</span>
                    </a>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{{ MON_RECAP_WWW_BASE_URL }}/commander-carnets/?{{ tracker }}"
                       rel="noopener"
                       target="_blank"
                       aria-label="Commander des carnets Mon Récap pour vos usagers (ouverture dans un nouvel onglet)"
                       class="btn-link btn-ico has-external-link">
                        <i class="ri-archive-stack-line ri-lg fw-normal" aria-hidden="true"></i>
                        <span>Commander des carnets Mon Récap pour vos usagers</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
