<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="d-flex p-3 p-lg-4">
            <div class="flex-grow-1">
                <span class="h4 m-0">Organisation</span>
            </div>
            <div class="ms-2">
                <span class="badge rounded-pill badge-sm bg-primary">ID {{ request.current_organization.id }}</span>
            </div>
        </div>
        <div class="px-3 px-lg-4">
            <ul class="list-unstyled">
                {% with card_url=request.current_organization.get_card_url %}
                    {% if request.is_current_organization_admin %}
                        <li class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'prescribers_views:edit_organization' %}" class="btn-link btn-ico">
                                <i class="ri-pencil-line ri-lg ri-lg font-weight-normal"></i>
                                <span>Modifier cette organisation</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if card_url %}
                        <li class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{{ card_url }}?back_url={{ request.get_full_path|urlencode }}" class="btn-link btn-ico">
                                <i class="ri-eye-line ri-lg ri-lg font-weight-normal"></i>
                                <span>Voir la fiche publique</span>
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'prescribers_views:members' %}" class="btn-link btn-ico">
                        <i class="ri-team-line ri-lg ri-lg font-weight-normal"></i>
                        <span>Gérer les collaborateurs</span>
                    </a>
                </li>
                {% if request.current_organization.kind == PrescriberOrganizationKind.DEPT and request.is_current_organization_admin %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'prescribers_views:list_accredited_organizations' %}" class="btn-link btn-ico">
                            <i class="ri-list-unordered ri-lg ri-lg font-weight-normal"></i>
                            <span>Voir la liste des organisations conventionnées</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if request.current_organization.is_authorized %}
                <hr>
                <ul class="list-unstyled mb-lg-5">
                    <li class="mb-2">
                        <span class="fs-sm">
                            <i class="ri-award-line ri-lg ri-lg font-weight-normal me-1"></i>
                            {{ request.current_organization.display_name }} est une organisation habilitée. Vous pouvez réaliser le <a href="{{ ITOU_HELP_CENTER_URL }}/articles/14733750518161--Diagnostic-socio-professionnel-de-référence/"
    target="_blank"
    aria-label="Diagnostic socio-professionnel des candidats (ouverture dans un nouvel onglet)">diagnostic socio-professionnel</a> des candidats que vous accompagnez.
                        </span>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
