<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="p-3 p-lg-4 d-flex">
            <span class="h4 mb-0">Candidats</span>
        </div>
        <div class="px-3 px-lg-4">
            <ul class="list-unstyled mb-lg-5">
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'approvals:prolongation_requests_list' %}?only_pending=on" class="btn-link btn-ico">
                        <i class="ri-list-check-3 ri-lg font-weight-normal"></i>
                        <span>Gérer mes prolongations de PASS IAE</span>
                    </a>
                    {% if pending_prolongation_requests %}
                        <span class="badge rounded-pill badge-xs bg-info-lighter text-info">{{ pending_prolongation_requests }}</span>
                    {% endif %}
                </li>
                {% if request.current_organization.kind == precriber_kind_pe %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="https://tally.so/r/w2Ex0M" aria-label="Suspendre un PASS IAE (ouverture dans un nouvel onglet)" target="_blank" class="btn-link btn-ico has-external-link">
                            <i class="ri-pause-circle-line ri-lg font-weight-normal"></i>
                            <span>Suspendre un PASS IAE</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
