<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="p-3 p-lg-4">
            <span class="h4 mb-0">Candidatures</span>
        </div>
        <div class="px-3 px-lg-4">
            <a href="{% url 'apply:list_prescriptions' %}" class="btn btn-outline-primary btn-block btn-ico mb-3">
                <i class="ri-file-user-line ri-lg font-weight-normal"></i>
                <span>Voir toutes les candidatures</span>
            </a>
            <ul class="list-unstyled mb-lg-5">
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'search:employers_home' %}" class="btn-link btn-ico">
                        <i class="ri-draft-line ri-lg font-weight-normal"></i>
                        <span>Postuler pour un candidat</span>
                    </a>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'apply:list_prescriptions_exports' %}" class="btn-link btn-ico">
                        <i class="ri-download-line ri-lg font-weight-normal"></i>
                        <span>Exporter toutes les candidatures</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
