<div class="col mb-3 mb-md-5">
    <div class="card c-card h-100 w-100 has-links-inside">
        <div class="card-header bg-light pb-3">
            <span class="h4">Candidatures</span>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                {% for category in job_applications_categories %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{{ category.url }}" class="btn-link btn-ico">
                            <i class="{{ category.icon }} ri-lg font-weight-normal"></i>
                            <span>{{ category.name }}</span>
                        </a>
                        <span class="badge badge-pill badge-xs {{ category.badge }} text-info">{{ category.counter }}</span>
                    </li>
                {% endfor %}
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'apply:list_for_siae' %}" class="btn-link btn-ico">
                        <i class="ri-file-user-line ri-lg font-weight-normal"></i>
                        <span>Voir toutes les candidatures</span>
                    </a>
                </li>
                {% if current_siae.kind == SiaeKind.GEIQ %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'apply:start' siae_pk=current_siae.pk %}" class="btn-link btn-ico">
                            <i class="ri-file-add-line ri-lg font-weight-normal"></i>
                            <span>Enregistrer une candidature</span>
                        </a>
                    </li>
                {% endif %}
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'apply:list_for_siae_exports' %}" class="btn-link btn-ico">
                        <i class="ri-download-line ri-lg font-weight-normal"></i>
                        <span>Export des candidatures</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
