{% load matomo %}

<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="p-3 p-lg-4">
            <span class="h4 m-0">Salariés</span>
        </div>
        <div class="px-3 px-lg-4">
            <a href="{% url 'approvals:list' %}"  class="btn btn-outline-primary btn-block btn-ico mb-3" {% matomo_event "employeurs" "clic" "voir-liste-agrements" %}>
                <i class="ri-contacts-book-line ri-lg font-weight-normal"></i>
                <span>Gérer les salariés et PASS IAE</span>
            </a>
            <ul class="list-unstyled mb-lg-5">
                {% if can_show_employee_records %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'employee_record_views:list' %}?status=NEW" class="btn-link btn-ico" {% matomo_event "employeurs" "clic" "voir-liste-fiches-salaries" %}>
                            <i class="ri-article-line ri-lg font-weight-normal"></i>
                            <span>Gérer les fiches salarié (ASP)</span>
                        </a>
                        {% if num_rejected_employee_records %}
                            <span class="badge rounded-pill badge-xs bg-danger">{{ num_rejected_employee_records }}</span>
                        {% endif %}
                        {% if request.current_organization.kind == CompanyKind.EITI %}
                            {% include "dashboard/includes/stats_new_badge.html" %}
                        {% endif %}
                    </li>
                {% endif %}
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'approvals:pe_approval_search' %}" class="btn-link btn-ico" {% matomo_event "employeurs" "clic" "recherche-agrement" %}>
                        <i class="ri-arrow-left-right-line ri-lg font-weight-normal align-self-start"></i>
                        <span>Prolonger/suspendre un agrément émis par Pôle emploi</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
