<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="p-3 p-lg-4">
            <span class="h4 m-0">Exports de données</span>
        </div>
        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
            <p class="mb-3 mb-lg-5">
                <a href="{% url 'itou_staff_views:export_job_applications_unknown_to_ft' %}" class="btn-link btn-ico">
                    <i class="ri-key-2-line ri-lg font-weight-normal"></i>
                    <span>Candidatures inconnues de France Travail</span>
                </a>
            </p>
            <p class="mb-3 mb-lg-5">
                <a href="{% url 'itou_staff_views:export_ft_api_rejections' %}" class="btn-link btn-ico">
                    <i class="ri-download-line ri-lg font-weight-normal"></i>
                    <span>Rejets de l'API FranceTravail</span>
                </a>
            </p>
            <p class="mb-3 mb-lg-5">
                <a href="{% url 'itou_staff_views:export_cta' %}" class="btn-link btn-ico">
                    <i class="ri-download-line ri-lg font-weight-normal"></i>
                    <span>Comités Techniques d'Animation</span>
                </a>
            </p>
        </div>
    </div>
</div>
