<div class="col mb-3 mb-md-5">
    <div class="c-box p-0 h-100">
        <div class="c-box__header--pilotage p-3 p-lg-4">
            <span class="h4">Pilotage de l'inclusion</span>
        </div>
        <div class="px-3 px-lg-4 pt-3 pt-lg-4">
            <ul class="list-unstyled mb-lg-5">
                {% if can_view_stats_siae_aci %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_siae_aci' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir le suivi du cofinancement de mon ACI</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                {% endif %}
                {% if can_view_stats_siae_etp %}
                    <!-- Stats temporarily suspended until we stabilize them
                        <li class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'stats:stats_siae_etp' %}" class="btn-link btn-ico">
                                <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                                <span>Voir les données de ma structure (extranet ASP)</span>
                            </a>
                        </li>
                    -->
                {% endif %}
                {% if can_view_stats_siae %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_siae_hiring' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données de candidatures de mes structures</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_siae_auto_prescription' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Focus auto-prescription</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_siae_follow_siae_evaluation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre le contrôle a posteriori</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                {% endif %}
                {% if can_view_stats_cd %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_cd_hiring' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données facilitation de l'embauche</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_cd_brsa' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les prescriptions des accompagnateurs des publics bRSA</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                {% endif %}
                {% if can_view_stats_pe %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="https://plateforme-inclusion.notion.site/Guide-d-analyse-des-tableaux-de-bord-P-le-emploi-dad8530e64af47bd99787a6d4e81f6b9"
                           rel="noopener"
                           target="_blank"
                           aria-label="Accéder au guide d'analyse Pôle emploi (ouverture dans un nouvel onglet)"
                           class="btn-link btn-ico">
                            <i class="ri-article-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir le guide d’analyse Pôle emploi</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_pe_state_main' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données de l’état des candidatures orientées</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_pe_conversion_main' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données du taux de transformation</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_pe_tension' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données des fiches de poste en tension</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_pe_delay_main' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données du délai d'entrée en IAE</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_ddets_iae %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_ddets_iae_auto_prescription' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Focus auto-prescription</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_ddets_iae_follow_siae_evaluation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre le contrôle à posteriori</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_ddets_iae_follow_prolongation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les demandes de prolongation</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                    <!-- Stats temporarily suspended until we stabilize them
                        <li class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'stats:stats_ddets_iae_iae' %}" class="btn-link btn-ico">
                                <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                                <span>Voir les données IAE de mon département</span>
                            </a>
                        </li>
                    -->
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_ddets_iae_hiring' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données facilitation de l'embauche</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_ddets_log %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_ddets_log_state' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les prescriptions des AHI de ma région</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_dreets_iae %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dreets_iae_auto_prescription' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Focus auto-prescription</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dreets_iae_follow_siae_evaluation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre le contrôle à posteriori</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dreets_iae_follow_prolongation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les demandes de prolongation</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                    <!-- Stats temporarily suspended until we stabilize them
                        <li class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'stats:stats_dreets_iae_iae' %}" class="btn-link btn-ico">
                                <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                                <span>Voir les données IAE de ma région</span>
                            </a>
                        </li>
                    -->
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dreets_iae_hiring' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données facilitation de l'embauche</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dreets_iae_state' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les prescriptions des AHI de ma région</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_dgefp %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dgefp_auto_prescription' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Focus auto-prescription</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dgefp_follow_siae_evaluation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre le contrôle à posteriori</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dgefp_iae' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données IAE France entière</span>
                        </a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dgefp_siae_evaluation' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données du contrôle a posteriori (version bêta)</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_dihal %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_dihal_state' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Suivre les prescriptions des AHI</span>
                        </a>
                    </li>
                {% endif %}
                {% if can_view_stats_iae_network %}
                    <li class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{% url 'stats:stats_iae_network_hiring' %}" class="btn-link btn-ico">
                            <i class="ri-bar-chart-line ri-lg font-weight-normal align-self-start"></i>
                            <span>Voir les données de candidatures des adhérents de mon réseau IAE</span>
                        </a>
                        <span class="badge badge-pill badge-xs badge-important text-white">Nouveau</span>
                    </li>
                {% endif %}
                <li class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{{ ITOU_PILOTAGE_URL }}/tableaux-de-bord" rel="noopener" target="_blank" aria-label="Accéder aux tableaux de bord publics (ouverture dans un nouvel onglet)" class="btn-link btn-ico">
                        <i class="ri-dashboard-line ri-lg font-weight-normal align-self-start"></i>
                        <span>Accéder aux tableaux de bord publics</span>
                        <i class="ri-external-link-line font-weight-normal ml-2"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
