{% extends 'admin/change_form.html' %}
{% load hijack %}

{% block object-tools-items %}

    {% url 'account_login' as login_url %}
    {% if request.user|can_hijack:original %}
        <li>{% include 'hijack/contrib/admin/button.html' with another_user=original is_user_admin=True next=login_url %}</li>
    {% endif %}

    {% if original.is_job_seeker and has_change_permission %}
        <li>
            <a href="{% url 'admin:transfer_user_data' from_user_pk=original.pk %}">Transférer</a>
        </li>
    {% endif %}

    {% if has_change_permission and original.is_active %}
        <li>
            <form method="post" action="{% url 'admin:deactivate_user' user_pk=original.pk %}">
                {% csrf_token %}
                <button class="button with-confirm">Désactiver</button>
            </form>
        </li>
    {% endif %}
    {% if has_change_permission and original.can_be_reactivated %}
        <li>
            <form method="post" action="{% url 'admin:reactivate_user' user_pk=original.pk %}">
                {% csrf_token %}
                <button class="button with-confirm">Réactiver</button>
            </form>
        </li>
    {% endif %}

    {{ block.super }}
{% endblock %}


{% block extrabody %}
    {{ block.super }}

    <script nonce="{{ CSP_NONCE }}">
        Array.from(document.getElementsByClassName("with-confirm")).forEach((button) => {
            button.addEventListener("click", function(event) {
                if (!confirm('Êtes vous certain ?')) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
