name: Git Checks

on: [pull_request]

jobs:
  block-fixup:
    runs-on: ubuntu-latest
    permissions: {}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Detect fixup commits & complain if found
      run: >
        ! gh pr view ${{ github.event.pull_request.number }} --json commits  --jq ".commits[].messageHeadline"
        | grep --regexp '^(amend|fixup|squash)!' --extended-regexp
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
